<form action="https://secure.quickpay.dk/form/" method="post" name="QuickPayForm_<!--@Ecom:Order.Gateway.ParagraphID-->">
    <input type="hidden" name="protocol" value="<!--@Ecom:Order.Gateway.Protocol-->" />
    <input type="hidden" name="msgtype" value="<!--@Ecom:Order.Gateway.MsgType-->" />
    <input type="hidden" name="merchant" value="<!--@Ecom:Order.Gateway.Merchant-->" />
    <input type="hidden" name="language" value="<!--@Ecom:Order.Gateway.Language-->" />
    <input type="hidden" name="ordernumber" value="<!--@Ecom:Order.Gateway.OrderNumber-->" />
    <input type="hidden" name="amount" value="<!--@Ecom:Order.Gateway.Amount-->" />
    <input type="hidden" name="currency" value="<!--@Ecom:Order.Gateway.Currency-->" />
    <input type="hidden" name="continueurl" value="<!--@Ecom:Order.Gateway.ContinueURL-->" />
    <input type="hidden" name="cancelurl" value="<!--@Ecom:Order.Gateway.CancelURL-->" />
    <input type="hidden" name="callbackurl" value="<!--@Ecom:Order.Gateway.CallBackURL-->" />
    <input type="hidden" name="cardtypelock" value="<!--@Ecom:Order.Gateway.CardTypeLock-->" />
	<input type="hidden" name="ipaddress" value="<!--@Ecom:Order.Gateway.IPAddress-->" />
    <input type="hidden" name="testmode" value="<!--@Ecom:Order.Gateway.TestMode-->" />
    <input type="hidden" name="md5check" value="<!--@Ecom:Order.Gateway.MD5Check-->" />
</form>

<script type="text/javascript">
	document.QuickPayForm_<!--@Ecom:Order.Gateway.ParagraphID-->.submit();
</script>

