<script type="text/javascript" language="JavaScript" src="Files/Templates/eCom7/CartV2/Step/InfoDirekt.js"></script>

<form name="ordersubmit" id="ordersubmit" method="post">
	<!--@LoopStart(ValidationErrors)-->
		<!--@HeaderStart-->
			<fieldset id="validation">
				<legend><!--@Translate(validationerrors, "Validation errors")--></legend>
				<ul>
		<!--@HeaderEnd-->
					<li><!--@Translate(error, "Error in the input field")--> "<!--@Ecom:Cart.ValidationError.FieldName-->": <a href="javascript:document.getElementById('<!--@Ecom:Cart.ValidationError.FieldSystemName-->').focus();"><!--@Ecom:Cart.ValidationError.ErrorMessage--></a></li>
		<!--@FooterStart-->
				</ul>
			</fieldset>
		<!--@FooterEnd-->
	<!--@LoopEnd(ValidationErrors)-->
	
	<fieldset>
		<legend><!--@Translate(customerinformation, "Customer Information")--></legend>
		<fieldset id="billing">
			<legend><!--@Translate(billingaddress, "Billing address")--></legend>
			<dl>
				<dt>
					<label for="EcomOrderCustomerCompany"><!--@Translate(company, "Company")--></label>
				</dt>
				<dd>
					<input type="text" name="EcomOrderCustomerCompany" id="EcomOrderCustomerCompany" value="<!--@Ecom:Order.Customer.Company-->" />
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="EcomOrderCustomerName"><!--@Translate(name, "Name")--></label>
				</dt>
				<dd>
					<input type="text" name="EcomOrderCustomerName" id="EcomOrderCustomerName" value="<!--@Ecom:Order.Customer.Name-->" />
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="EcomOrderCustomerAddress"><!--@Translate(address, "Address")--></label>
				</dt>
				<dd>
					<input type="text" name="EcomOrderCustomerAddress" id="EcomOrderCustomerAddress" value="<!--@Ecom:Order.Customer.Address-->" />
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="EcomOrderCustomerAddress2"><!--@Translate(address2, "Address 2")--></label>
				</dt>
				<dd>
					<input type="text" name="EcomOrderCustomerAddress2" id="EcomOrderCustomerAddress2" value="<!--@Ecom:Order.Customer.Address2-->" />
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="EcomOrderCustomerZip"><!--@Translate(zipcode, "Zipcode")--></label>
				</dt>
				<dd>
					<input type="text" name="EcomOrderCustomerZip" id="EcomOrderCustomerZip" value="<!--@Ecom:Order.Customer.Zip-->" />
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="EcomOrderCustomerCity"><!--@Translate(city, "City")--></label>
				</dt>
				<dd>
					<input type="text" name="EcomOrderCustomerCity" id="EcomOrderCustomerCity" value="<!--@Ecom:Order.Customer.City-->" />
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="EcomOrderCustomerCountry"><!--@Translate(country, "Country")--></label>
				</dt>
				<dd>
					<select name="EcomOrderCustomerCountry" id="EcomOrderCustomerCountry" onchange="updateCart();">
						<!--@LoopStart(Countries)-->
							<!--@If Defined(Ecom:Country.IsCustomerCountryOrDefault)-->
								<option value="<!--@Ecom:Country.Code2-->" selected="selected">
									<!--@Ecom:Country.Name-->
								</option>
							<!--@EndIf(Ecom:Country.IsCustomerCountryOrDefault)-->
							<!--@If Not Defined(Ecom:Country.IsCustomerCountryOrDefault)-->
								<option value="<!--@Ecom:Country.Code2-->">
									<!--@Ecom:Country.Name-->
								</option>
							<!--@EndIf(Ecom:Country.IsCustomerCountryOrDefault)-->
						<!--@LoopEnd(Countries)-->
					</select>
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="EcomOrderCustomerEmail"><!--@Translate(email, "E-mail")--></label>
				</dt>
				<dd>
					<input type="text" name="EcomOrderCustomerEmail" id="EcomOrderCustomerEmail" value="<!--@Ecom:Order.Customer.Email-->" />
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="EcomOrderCustomerPhone"><!--@Translate(phone, "Phone")--></label>
				</dt>
				<dd>
					<input type="text" name="EcomOrderCustomerPhone" id="EcomOrderCustomerPhone" value="<!--@Ecom:Order.Customer.Phone-->" />
					<a href="javascript:infoDirectRequest();"><img src="/Files/Images/Ecom/Grafik/infoDirekt.gif" alt="Info direkt service" border=0></a>
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="EcomOrderCustomerFax"><!--@Translate(fax, "Fax")--></label>
				</dt>
				<dd>
					<input type="text" name="EcomOrderCustomerFax" id="EcomOrderCustomerFax" value="<!--@Ecom:Order.Customer.Fax-->" />
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="EcomOrderCustomerCell"><!--@Translate(mobile, "Mobile")--></label>
				</dt>
				<dd>
					<input type="text" name="EcomOrderCustomerCell" id="EcomOrderCustomerCell" value="<!--@Ecom:Order.Customer.Cell-->" />
				</dd>
			</dl>
                    <dl>
				<dt>
					<label for="EcomOrderVoucherCode"><!--@Translate(vouchercode, "Voucher code")--></label>
				</dt>
				<dd>
					<input type="text" name="EcomOrderVoucherCode" id="EcomOrderVoucherCode" value="<!--@Ecom:Order.Customer.VoucherCode-->" />
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="EcomOrderCustomerComment"><!--@Translate(note, "Note")--></label>
				</dt>
				<dd>
					<textarea rows="6" name="EcomOrderCustomerComment" id="EcomOrderCustomerComment" cols="19" style="overflow:auto"><!--@Ecom:Order.Customer.Comment--></textarea>
				</dd>
			</dl>
		</fieldset>	
		<fieldset id="delivery">
			<legend><!--@Translate(deliveryaddress, "Delivery address")--></legend>
			<dl>
				<dt>
					<label for="EcomOrderDeliveryCompany"><!--@Translate(company, "Company")--></label>
				</dt>
				<dd>
					<input type="text" name="EcomOrderDeliveryCompany" id="EcomOrderDeliveryCompany" value="<!--@Ecom:Order.Delivery.Company-->" />
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="EcomOrderDeliveryName"><!--@Translate(name, "Name")--></label>
				</dt>
				<dd>
					<input type="text" name="EcomOrderDeliveryName" id="EcomOrderDeliveryName" value="<!--@Ecom:Order.Delivery.Name-->" />
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="EcomOrderDeliveryAddress"><!--@Translate(address, "Address")--></label>
				</dt>
				<dd>
					<input type="text" name="EcomOrderDeliveryAddress" id="EcomOrderDeliveryAddress" value="<!--@Ecom:Order.Delivery.Address-->" />
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="EcomOrderDeliveryAddress2"><!--@Translate(address2, "Address 2")--></label>
				</dt>
				<dd>
					<input type="text" name="EcomOrderDeliveryAddress2" id="EcomOrderDeliveryAddress2" value="<!--@Ecom:Order.Delivery.Address2-->" />
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="EcomOrderDeliveryZip"><!--@Translate(zipcode, "Zipcode")--></label>
				</dt>
				<dd>
					<input type="text" name="EcomOrderDeliveryZip" id="EcomOrderDeliveryZip" value="<!--@Ecom:Order.Delivery.Zip-->" />
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="EcomOrderDeliveryCity"><!--@Translate(city, "City")--></label>
				</dt>
				<dd>
					<input type="text" name="EcomOrderDeliveryCity" id="EcomOrderDeliveryCity" value="<!--@Ecom:Order.Delivery.City-->" />
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="EcomOrderDeliveryCountry"><!--@Translate(country, "Country")--></label>
				</dt>
				<dd>
					<select name="EcomOrderDeliveryCountry" id="EcomOrderDeliveryCountry" onchange="updateCart();">
						<!--@LoopStart(Countries)-->
							<!--@If Defined(Ecom:Country.IsDeliveryCountryOrDefault)-->
								<option value="<!--@Ecom:Country.Code2-->" selected="selected">
									<!--@Ecom:Country.Name-->
								</option>
							<!--@EndIf(Ecom:Country.IsDeliveryCountryOrDefault)-->
							<!--@If Not Defined(Ecom:Country.IsDeliveryCountryOrDefault)-->
								<option value="<!--@Ecom:Country.Code2-->">
									<!--@Ecom:Country.Name-->
								</option>
							<!--@EndIf(Ecom:Country.IsDeliveryCountryOrDefault)-->
						<!--@LoopEnd(Countries)-->
					</select>
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="EcomOrderDeliveryEmail"><!--@Translate(email, "E-mail")--></label>
				</dt>
				<dd>
					<input type="text" name="EcomOrderDeliveryEmail" id="EcomOrderDeliveryEmail" value="<!--@Ecom:Order.Delivery.Email-->" />
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="EcomOrderDeliveryPhone"><!--@Translate(phone, "Phone")--></label>
				</dt>
				<dd>
					<input type="text" name="EcomOrderDeliveryPhone" id="EcomOrderDeliveryPhone" value="<!--@Ecom:Order.Delivery.Phone-->" />
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="EcomOrderDeliveryCell"><!--@Translate(mobile, "Mobile")--></label>
				</dt>
				<dd>
					<input type="text" name="EcomOrderDeliveryCell" id="EcomOrderDeliveryCell" value="<!--@Ecom:Order.Delivery.Cell-->" />
				</dd>
			</dl>
		</fieldset>
		<fieldset id="paymentanddelivery">
			<legend><!--@Translate(paymentanddelivery, "Payment and delivery")--></legend>
			<dl>
				<dt><!--@Translate(paymentmethods, "Payment methods")--></dt>
				<dd>
					<!--@LoopStart(Paymethods)-->
						<label for="EcomCartPaymethodID_<!--@Ecom:Cart.Paymethod.ID-->">
							<!--@If Defined(Ecom:Cart.Paymethod.IsSelected)-->
			            		<input onclick="updateCart();" type="radio" name="EcomCartPaymethodID" id="EcomCartPaymethodID_<!--@Ecom:Cart.Paymethod.ID-->" value="<!--@Ecom:Cart.Paymethod.ID-->" checked="checked" />&nbsp;
			            	<!--@EndIf(Ecom:Cart.Paymethod.IsSelected)-->
			            	<!--@If Not Defined(Ecom:Cart.Paymethod.IsSelected)-->
			            		<input onclick="updateCart();" type="radio" name="EcomCartPaymethodID" id="EcomCartPaymethodID_<!--@Ecom:Cart.Paymethod.ID-->" value="<!--@Ecom:Cart.Paymethod.ID-->" />&nbsp;
			            	<!--@EndIf(Ecom:Cart.Paymethod.IsSelected)-->
							<!--@Ecom:Cart.Paymethod.Name-->
							<!--@If Not Defined(Ecom:Cart.Paymethod.Price.IsZero)-->
								&nbsp;(<!--@Ecom:Cart.Paymethod.Price-->)
							<!--@EndIf(Ecom:Cart.Paymethod.Price.IsZero)-->
						</label>
		            <!--@LoopEnd(Paymethods)-->
		        </dd>
		    </dl>
		    <dl>
				<dt><!--@Translate(deliverymethods, "Delivery methods")--></dt>
				<dd>
					<!--@LoopStart(Shippingmethods)-->
						<label for="EcomCartShippingmethodID_<!--@Ecom:Cart.Shippingmethod.ID-->">
							<!--@If Defined(Ecom:Cart.Shippingmethod.IsSelected)-->
			            		<input onclick="updateCart();" type="radio" name="EcomCartShippingmethodID" id="EcomCartShippingmethodID_<!--@Ecom:Cart.Shippingmethod.ID-->" value="<!--@Ecom:Cart.Shippingmethod.ID-->" checked="checked" />
			            	<!--@EndIf(Ecom:Cart.Shippingmethod.IsSelected)-->
			            	<!--@If Not Defined(Ecom:Cart.Shippingmethod.IsSelected)-->
			            		<input onclick="updateCart();" type="radio" name="EcomCartShippingmethodID" id="EcomCartShippingmethodID_<!--@Ecom:Cart.Shippingmethod.ID-->" value="<!--@Ecom:Cart.Shippingmethod.ID-->" />
			            	<!--@EndIf(Ecom:Cart.Shippingmethod.IsSelected)-->
							&nbsp;<!--@Ecom:Cart.Shippingmethod.Name-->
							<!--@If Not Defined(Ecom:Cart.ShippingMethod.Price.IsZero)-->
								&nbsp;(<!--@Ecom:Cart.ShippingMethod.Price-->)
							<!--@EndIf(Ecom:Cart.ShippingMethod.Price.IsZero)-->
						</label>
			            <!--@If Defined(Ecom:Cart.Shippingmethod.Error)-->
                        <div class="error">Error: <!--@Ecom:Cart.Shippingmethod.Error--></div>
                        <!--@EndIf(Ecom:Cart.Shippingmethod.Error)-->
		            <!--@LoopEnd(Shippingmethods)-->
		        </dd>
		    </dl>
		</fieldset>
		<!--@If Defined(Ecom:Cart.UseNewsletterSubscription)-->
			<fieldset id="newsletter">
				<legend><!--@Translate(newsletter, "Newsletter")--></legend>
				<dl>
					<dd>
						<input type="hidden" name="EcomOrderSubscribeToNewsletter" />
						<input type="checkbox" name="EcomOrderSubscribeToNewsletter" id="EcomOrderSubscribeToNewsletter" 
							<!--@If Defined(Ecom:Order.Customer.NewsletterSubscribe)-->
								checked="checked"
							<!--@EndIf(Ecom:Order.Customer.NewsletterSubscribe)-->
						 />
					</dd>
					<dt>
						<label for="EcomOrderSubscribeToNewsletter">
							<!--@Translate(newslettertext, "Do you want to recieve our newsletter ?")-->
						</label>
					</dt>
				</dl>
			</fieldset>
		<!--@EndIf(Ecom:Cart.UseNewsletterSubscription)-->
		<fieldset id="conditions">
			<legend><!--@Translate(termsandconditions, "Terms and conditions")--></legend>
			<ol>
				<li>
					<strong>N&aelig;rv&aelig;rende aftale</strong>
					<p>
						N&aelig;rv&aelig;rende aftale er et juridisk dokument, der beskriver k&oslash;bers og eCommerce Demo rettigheder og forpligtelser i forbindelse med de tjenester, som eCommerce Demo formidler gennem ecommerce.dynamicweb.dk.
					</p>
					<ol type="a">
						<li>
							<strong>N&aelig;rv&aelig;rende aftales virkning</strong>
							<p>
								N&aring;r k&oslash;ber benytter eCommerce Demo tjenester, erkl&aelig;rer k&oslash;ber med markering af feltet, &quot;jeg har l&aelig;st og accepteret eCommerce Demo vilk&aring;r&quot; sig indforst&aring;et med betingelserne i n&aelig;rv&aelig;rende aftale.
							</p>
						</li>
					</ol>
				</li>
				<li>
					<strong>Reklame</strong><br />
					<p>
						Som kunde p&aring; eCommerce Demo modtager k&oslash;ber ca. hver 14. dag et nyhedsbrev fra eCommerce Demo.
					</p>
					<p>
						K&oslash;ber kan til enhver tid afmelde denne tjeneste.
					</p>
				</li>
				<li>
					<strong>Handler</strong><br />
					<p>
						Alle k&oslash;b hos eCommerce Demo sker med kreditkort direkte til eCommerce Demo. K&oslash;ber kan betale med Dankort, Visa/Dankort og Mastercard.&nbsp;Efter k&oslash;bet sendes en kvittering for k&oslash;bet direkte til k&oslash;bers e-mailadresse.
					</p>
					<ol type="a">
						<li>
							<strong>Rettigheder og forpligtelser</strong>
							<p>
								K&oslash;ber anerkender, at eCommerce Demo ikke er og ikke kan blive gjort ansvarlig for s&aelig;lgers og k&oslash;bers adf&aelig;rd eller for de varer, som s&aelig;lger udbyder til salg eller levering via eCommerce Demo services - uanset om s&aelig;lger er en enkeltperson eller en forretningsdrivende.						
							</p>
						</li>
						<li>
							<strong>Forsendelse</strong>
							<p>
								Levering foreg&aring;r&nbsp;med Post Danmark eller fragtmand. P&aring; hvert enkelt produkt er den forventede leveringstid angivet. Ved samlet ordre bliver varene fremsendt enkeltvis pr. producent/s&aelig;lger.
							</p>
						</li>
						<li>
							<strong>Fortrydelsesret</strong>
							<p>
								Ethvert k&oslash;b foretaget fra eCommerce Demo er omfattet af fortrydelsesret s&aring;ledes, at k&oslash;ber inden for 14 dage fra modtagelsen af varen kan returnere varen til s&aelig;lger, men kun s&aring;fremt varen er i samme stand og m&aelig;ngde som ved modtagelsen. Ved specialfremstillede produkter bortfalder fortrydelsesretten fra det tidspunkt, hvor&nbsp;arbejdet p&aring; varen er p&aring;begyndt efter din accept. <br />
								K&oslash;ber kan fortryde k&oslash;bet ved at:
							</p>
							<ol type="i">
								<li>N&aelig;gte at modtage varen</li>
								<li>Overdrage varen til postv&aelig;senet</li>
								<li>Returnere varen til s&aelig;lgers adresse</li>
							</ol>
							<p>
								K&oslash;ber afholder fragtomkostninger ved returnering af varen direkte til s&aelig;lger, og returnering pr. postopkr&aelig;vning eller efterkrav accepteres ikke. K&oslash;ber skal, s&aring;fremt fortrydelsesretten udnyttes, give skriftlig meddelelse til eCommerce Demo herom med angivelse af ordre- og varenummer samt kontonummer til brug ved refusionen af k&oslash;besummen inkl. leveringsomkostninger jf. 3.5.
							</p>
						</li>
						<li>
							<strong>Reklamation og ombytning</strong>
							<p>
								Alle varer formidlet via eCommerce Demo er omfattet af k&oslash;belovens almindelige reklamationsfrister, medmindre andet er aftalt.<br />
								Hvis den leverede vare er defekt, transportskadet eller der er leveret en forkert vare, forpligter s&aelig;lger sig til at modtage og inden for rimelig tid behandle skriftlige reklamationer med meddelelser om fejl, herunder erstatte defekte og transportskadede varer og ombytte forkert leverede varer. S&aelig;lger forpligter sig ligeledes til at erstatte k&oslash;bers rimelige udgifter i forbindelse med returnering af varen. <br />
								Reklamationer afgivet inden for 2 m&aring;neder efter k&oslash;bsdato, eller efter at k&oslash;ber har opdaget manglen, anses for afgivet inden for rimelig tid, jf. herved k&oslash;belovens &sect; 81.<br />
								Produkterne p&aring; eCommerce Demo er individuelt fremstillet, oftest h&aring;ndlavede, hvorfor ingen produkter er ens men unikke. Der&nbsp;kan derfor&nbsp;opst&aring; sm&aring; nuanceforskelle i f.eks. st&oslash;rrelse, farve og forarbejdning.
							</p>
						</li>
						<li>
							<strong>Refusion</strong>
							<p>
								I tilf&aelig;lde af returnerede varer eller forudbetalte varer som afbestilles f&oslash;r afsendelse, sker hel eller delvis refusion af k&oslash;besummen. Refusion sker ved bankoverf&oslash;rsel, og eCommerce Demo har derfor brug for oplysninger om registreringsnummer og kontonummer for din bankkonto. Disse oplysninger er ikke f&oslash;lsomme og kan uden videre oplyses pr. e-mail eller anden traditionel korrespondanceform ved oplysning om returnering af varer.
							</p>
						</li>
						<li>
							<strong>Fragtomkostninger</strong>
							<p>
								Fragtomkostningerne er indregnet i produkternes salgspriser, hvis andet ikke er oplyst ved det enkelte produkt. <br />
								Dette g&aelig;lder kun forsendelser i Danmark.
							</p>
						</li>
						<li>
							<strong>Omkostninger til betalingskort</strong>
							<p>
								PBS opkr&aelig;ver et gebyr for anvendelse af betalingskort. eCommerce Demo har valgt at d&aelig;kke disse omkostninger, hvis du bruger Dankort, Visa/Dankort&nbsp;og eDankort. For alle &oslash;vrige kort opkr&aelig;ves der et betalingsgebyr p&aring; 1,25% af oms&aelig;tningen, hvilket er den betaling, som PBS opkr&aelig;ver eCommerce Demo.
							</p>
						</li>
					</ol>
				</li>
				<li>
					<strong>Registrering</strong>
					<p>
						K&oslash;ber forpligter sig til at tilmelde sig eCommerce Demo tjenester med rigtigt navn, adresse samt alle andre n&aelig;rmere oplysninger, k&oslash;ber bliver bedt om.<br />
						K&oslash;bers kundekonto&nbsp;hos eCommerce Demo er personlig og m&aring; ikke udl&aring;nes til andre personer.
					</p>
					<ol type="a">
						<li>
							<strong>Kontrakthabilitet</strong>
							<p>
								For at blive registreret skal k&oslash;ber juridisk v&aelig;re berettiget til at indg&aring; aftaler om k&oslash;b eller salg af de p&aring; hjemmesiden adviserede varer.
							</p>
						</li>
						<li>
							<strong>Beskyttelse af personoplysninger</strong>
							<p>
								eCommerce Demo forpligter sig til ikke at bruge disse oplysninger til andre form&aring;l end til brug for formidlingen, samt ikke at videregive dem til andre fysiske eller juridiske personer, medmindre k&oslash;ber har givet sit samtykke hertil. <br />
								Dette g&aelig;lder dog ikke, hvor lovgivning eller gyldig anmodning fra en retsh&aring;ndh&aelig;vende eller offentlig forpligter eCommerce Demo til videregivelse.
							</p>
						</li>	
					</ol>
				</li>
				<li>
					<strong>Handlerne</strong>
					<p>
						eCommerce Demo forbeholder sig ret til at annullere en igangv&aelig;rende eller foretaget handel, hvis tvingende juridiske eller tekniske hensyn n&oslash;dvendigg&oslash;r dette.
					</p>
					<ol type="a">
						<li>
							<strong>eCommerce Demo rolle</strong>
							<p>
								eCommerce Demo er ikke part i nogen handler og stiller alene de tekniske hj&aelig;lpemidler i form af hjemmesiden samt&nbsp;vedr. berigtigelsen af k&oslash;bers betalingsforpligtelser til r&aring;dighed i forbindelse med indledning eller gennemf&oslash;relse af&nbsp;handlerne. eCommerce Demo agerer hverken som s&aelig;lger eller leverand&oslash;r af de varer eller tjenester, der er anf&oslash;rt i handlerne, og er s&aring;ledes ikke juridiske ansvarlig i relation til de forpligtelser, som g&aelig;lder for s&aelig;lgere af disse varer eller tjenester.
							</p>
							<p>
								eCommerce Demo er ikke og kan ikke g&oslash;res ansvarlig for en s&aelig;lgers adf&aelig;rd eller for de varer eller tjenester, som s&aelig;lger udbyder til salg eller levering &ndash; uanset om s&aelig;lger er en enkeltperson eller en erhvervsdrivende.
							</p>
							<p>
								eCommerce Demo kontrollerer ikke og er ikke ansvarlig for kvaliteten, sikkerheden eller lovligheden af varerne eller tjenesterne, for hvorvidt beskrivelsen af varerne er n&oslash;jagtige og korrekte, for hvorvidt s&aelig;lger har vilje og evne til at levere og s&aelig;lge disse varer eller tjenester, eller hvorvidt k&oslash;ber har vilje og evne til at betale derfor.
							</p>
							<p>
								eCommerce Demo unders&oslash;ger ikke p&aring; forh&aring;nd s&aelig;lgernes egne beskrivelser eller de omfattede varer eller tjenester. S&aring;fremt s&aelig;lger eller medlemmer afgiver oplysninger eller p&aring; anden m&aring;de udviser en adf&aelig;rd, der er up&aring;lidelig, i strid med lovgivningen, eller som p&aring; anden m&aring;de er en misligholdelse af s&aelig;lgernes eller medlemmernes forpligtelser i henhold til denne aftale, er eCommerce Demo ikke ansvarlig herfor.
							</p>
						</li>
					</ol>
				</li>
				<li>
					<strong>Ansvar og almindelige betingelser</strong>
					<p>
						eCommerce Demo er ikke erstatningsansvarlig over for k&oslash;ber eller nogen tredjepart for indirekte skader eller f&oslash;lgeskader, for tab af data, avance, indt&aelig;gter eller forretninger, hvordan det end m&aring;tte v&aelig;re for&aring;rsaget (hvad enten som f&oslash;lge af uagtsomhed eller misligholdelse af n&aelig;rv&aelig;rende aftale eller p&aring; anden vis), selv om et s&aring;dant tab eller en s&aring;dan skade kunne forudses af eCommerce Demo, eller eCommerce Demo var gjort opm&aelig;rksom p&aring;, at muligheden derfor forel&aring;.
					</p>
					<ol type="a">
						<li>
							<strong>Force majeure</strong>
							<p>
								eCommerce Demo er ikke ansvarlig for manglende overholdelse af sine forpligtelser i henhold til n&aelig;rv&aelig;rende aftale,&nbsp;der skyldes faktorer, som eCommerce Demo ikke er herre over.
							</p>
						</li>
						<li>
							<strong>&AElig;ndringer i n&aelig;rv&aelig;rende aftale</strong>
							<p>
								eCommerce Demo forbeholder sig ret til at foretage &aelig;ndringer i n&aelig;rv&aelig;rende betingelser. eCommerce Demo forpligter sig til i forbindelse hermed at informere medlemmerne om s&aring;danne &aelig;ndringer.
							</p>
						</li>	
					</ol>
				</li>
			</ol>
			<dl>
				<dd>
					<input type="checkbox" id="EcomOrderCustomerAccepted" name="EcomOrderCustomerAccepted" value="1" />
		        </dd>
		        <dt>Ja, jeg har forstået handels- og leveringsbetingelser</dt>
		    </dl>
		</fieldset>
	</fieldset>
	<input type="submit" name="<!--@CartV2.PreviousStepButtonName-->" id="<!--@CartV2.PreviousStepButtonName-->" value="<!--@Translate(back, "Back")-->" class="submitter" />
	<input type="submit" name="<!--@CartV2.CurrentStepButtonName-->" id="<!--@CartV2.CurrentStepButtonName-->" value="<!--@Translate(update, "Update")-->" class="submitter" />
	<input type="submit" name="<!--@CartV2.NextStepButtonName-->" id="<!--@CartV2.NextStepButtonName-->" value="<!--@Translate(createorder, "Create Order")-->" class="submitter" />
</form>