﻿<h3>Kurv</h3>
<div class="cartContainer">

    <script type="text/javascript">
        function goToProduct(pageid, prodid, variantid) {
            window.location = "/Default.aspx?ID=5&ProductID=" + prodid + "&VariantID=" + variantid;
        }
        function ShowLoadLayer(sLayerName) {
            var layer = document.getElementById(sLayerName);
            layer.style.display = "inline";
        }
        function ActivateButton(url, buttonName) {
            DisableButton("emptyCart");
            DisableButton("updateCart");
            DisableButton("OrderCart");

            //ShowLoadLayer(buttonName + "Layer");
            location.href = url;
        }
        function UpdateCart(orderId) {
            DisableButton("emptyCart");
            DisableButton("updateCart");
            DisableButton("OrderCart");

            ShowLoadLayer("updateCartLayer");
            document.getElementById("QuantityForm" + orderId).submit();
        }
        function DisableButton(buttonName) {
            if (document.getElementById(buttonName)) {
                document.getElementById(buttonName).disabled = true;
            }
        }

        function EnableButton(buttonName) {
            if (document.getElementById(buttonName)) {
                document.getElementById(buttonName).disabled = false;
            }
        }

        EnableButton("emptyCart");
        EnableButton("updateCart");
        EnableButton("OrderCart");
            
    </script>


    <div id="productlist">
      <form name="ordersubmit" id="ordersubmit" method="post">
	<fieldset><!--DwTemplateTags-->
		
		<!--@If Not Defined(Ecom:Order.IsEmpty)-->  
      
      
        <input type="hidden" name="CartCmd" id="CartCmd" value="updateorderlines" />
        <table id="productTable" cellspacing="1" cellpadding="1">
            <tr>
                   <th class="text_left">
                        Varenr.</th>
                    <th class="text_left" width="250">
                        Varenavn
                    </th>
					                   
                <th class="text_right">
                    Enhedspris eksl. moms  	
                </th>
                    <th class="text_right">
                        Antal</th>
                        <th class="text_right">
               Liniepris eksl. moms 	
               </th>
                <th class="text_center">
                        Fjern</th>
            </tr>
            <!--@LoopStart(OrderLines)-->
            <tr class="ItemRow tr<!--@OrderLines.LoopMod2-->">
            	
                 <td>
                   <!--@Ecom:Order:OrderLine.ProductNumber-->
                </td>
                <td width="170px">

                    <a href="Default.aspx?ID=2670&ProductID=<!--@Ecom:Order:OrderLine.ProductID-->"><!--@Ecom:Order:OrderLine.ProductName--> 
                    </a>
                </td>
              
                <td align="right">

                    	<!--@Ecom:Order:OrderLine.UnitPrice.PriceWithoutVAT-->&nbsp;<!--@Ecom:Order:OrderLine.UnitPrice.Currency.Code-->
                </td>
                
                <td class="text_right">
                    <input class="TextBox" style="float:right" type="text" size="4" id="<!--@Ecom:Order:OrderLine.Quantity.Input.Name-->"
                        name="<!--@Ecom:Order:OrderLine.Quantity.Input.Name-->" value="<!--@Ecom:Order:OrderLine.Quantity-->">
                </td>
                <td class="text_right" width="130">
                    <!--@Ecom:Order:OrderLine.Price.PriceWithoutVAT-->&nbsp;<!--@Ecom:Order:OrderLine.UnitPrice.Currency.Code-->
                </td>
                
                <td class="text_center">
                    <a href="<!--@Ecom:Order:OrderLine.DeleteLink-->"><img src="files/Templates/Designs/Kosmetolognet2011/images/cart_remove.png" border="0" title="Fjern vare" alt="Fjern vare"/></a>
                </td>
            </tr>
            <!--DwTemplateTags-->
            <!--@LoopEnd(OrderLines)-->
            <tr><td height="10px"/></tr>
            <tr>
                <td colspan="2">
                   <input value="Tøm Kurv" type="button" onClick="ActivateButton('<!--@Global:Pageview.Url-->&amp;cartcmd=emptycart');">
                <input value="Opdater Kurv" type="button" onClick="UpdateCart('<!--@Ecom:Order.ID-->');">
            <input type="submit" name="<!--@CartV2.NextStepButtonName-->" id="<!--@CartV2.NextStepButtonName-->" value="<!--@Translate(next, "Bestil")-->" />
</td>
                <td colspan="2"class="text_right">
                    Pris ialt eksl. moms:  
                </td>
                <td class="text_right">
                    
                        <!--@Ecom:Order.PriceWithoutFees.PriceWithoutVAT-->&nbsp;<!--@Ecom:Order.Price.Currency.Code-->
                    
                </td>
                <td />
            </tr>
            
            
          
        </table>
        <!--@EndIf(Ecom:Order.IsEmpty)-->
		<!--@If Defined(Ecom:Order.IsEmpty)-->
			<!--@Translate(basketisempty, "Kurven er tom")-->
		<!--@EndIf(Ecom:Order.IsEmpty)-->
	</fieldset>
        </form>
		
        <div class="cart_update" style="position: absolute; margin-top: 10px;">
            <!--            style="float: left; width: 300px;"
-->
            <span style="display: none;" id="updateCartLayer">
                <img src="/Files/System/images/load.gif" border="0" />
                Opdaterer </span><span style="display: none;" id="emptyCartLayer">
                    <img src="/Files/System/images/load.gif" border="0" />
                    Sletter </span><span style="display: none;" id="OrderCartLayer">
                        <img src="/Files/System/images/load.gif" border="0" />
                        Bestil </span>
        </div>
        
        <!--DwTemplateTags-->
    </div>
    
</div>
