<div id="receipt">
	<fieldset>
		<legend>Receipt</legend>
		<p><a href="javascript:window.print();">Print this page</a></p>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" id="reciept">
		    <tr>
		        <td width="50%" valign="top">
		            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="billing">
			            <tr>
			                <td width="100%" valign="top" colspan="2"><h3>Billing address</h3></td>
			            </tr>
			            <tr>
			                <td valign="top">Company</td>
			                <td valign="top">:<!--@Ecom:Order.Customer.Company--></td>
			            </tr>
			            <tr>
			                <td valign="top">Name</td>
			                <td valign="top">:<!--@Ecom:Order.Customer.Name--></td>
			            </tr>
			            <tr>
			                <td valign="top">Adress</td>
			                <td valign="top">:<!--@Ecom:Order.Customer.Address--></td>
			            </tr>
			            <tr>
			                <td valign="top">Adress 2</td>
			                <td valign="top">:<!--@Ecom:Order.Customer.Address2--></td>
			            </tr>
			            <tr>
			                <td valign="top">Zipcode / Town</td>
			                <td valign="top">:<!--@Ecom:Order.Customer.Zip-->&nbsp;<!--@Ecom:Order.Customer.City--></td>
			            </tr>
			            <tr>
			                <td valign="top">Country</td>
			                <td valign="top">:<!--@Ecom:Order.Customer.Country--></td>
			            </tr>
			            <tr>
			                <td valign="top">EAN</td>
			                <td valign="top">:<!--@Ecom:Order.Customer.EAN--></td>
			            </tr>
			            <tr>
			                <td valign="top">Phone</td>
			                <td valign="top">:<!--@Ecom:Order.Customer.Phone--></td>
			            </tr>
			            <tr>
			                <td valign="top">Fax</td>
			                <td valign="top">:<!--@Ecom:Order.Customer.Fax--></td>
			            </tr>
			            <tr>
			                <td valign="top">Mobile</td>
			                <td valign="top">:<!--@Ecom:Order.Customer.Cell--></td>
			            </tr>
			            <tr>
			                <td valign="top">E-mail</td>
			                <td valign="top">:<!--@Ecom:Order.Customer.Email--></td>
			            </tr>
		            </table>
		        </td>
		        <td width="50%" valign="top">
		            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="delivery">
		                <tr>
		                    <td width="100%" valign="top" colspan="2"><h3>Delivery address</h3></td>
		                </tr>
		                <tr>
		                    <td valign="top">Company</td>
		                    <td valign="top">:<!--@Ecom:Order.Delivery.Company--></td>
		                </tr>
		                <tr>
		                    <td valign="top">Name</td>
		                    <td valign="top">:<!--@Ecom:Order.Delivery.Name--></td>
		                </tr>
		                <tr>
		                    <td valign="top">Adress</td>
		                    <td valign="top">:<!--@Ecom:Order.Delivery.Address--></td>
		                </tr>
		                <tr>
		                    <td valign="top">Adress 2</td>
		                    <td valign="top">:<!--@Ecom:Order.Delivery.Address2--></td>
		                </tr>
		                <tr>
		                    <td valign="top">Zipcode / City</td>
		                    <td valign="top">:<!--@Ecom:Order.Delivery.Zip-->&nbsp;<!--@Ecom:Order.Delivery.City--></td>
		                </tr>
		                <tr>
		                    <td valign="top">Country</td>
		                    <td valign="top">:<!--@Ecom:Order.Delivery.Country--></td>
		                </tr>
		                <tr>
		                    <td valign="top">Phone</td>
		                    <td valign="top">:<!--@Ecom:Order.Delivery.Phone--></td>
		                </tr>
		                <tr>
		                    <td valign="top">Fax</td>
		                    <td valign="top">:<!--@Ecom:Order.Delivery.Fax--></td>
		                </tr>
		                <tr>
		                    <td valign="top">Mobile</td>
		                    <td valign="top">:<!--@Ecom:Order.Delivery.Cell--></td>
		                </tr>
		                <tr>
		                    <td valign="top">E-mail</td>
		                    <td valign="top">:<!--@Ecom:Order.Delivery.Email--></td>
		                </tr>
		            </table>
		        </td>
		    </tr>
		</table>
	</fieldset>
	
	<fieldset>
		<legend>Orderinformations</legend>
		<table border="0" cellspacing="0" cellpadding="0" ID="orderinformations">
	        <tr>
	            <td valign="top">Ordernumber</td>
	            <td valign="top">:<!--@Ecom:Order.ID--></td>
	        </tr>
	        <tr>
	            <td valign="top">Orderdate</td>
	            <td valign="top">:<!--@Ecom:Order.Date--></td>
	        </tr>
	        <tr>
	            <td valign="top">Client IP</td>
	            <td valign="top">:<!--@Ecom:Order.IP--></td>
	        </tr>
	        <tr>
	            <td valign="top">Payment method</td>
	            <td valign="top">:<!--@Ecom:Order.PaymentMethod--></td>
	        </tr>
	        <!--@If Defined(Ecom:Order.TransactionNumber)-->
	        <tr>
	            <td valign="top">Transaction number</td>
	            <td valign="top">:<!--@Ecom:Order.TransactionNumber--></td>
	        </tr>
	        <!--@EndIf(Ecom:Order.TransactionNumber)-->
	    </table>
	</fieldset>
	
	<fieldset>
		<legend>Orderspecification</legend>
		<table cellspacing="0" cellpadding="0" border="0" width="100%" id="orderdetails">
			<tr class="basketheader">
				<td>Product name</td>
				<td>Amount</td>
				<td>Weight</td>
				<td>Volume</td>
				<td align="right">Price</td>
			</tr>
			<!--@LoopStart(OrderLines)-->
			<tr class="orderline<!--@Ecom:Order:OrderLine.Type--> orderline">
				<td nowrap>
				    <a href="<!--@Ecom:Order:OrderLine.ProductLink-->">
				        <!--@Ecom:Order:OrderLine.ProductName.Short-->
				        <!--@If Defined(Ecom:Order:OrderLine.ProductVariantText)-->
				            (<!--@Ecom:Order:OrderLine.ProductVariantText-->)
				        <!--@EndIf(Ecom:Order:OrderLine.ProductVariantText)-->
				    </a>
				</td>
				<td><!--@Ecom:Order:OrderLine.Quantity--></td>
				<td><!--@Ecom:Order:OrderLine.Weight--></td>
				<td><!--@Ecom:Order:OrderLine.Volume--></td>
				<td align="right" nowrap><!--@Ecom:Order:OrderLine.TotalPrice--></td>
			</tr>
			<!--@LoopStart(BOMItems)-->
			<tr class="orderline">
				<td nowrap><!--@Ecom:Order:OrderLine.ProductName.Short--></td>
				<td nowrap><!--@Ecom:Order:OrderLine.Quantity--></td>
			    <td><!--@Ecom:Order:OrderLine.Weight--></td>
				<td><!--@Ecom:Order:OrderLine.Volume--></td>
				<td nowrap><!--@Ecom:Order:OrderLine.TotalPrice--></td>
			</tr>
			<!--@LoopEnd(BOMItems)-->
			<!--@LoopEnd(OrderLines)-->
			<tr class="total">
				<td>Total</td>
				<td><!--@Ecom:Order.OrderLines.TotalProductQuantity--></td>
				<td><!--@Ecom:Order.Weight--></td>
				<td><!--@Ecom:Order.Volume--></td>
				<td align="right" title="Ecom:Order.PriceWithoutFees.PriceFormatted"><!--@Ecom:Order.PriceWithoutFees.PriceFormatted--></td>
			</tr>
			<tr class="total">
				<td colspan="4">Paymentfee</td>
				<td align="right" title="Ecom:Order.PaymentFee.PriceFormatted"><!--@Ecom:Order.PaymentFee.PriceFormatted--></td>
			</tr>
			<tr class="total">
				<td colspan="4">Deliveryfee</td>
				<td align="right" title="Ecom:Order.ShippingFee.PriceFormatted"><!--@Ecom:Order.ShippingFee.PriceFormatted--></td>
			</tr>
			<tr class="total">
				<td colspan="4">VAT</td>
				<td align="right" title="Ecom:Order.Price.VATFormatted"><!--@Ecom:Order.Price.VATFormatted--></td>
			</tr>
			<tr class="total">
				<td colspan="4">Total with VAT</td>
				<td align="right" title="Ecom:Order.Price.PriceWithVATFormatted"><!--@Ecom:Order.Price.PriceWithVATFormatted--></td>
			</tr>
		</table>
	</fieldset>
</div>