<div id="receipt">
	<a class="print" href="javascript:window.print();"><!--@Translate(printthispage, "Print this page")--></a>
	<fieldset>
		<legend>Receipt</legend>
        <fieldset id="billing">
			<legend><!--@Translate(billingaddress, "Billing address")--></legend>
			<dl>
				<dt>
					<label><!--@Translate(company, "Company")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Customer.Company-->
				</dd>
			</dl>
			<dl>
				<dt>
					<label><!--@Translate(name, "Name")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Customer.Name-->
				</dd>
			</dl>
            <dl>
				<dt>
					<label><!--@Translate(vouchercode, "Voucher code")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Customer.VoucherCode-->
				</dd>
			</dl>
			<dl>
				<dt>
					<label><!--@Translate(address, "Address")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Customer.Address-->
				</dd>
			</dl>
			<dl>
				<dt>
					<label><!--@Translate(address2, "Address 2")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Customer.Address2-->
				</dd>
			</dl>
			<dl>
				<dt>
					<label><!--@Translate(zipcode, "Zipcode")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Customer.Zip-->
				</dd>
			</dl>
			<dl>
				<dt>
					<label><!--@Translate(city, "City")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Customer.City-->
				</dd>
			</dl>
			<dl>
				<dt>
					<label><!--@Translate(country, "Country")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Customer.Country-->
				</dd>
			</dl>
			<dl>
				<dt>
					<label><!--@Translate(region, "Region")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Customer.Region-->
				</dd>
			</dl>			
			<dl>
				<dt>
					<label><!--@Translate(email, "E-mail")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Customer.Email-->
				</dd>
			</dl>
			<dl>
				<dt>
					<label><!--@Translate(phone, "Phone")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Customer.Phone-->
				</dd>
			</dl>
			<dl>
				<dt>
					<label><!--@Translate(fax, "Fax")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Customer.Fax-->
				</dd>
			</dl>
			<dl>
				<dt>
					<label><!--@Translate(mobile, "Mobile")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Customer.Cell-->
				</dd>
			</dl>
			<dl>
				<dt>
					<label><!--@Translate(note, "Note")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Customer.Comment-->
				</dd>
			</dl>
		</fieldset>	
   
        <fieldset id="delivery">
			<legend><!--@Translate(deliveryaddress, "Delivery address")--></legend>
			<dl>
				<dt>
					<label><!--@Translate(company, "Company")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Delivery.Company-->
				</dd>
			</dl>
			<dl>
				<dt>
					<label><!--@Translate(name, "Name")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Delivery.Name-->
				</dd>
			</dl>
			<dl>
				<dt>
					<label><!--@Translate(address, "Address")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Delivery.Address-->
				</dd>
			</dl>
			<dl>
				<dt>
					<label><!--@Translate(address2, "Address 2")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Delivery.Address2-->
				</dd>
			</dl>
			<dl>
				<dt>
					<label><!--@Translate(zipcode, "Zipcode")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Delivery.Zip-->
				</dd>
			</dl>
			<dl>
				<dt>
					<label><!--@Translate(city, "City")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Delivery.City-->
				</dd>
			</dl>
			<dl>
				<dt>
					<label><!--@Translate(country, "Country")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Delivery.Country-->
				</dd>
			</dl>
			<dl>
				<dt>
					<label><!--@Translate(region, "Region")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Delivery.Region-->
				</dd>
			</dl>				
			<dl>
				<dt>
					<label><!--@Translate(email, "E-mail")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Delivery.Email-->
				</dd>
			</dl>
			<dl>
				<dt>
					<label><!--@Translate(phone, "Phone")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Delivery.Phone-->
				</dd>
			</dl>
			<dl>
				<dt>
					<label><!--@Translate(mobile, "Mobile")-->: </label>
				</dt>
				<dd>
					<!--@Ecom:Order.Delivery.Cell-->
				</dd>
			</dl>
		</fieldset>
	</fieldset>
	
	<fieldset id="orderinformations">
		<legend><!--@Translate(orderinformations, "Orderinformations")--></legend>
		<dl>
			<dt>
				<label><!--@Translate(ordernumber, "Ordernumber")-->: </label>
			</dt>
			<dd>
				<!--@Ecom:Order.ID-->
			</dd>
		</dl>
		<dl>
			<dt>
				<label><!--@Translate(orderdate, "Orderdate")-->: </label>
			</dt>
			<dd>
				<!--@Ecom:Order.Date-->
			</dd>
		</dl>
		<dl>
			<dt>
				<label><!--@Translate(clientip, "Client IP")-->: </label>
			</dt>
			<dd>
				<!--@Ecom:Order.IP-->
			</dd>
		</dl>
		<dl>
			<dt>
				<label><!--@Translate(paymentmethod, "Payment method")-->: </label>
			</dt>
			<dd>
				<!--@Ecom:Order.PaymentMethod-->
			</dd>
		</dl>
		<!--@If Defined(Ecom:Order.TransactionNumber)-->
		<dl>
			<dt>
				<label><!--@Translate(transactionnumber, "Transaction number")-->: </label>
			</dt>
			<dd>
				<!--@Ecom:Order.TransactionNumber-->
			</dd>
		</dl>
		<!--@EndIf(Ecom:Order.TransactionNumber)-->
	</fieldset>
	
	<fieldset>
		<legend><!--@Translate(orderspecification, "Orderspecification")--></legend>
		<table cellspacing="0" cellpadding="0" border="0" width="100%" id="orderdetails">
			<tr class="basketheader">
				<td><!--@Translate(productname, "Product name")--></td>
				<td><!--@Translate(amount, "Amount")--></td>
				<td><!--@Translate(weight, "Weight")--></td>
				<td><!--@Translate(volume, "Volume")--></td>
				<td align="right"><!--@Translate(price, "Price")--></td>
			</tr>
			<!--@LoopStart(OrderLines)-->
			<tr class="orderline<!--@Ecom:Order:OrderLine.Type--> orderline">
				<td nowrap>
				    <a href="<!--@Ecom:Order:OrderLine.ProductLink-->">
				        <!--@Ecom:Order:OrderLine.ProductName.Short-->
				        <!--@If Defined(Ecom:Order:OrderLine.ProductVariantText)-->
				            (<!--@Ecom:Order:OrderLine.ProductVariantText-->)
				        <!--@EndIf(Ecom:Order:OrderLine.ProductVariantText)-->
				    </a>
				</td>
				<td><!--@Ecom:Order:OrderLine.Quantity--></td>
				<td><!--@Ecom:Order:OrderLine.Weight--></td>
				<td><!--@Ecom:Order:OrderLine.Volume--></td>
				<td align="right" nowrap><!--@Ecom:Order:OrderLine.TotalPrice--></td>
			</tr>
			<!--@LoopStart(BOMItems)-->
			<tr class="orderline">
				<td nowrap><!--@Ecom:Order:OrderLine.ProductName.Short--></td>
				<td nowrap><!--@Ecom:Order:OrderLine.Quantity--></td>
			    <td><!--@Ecom:Order:OrderLine.Weight--></td>
				<td><!--@Ecom:Order:OrderLine.Volume--></td>
				<td nowrap><!--@Ecom:Order:OrderLine.TotalPrice--></td>
			</tr>
			<!--@LoopEnd(BOMItems)-->
			<!--@LoopEnd(OrderLines)-->
			<tr class="total">
				<td><!--@Translate(total, "Total")--></td>
				<td><!--@Ecom:Order.OrderLines.TotalProductQuantity--></td>
				<td><!--@Ecom:Order.Weight--></td>
				<td><!--@Ecom:Order.Volume--></td>
				<td align="right" title="Ecom:Order.PriceWithoutFees.PriceFormatted"><!--@Ecom:Order.PriceWithoutFees.PriceFormatted--></td>
			</tr>
			<tr class="total">
				<td colspan="4"><!--@Translate(paymentfee, "Paymentfee")--></td>
				<td align="right" title="Ecom:Order.PaymentFee.PriceFormatted"><!--@Ecom:Order.PaymentFee.PriceFormatted--></td>
			</tr>
			<tr class="total">
				<td colspan="4"><!--@Translate(deliveryfee, "Deliveryfee")--></td>
				<td align="right" title="Ecom:Order.ShippingFee.PriceFormatted"><!--@Ecom:Order.ShippingFee.PriceFormatted--></td>
			</tr>
			<tr class="total">
				<td colspan="4"><!--@Translate(vat, "VAT")--></td>
				<td align="right" title="Ecom:Order.Price.VATFormatted"><!--@Ecom:Order.Price.VATFormatted--></td>
			</tr>
			<tr class="total">
				<td colspan="4"><!--@Translate(totalwithvata, "Total with VAT")--></td>
				<td align="right" title="Ecom:Order.Price.PriceWithVATFormatted"><!--@Ecom:Order.Price.PriceWithVATFormatted--></td>
			</tr>
		</table>
	</fieldset>
</div>