﻿<form name="ordersubmit" id="ordersubmit" method="post">
  <fieldset>
    <legend><!--@Translate(shoppingbasket, "Shopping Basket")--></legend>
    <!--@If Not Defined(Ecom:Order.IsEmpty)-->
      <table cellspacing="0" cellpadding="0" border="0" width="100%" id="orderdetails">
        <tr class="basketheader">
          <td><!--@Translate(productname, "Product name")--></td>
          <td><!--@Translate(amount, "Amount")--></td>
          <td align="right"><!--@Translate(price, "Price")--></td>
          <td></td>
        </tr>
        
        <!--@LoopStart(OrderLines)-->
          <tr class="orderline<!--@Ecom:Order:OrderLine.Type--> orderline">
            <td nowrap>
              <a href="<!--@Ecom:Order:OrderLine.ProductLink-->">
                <!--@Ecom:Order:OrderLine.ProductName.Short-->
                <!--@If Defined(Ecom:Order:OrderLine.ProductVariantText)-->
                  (<!--@Ecom:Order:OrderLine.ProductVariantText-->)
                <!--@EndIf(Ecom:Order:OrderLine.ProductVariantText)-->
              </a>
            </td>
            <td><!--@Ecom:Order:OrderLine.Quantity--></td>
            <td align="right" nowrap><!--@Ecom:Order:OrderLine.TotalPrice--></td>
            <td align="right" nowrap>
              <!--@If Defined(Ecom:Order:OrderLine.IsProduct)-->
                <a class="orderfunctions" href="<!--@Ecom:Order:OrderLine.IncrementLink-->" title=""><img src="/Files/Images/Ecom/Grafik/basket-inc.gif" border="0" alt="" /></a>
                <a class="orderfunctions" href="<!--@Ecom:Order:OrderLine.DecrementLink-->" title=""><img src="/Files/Images/Ecom/Grafik/basket-dec.gif" border="0" alt="" /></a>
                <a class="orderfunctions" href="<!--@Ecom:Order:OrderLine.DeleteLink-->" title=""><img src="/Files/Images/Ecom/Grafik/basket-rem.gif" border="0" alt="" /></a>
              <!--@EndIf(Ecom:Order:OrderLine.IsProduct)-->
            </td>
          </tr>
          <!--@LoopStart(BOMItems)-->
            <tr class="orderline">
              <td nowrap><!--@Ecom:Order:OrderLine.ProductName.Short--></td>
              <td nowrap><!--@Ecom:Order:OrderLine.Quantity--></td>
              <td></td>
              <td nowrap><!--@Ecom:Order:OrderLine.TotalPrice--></td>
              <td></td>
            </tr>
          <!--@LoopEnd(BOMItems)-->
        <!--@LoopEnd(OrderLines)-->
        <tr class="total">
          <td colspan="2"><!--@Translate(paymentfee, "Paymentfee")--> (<!--@Ecom:Order.PaymentMethod-->)</td>
          <td align="right" title="Ecom:Order.PaymentFee.PriceFormatted"><!--@Ecom:Order.PaymentFee.PriceFormatted--></td>
        </tr>
        <tr class="total">
          <td colspan="2"><!--@Translate(deliveryfee, "Deliveryfee")--> (<!--@Ecom:Order.ShippingMethod-->)</td>
          <td align="right" title="Ecom:Order.ShippingFee.PriceFormatted"><!--@Ecom:Order.ShippingFee.PriceFormatted--></td>
        </tr>
        <tr class="total">
          <td><!--@Translate(total, "Total")--></td>
          <td></td>
          <td align="right"><!--@Ecom:Order.OrderLines.Total.PriceWithVAT--></td>
        </tr>
      </table>
      <a href="<!--@Ecom:Cart.EmptyCartLink-->"><!--@Translate(emptycart, "Empty Cart")--></a>
      <input type="submit" name="<!--@CartV2.NextStepButtonName-->" id="<!--@CartV2.NextStepButtonName-->" value="<!--@Translate(next, "Next")-->" />
    <!--@EndIf(Ecom:Order.IsEmpty)-->
    <!--@If Defined(Ecom:Order.IsEmpty)-->
      <!--@Translate(basketisempty, "Kurven er tom")-->
    <!--@EndIf(Ecom:Order.IsEmpty)-->
  </fieldset>
      <h2>Saved for later<h2>
  <!--@LoopStart(eCom:Related.SavedForLater)-->
  <h3><!--@Ecom:Product.Name--></h3>
    <!--@If Defined(Ecom:Product.ImageLarge.Default.Clean)-->
        <a href="<!--@Ecom:Product.ImageLarge.Default.Clean-->" target="_blank">
            <!--@Ecom:Product.ImageMedium.Default-->
        </a>
    <!--@EndIf(Ecom:Product.ImageLarge.Default.Clean)-->
    <!--@If Not Defined(Ecom:Product.ImageLarge.Default.Clean)-->
            <!--@Ecom:Product.ImageMedium.Default-->
    <!--@EndIf(Ecom:Product.ImageLarge.Default.Clean)-->
    <span class="price">
        <!--@Ecom:Product.Price-->
    </span>
    <span>
        <a href="<!--@Ecom:Product:SavedForLater.AddToBasketLink-->">Add to basket</a>
    </span>
    <span>
        <a href="<!--@Ecom:Product:SavedForLater.RemoveProductLink-->">Remove</a>
    </span>
       <!--@If Defined(Ecom:CatalogPublishing.UseCatalogPublishing)-->
          <span>
                <a href="/default.aspx?id=<!--@Ecom:Product:Page.ID-->&amp;productid=<!--@Ecom:Product.ID-->&amp;CatalogPublishingcmd=addtocatalog" >Add to 

catalog</a>
            </span>
        <!--@EndIf(Ecom:CatalogPublishing.UseCatalogPublishing)-->
    <span class="shortdescription"><!--@Ecom:Product.ShortDescription--></span>
    <span class="longdescription"><!--@Ecom:Product.LongDescription--></span>

    <!--@LoopEnd(eCom:Related.SavedForLater)-->


</form>