<form name="ordersubmit" id="ordersubmit" method="post">
	<fieldset>
		<legend><!--@Translate(shoppingbasket, "Shopping Basket")--></legend>
		<!--@If Not Defined(Ecom:Order.IsEmpty)-->
			<table cellspacing="0" cellpadding="0" border="0" width="100%" id="orderdetails">
				<tr class="basketheader">
					<td><!--@Translate(productname, "Product name")--></td>
					<td><!--@Translate(amount, "Amount")--></td>
					<td align="right"><!--@Translate(price, "Price")--></td>
					<td></td>
				</tr>
				
				<!--@LoopStart(OrderLines)-->
                <!--@If(Ecom:Order:OrderLine.Type<>4)-->
					<tr class="orderline<!--@Ecom:Order:OrderLine.Type--> orderline">
						<td nowrap>
							<a href="<!--@Ecom:Order:OrderLine.ProductLink-->">
								<!--@Ecom:Order:OrderLine.ProductName.Short-->
								<!--@If Defined(Ecom:Order:OrderLine.ProductVariantText)-->
									(<!--@Ecom:Order:OrderLine.ProductVariantText-->)
								<!--@EndIf(Ecom:Order:OrderLine.ProductVariantText)-->
							</a>
						</td>
						<td><!--@Ecom:Order:OrderLine.Quantity--></td>
						<td align="right" nowrap><!--@Ecom:Order:OrderLine.TotalPrice--></td>
						<td align="right" nowrap>
							<!--@If Defined(Ecom:Order:OrderLine.IsProduct)-->
								<a class="orderfunctions" href="<!--@Ecom:Order:OrderLine.IncrementLink-->" title=""><img src="/Files/Billeder/Ecom/Grafik/basket-inc.gif" border="0" alt="" /></a>
								<a class="orderfunctions" href="<!--@Ecom:Order:OrderLine.DecrementLink-->" title=""><img src="/Files/Billeder/Ecom/Grafik/basket-dec.gif" border="0" alt="" /></a>
								<a class="orderfunctions" href="<!--@Ecom:Order:OrderLine.DeleteLink-->" title=""><img src="/Files/Billeder/Ecom/Grafik/basket-rem.gif" border="0" alt="" /></a>
							<!--@EndIf(Ecom:Order:OrderLine.IsProduct)-->
						</td>
					</tr>
					<!--@LoopStart(BOMItems)-->
						<tr class="orderline">
							<td nowrap><!--@Ecom:Order:OrderLine.ProductName.Short--></td>
							<td nowrap><!--@Ecom:Order:OrderLine.Quantity--></td>
							<td></td>
							<td nowrap><!--@Ecom:Order:OrderLine.TotalPrice--></td>
							<td></td>
						</tr>
					<!--@LoopEnd(BOMItems)-->

                    <!--@LoopStart(ProductTaxes)-->
                        <tr class="orderline">
                          <td nowrap><!--@Ecom:Order:OrderLine.ProductTaxes.Name-->(<!--@Ecom:Order:OrderLine.ProductTaxes.Provider-->):</td>
                          <td></td>
                          <td></td>
                          <td nowrap><!--@Ecom:Order:OrderLine.ProductTaxes.PriceFormatted--></td>
                          <td></td>
                        </tr>
                    <!--@LoopEnd(ProductTaxes)-->
                    <!--@LoopStart(ProductTaxesGrouped)-->
                        <tr class="orderline">
                          <td nowrap><!--@Translate(totaltaxfor, "Total tax for")-->&nbsp;<!--@Ecom:Order:OrderLine.ProductTaxes.Provider-->:</td>
                          <td></td>
                          <td></td>
                          <td nowrap><!--@Ecom:Order:OrderLine.ProductTaxes.PriceFormatted--></td>
                          <td></td>
                        </tr>
                    <!--@LoopEnd(ProductTaxesGrouped)-->
                    <tr class="total">
                        <td nowrap><!--@Translate(totaltaxforproduct, "Total tax for product")-->:</td>
                          <td></td>
                          <td></td>
                        <td nowrap><!--@Ecom:Order:OrderLine.ProductTaxes.TotalPriceFormatted--></td>
                        <td></td>
                    </tr>
                <!--@EndIf-->
				<!--@LoopEnd(OrderLines)-->
				<tr class="total">
					<td colspan="2"><!--@Translate(paymentfee, "Paymentfee")--> (<!--@Ecom:Order.PaymentMethod-->)</td>
					<td align="right" title="Ecom:Order.PaymentFee.PriceFormatted"><!--@Ecom:Order.PaymentFee.PriceFormatted--></td>
				</tr>
				<tr class="total">
					<td colspan="2"><!--@Translate(deliveryfee, "Deliveryfee")--> (<!--@Ecom:Order.ShippingMethod-->)</td>
					<td align="right" title="Ecom:Order.ShippingFee.PriceFormatted"><!--@Ecom:Order.ShippingFee.PriceFormatted--></td>
				</tr>
                <!--@LoopStart(ShippingTaxes)-->
                    <tr class="orderline">
                      <td nowrap><!--@Ecom:Order.Shipping.Taxes.Name-->(<!--@Ecom:Order.Shipping.Taxes.Provider-->)</td>
                      <td></td>
                      <td align="right"><!--@Ecom:Order.Shipping.Taxes.PriceFormatted--></td>
                    </tr>
                <!--@LoopEnd(ShippingTaxes)-->
                <!--@LoopStart(ShippingTaxesGrouped)-->
                    <tr class="orderline">
                      <td nowrap><!--@Translate(totaltaxfor, "Total tax for")-->&nbsp;<!--@Ecom:Order.Shipping.Taxes.Provider-->:</td>
                      <td></td>
                      <td align="right"><!--@Ecom:Order.Shipping.Taxes.PriceFormatted--></td>
                    </tr>
                <!--@LoopEnd(ShippingTaxesGrouped)-->
                <tr class="total">
                    <td><!--@Translate(totaltaxforshipping, "Total tax for shipping")-->:</td>
                    <td></td>
                    <td align="right"><!--@Ecom:Order.Shipping.Taxes.TotalPriceFormatted--></td>
                </tr>
                <tr class="total">
                    <td><!--@Translate(totaltaxfororder, "Total tax for order")-->:</td>
                    <td></td>
                    <td align="right"><!--@Ecom:Order.Taxes.TotalPriceFormatted--></td>
                </tr>
				<tr class="total">
					<td><!--@Translate(total, "Total")--></td>
					<td></td>
					<td align="right"><!--@Ecom:Order.OrderLines.Total.PriceWithVAT--></td>
				</tr>
			</table>
			<a href="<!--@Ecom:Cart.EmptyCartLink-->"><!--@Translate(emptycart, "Empty Cart")--></a>
			<input type="submit" name="<!--@CartV2.NextStepButtonName-->" id="<!--@CartV2.NextStepButtonName-->" value="<!--@Translate(next, "Next")-->" />
		<!--@EndIf(Ecom:Order.IsEmpty)-->
		<!--@If Defined(Ecom:Order.IsEmpty)-->
			<!--@Translate(basketisempty, "Kurven er tom")-->
		<!--@EndIf(Ecom:Order.IsEmpty)-->
	</fieldset>
</form>