fieldset {
	border: none;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

fieldset#billing, fieldset#delivery {
	width: 50%;
}

fieldset legend {
	background: url('/files/system/round_corner_bg.gif') top left repeat-x;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#486480), to(#647F9C));
	background: -moz-linear-gradient(top, #486480, #647F9C);
	line-height: 31px;
	color: #fff;
	font-weight: bold;
	margin: 0;
	padding: 0;
	width: 100%;
	text-indent: 10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
}

fieldset#billing legend, fieldset#delivery legend {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-top-left-radius: 0;
}

dl {
	margin: 0;
	padding: 5px;
	width: 100%;
	text-indent: 10px;
	float : left;
}

dt, dd {
	margin: 0;
	padding: 0;
	float: left;
	text-align: left;
}

dt {
	width: 100px;
	font-weight: bold;
}

input {
	margin: 0;
	padding: 0;
}

input[type="text"], textarea, select {
	width: 200px;
	border: 1px solid #ccc;
}

fieldset#conditions dt {
	width: 400px;
}

fieldset#conditions ol li {
	margin-bottom: 10px;
}

fieldset#conditions p {
	margin-bottom: 10px;
}

fieldset#paymentanddelivery dt {
	width: 150px;
}

fieldset#paymentanddelivery dd {
	width: 450px;
}