<!--@MasterPageFile(master.html)-->
<!--@Layout.Title(Forside)-->
<!--@Layout.Description(Forside skabelon)-->


<!--@SnippetStart(loadscripts)-->
<script src="js/vendor/malsup.js"></script>
<!--@SnippetEnd(loadscripts)-->

<div class="row margin">
  <div class="large-2 columns soeg">
<form class="row" action="default.aspx"method="get" name="SearchFormTop" _lpchecked="1">
    <div class="row collapse">

      <div class="small-9 columns">
           <input class="TextBox" type="text" name="ecomquery" placeholder="søg efter">
      </div>
          <div class="small-3 columns">

              <button type="submit" class="button primary-button postfix radius">søg</button>
          </div>



        <input type="hidden" name="ID" value="<!--@Item.Area.Ecomsearchpage-->">
</div>
</form>

<div class="row">






      <div class="small-12 columns filter left border shadow">
        <div class="downarrowdiv bg-secondary-color"><h5>Makeup til:</h5></div>
        <ul>
          <li class="ur">Ansigt</li>
          <li class="rund">Øjne</li>
        </ul>
        <a href="#">Flere søgefiltre</a>
      </div>
    </div>
  </div>
  <div class="large-10 columns topimage">
    <div id="rotater"   data-cycle-slides="> a" class="border shadow cycle-slideshow dwcontent" Title="Toprotator" settings="template:item-rotator.html">
      <img src="billeder/topbillede.jpg"/>
    </div>
  </div>

</div>
<!--@If Defined(DwContent(searchfilter))-->
  <div id="searchfilter" class="dwcontent row panel" title="Søgefiltre" settings="template:søgefilter.html;limit:søgefilter.html;">
          <ul class="small-block-grid-4">

        <!--@DwContent(searchfilter)-->
      </ul>
        </div>
<!--@EndIf(DwContent(searchfilter))-->
<!--@If Defined(DwContent(boxe))-->
  <div class="row margin dwcontent" id="boxe" Title="Boxe 3 stk" settings="default:true;template:3col-box.html;limit:3col-box.html">

  </div>
<!--@EndIf()-->
<!--@If Defined(DwContent(boxes2))-->
  <div  class="row margin " >
    <div class="large-12 columns">
    <ul class="small-block-grid-2 large-block-grid-5 dwcontent" id="boxes2" Title="Boxe 5 stk" settings="template:item-blockgridbox.html;limit:item-blockgridbox.html">

    </ul>
    </div>
  </div>
  <!--@EndIf()-->
  <!--@If Defined(DwContent(banner))-->
  <div id="banner" class="row margin dwcontent" Title="Bund banner" settings="default:true;template:1col-box.html;limit:1col-box.html,Clean.html">
  </div>
  <!--@EndIf()-->