<!--@MasterPageFile(master.html)-->
<!--@Layout.Title(Underside uden søg)-->
<!--@Layout.Description(Underside skabelon)-->

<!--breadcrumbs-->
    <div class="row">
         <ul class="breadcrumbs">
          <li><a href="#">Forside</a></li>
          <li><a href="#">Features</a></li>
          <li class="unavailable"><a href="#">Gene Splicing</a></li>
          <li class="current"><a href="#">Cloning</a></li>
        </ul>
    </div>


   <!-- afslut breadcrumbs-->
<!--@If Not Defined(Server:Request.groupid)-->

        <div id="ph02b" class="dwcontent row collapse" title="Indhold" settings="template:textright_imgleft.html;textright_imgleft.html;"></div>
        <!--@EndIf(Server:Request.groupid)-->

