<!--@MasterPageFile(master.html)-->
<!--@Layout.Title(Underside)-->
<!--@Layout.Description(Underside skabelon)-->

<!--breadcrumbs-->
    <div class="row">
         <ul class="breadcrumbs dwnavigation" id="legend" settings="template:legend.xslt;expandmode:path;">
          <li><a href="#">Forside</a></li>
          <li><a href="#">Features</a></li>
          <li class="unavailable"><a href="#">Gene Splicing</a></li>
          <li class="current"><a href="#">Cloning</a></li>
        </ul>
    </div>

      <form class="row collapse" action="default.aspx"method="get" name="SearchFormTop" _lpchecked="1">
      <div class="small-9 columns">
           <input class="TextBox" type="text" name="ecomquery" placeholder="Indtast søgeord">
      </div>
          <div class="small-3 columns">

              <button type="submit" class="button primary-button postfix radius" style="line-height: 0.125em;">Søg</button>
          </div>



        <input type="hidden" name="ID" value="<!--@Item.Area.Ecomsearchpage-->">

</form>


   <!-- afslut breadcrumbs-->
<!--@If Not Defined(Server:Request.productid)-->
      <!--@If Not Defined(Server:Request.groupid)-->
        <div id="ph02b" class="dwcontent row collapse" title="Intro tekst" settings="template:textright_imgleft.html;textright_imgleft.html;"></div>
        <!--@EndIf(Server:Request.productid)-->
        <!--@EndIf(Server:Request.groupid)-->
          <!--@If Defined(DwContent(searchfilter))-->
        <div id="searchfilter" class="dwcontent row panel" title="Søgefiltre" settings="template:søgefilter.html;limit:søgefilter.html;">
          <ul class="small-block-grid-4">


      </ul>
        </div>
        <!--@EndIf(DwContent(searchfilter))-->
        <div id="ph02a" class="dwcontent row" title="Produkter" settings="template:module.html;limit:module.html;"></div>

