@{
var calendarID = string.Format("calendar-{0}", GetInteger("ItemPublisher:Global.ParagraphId"));
}
<!--@SnippetStart(Stylesheets)-->
<link rel="stylesheet" href="/Files/Templates/ItemPublisher/ItemPublisher.css" />
<!--@SnippetEnd(Stylesheets)-->

@{
var campaigns = GetLoop("ItemPublisher:Items.List");
var prevCampaign = "";
}
<div class="items">
<h3><!--@ItemPublisher:ItemType.Description--></h3>
@if (campaigns.Count > 1) {

<ul class="items-list">
		@foreach (var campaign in campaigns) {
		var campaignTitle = campaign.GetValue("ItemPublisher:Item.Kampagne");
			var url = campaign.GetValue("ItemPublisher:Item.Url");
			var img = campaign.GetValue("ItemPublisher:Item.Image");
			var title = campaign.GetValue("ItemPublisher:Item.Title");
if((string)campaignTitle!=(string)prevCampaign){
		<li class="newCampaign"><h4>@campaignTitle @prevCampaign</h4></li>
		prevCampaign = (string)campaignTitle;
		}

     <li class="items-list-row">
            <div style="float:left;clear:none;margin-right:10px;padding-bottom:20px;height:180px; width:100px; line-height: 13px;">


        <a class="item-edit-link" href="@url"><img width="100px" style="border: 1px solid #CCC;" src="@img" /></a><br />

            <a href="">@title</a>

            </div>




        </li>

		}
	</ul>
}



