@using System.Web;
@functions{
    void AddToList(string input, ref List<string> l) {
        if (!l.Contains(input)) {
            l.Add(input);
        }
    }
}
@{

var calendarID = string.Format("calendar-{0}", GetInteger("ItemPublisher:Global.ParagraphId"));
}
<!--@SnippetStart(Stylesheets)-->
<link rel="stylesheet" href="/Files/Templates/ItemPublisher/ItemPublisher.css" />
<!--@SnippetEnd(Stylesheets)-->

@{
    var categories = GetLoop("ItemPublisher:Items.List");

    dynamic items = new List<dynamic>();

    foreach (var category in categories) {
        dynamic itm = new System.Dynamic.ExpandoObject();
        itm.ImageTitle = category.GetString("ItemPublisher:Item.Imagetitle");
        itm.Url = category.GetString("ItemPublisher:Item.Url");
        itm.Image = category.GetString("ItemPublisher:Item.Image");
        itm.Link = category.GetString("ItemPublisher:Item.Brand");
        itm.Zip = category.GetString("ItemPublisher:Item.Zipfile");
        itm.Category = category.GetString("ItemPublisher:Item.Category").Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries).ToList();
        items.Add(itm);
    }

    List<string> campaignList = new List<string>();

    foreach (var item in items) {
        if (item.Category.Count > 0) {
            foreach (string s in item.Category) {
                AddToList(s, ref campaignList);
            }
            AddToList(string.Empty, ref campaignList);
        }
    }
}


<div class="items">
<h3><!--@ItemPublisher:ItemType.Description--> @System.Web.HttpContext.Current.Request.QueryString["bla"] </h3>
@if (items.Count > 1) {

<div id="list">
<ul class="items-list" style="clear:both;">
@foreach (var campaignListItem1 in campaignList) {
var img = "/files/Images/pressemateriale/kategoribilleder/produktkategori_"+@campaignListItem1+".jpg";
<li class="items-header" style="float:left;clear:none;margin-right:10px;padding-bottom:20px;height:180px; line-height: 13px;">

        				<a class="item-edit-link" href="#@campaignListItem1"><img src='@img' alt='@campaignListItem1' /><br/>

            			<a href="#@campaignListItem1">@campaignListItem1</a>
</li>

}
</ul>
</div>

  foreach (var campaignListItem in campaignList) {
	<h4 style="clear:both;" id="@campaignListItem">@campaignListItem</h4>
		<ul class="items-list" style="clear:both;">
        @foreach (var cmp in items) {
            if(cmp.Category.Contains(campaignListItem)) {
        			var img = "/admin/public/getimage.aspx?Image="+@cmp.Image+"&Format=jpg&Width=180&Height=180&Crop=5&compress=100";

            	<li style="height:auto; width:200px; float:left;clear:none;margin-right:10px;padding-bottom:20px;line-height: 13px; border: 1px dotted #CCC; margin-bottom:20px;">


        				<a class="item-edit-link" href="@cmp.Zip" style="float:left; text-align:center"><img src='@img' alt='<!--@ParagraphImageTitle-->' />
						<br />

            			<strong>@cmp.ImageTitle</strong></a>

        		</li>
            }
        }
		</ul>
    }
}
</div>

