﻿@using System.Web;
@functions{
    void AddToList(string input, ref List<string> l) {
        if (!l.Contains(input)) {
            l.Add(input);
        }
    }
}
@{

var calendarID = string.Format("calendar-{0}", GetInteger("ItemPublisher:Global.ParagraphId"));
}
<!--@SnippetStart(Stylesheets)-->
<link rel="stylesheet" href="/Files/Templates/ItemPublisher/ItemPublisher.css" />
<!--@SnippetEnd(Stylesheets)-->

@{
    var campaigns = GetLoop("ItemPublisher:Items.List");

    dynamic items = new List<dynamic>();

    foreach (var campaign in campaigns) {
        dynamic itm = new System.Dynamic.ExpandoObject();
        itm.Title = campaign.GetString("ItemPublisher:Item.Title");
        itm.Url = campaign.GetString("ItemPublisher:Item.Url");
        itm.Image = campaign.GetString("ItemPublisher:Item.Image");
        itm.Link = campaign.GetString("ItemPublisher:Item.Link");
        itm.Materialetype = campaign.GetString("ItemPublisher:Item.Materialetype");
        itm.Brand = campaign.GetString("ItemPublisher:Item.Brand");
        itm.Materialetype = campaign.GetString("ItemPublisher:Item.Materialetype");
        itm.Date = campaign.GetString("ItemPublisher:Item.Date");
        itm.Campaigns = campaign.GetString("ItemPublisher:Item.Kampagne").Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries).ToList();
        items.Add(itm);
    }

    List<string> campaignList = new List<string>();

    foreach (var item in items) {
        if (item.Campaigns.Count > 0) {
            foreach (string s in item.Campaigns) {
                AddToList(s, ref campaignList);
            }
            AddToList(string.Empty, ref campaignList);
        }
    }
}


<div class="items">
<h3><!--@ItemPublisher:ItemType.Description--> @System.Web.HttpContext.Current.Request.QueryString["bla"] </h3>
@if (items.Count > 1) {

<div id="list">
@foreach (var campaignListItem1 in campaignList) {
<a href="#@campaignListItem1">@campaignListItem1, </a>
}
</div>

  foreach (var campaignListItem in campaignList) {
	<h4 style="clear:both;" id="@campaignListItem">@campaignListItem</h4>
		<ul class="items-list" style="clear:both;">
        @foreach (var cmp in items) {
            if(cmp.Campaigns.Contains(campaignListItem)) {
            	<li class="items-list-row">
           			<div style="float:left;clear:none;margin-right:10px;padding-bottom:20px;height:180px; width:100px; line-height: 13px;">
        				<a class="item-edit-link" href="@cmp.Url"><img width="100" style="border: 1px solid #CCC;" src="@cmp.Image" /></a><br />
            			<a href="@cmp.Url">@cmp.Title</a>
            		</div>
        		</li>
            }
        }
		</ul>
    }
}
</div>

