<link rel="stylesheet" href="/Files/Templates/ItemPublisher/ItemPublisher.css" />
<div class="items">
<h3><!--@ItemPublisher:ItemType.Description--></h3>
    <!--@If(ItemPublisher:Items.Any=True)-->
    <ul class="items-list">



        <!--@LoopStart(ItemPublisher:Items.List)-->

        <li class="items-list-row">
            <!--@If Not Defined(ItemPublisher:Item.CanEdit)-->
            <!--@LoopStart(ItemPublisher:Item.Name)-->
            <div style="float:left;clear:none;margin-right:10px;padding-bottom:20px;height:180px; width:100px; line-height: 13px;">

<!--@DwTemplateTags-->

        <a class="item-edit-link" href="<!--@ItemPublisher:Item.Url-->"><img width="100px" style="border: 1px solid #CCC;" src="<!--@ItemPublisher:Item.Image-->" /></a><br />

            <a href=""><!--@ItemPublisher:Item.Title--></a>

            </div>
            <!--@LoopEnd(ItemPublisher:Item.Name)-->

            <!--@EndIf(ItemPublisher:Item.CanEdit)-->


        </li>

        <!--@LoopEnd(ItemPublisher:Items.List)-->

    </ul>

    <!--@If(ItemPublisher:Items.Paging.TotalPages>1)-->
    <ul style="display:none;" class="items-list-paging items-clear">
        <!--@If(ItemPublisher:Items.Paging.CurrentPage>1)-->
            <li class="items-list-page">
                <a href="<!--@ItemPublisher:Items.Paging.PrevPage-->"><!--@Translate(PreviousPage, "Previous page")--></a>
            </li>
        <!--@EndIf-->

        <!--@LoopStart(ItemPublisher:Items.Paging.Pages5)-->
            <li class="items-list-page">
                <!--@If(ItemPublisher:Items.Paging.Pages5.Page.IsCurrent=True)-->
                <strong><!--@ItemPublisher:Items.Paging.Pages5.Page.Number--></strong>
                <!--@EndIf-->
                <!--@If(ItemPublisher:Items.Paging.Pages5.Page.IsCurrent<>True)-->
                <a href="<!--@ItemPublisher:Items.Paging.Pages5.Page.UrlHtmlEncoded-->"><!--@ItemPublisher:Items.Paging.Pages5.Page.Number--></a>
                <!--@EndIf-->
            </li>
        <!--@LoopEnd(ItemPublisher:Items.Paging.Pages5)-->

        <!--@If(ItemPublisher:Items.Paging.TotalPages>ItemPublisher:Items.Paging.CurrentPage)-->
            <li class="items-list-page">
                <a href="<!--@ItemPublisher:Items.Paging.NextPage-->"><!--@Translate(NextPage, "Next page")--></a>
            </li>
        <!--@EndIf-->
    </ul>
    <!--@EndIf-->
    <!--@EndIf-->
</div>