.bg-dark{color:#FFF;}
.bg-dark15-color{background-color:lighten($basedark-color, 15%);}
.bg-dark30-color{background-color:lighten($basedark-color, 30%);}
.bg-secondary-color{background-color:$secondary-color}

#header-topbar{
	background-color:$basedark-color;


	#dermalink{
		width:110px;
		border-right:2px solid #FFF;
		display: block;
		text-decoration: none;
}
	a{
		color:#FFF;
		padding:0 em-calc(20);
		font-size:em-calc(11);
		line-height:2.4em;
		font-weight:normal;
		font-family:verdana, sans-serif;
			}
	a#kundeservice{font-weight:bold; font-weight:1em;}
	dl.sub-nav{
		margin:0;
		padding:0px;
		dd{
			font-weight:1em;
			margin:0;
			a{line-height:3em}
		}
	}
      .icons-facebook-20{float: left;
padding-left: 23px !important;
height: 20px !important;
margin-top: 3px;
line-height: 20px !important;}
}
#header-logo{position:relative;}
//indkøbs kurver
    .indkob{
    		font-family:verdana, sans-serif;
      	color:white;
      	background-color:$primary-color;
      	background-position-x:right;
      	padding:2px 10px;
      	position:absolute;
      	bottom:0;
      	right:0;
      	@include side-radius(top);
      strong{
      margin-top:15px;
      	float:right;
      	padding-right:55px;
      	font-size:em-calc(13);
      	font-weight:normal;

      }
	    span{
	    	float: right;
	    	clear:right;
	      padding: 5px 55px 5px 10px;
	      font-size: em-calc(9);
	      color:lighten($primary-color,20%);
	      }
      .icons-indkobskurv{
      	position:absolute;
      	right:10px;
      	top:50%;
      	margin-top:-20px;
      	height: 40px;
			width: 40px;
			text-decoration: none;
      }
      .amount{
      	position:absolute;
      	top:-32px;
      	right:27px;
      	background-color:lighten($primary-color, 20%);
      	color:$basedark-color;
      	font-size:em-calc(11);
      	padding:5px;
      	margin:0;
      	font-weight:bold;
      }
      .amount:after{
      content:"";
      	@include css-triangle(5px, lighten($primary-color, 20%), top);
			bottom:-10px;
			left:50%;
			margin-left:-5px;
			position:absolute;

      }
      .dropdown{display:none; position:absolute; top:100%; color:$text-color; border:3px solid $primary-color;z-index:999; @extend .shadow; right:0px; font-size:em-calc(11);
      min-width:500px;
      ul{list-style:none;
      	li{width:100%;
      		clear:left;
      		a{clear:none;}
      		img{float:left}
      		}
      }
      h4{white-space:nowrap;}
      .row{clear:both;
      	.button{margin-bottom:0px}
      }

      }
      &:hover .dropdown{display:block; }
	}
