#searchfilter{padding-bottom:0px;
img{margin-top:0px}}
#productlist, #productitem, .stklist{
	ul li a.imglink{width:100%;float:left;text-align:center;	}
	img{border:none; margin-top:0px}

	a.button, button{font-size:1em; margin-top:5px !important; margin-bottom:0px !important; width:100%;

	@include radius();
}
	.columns{
		.price{font-weight:bold; font-size:em-calc(22); font-family:verdana, sans-serif; display:inline-block; width:100%}
		.freighttext{color:lighten($text-color, 30); font-size:em-calc(11);
			img{margin-top:0px; margin-left:5px;}
		}

	}

}
#productlist{.panel{padding-bottom:10px; margin-bottom:0px;

.prodtext{position:relative; height:60px; overflow:hidden;
}
	.prodtext:after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 40px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0px, #ffffff 100%) repeat scroll 0% 0% transparent;
  content: "";}
}
}
#productitem{
	.freighttext{width:100%; display:inline-block; margin-bottom:10px}
	.button{font-size:0.875em; margin-top:0px}
	.panel{
		.margin{margin-top:0px; margin-bottom:20px}
	}
	.symbolswrapper{width: 100%;
clear: both;
float: left;
margin-bottom: 20px;
		.symbols{clear:none;padding-right:10px; float:left;}
	}

}

#shoppingcart{
 .tabs-top a.button,
 .tabs-top button.button{margin-bottom:0px !important}
 .tabs-bottom{margin-top:-1px;}
 #bonus{display:none}
 #bonus-points-checkbox:checked ~ #bonus{display:block}
 }
input.left{float:left;margin-right:5px}