@import "compass/css3";
/* HELPERS */
$default-box-shadow-v-offset: 4px;
$default-box-shadow-color: lighten($basedark-color,50);
.border, .inline-border{margin-bottom:20px}
.border, .inline-border>*{border: 1px solid lighten($basedark-color,50); float:left}
.border, .inline-border .columns{padding-top:10px;}
.shadow{@include single-box-shadow;}
.row.margin>*{margin-top:20px;}

.panel.imgbottom img{margin-bottom:-$panel-padding}
a.nohand{cursor:default}


header{
   background:white;
	border-bottom:1px solid #c1cbd3;
}
.top-text{
 font-size: 0.7em;
background: #19bcb9;
color: white;
padding-bottom: 1px;
margin-top: -1px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 350px;
font-family:arial;
text-align: center;
  p{padding-top:10px;margin-bottom:1px; padding-left:4px;}

}
.sub-nav{padding-top: 0.8em;margin: -0.25em 0 .125em;}
.sub-nav dd{
font-family:arial;
font-weight:bold;
color:#c1cbd3;
}
.sub-nav dd:last-child{color:black;}
.top-link{
	font-size:0.95em;
	color:white;
	padding:5px;
	background:#19bcb9;
}
.logo{
margin:15px 0px 25px 0px;
}
nav.top-bar{
background:white;
border-bottom: 1px solid lighten($basedark-color,50);
}
.nav-container .top-bar{
  background:none;
  position:relative;

 }
.top-bar-section ul {
    background: none;
    font-size:em-calc(18);
    padding-left:0px;

    }

.top-bar-section ul li > a{
   background: none;
   text-decoration:none;
   }

.top-bar-section>ul>li  {

     a:not(.button){
          background: none;
            font-weight:300;
            color:$basedark-color;
           }
      &.highlight{background:$secondary-color;
      >a:not(.button){color:#FFF;}}


    a:hover:not(.button){
 		color:#FFF;
    background-color:$primary-color;
    width:auto;
       }
       &.highlight a:hover:not(.button){background-color:darken($secondary-color,15%);}
      &.active{background-color:$primary-color;
        >a{color:#FFF}}
      }

 .top-bar-section .has-dropdown > a {padding-right:15px !important}

//MEGAMENU

.top-bar-section>ul>.has-dropdown{position:relative;
  >ul{border: 4px solid $text-color;
    z-index:999;
      @extend .shadow;
      background:#FFF;
        >li:not(.title):not(.label){display:block; width:100%;

        >a{border-bottom:1px dotted $text-color; font-size:em-calc(10); font-weight:bold}
          }
        li.label label{background:#fff;}
        .has-dropdown .dropdown{display:block; position:relative; font-size:em-calc(13)}

      }
li a:after{content:none !important}

}
.top-bar-section>ul>.has-dropdown.megamenu{position: static;
>ul>li:not(.title):not(.label){width:16.6%;}
}
.top-bar-section .dropdown li .dropdown{left:0}
.top-bar-section> .highlight a:not(.button) {color:$text-color; font-size:em-calc(12)}


	//breadcrumbs
	.breadcrumbs{padding:0.2em 0.45em 0.15em; font-size:em-calc(11);
    ul, li{list-style:none; float:left}
    a{text-decoration:none; color: lighten($text-color, 30%); margin-right:em-calc(5px)}
    a:after{
      content:"  >";
    }
    li:last-child a{color:$text-color}
    li:last-child a:after{content:"";}
  }

//FANEBLADE
  .row.sections{padding:0 $column-gutter / 2;}
  .section-container.auto > section > .title,
  .section-container.auto > section > .title.active {border:1px solid lighten($basedark-color,50); border-bottom:1px solid lighten($basedark-color,50) !important}
  .section-container.auto > section:first-child > .title{@include side-radius(left);}
 .section-container.auto > section:last-child > .title{@include side-radius(right);}
.section-container.auto > section> .content{padding:15px 0px;}

 //slide
 //.orbit-container .orbit-slides-container img {}

 // indhold
[class*="block-grid-3"] > li img{ border:1px solid #c1cbd3; margin-top:28px;}
.knap
{
	padding:.38em 1.25em; border-top:none;
  	 a{
  	   display:block;
       color:black;
       background:url('../img/errow.png') no-repeat right ;
       height:29px;
       font-weight:500; }
}

//produkter forside
[class*="block-grid-4"] > li img{ border:none; margin-top:25px;

.knap-1{
	padding:.38em .25em; border:none;
  	 @extend .icons-errow;
  	   display:block;
       color:#69737c;

        background-size:20px 20px;
       height:29px;
       font-weight:500;
       }
}

.produkt{
border:1px solid #c1cbd3;
transition: all 200ms ease-out 0s;
.panel{margin-bottom:0;padding:.7em;}


}
.produkt:hover, .produkt:focus{box-shadow: 0px 0px 6px 1px rgba(43, 166, 203, 0.5);border: 1px solid black;
.panel{background-color:#ff9933;color:white;}}
.menu-2{background:white; border: 1px solid #c1cbd3;

}



.sub-menu{
font-family:arial;
display:block;
width: auto;
margin: -0.25em 0 1.125em;
padding-top: 0.35em;
margin-right: 0;
margin-left: -0.5625em;
list-style:none;
font-size:11px;
color:#4c82c0;
 li{
 float: left;
display: inline;
margin-left: 1.8em;
margin-bottom: 0.625em;
font-weight: normal;
margin-top: .5em;
}
  a{
      display: block;
      margin-right: 4px;
      padding: 0em 0.5em 0.5em 35px;
      position: relative;
      height:1.9em;
    }
    .lev {
                @extend .icons-bil;
            }
    .garanti {
                @extend .icons-cal;
                height:2em;
            }
    .auto {
                @extend .icons-stjernetop;

            }
      .tlf  {
                @extend .icons-telefon;

            }
}

.filter{
 h5{
      display:block;

      color:white;
      margin:0;
      padding:6px;
      text-align:center;
      font-weight:normal;
      }
    ul{list-style:none;}

}
.downarrowdiv:after{


      /*arrow */
content:'';
display:block;
position:absolute;
left:45%;
width:0;
height:0;
border-color:$secondary-color transparent transparent transparent;
border-style: solid;
border-width: 4px;
}
.ur{
  @extend .icons-fur;
  PADDING-left: 30px;
margin-top: 10px;
}
.rund{
    @extend .icons-frund;
  PADDING-left: 30px;
}

.blue{margin-bottom:30px;}
.trust{border:1px solid #c1cbd3; }

.soeg .button{color:#FFF; padding-left:5px !important; line-height:0.125em;}

.linkbox a{position: relative; display:block;
  span{position: absolute;  bottom:0px; left:0px; width:100%; padding:5px; background-color:rgba(30,30,30,0.5); color:#FFF; text-align:center}
}
.readmore{
  .moretxt{display:none}
}

table{border:none}
