﻿<!--@Ecom:CustomerCenter.Menu-->

<!--@If Defined(Ecom:CustomerCenter.FrequentlyBoughtItems.NoProducts)-->
	<strong>No products found</strong>
<!--@EndIf(Ecom:CustomerCenter.FrequentlyBoughtItems.NoProducts)-->

<!--@If Not Defined(Ecom:CustomerCenter.FrequentlyBoughtItems.NoProducts)-->
    <!--@LoopStart(FrequentlyBoughtItems)-->
	    <!--@HeaderStart-->
	    <table cellpadding="4" cellspacing="0" border="0" width="100%">
	    <colgroup>
            <col width="50px" align="left" />
		    <col width="200px" align="left" />
		    <col width="100" align="right" />
             <col width="100px" align="right" />
	    </colgroup>
        <thead>
            <tr class="CustomerCenterMenu">
                <td style="background-color: Gray;">ID</td>
                <td style="background-color: Gray;">Product Name</td>
                <td style="background-color: Gray;">Product Quantity</td>
                <td style="background-color: Gray;"></td>
             </tr> 
        </thead>    		
        <tbody>
	    <!--@HeaderEnd-->
	    <tr>
            <td><!--@Ecom:Product.ID--></td>
		    <td><!--@Ecom:Product.Name--></td>
		    <td><!--@Ecom:FrequentlyBoughtItems.Quantity--></td>
            <td><a href="<!--@Ecom:FrequentlyBoughtItems.DetailsURL-->" title="View this product">View</a>&nbsp;</td>
	    </tr>
	    <!--@FooterStart-->
        </tbody>
	    </table>
	    <!--@FooterEnd-->
    <!--@LoopEnd(FrequentlyBoughtItems)-->
<!--@EndIf(Ecom:CustomerCenter.FrequentlyBoughtItems.NoProducts)-->