<div id="productdetails">
    <h3><!--@Ecom:Product.Name--></h3>
    <!--@If Defined(Ecom:Product.ImageLarge.Default.Clean)-->
        <a href="<!--@Ecom:Product.ImageLarge.Default.Clean-->" target="_blank">
            <!--@Ecom:Product.ImageMedium.Default-->
        </a>
    <!--@EndIf(Ecom:Product.ImageLarge.Default.Clean)-->
    <!--@If Not Defined(Ecom:Product.ImageLarge.Default.Clean)-->
            <!--@Ecom:Product.ImageMedium.Default-->
    <!--@EndIf(Ecom:Product.ImageLarge.Default.Clean)-->
    <span class="price">
        <!--@Ecom:Product.Price-->
    </span>
    <span class="shortdescription"><!--@Ecom:Product.ShortDescription--></span>
    <span class="longdescription"><!--@Ecom:Product.LongDescription--></span>
</div>