<fieldset style="border-right: 1px dashed; border-top: 1px dashed; border-left: 1px dashed;
    border-bottom: 1px dashed">
    <table cellpadding="0" cellspacing="0" border="0" height="100%" style="margin-left: 10px;">
        <tr>
            <td width="70" style="height: 19px">
                Order ID:
            </td>
            <td style="height: 19px">
                <!--@Ecom:Order.ID-->
            </td>
        </tr>
        <tr>
            <td>
                Order date:
            </td>
            <td>
                <!--@Ecom:Order.Date-->
            </td>
        </tr>	
        <tr>
            <td colspan="2" style="border-top: 1px dashed black;">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                Customer company:
            </td>
            <td>
                <!--@Ecom:Order.Customer.Company-->
            </td>
        </tr>
        <tr>
            <td>
                Att.:
            </td>
            <td>
                <!--@Ecom:Order.Customer.Name-->
            </td>
        </tr>
        <tr>
            <td>
                Customer address:
            </td>
            <td>
                <!--@Ecom:Order.Customer.Address-->
            </td>
        </tr>
        <tr>
            <td>
                Postal code / City:
            </td>
            <td>
                <!--@Ecom:Order.Customer.Zip-->
                &nbsp;<!--@Ecom:Order.Customer.City-->
            </td>
        </tr>
        <tr>
            <td>
                Country:
            </td>
            <td>
                <!--@Ecom:Order.Customer.Country-->
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td>
                <!--@Ecom:Order.Customer.Email-->
            </td>
        </tr>
        <tr>
            <td>
                Phone:
            </td>
            <td>
                <!--@Ecom:Order.Customer.Phone-->
            </td>
        </tr>
        <tr>
            <td colspan="2">
            </td>
        </tr>
    </table>
    <table border="0" cellpadding="2" cellspacing="0" width='97%' style="margin-left: 10px;">
        <tr>
            <td colspan="5" style="border-bottom: 1px dashed black;">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td width="5%">
                Quantity</td>
            <td width="20%">
                Product nr.</td>
            <td width="45%">
                Description</td>
            <td width="15%" align="right">
                Unit price</td>
            <td width="15%" align="right">
                Total price</td>
        </tr>
        <tr>
            <td colspan="5" style="border-top: 1px dashed black;">
                &nbsp;
            </td>
        </tr>
        <!--@LoopStart(OrderLines)-->
            <tr style='height: 25px;'>
                <td>
                    <!--@Ecom:Order:OrderLine.Quantity-->
                </td>
                <td>
                    <!--@Ecom:Order:OrderLine.ProductNumber-->
                </td>
                <td>
                    <!--@Ecom:Order:OrderLine.ProductName.Short-->
                    <!--@If Defined(Ecom:Order:OrderLine.ProductVariantText)-->
                        <br />
                        <!--@Ecom:Order:OrderLine.ProductVariantText-->
                    <!--@EndIf(Ecom:Order:OrderLine.ProductVariantText)-->
                </td>
                <td align="right">
                    <!--@Ecom:Order:OrderLine.UnitPrice-->
                </td>
                <td align="right">
                    <!--@Ecom:Order:OrderLine.TotalPrice-->
                </td>
            </tr>
        <!--@LoopEnd(OrderLines)-->
        <tr>
            <td colspan="5" style="border-top: 1px dashed black;">
                &nbsp;
            </td>
        </tr>
        <tr style='height: 25px;'>
            <td colspan="2">
                &nbsp;
            </td>
            <td>
                Total price excluding VAT
            </td>
            <td>
                &nbsp;
            </td>
            <td align="right">
                <!--@Ecom:Order.PriceWithoutFees.PriceWithoutVATFormatted-->
            </td>
        </tr>
        <tr style='height: 25px;'>
            <td colspan="2">
                &nbsp;
            </td>
            <td>
                Payment
                <!--@If Defined(Ecom:Order.PaymentMethod)-->
                    &nbsp;: <span class='disableText' style='font-size: 9px;'>(<!--@Ecom:Order.PaymentMethod-->)</span>
                <!--@EndIf(Ecom:Order.PaymentMethod)-->
            </td>
            <td>
                &nbsp;
            </td>
            <td align="right">
                <!--@Ecom:Order.PaymentFee.PriceFormatted-->
            </td>
        </tr>
        <tr style='height: 25px;'>
            <td colspan="2">
                &nbsp;
            </td>
            <td>
                Shipping
                <!--@If Defined(Ecom:Order.ShippingMethod)-->
                    &nbsp;: <span class='disableText' style='font-size: 9px;'>(<!--@Ecom:Order.ShippingMethod-->)</span>
                <!--@EndIf(Ecom:Order.ShippingMethod)-->
            </td>
            <td>
                &nbsp;
            </td>
            <td align="right">
                <!--@Ecom:Order.ShippingFee.PriceFormatted-->
            </td>
        </tr>
        <tr style='height: 25px;'>
            <td colspan="2">
                &nbsp;
            </td>
            <td>
                Sub-total excluding VAT
            </td>
            <td>
                &nbsp;
            </td>
            <td align="right">
                <!--@Ecom:Order.Price.PriceWithoutVATFormatted-->
            </td>
        </tr>
        <tr style='height: 25px;'>
            <td colspan="2">
                &nbsp;
            </td>
            <td>
                VAT
            </td>
            <td>
                &nbsp;
            </td>
            <td align="right">
                <!--@Ecom:Order.Price.VATFormatted-->
            </td>
        </tr>
        <tr style='height: 25px;'>
            <td colspan="2">
                &nbsp;
            </td>
            <td>
                <span style="font-weight: bold;">Total price including VAT</span>
            </td>
            <td>
                &nbsp;
            </td>
            <td align="right">
                <span style="font-weight: bold;">
                    <!--@Ecom:Order.Price.PriceFormatted-->
                </span>
            </td>
        </tr>
    </table>
</fieldset>
