<!--@Ecom:CustomerCenter.Menu-->
<link rel="stylesheet" type="text/css" href="/Files/Templates/Ecom/CustomerCenter/OrderList.css" />
<table cellpadding="4" cellspacing="0" border="0" width="100%">
    <colgroup>
        <col width="100px" align="left" />
        <col align="left" />
        <col width="100px" align="right" />
        <col width="100px" />
        <col width="100px" />
        <col width="70px" align="right" />
    </colgroup>
    <thead>
        <tr class="CustomerCenterMenu">
            <td>Date
                <!--@Ecom:CustomerCenter.SortByDate.Desc-->
                <!--@Ecom:CustomerCenter.SortByDate.Asc-->
            </td>
            <td>Order ID
                <!--@Ecom:CustomerCenter.SortByID.Desc-->
                <!--@Ecom:CustomerCenter.SortByID.Asc-->
            </td>
            <td>Price
				<!--@Ecom:CustomerCenter.SortByPrice.Desc-->
                <!--@Ecom:CustomerCenter.SortByPrice.Asc-->
            </td>
            <td>Payment
                <!--@Ecom:CustomerCenter.SortByPaymentMethod.Desc-->
                <!--@Ecom:CustomerCenter.SortByPaymentMethod.Asc-->
            </td>
            <td>Fraight
                <!--@Ecom:CustomerCenter.SortByShippingMethod.Desc-->
                <!--@Ecom:CustomerCenter.SortByShippingMethod.Asc-->
            </td>
            <td align="right">
				<a href="/Admin/Public/CustomerCenter/ExcelExport.aspx" title="Excel">
					<img border="0" src="/Files/Templates/eCom/CustomerCenter/Images/ExcelIcon.gif" />
				</a>                
            </td>
        </tr>
    </thead>
    <tbody>
        <!--@If Defined(Ecom:CustomerCenter.Orders.EmptyList)-->
		<tr id="trNoOrdersFound"> 
		    <td colspan="6"><strong>No orders found</strong></td>
        </tr>
		<!--@EndIf(Ecom:CustomerCenter.Orders.EmptyList)-->
		
		<!--@If Not Defined(Ecom:CustomerCenter.Orders.EmptyList)-->
		
        <!--@LoopStart(Orders)-->
		<tr class="<!--@Ecom:CustomerCenter.Paging.EvenRowClass-->">
		    <td><a href="<!--@Ecom:CustomerCenter.Orders.OrderDetailsURL-->"><!--@Ecom:Order.Date-->&nbsp;</a></td>
		    <td><a href="<!--@Ecom:CustomerCenter.Orders.OrderDetailsURL-->"><!--@Ecom:Order.ID-->&nbsp;</a></td>
		    <td><!--@Ecom:Order.OrderLines.Total.Price-->&nbsp;</td>
		    <td><!--@Ecom:Order.PaymentMethod-->&nbsp;</td>
		    <td><!--@Ecom:Order.ShippingMethod-->&nbsp;</td>
		    
			<td>
				<a href="<!--@Ecom:Order.ReorderID-->"><img alt="" id="ResendOrderImage" src="/Files/Templates/eCom/CustomerCenter/Images/ReCycle.gif" title="Reorder" style="border:0;" /></a>&nbsp;
				<a target="_blank" href="<!--@Ecom:CustomerCenter.Orders.PrintOrderURL-->"><img src="/Files/Templates/eCom/CustomerCenter/Images/Print.gif" alt="Print" width="16" height="16" style="border:0;" /></a>
				<a href="<!--@Ecom:CustomerCenter.Orders.MailOrderURL-->"><img src="/Files/Templates/eCom/CustomerCenter/Images/email.gif" alt="Email" width="16" height="16" style="border:0;" /></a>
			</td>
        </tr>
        <!--@LoopEnd(Orders)-->
        
        <!--@If Defined(Ecom:CustomerCenter.Orders.Paging.Show)-->
        <tr>
            <td align="center" colspan="6" valign="top">
                <!--@If Defined(Ecom:CustomerCenter.Paging.Back.URL)-->
		        <a href="<!--@Ecom:CustomerCenter.Paging.Back.URL-->"><!--@Ecom:CustomerCenter.Paging.Back--></a>
	            <!--@EndIf(Ecom:CustomerCenter.Paging.Back.URL)-->

	            <!--@If Defined(Ecom:CustomerCenter.Paging.HasPages)-->
	            &nbsp;&nbsp;
	            <!--@LoopStart(Ecom:CustomerCenter.Paging.Pages)-->
	            <a class="<!--@Ecom:CustomerCenter.Paging.PageClass-->" href="<!--@Ecom:CustomerCenter.Paging.PageIndexUrl-->"><!--@Ecom:CustomerCenter.Paging.PageIndex--></a>&nbsp;
	            <!--@LoopEnd(Ecom:CustomerCenter.Paging.Pages)-->
				&nbsp;&nbsp;
				<!--@EndIf(Ecom:CustomerCenter.Paging.HasPages)-->
				
	            <!--@If Defined(Ecom:CustomerCenter.Paging.Forward.URL)-->
	            <a href="<!--@Ecom:CustomerCenter.Paging.Forward.URL-->"><!--@Ecom:CustomerCenter.Paging.Forward--></a>
	            <!--@EndIf(Ecom:CustomerCenter.Paging.Forward.URL)-->
            </td>
        </tr>
        <tr>
			<td align="center" colspan="6">
				Page&nbsp;<!--@Ecom:CustomerCenter.Paging.CurrentPage-->&nbsp;of&nbsp;<!--@Ecom:CustomerCenter.Paging.NumPages-->
			</td>
        </tr>
        <!--@EndIf(Ecom:CustomerCenter.Orders.Paging.Show)--> 
        
        <!--@EndIf(Ecom:CustomerCenter.Orders.EmptyList)-->
    </tbody>
</table>