<!--@Ecom:CustomerCenter.Menu-->
<link rel="stylesheet" type="text/css" href="/Files/Templates/Ecom/CustomerCenter/css/RMAList.css" />

<div style="position:relative; float:left; width: 640px;">
<H2>Return Merchandise Authorization</H2>
<br />
<table cellpadding="4" cellspacing="0" border="0" width="100%">
    <tr><td align="right"><a href="<!--@Ecom:CustomerCenter.RMA.AddURL-->">Add New Request</a></td></tr>
</table>
<table cellpadding="4" cellspacing="0" border="0" width="100%">
    <colgroup>
        <col width="80px" align="left" />
        <col width="80px" align="left" />
        <col width="120px" align="left" />
        <col />
        <col width="100px" align="right" />
    </colgroup>
    <thead>
        <tr class="CustomerCenterMenu">
            <td style="background-color: Gray;">Date
                <!--@Ecom:CustomerCenter.SortByDate.Desc-->
                <!--@Ecom:CustomerCenter.SortByDate.Asc-->
            </td>
            <td style="background-color: Gray;">RMA ID
                <!--@Ecom:CustomerCenter.SortByID.Desc-->
                <!--@Ecom:CustomerCenter.SortByID.Asc-->
            </td>
            <td style="background-color: Gray;">Order ID
                <!--@Ecom:CustomerCenter.SortByOrderID.Desc-->
                <!--@Ecom:CustomerCenter.SortByOrderID.Asc-->
            </td>
            <td style="background-color: Gray;">Status
				<!--@Ecom:CustomerCenter.SortByStatus.Desc-->
                <!--@Ecom:CustomerCenter.SortByStatus.Asc-->
            </td>
            <td style="background-color: Gray;"></td>
        </tr>
    </thead>
    <tbody>
        <!--@If Defined(Ecom:CustomerCenter.RMA.EmptyList)-->
		<tr id="trNoOrdersFound"> 
		    <td colspan="5"><strong>No rmas found</strong></td>
        </tr>
		<!--@EndIf(Ecom:CustomerCenter.RMA.EmptyList)-->
		
		<!--@If Not Defined(Ecom:CustomerCenter.RMA.EmptyList)-->
		
        <!--@LoopStart(RMAs)-->
		<tr class="<!--@Ecom:CustomerCenter.Paging.EvenRowClass-->">
		    <td><a href="<!--@Ecom:RMA.DetailsURL-->"><!--@Ecom:RMA.Date-->&nbsp;</a></td>
            <td><a href="<!--@Ecom:RMA.DetailsURL-->"><!--@Ecom:RMA.ID-->&nbsp;</a></td>
		    <td><a href="<!--@Ecom:RMA.DetailsURL-->"><!--@Ecom:RMA.OrderID-->&nbsp;</a></td>
		    <td><B><!--@Ecom:RMA.Status-->&nbsp;<BR />
            </td>
			<td>
				<a href="<!--@Ecom:RMA.DetailsURL-->" title="View return merchandise authorization">View</a>&nbsp;
                <!--@If Defined(Ecom:RMA.HasCancel)-->
				    <a href="<!--@Ecom:RMA.CancelURL-->" title="View return merchandise authorization" onclick="return confirm('Are you sure to cancel request?');">Cancel</a>
                <!--@EndIf(Ecom:RMA.HasCancel)-->
			</td>
        </tr>
        <!--@LoopEnd(RMAs)-->
        
        <!--@If Defined(Ecom:CustomerCenter.RMA.Paging.Show)-->
        <tr>
            <td align="center" colspan="6" valign="top">
                <!--@If Defined(Ecom:CustomerCenter.Paging.Back.URL)-->
		        <a href="<!--@Ecom:CustomerCenter.Paging.Back.URL-->"><!--@Ecom:CustomerCenter.Paging.Back--></a>
	            <!--@EndIf(Ecom:CustomerCenter.Paging.Back.URL)-->

	            <!--@If Defined(Ecom:CustomerCenter.Paging.HasPages)-->
	            &nbsp;&nbsp;
	            <!--@LoopStart(Ecom:CustomerCenter.Paging.Pages)-->
	            <a class="<!--@Ecom:CustomerCenter.Paging.PageClass-->" href="<!--@Ecom:CustomerCenter.Paging.PageIndexUrl-->"><!--@Ecom:CustomerCenter.Paging.PageIndex--></a>&nbsp;
	            <!--@LoopEnd(Ecom:CustomerCenter.Paging.Pages)-->
				&nbsp;&nbsp;
				<!--@EndIf(Ecom:CustomerCenter.Paging.HasPages)-->
				
	            <!--@If Defined(Ecom:CustomerCenter.Paging.Forward.URL)-->
	            <a href="<!--@Ecom:CustomerCenter.Paging.Forward.URL-->"><!--@Ecom:CustomerCenter.Paging.Forward--></a>
	            <!--@EndIf(Ecom:CustomerCenter.Paging.Forward.URL)-->
            </td>
        </tr>
        <tr>
			<td align="center" colspan="6">
				Page&nbsp;<!--@Ecom:CustomerCenter.Paging.CurrentPage-->&nbsp;of&nbsp;<!--@Ecom:CustomerCenter.Paging.NumPages-->
			</td>
        </tr>
        <!--@EndIf(Ecom:CustomerCenter.RMA.Paging.Show)--> 
        
        <!--@EndIf(Ecom:CustomerCenter.RMA.EmptyList)-->
    </tbody>
</table>
</div>