<!--@Ecom:CustomerCenter.Menu-->
<!--@Ecom:CustomerCenter.SearchJavascript-->
<!--@Ecom:CustomerCenter.SearchForm.Begin-->
<table cellpadding="2" cellspacing="0" style="width: 100%;">
	<colgroup>
		<col width="100px" />
		<col />
	</colgroup>
	<tr>
		<td>Text</td>
		<td>
			<input type="text" style="width: 100%" name="CCFilterFreetext<!--@Ecom:CustomerCenter.PID-->" value="<!--@Ecom:CustomerCenter.Search.Freetext-->" />
		</td>
	</tr>
	<tr>
		<td><strong>Products</strong></td>
		<td>
			<select name="CCFilterProductID<!--@Ecom:CustomerCenter.PID-->" style="width: 100%;">
				<option value="">Any product</option>
				<!--@Ecom:CustomerCenter.Search.Products-->
			</select>
		</td>
	</tr>	
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr><td colspan="2"><strong>Date interval</strong></td></tr>
	<tr>
		<td>From</td>
		<td>
			<select name="CCFilterFromMonth<!--@Ecom:CustomerCenter.PID-->">
				<option value="">Any month</option>
				<!--@Ecom:CustomerCenter.Search.MonthNames.From-->
			</select>
			&nbsp;
			<select name="CCFilterFromYear<!--@Ecom:CustomerCenter.PID-->">
				<option value="">Any year</option>
				<!--@Ecom:CustomerCenter.Search.Years.From-->
			</select>
		</td>
	</tr>
	<tr>
		<td>To</td>
		<td>
			<select name="CCFilterToMonth<!--@Ecom:CustomerCenter.PID-->">
				<option value="">Any month</option>
				<!--@Ecom:CustomerCenter.Search.MonthNames.To-->
			</select>
			&nbsp;
			<select name="CCFilterToYear<!--@Ecom:CustomerCenter.PID-->">
				<option value="">Any year</option>
				<!--@Ecom:CustomerCenter.Search.Years.To-->
			</select>		
		</td>
	</tr>

	<tr><td colspan="2">&nbsp;</td></tr>
	<tr><td colspan="2"><strong>Order amount</strong></td></tr>
	<tr>
		<td>From</td>
		<td><input type="text" name="CCFilterFromAmount<!--@Ecom:CustomerCenter.PID-->" onkeypress="return numbersOnly(this, event);" value="<!--@Ecom:CustomerCenter.Search.FromAmount-->" /></td>
	</tr>
	<tr>
		<td>To</td>
		<td><input type="text" name="CCFilterToAmount<!--@Ecom:CustomerCenter.PID-->" onkeypress="return numbersOnly(this, event);" value="<!--@Ecom:CustomerCenter.Search.ToAmount-->" /></td>
	</tr>

	<tr>
		<td colspan="2">
			<input type="button" onclick="javascript: CustomerCenterPerformSearch();" value="Search" />
			<input type="button" onclick="javascript: CustomerCenterClearSearch();" value="Clear" />
		</td>
	</tr>	
</table>
<!--@Ecom:CustomerCenter.SearchForm.End-->