<!--@Ecom:CustomerCenter.SelectEmail.Javascript-->
Select the mail addresses that you want to send to or enter a new address
<table cellpadding="2" cellspacing="0" border="0">
	<!--@LoopStart(EMailAddresses)-->
	<tr>
		<td><input type="checkbox" name="EmailListEntry" id="EmailListEntry_<!--@Ecom:CustomerCenter.EMailList.EmailIndex-->" value="<!--@Ecom:CustomerCenter.EMailList.Email-->" /></td>
		<td><label for="EmailListEntry_<!--@Ecom:CustomerCenter.EMailList.EmailIndex-->"><!--@Ecom:CustomerCenter.EMailList.Email--></label></td>
	</tr>
	<!--@LoopEnd(EMailAddresses)-->
	<tr>
		<td>Other</td>
		<td>
			<input style="width: 170px;" type="text" name="EmailListEntryOther" id="txtEmailListEntryOther" />
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
			<button style="width: 80px;" onclick="javascript: doSpecifyEmailOK();">OK</button>
			<button style="width: 80px;" onclick="javascript: doSpecifyEmailCancel();">Cancel</button>
		</td>
	</tr>
</table>