<form name="pink" method="post" enctype="multipart/form-data" action="<!--@News:Edit.Href-->">
    <table style="width: 300px;">
        <tr>
            <td>


                    <table border="0" cellspacing="0" cellpadding="2" width="100%" id="Table1">
                        <tr>
                            <td>
                                Navn</td>
                            <td>
                                <!--@NewsHeading_ctrl-->
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                Besked</td>
                            <td>
                                <!--@NewsManchet_ctrl-->
                            </td>
                            <td>

                            </td>
                        </tr>

                    </table>

            </td>
        </tr>
        <tr align="right">
            <td><input class="FrontendButton" id="Submit" name="Submit" type="submit" value="Lav opslaget!" />

            </td>
        </tr>
    </table>
    <input type="hidden" name="IsPostBack" value="<!--@News:IsPostBack-->" />
<!--@DwTemplateTags-->
</form>
<br />