            .wrapper-outer-page {
                width:760px;    
                margin:0 auto;
                padding: 20px;
                padding-bottom: 40px;
                background: #00b0f0; 
            }
            .wrapper-page {
                min-height:910px;
                padding: 40px;
                position:relative;
            }
            
            .first-page {}
            .first-page h1 {
                margin-top: 400px;
                color: white;
                font-size: 40px;
                text-align: center;
            }
            .footer-page {
                background: white;
                bottom: 0;
                height: 100px;
                left: -20px;
                line-height: 22px;
                margin-bottom: -40px;
                position: absolute;
                width: 800px;   
                text-align: right;
            }
            .footer-page b {
                color: #444;
            }
            .footer-page img {
                margin-top: 30px;
                margin-right: 20px;
            }