            .wrapper-outer-page {
                width:760px;    
                margin:0;
                padding: 20px;
                padding-top: 0;
                padding-bottom: 40px;
                /*background: #e1e8f5;*/
            }
            .wrapper-page {
                padding: 40px;
                padding-bottom: 0;
                position:relative;
                background-color: white;
                /*border: 1px solid #0b9eda;*/
                border-top: none;
            }
            
            .footer-page {
                height: 22px;
                margin-bottom: 40px;
                line-height: 22px;
            }
            .footer-page b {
                color: #444;
            }
            .footer-page span {
                display: block;
                text-align: center;
            }