  .wrapper-outer-page {
                width:760px;    
                margin:0 auto;
                padding: 20px;
                padding-bottom: 0;
                /*background: #e1e8f5;*/
            }
            .wrapper-page {
                padding: 40px;
                padding-bottom: 0;
                position:relative;
                background-color: white;
                /*border: 1px solid #0b9eda;*/
                border-bottom: none;
            }
            
            .header-page {
                height:100px;
            }
            .header-page h1 {}
            .header-page ul { margin-top: 10px; }
            .header-page ul li {
                margin-top: 5px;
            }
            .header-page ul li b {
                min-width: 60px;
                display: inline-block;
                color: #444;
            }
            .body-page {
                padding-bottom: 20px;
            }
            .body-page-heading {
                clear: both;
                float: none;
                height: 25px;
                padding-top: 10px;
                margin-bottom: 0;
                border-bottom: 1px solid #0b9eda;
            }
            .body-page-heading .right {
                float: right;
                width: 200px;
                line-height: 20px;
                text-align: right;
            }
            .body-page-heading .left {
                float: left;
                width: 200px;
                line-height: 20px;
                text-align: left;
            }
			.collumn .count {
                float: left;
                min-width: 90px;
                text-align: right;
            }
            .collumn .price {
                float: right;
                min-width: 100px;
            }