 .wrapper-outer-page {
                width:760px;    
                margin:0 auto;
                padding: 20px;
                padding-bottom: 40px;
                background: #00b0f0; 
            }
            .wrapper-page {
                min-height:910px;
                padding: 40px;
                position:relative;
            }
            
            .last-page {}
            .last-page h1 {
                margin-top: 750px;
                color: white;
                font-size: 24px;
                margin-bottom: 10px;
            }
            .last-page ul {
                color: white;
                font-size: 12px;
            }
            .last-page ul li {
                margin-bottom: 5px;
            }
            .last-page ul li b {
                min-width: 60px;
                display: inline-block;
                color: #333;
            }
            .footer-page {
                background: white;
                bottom: 0;
                height: 100px;
                left: -20px;
                line-height: 22px;
                margin-bottom: -40px;
                position: absolute;
                width: 800px;   
                text-align: right;
            }
            .footer-page b {
                color: #444;
            }
            .footer-page img {
                margin-top: 30px;
                margin-right: 20px;
            }