            .wrapper-outer-page {
                width:760px;    
                margin:0 auto;
                padding: 20px;
                padding-top: 0;
                padding-bottom: 0;
                /*background: #e1e8f5;*/
            }
            .wrapper-page {
                min-height:140px;
                padding: 40px;
                padding-top: 0;
                padding-bottom: 0;
                position:relative;
                background-color: white;
                /*border: 1px solid #0b9eda;*/
                border-bottom: none;
                border-top: none;
            }
            .body-page {
                min-height:140px;
                overflow: auto;
            }
            .body-page-heading {
                clear: both;
                float: none;
                height: 25px;
                padding-top: 10px;
                margin-bottom: 25px;
                border-bottom: 1px solid #0b9eda;
            }
            .body-page-heading .right {
                float: right;
                width: 125px;
                line-height: 20px;
                text-align: right;
            }
            .body-page-heading .left {
                float: left;
                width: 200px;
                line-height: 20px;
                text-align: left;
            }
            .product {
                clear: both;
                overflow: hidden;
                height: 140px;
            }
            .product .image {
                float: left;
                width: 170px;
                height: 125px;
                margin-right: 10px;
                border-radius: 3px;
                overflow: hidden;
            }
            .product .image img {
                border: 5px solid #385d8a;
                border-radius: 3px;
            }
            .product .title {
                width: 300px;
                float: left;
            }
            .product .title h3 {
                margin-bottom: 10px;
            }
            .product .title div {
                line-height: 18px;
            }
            .product .title div.link {}
            .product .title div.link a {
                color: #0b9eda;
            }
            .product .title div.description {
                overflow: hidden;
                height: 75px;
            }
            .product .count {
                float: left;
                min-width: 75px;
                text-align: right;
            }
            .product .count input {
                width: 60px;
                min-width: 60px;
            }
            .product .price {
                float: right;
                vertical-align:middle;
                min-width: 120px;
            }
            .product .price input 
            {
                text-align:right;
                width: 70px;
                min-width: 70px;
            }
            
            .product .price .p {
                text-align: right;
                display: block;
                margin-bottom: 20px;
            }
            .product .price .u {
                text-align: right;
                display: block;
            }
            
            .valid, .total {
                margin: 15px 0 0;
                padding-bottom: 10px;
                text-align: left;
                color: #444;
                height: 20px;
                line-height: 20px;
                border-bottom: 1px dotted #0B9EDA;
            }
            .valid .lable, .valid .value {}
            .valid .lable {}
            .valid .value {}
            .total {}
            .total .lable, .total .value {
                display: block;
                width: 330px;
            }
            .total .lable { float: left; }
            .total .value { 
                float: right; 
                text-align: right;
            }
            .valid b, .total b {
                font-size: 16px;
                margin-left: 20px;
            }
            .valid input, .total input {
                width: 80px;
                margin-left: 20px;
                margin-bottom: 5px;
            }
            .send {
                text-align: right;
                margin: 20px 0 10px;
            }
            .send input[type="submit"]{ 
                padding: 0px 8px; 
            }