<ul class="menutext_bottom">
	        	<li class="footer-heading-last">Nyhedsbrev</li>
				<li class="footer-list">F&aring; nyheder og gode tilbud ca. hver 3. uge</li>
	        </ul>

	        <form id="newsletterform" method="post" ENCTYPE="multipart/form-data" action="<!--@EditRecipientUrl-->" >
	        	<!--@Newsletter:Template.Version.2-->
	            <input name="AccessUserName" id="<!--@AccessUserName_ID-->" class="newsletter-field" type="text" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Indtast dit navn':this.value;" value="Indtast dit navn">
	            <input name="AccessUserEmail" id="<!--@AccessUserEmail_ID-->" class="newsletter-field" type="text" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Indtast din email':this.value;" value="Indtast din email">
	            <input id="Submit" class="newsletter-button" name="Submit" type="submit" value=" " />
	            <input type="hidden" name="IsPostBack" value="<!--@IsPostBack-->" />
	      <!--@LoopStart(CategoryLoop)-->
              <input id="Category_<!--@CategoryID-->" name="Category_<!--@CategoryID-->" type="hidden" value="true"/>
          <!--@LoopEnd(CategoryLoop)-->
	        </form>

