<!--@MasterPageFile(master.html)-->
<!--@Layout.Title(Webshop)-->
<!--@Layout.Description(Webshop skabelonen)-->
<div class="dwcontent col5 clearfix" id="sidebarL" title="Sidebar" settings="limit:leftmenu.html;"></div>
<div class="col11 clearfix">
    <div class="offsetL">
        <!--@If Not Defined(Server:Request.groupid)-->
        <div id="ph02b" class="dwcontent" title="Intro tekst" settings="template:0_index.html;limit:0_index.html,module.html,groupmenu.html;"></div>
        <!--@EndIf(Server:Request.groupid)-->
        <div id="ph02a" class="dwcontent" title="Produkter" settings="template:module.html;limit:module.html;"></div>
    </div>
</div>