﻿<!--@LoopStart(Products)-->
    <!--@HeaderStart-->
        <div id="productlist" class="row margin">

            <div class="large-12 columns">

                 <ul class="large-block-grid-3 small-block-grid-2">
    <!--@HeaderEnd-->

    <li>
    <div class="panel">

     <a href="default.aspx?ID=<!--@Global:Page.Top.ID-->&ProductID=<!--@Ecom:Product.ID.UrlEncoded-->" class="imglink"><img src="/Admin/Public/GetImage.ashx?Image=Images/Produktbilleder/<!--@Ecom:Product.Number-->.jpg&amp;height=200&amp;Width=250&amp;crop=5&amp;altFmImage_path=Images/Produktbilleder/noimg.png" alt="" title="<!--@Ecom:Product.Name-->"></a>
     <a href="default.aspx?ID=<!--@Global:Page.Top.ID-->&ProductID=<!--@Ecom:Product.ID.UrlEncoded-->" title="<!--@Ecom:Product.Name-->"><!--@Ecom:Product.Name--></a>
     <div class="prodtext"><!--@Ecom:Product:Field.B2CText--></div>
<div class="row">
  <div class="small-12 columns">
     <span class="price">kr. <!--@Ecom:Product.Price.Price--></span>
     <span class="freighttext">
      <!--@If(Ecom:Product.Price.PricePIP > Item.Area.Frightlimit)-->
      <img src="files/templates/designs/2014/img/fragtbil.jpg" title="fragtfrit"/> Fragtfri levering
      <!--@Else-->
        inkl. moms ekskl. fragt
      <!--@EndIf-->

      </span>
      <span class="stock">
<!--@If(Ecom:Product:Field.lowstockindicator==0)-->
         <img src="http://www.dermalogica.dk/Files/System/images/dermalogica2010/ikoner_gennemgaande/lagerstatus_neg.png" title="Ikke på lager"/> Ikke på lager
        <!--@Else-->
      <img src="http://www.dermalogica.dk/Files/System/images/dermalogica2010/ikoner_gennemgaande/lagerstatus_pos.png" title="Er på lager"/> På lager
        <!--@EndIf-->
      </span>
     <a href="<!--@Ecom:Product:SavedForLater.AddToBasketLink-->" class="button secondary small  small-12 columns">Læg i kurv</a>
    </div>

   </div>
 </div>
   </li>
   <!--@FooterStart--></ul>
  </div>
</div>
<!--@FooterEnd-->
<!--@LoopEnd(Products)-->


<!--@If(Ecom:ProductList.PageProdCnt>Ecom:ProductList.PageSize)--><div class="pager ac pad6">
    <p>
    <!--@If(Ecom:ProductList.CurrentPage>1)-->
        <a class="prevp" href="<!--@Ecom:ProductList.PrevPage.Clean-->"><span>&laquo;</span></a>
    <!--@EndIf-->
    <!--@If(Ecom:ProductList.CurrentPage=1)-->
        <a class="prevp nogo" href="#"><span>&laquo;</span></a>
    <!--@EndIf-->
        <span class="pages"><!--@Translate(showsPages, "Viser side", global)--> <!--@Ecom:ProductList.CurrentPage--> <!--@Translate(showPagesOf, "af", global)--> <!--@Ecom:ProductList.TotalPages--></span>
    <!--@If(Ecom:ProductList.TotalPages>Ecom:ProductList.CurrentPage)-->
        <a class="nextp" href="<!--@Ecom:ProductList.NextPage.Clean-->"><span>&raquo;</span></a>
    <!--@EndIf-->
    <!--@If(Ecom:ProductList.TotalPages=Ecom:ProductList.CurrentPage)-->
        <a class="nextp nogo" href="#"><span>&raquo;</span></a>
    <!--@EndIf-->
    </p>
</div><!--@EndIf-->