<!--@SnippetStart(loadscripts)-->
<script src="/Files/Templates/Designs/2014/js/jquery.numberformatter.js"></script>
<!--@SnippetEnd(loadscripts)-->
<!--@SnippetStart(scriptready)-->
 var priceTotal = 0;
var thisPrice = '';

$('.stklist').each(function ()
{
 var priceTotal = 0;
var thisPrice = '';
	$(".productprice" ,$(this)).each(function() {
		priceTotal += ($(this).html() * 1/100); // The multiply forces a typecast

	});

$(this).find(".pricetotal").html(priceTotal).format({format:"#####.00", locale:"se"});

});

<!--@SnippetEnd(scriptready)-->







        <form name="multiForm" id="multiForm" class="multiForm stklist" method="post">
          <input type="hidden" name="CartCmd" id="CartCmd" value="addMulti" />






            <!--@LoopStart(Products)-->
            <div class="row collapse">
<div class="large-5 columns">     <a href="<!--@Ecom:Product.LinkGroup.Clean-->" class="imglink"><img src="/Admin/Public/GetImage.ashx?Image=Images/Produktbilleder/<!--@Ecom:Product.Number-->.jpg&amp;height=100&amp;Width=250&amp;crop=5&amp;altFmImage_path=Images/Produktbilleder/noimg.png" alt="" title="<!--@Ecom:Product.Name-->"></a></div>
<div class="prodtext large-7 columns"> <strong><!--@Ecom:Product.Name--></strong><br />
	<!--@Ecom:Product:Field.WebFeaturedText.Value--></div>


<div class="productprice" style="display:none"><!--@Ecom:Product.Price.PricePIP--></div>
        <!--@Ecom:Product.Form.Multi.HiddenFields-->
      <input class="quantityInput" type="hidden" name="Quantity<!--@Ecom:Product.LoopCounter-->"
                        value="1" tabindex="<!--@Products.LoopCounter-->" />
</div>


            <!--@LoopEnd(Products)-->

<div class="row colapse">
	<div class="large-5 columns">&nbsp;</div>
	<div class="large-7 columns">
<span class="price">kr. <span class="pricetotal"></span></span>
     <span class="freighttext">

</span>

<button class="button" onclick="javascript:multiForm_prio1.submit();">K&oslash;b produkt</button>
 <!--@Ecom:Product.Form.Clean-->
</div>

</div>
     </form>


