<h2><!--@Translate(RmaDetails, "RMA details")--></h2>

<div>
    <ul style="padding-left:0px">
        <li style="list-style-type:none;margin-left:0px;">
            <strong style="display:inline-block;width:160px;"><!--@Translate(rmaid, 'RMA ID')-->:</strong> <!--@Ecom:Rma.ID-->
        </li>
        <li style="list-style-type:none;margin-left:0px;">
            <strong style="display:inline-block;width:160px;"><!--@Translate(rmacurrentstate, 'Current state')-->:</strong> <!--@Ecom:Rma.State-->
        </li>
        <li style="list-style-type:none;margin-left:0px;">
            <strong style="display:inline-block;width:160px;"><!--@Translate(rmatype, 'Type')-->:</strong> <!--@Ecom:Rma.Type-->
        </li>
        <li style="list-style-type:none;margin-left:0px;">
            <strong style="display:inline-block;width:160px;"><!--@Translate(originalorderid, 'Original Order ID')-->:</strong> <!--@Ecom:Rma.OriginalOrderId-->
        </li>
        <!--@If Defined(Ecom:Rma.ReplacementOrderId)-->
        <li style="list-style-type:none;margin-left:0px;">
            <strong style="display:inline-block;width:160px;"><!--@Translate(replacementorderid, 'Replacement Order ID')-->:</strong> <!--@Ecom:Rma.ReplacementOrderId-->
        </li>
        <!--@EndIf(Ecom:Rma.ReplacementOrderId)-->
    </ul>
</div>

<h2 style="margin-top: 24px;"><!--@Translate(history, 'History')--></h2>

<!--@LoopStart(Ecom:Rma.Comments)-->
<div style="padding-bottom:10px;">
    <div><strong><!--@Ecom:Rma.Comment.CreatedDate.Day-->-<!--@Ecom:Rma.Comment.CreatedDate.Month-->-<!--@Ecom:Rma.Comment.CreatedDate.Year--> <!--@Ecom:Rma.Comment.CreatedDate.ShortTime--> - <!--@Ecom:Rma.Comment.Event--></strong> <!--@If Defined(Ecom:Rma.Comment.Event.isStateChanged)-->"<!--@Ecom:Rma.Comment.NewState-->"<!--@EndIf(Ecom:Rma.Comment.Event.isStateChanged)--></div>
    
    <!--@If Defined(Ecom:Rma.Comment.Text)-->
    <div><em><!--@Ecom:Rma.Comment.Text--></em></div>
    <!--@EndIf(Ecom:Rma.Comment.Text)-->

    <!-- @Ecom:Rma.Comment.id -->
    <!-- @Ecom:Rma.Comment.NewState -->
    <!-- @Ecom:Rma.Comment.Text -->
    <!-- @Ecom:Rma.Comment.created -->
    <!-- @Ecom:Rma.Comment.Event -->
</div>
<!--@LoopEnd(Ecom:Rma.Comments)-->

<h2 style="margin-top: 24px;"><!--@Translate(products, 'Product(s)')--></h2>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th width="10%" align="left" style="padding-bottom:5px;border-bottom:1px solid #eee;"><b><!--@Translate(amount, 'Amount')--></b></th>
            <th width="50%" align="left" style="padding-bottom:5px;border-bottom:1px solid #eee;"><b><!--@Translate(name, 'Name')--></b></th>
            <th width="20%" align="left" style="padding-bottom:5px;border-bottom:1px solid #eee;"><b><!--@Translate(sn, 'Serial number')--></b></th>
            <th width="20%" align="right" style="padding-bottom:5px;border-bottom:1px solid #eee;"><b><!--@Translate(price, 'Price')--></b></th>
        </tr>
    </thead>
    <tbody>
    <!--@LoopStart(Ecom:Rma.RmaOrderLines)-->
        <tr>
            <td align="left" style="padding-top:5px;"><!--@Ecom:Order:OrderLine.Quantity--></td>
            <td align="left" style="padding-top:5px;"><!--@Ecom:Order:OrderLine.ProductName.Short--></td>
            <td align="left" style="padding-top:5px;"><!--@Ecom:Order:OrderLine.SerialNumber--></td>
            <td align="right" style="padding-top:5px;"><!--@Ecom:Order:OrderLine.Price.PriceFormatted--></td>
        </tr>
    <!--@LoopEnd(Ecom:Rma.RmaOrderLines)-->
    </tbody>
</table>

<h2 style="margin-top: 24px;"><!--@Translate(customerinfo, 'Customer information')--></h2>

<table width="100%" border="0" cellspacing="0" cellpadding="0" ID="Table3">
    <tr>
        <td width="50%" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" ID="Table2">
	            <tr>
	                <td width="100%" valign="top" colspan="3"><h3><!--@Translate(RmaAddress, "Address")--></h3></td>
	            </tr>
                <!--@If Defined(Ecom:Rma.Customer.Company)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(company, "Company")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Rma.Customer.Company--></td>
	            </tr>
                <!--@EndIf(Ecom:Rma.Customer.Company)-->
                <!--@If Defined(Ecom:Rma.Customer.Name)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(name, "Name")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Rma.Customer.Name--></td>
	            </tr>
                <!--@EndIf(Ecom:Rma.Customer.Name)-->
                <!--@If Defined(Ecom:Rma.Customer.Address)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(address, "Address")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Rma.Customer.Address--></td>
	            </tr>
                <!--@EndIf(Ecom:Rma.Customer.Address)-->
                <!--@If Defined(Ecom:Rma.Customer.Address2)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(address2, "Adress 2")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Rma.Customer.Address2--></td>
	            </tr>
                <!--@EndIf(Ecom:Rma.Customer.Address2)-->
                <!--@If Defined(Ecom:Rma.Customer.City)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(zipcodetown, "Zipcode / Town")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Rma.Customer.Zip-->&nbsp;<!--@Ecom:Rma.Customer.City--></td>
	            </tr>
                <!--@EndIf(Ecom:Rma.Customer.City)-->
                <!--@If Defined(Ecom:Rma.Customer.Country)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(country, "Country")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Rma.Customer.Country--></td>
	            </tr>
                <!--@EndIf(Ecom:Rma.Customer.Country)-->
                <!--@If Defined(Ecom:Rma.Customer.Region)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(Region, "Region")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Rma.Customer.Region--></td>
	            </tr>
                <!--@EndIf(Ecom:Rma.Customer.Region)-->
                <!--@If Defined(Ecom:Rma.Customer.EAN)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(ean, "EAN")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Rma.Customer.EAN--></td>
	            </tr>
                <!--@EndIf(Ecom:Rma.Customer.EAN)-->
                <!--@If Defined(Ecom:Rma.Customer.Phone)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(phone, "Phone")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Rma.Customer.Phone--></td>
	            </tr>
                <!--@EndIf(Ecom:Rma.Customer.Phone)-->
                <!--@If Defined(Ecom:Rma.Customer.Fax)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(fax, "Fax")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Rma.Customer.Fax--></td>
	            </tr>
                <!--@EndIf(Ecom:Rma.Customer.Fax)-->
                <!--@If Defined(Ecom:Rma.Customer.Cell)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(mobile, "Mobile")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Rma.Customer.Cell-->:</td>
	            </tr>
                <!--@EndIf(Ecom:Rma.Customer.Cell)-->
                <!--@If Defined(Ecom:Rma.Customer.Email)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(email, "E-mail")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Rma.Customer.Email--></td>
	            </tr>
                <!--@EndIf(Ecom:Rma.Customer.Email)-->
            </table>
            <br><br>
        </td>
        <td width="50%" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" ID="Table4">
                <tr>
                    <td width="100%" valign="top" colspan="3"><h3><!--@Translate(deliveryaddress, "Delivery address")--></h3></td>
                </tr>
                <!--@If Defined(Ecom:Rma.Delivery.Company)-->
                <tr>
                    <td width="40%" valign="top"><!--@Translate(company	, "Company")-->:</td>
                    <td width="60%" valign="top"><!--@Ecom:Rma.Delivery.Company--></td>
                </tr>
                <!--@EndIf(Ecom:Rma.Delivery.Company)-->
                <!--@If Defined(Ecom:Rma.Delivery.Name)-->
                <tr>
                    <td width="40%" valign="top"><!--@Translate(name, "Name")-->:</td>
                    <td width="60%" valign="top"><!--@Ecom:Rma.Delivery.Name--></td>
                </tr>
                <!--@EndIf(Ecom:Rma.Delivery.Name)-->
                <!--@If Defined(Ecom:Rma.Delivery.Address)-->
                <tr>
                    <td width="40%" valign="top"><!--@Translate(address, "Address")-->:</td>
                    <td width="60%" valign="top"><!--@Ecom:Rma.Delivery.Address--></td>
                </tr>
                <!--@EndIf(Ecom:Rma.Delivery.Address)-->
                <!--@If Defined(Ecom:Rma.Delivery.Address2)-->
                <tr>
                    <td width="40%" valign="top"><!--@Translate(address2, "Adress 2")-->:</td>
                    <td width="60%" valign="top"><!--@Ecom:Rma.Delivery.Address2--></td>
                </tr>
                <!--@EndIf(Ecom:Rma.Delivery.Address2)-->
                <!--@If Defined(Ecom:Rma.Delivery.City)-->
                <tr>
                    <td width="40%" valign="top"><!--@Translate(zipcodecity, "Zipcode / City")-->:</td>
                    <td width="60%" valign="top"><!--@Ecom:Rma.Delivery.Zip-->&nbsp;<!--@Ecom:Rma.Delivery.City--></td>
                </tr>
                <!--@EndIf(Ecom:Rma.Delivery.City)-->
                <!--@If Defined(Ecom:Rma.Delivery.Country)-->
                <tr>
                    <td width="40%" valign="top"><!--@Translate(country, "Country")-->:</td>
                    <td width="60%" valign="top"><!--@Ecom:Rma.Delivery.Country--></td>
                </tr>
                <!--@EndIf(Ecom:Rma.Delivery.Country)-->
                <!--@If Defined(Ecom:Rma.Delivery.Phone)-->
                <tr>
                    <td width="40%" valign="top"><!--@Translate(phone, "Phone")-->:</td>
                    <td width="60%" valign="top"><!--@Ecom:Rma.Delivery.Phone--></td>
                </tr>
                <!--@EndIf(Ecom:Rma.Delivery.Phone)-->
                <!--@If Defined(Ecom:Rma.Delivery.Fax)-->
                <tr>
                    <td width="40%" valign="top"><!--@Translate(fax, "Fax")-->:</td>
                    <td width="60%" valign="top"><!--@Ecom:Rma.Delivery.Fax--></td>
                </tr>
                <!--@EndIf(Ecom:Rma.Delivery.Fax)-->
                <!--@If Defined(Ecom:Rma.Delivery.Cell)-->
                <tr>
                    <td width="40%" valign="top"><!--@Translate(mobile, "Mobile")-->:</td>
                    <td width="60%" valign="top"><!--@Ecom:Rma.Delivery.Cell--></td>
                </tr>
                <!--@EndIf(Ecom:Rma.Delivery.Cell)-->
                <!--@If Defined(Ecom:Rma.Delivery.Email)-->
                <tr>
                    <td width="40%" valign="top"><!--@Translate(email, "E-mail")-->:</td>
                    <td width="60%" valign="top"><!--@Ecom:Rma.Delivery.Email--></td>
                </tr>
                <!--@EndIf(Ecom:Rma.Delivery.Email)-->
            </table>
        </td>
    </tr>
</table>

<!--@If Defined(Ecom:Rma.ReplacementOrderId)-->
<h2 h2 style="margin-bottom: 0;"><!--@Translate(ReplacementOrderDetails, "Replacement Order details")--></h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0" ID="Table3">
    <tr>
        <td width="50%" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" ID="Table2">
	            <tr>
	                <td width="100%" valign="top" colspan="3"><h3><!--@Translate(billingaddress, "Billing address")--></h3></td>
	            </tr>
                <!--@If Defined(Ecom:Order.Customer.Company)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(company, "Company")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Customer.Company--></td>
	            </tr>
                <!--@EndIf(Ecom:Order.Customer.Company)-->
                <!--@If Defined(Ecom:Order.Customer.Name)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(name, "Name")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Customer.Name--></td>
	            </tr>
                <!--@EndIf(Ecom:Order.Customer.Name)-->
                <!--@If Defined(Ecom:Order.Customer.Address)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(address, "Address")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Customer.Address--></td>
	            </tr>
                <!--@EndIf(Ecom:Order.Customer.Address)-->
                <!--@If Defined(Ecom:Order.Customer.Address2)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(address2, "Adress 2")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Customer.Address2--></td>
	            </tr>
                <!--@EndIf(Ecom:Order.Customer.Address2)-->
                <!--@If Defined(Ecom:Order.Customer.City)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(zipcodetown, "Zipcode / Town")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Customer.Zip-->&nbsp;<!--@Ecom:Order.Customer.City--></td>
	            </tr>
                <!--@EndIf(Ecom:Order.Customer.City)-->
                <!--@If Defined(Ecom:Order.Customer.Country)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(country, "Country")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Customer.Country--></td>
	            </tr>
                <!--@EndIf(Ecom:Order.Customer.Country)-->
                <!--@If Defined(Ecom:Order.Customer.EAN)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(ean, "EAN")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Customer.EAN--></td>
	            </tr>
                <!--@EndIf(Ecom:Order.Customer.EAN)-->
                <!--@If Defined(Ecom:Order.Customer.Phone)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(phone, "Phone")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Customer.Phone--></td>
	            </tr>
                <!--@EndIf(Ecom:Order.Customer.Phone)-->
                <!--@If Defined(Ecom:Order.Customer.Fax)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(fax, "Fax")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Customer.Fax--></td>
	            </tr>
                <!--@EndIf(Ecom:Order.Customer.Fax)-->
                <!--@If Defined(Ecom:Order.Customer.Cell)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(mobile, "Mobile")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Customer.Cell--></td>
	            </tr>
                <!--@EndIf(Ecom:Order.Customer.Cell)-->
                <!--@If Defined(Ecom:Order.Customer.Email)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(email, "E-mail")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Customer.Email--></td>
	            </tr>
                <!--@EndIf(Ecom:Order.Customer.Email)-->
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" ID="Table5">
	            <tr>
	                <td width="100%" valign="top" colspan="3"><h3><!--@Translate(orderinformations, "Orderinformations")--></h3></td>
	            </tr>
                <!--@If Defined(Ecom:Order.ID)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(ordernumber, "Ordernumber")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.ID--></td>
	            </tr>
                <!--@EndIf(Ecom:Order.ID)-->
                <!--@If Defined(Ecom:Order.Date)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(orderdate, "Orderdate")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Date--></td>
	            </tr>
                <!--@EndIf(Ecom:Order.Date)-->
                <!--@If Defined(Ecom:Order.IP)-->
	            <tr>
	                <td width="40%" valign="top"><!--@Translate(clientip, "Client IP")-->:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.IP--></td>
	            </tr>
                <!--@EndIf(Ecom:Order.IP)-->
	        </table>
        </td>
        <td width="50%" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" ID="Table4">
                <tr>
                    <td width="100%" valign="top" colspan="3"><h3><!--@Translate(deliveryaddress, "Delivery address")--></h3></td>
                </tr>
                <!--@If Defined(Ecom:Order.Delivery.Company)-->
                <tr>
                    <td width="40%" valign="top"><!--@Translate(company	, "Company")-->:</td>
                    <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Company--></td>
                </tr>
                <!--@EndIf(Ecom:Order.Delivery.Company)-->
                <!--@If Defined(Ecom:Order.Delivery.Name)-->
                <tr>
                    <td width="40%" valign="top"><!--@Translate(name, "Name")-->:</td>
                    <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Name--></td>
                </tr>
                <!--@EndIf(Ecom:Order.Delivery.Name)-->
                <!--@If Defined(Ecom:Order.Delivery.Address)-->
                <tr>
                    <td width="40%" valign="top"><!--@Translate(address, "Address")-->:</td>
                    <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Address--></td>
                </tr>
                <!--@EndIf(Ecom:Order.Delivery.Address)-->
                <!--@If Defined(Ecom:Order.Delivery.Address2)-->
                <tr>
                    <td width="40%" valign="top"><!--@Translate(address2, "Adress 2")-->:</td>
                    <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Address2--></td>
                </tr>
                <!--@EndIf(Ecom:Order.Delivery.Address2)-->
                <!--@If Defined(Ecom:Order.Delivery.City)-->
                <tr>
                    <td width="40%" valign="top"><!--@Translate(zipcodecity, "Zipcode / City")-->:</td>
                    <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Zip-->&nbsp;<!--@Ecom:Order.Delivery.City--></td>
                </tr>
                <!--@EndIf(Ecom:Order.Delivery.City)-->
                <!--@If Defined(Ecom:Order.Delivery.Country)-->
                <tr>
                    <td width="40%" valign="top"><!--@Translate(country, "Country")-->:</td>
                    <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Country--></td>
                </tr>
                <!--@EndIf(Ecom:Order.Delivery.Country)-->
                <!--@If Defined(Ecom:Order.Delivery.Phone)-->
                <tr>
                    <td width="40%" valign="top"><!--@Translate(phone, "Phone")-->:</td>
                    <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Phone--></td>
                </tr>
                <!--@EndIf(Ecom:Order.Delivery.Phone)-->
                <!--@If Defined(Ecom:Order.Delivery.Fax)-->
                <tr>
                    <td width="40%" valign="top"><!--@Translate(fax, "Fax")-->:</td>
                    <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Fax--></td>
                </tr>
                <!--@EndIf(Ecom:Order.Delivery.Fax)-->
                <!--@If Defined(Ecom:Order.Delivery.Cell)-->
                <tr>
                    <td width="40%" valign="top"><!--@Translate(mobile, "Mobile")-->:</td>
                    <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Cell--></td>
                </tr>
                <!--@EndIf(Ecom:Order.Delivery.Cell)-->
                <!--@If Defined(Ecom:Order.Delivery.Email)-->
                <tr>
                    <td width="40%" valign="top"><!--@Translate(email, "E-mail")-->:</td>
                    <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Email--></td>
                </tr>
                <!--@EndIf(Ecom:Order.Delivery.Email)-->
            </table>
        </td>
    </tr>
</table>
<!--@EndIf(Ecom:Rma.ReplacementOrderId)-->