
<!--@If Not Defined(News:NoNewsMessage)-->

<div id="KS-news-popuplist-wrapper" style="display:none">
<ul id="KS-news-popuplist">
        <!--@LoopStart(NewsList)-->

        <li class="newsitem newsedit" data-newsid="newsid-<!--@News:ID-->">
			<img src="<!--@News:SmallImageClean-->" width="100px" border="0" alt="<!--@News:Heading-->" style="padding-right:10px;">
				<div class="newshead">
            	<span class="newsdate"><!--@News:Date.ShortDate--></span><br/>
					<span class="newsheadline"><!--@News:Heading--></span><br/>
					 <span class="newsitem-text newstext"><!--@News:Text--></span>
					 <a href="#" class="newsitem-close button red">Jeg ahr set og forst&aring;et budskabet</a>
				</div>

<div id="blue_dotted_line"></div>
        </li>
        <!--@LoopEnd(NewsList)-->
    </ul>
</div>
<style>
.button{padding:10px 20px; border:1px solide #333;}
.button.red{background:red; color:#FFF;}
#KS-news-popuplist{width:100%; height:100%;}
#KS-news-popuplist li{clear:both; list-style-type:none;}
#KS-news-popuplist li img, #KS-news-popuplist li .newshead{float:left; clear:none;}
#KS-news-popuplist li .newshead{width:400px;}
#KS-news-popuplist li .newsitem-text,
#KS-news-popuplist li .newsitem-close{display:none;}
#KS-news-popuplist li .button{float:left;}
#KS-news-popuplist li:first-child .newsitem-text,
#KS-news-popuplist li:first-child .newsitem-close{display:inline-block;}
#KS-news-popuplist li #blue_dotted_line{float:left;clear:both; width:100%;}
</style>
<a id="ks-click" href="#KS-news-popuplist"></a>
<!--@SnippetStart(scripts)-->
$j("#KS-news-popuplist li").each(function(){
	if($j.cookie($j(this).attr("data-newsid"))){
	$j(this).remove();

}
});

if($j("#KS-news-popuplist li").length == 0){$j("#KS-news-popuplist").remove();}else{
			$j("#ks-click").fancybox({
			'showCloseButton'	: false,
			'modal' : true
		});
		 $j("#ks-click").trigger('click');
}


$j("#KS-news-popuplist .newsitem-close").on("click",function(event){
	event.preventDefault();
	var newsid = $j(this).parents(".newsitem").attr("data-newsid");
	$j.cookie(newsid, 'true', { expires: 700 });
	$j(this).parents(".newsitem").fadeOut("400", function(){
		$j(this).remove();
	if($j("#KS-news-popuplist li").length == 0){
	parent.$j.fancybox.close();
$j("#KS-news-popuplist").remove();}
});

});

<!--@SnippetEnd(scripts)-->
 <!--@EndIf Not Defined(News:NoNewsMessage)-->