<div class="large-12 columns inline-border">
	<!--@If(ParagraphImageLinkClean<>"")-->
	<a href="<!--@ParagraphImageLinkClean-->" target="<!--@ParagraphImageLinkTarget-->"><img src="<!--@ParagraphImageClean-->"/></a>
	<!--@Else-->
	<img src="<!--@ParagraphImageClean-->"/>
	<!--@EndIf-->
	<!--@If Defined(ParagraphText)--><!--@ParagraphText--><!--@EndIf(ParagraphText)-->
</div>