<div class="small-1 medium-3 large-3 columns inline-border">
	<div>
	<!--@If(ParagraphImageLinkClean<>"")-->
	<a href="<!--@ParagraphImageLinkClean-->" target="<!--@ParagraphImageLinkTarget-->"><img src="<!--@ParagraphImageClean-->"/></a>
	<!--@Else-->
	<!--@If(ParagraphImageClean<>"")-->
<img src="<!--@ParagraphImageClean-->"/>
	<!--@EndIf-->

	<!--@EndIf-->
	<!--@If(ParagraphText<>"")-->
	<div class="small-12 columns"><!--@ParagraphText--></div>
	<!--@EndIf-->

</div>
</div>