<div class="small-12 medium-6 large-6 columns inline-border">
	<div>
	<!--@If(ParagraphImageLinkClean<>"")-->
	<a href="<!--@ParagraphImageLinkClean-->" target="<!--@ParagraphImageLinkTarget-->"><img src="<!--@ParagraphImageClean-->"/></a>
	<!--@Else-->
	<!--@If(ParagraphImageClean<>"")-->
<img src="<!--@ParagraphImageClean-->"/>
	<!--@EndIf-->

	<!--@EndIf-->
	<!--@If(ParagraphText<>"")-->
	<!--@ParagraphText-->
	<!--@EndIf-->

	<!--@ParagraphModule-->

</div>
</div>