<div class="small-1 medium-3 large-3 columns inline-border linkbox">
		<div>
	<!--@If(Item.Link_Tekst<>"")-->
	<a href="<!--@Item.Link-->" target="<!--@ParagraphImageLinkTarget-->"><img src="<!--@Item.Billede-->"/>
		<span><!--@Item.Link_Tekst--></span></a>
	<!--@Else-->
	<img src="<!--@Item.Billede-->"/>
	<!--@EndIf-->
</div>
</div>