<li class="inline-border linkbox">
	<!--@If(Item.Link_Tekst<>"")-->
	<a href="<!--@Item.Link-->" target="<!--@ParagraphImageLinkTarget-->"><img src="<!--@Item.Billede-->"/>
		<span><!--@Item.Link_Tekst--></span></a>
	<!--@Else-->
	<img src="<!--@Item.Billede-->"/>
	<!--@EndIf-->
</li>