<!--@Layout.Title(Item: Læs mere)-->
<!--@Layout.Description(Item template til tekster med læs mere link)-->
<div class="readmore">
<!--@Item.Tekst-->
<div class="moretxt"><!--@Item.Mere_Tekst--></div>
<a href="#" class="more">L&aelig;s mere...</a>
</div>
