<li>
<!--@If(Item.Simpelsearch<>0)--><!--@DwTemplateTags-->

<a href="<!--@If(Item.Page<>"")--><!--@Item.Page--><!--@Else-->default.aspx?ID=<!--@Global.PageId--><!--@EndIf-->&eComSearch=1&<!--@Item.Parameter_Baseret__Felt-->=<!--@Item.Filter-->&<!--@Item.Parameter_Baseret__Felt-->_type=0">
<!--@Else-->

<!--@EndIf-->
<!--@If(Item.Ikon)--><img src='/admin/public/getimage.aspx?Image=<!--@Item.Ikon-->&Format=png&Width=30&Height=30&Crop=0' /><!--@EndIf-->
<!--@Item.Titel--></a>
</li>


