<!--@Layout.Title(Tekst + billede)-->
<!--@Layout.Description(Tekst til venstre og billede til højre)-->
<div class="large-7 columns">

	<!--@If Defined(ParagraphText)--><!--@ParagraphText--><!--@EndIf(ParagraphText)-->
</div>
<div class="large-5 columns">
		<!--@If(ParagraphImageLinkClean<>"")-->
	<a href="<!--@ParagraphImageLinkClean-->" target="<!--@ParagraphImageLinkTarget-->"><img src="<!--@ParagraphImageClean-->"/></a>
	<!--@Else-->
	<img src="<!--@ParagraphImageClean-->"/>
	<!--@EndIf-->
</div>