<!--@Layout.Title(Tekst + billede)-->
<!--@Layout.Description(Tekst i bunden og billede i toppen)-->
<div class="large-12 columns">
	<!--@If(ParagraphImageLinkClean<>"")-->
	<a href="<!--@ParagraphImageLinkClean-->" target="<!--@ParagraphImageLinkTarget-->"><img src="<!--@ParagraphImageClean-->"/></a>
	<!--@Else-->
	<img src="<!--@ParagraphImageClean-->"/>
	<!--@EndIf-->
	<!--@If Defined(ParagraphText)--><!--@ParagraphText--><!--@EndIf(ParagraphText)-->
</div>