body {
  background: #a32d39 url(404.png) center 50px no-repeat;
  color: #fff;
  font: normal 100% 'Lato', helvetica, arial, sans-serif; }

a, a:link {
  color: #fff; }

a:visited {
  color: #eee; }

a:hover {
  text-decoration: none; }

strong, b {
  font-weight: 700; }

[class*="col"] {
  margin-top: 50px; }
  [class*="col"] h1 {
    font-size: 40px;
    font-weight: 400; }
  [class*="col"] p, [class*="col"] li {
    font-size: 13px;
    line-height: 16px; }
  [class*="col"] p {
    margin-top: 10px; }
  [class*="col"] ol, [class*="col"] ul {
    margin: 10px 0 0 25px; }

