        /* ============================================== */
/* Base styles for standard ecom 				  */
/* Heine Virenfeldt Kristensen, Created: 07.09.12 */
/* ============================================== */

/***** The Base *****/
/* Reset default browser styles - http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 						{ margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 		{ display: block; }
body 										{ line-height: 1; }
blockquote, q 									{ quotes: none; }
blockquote:before, blockquote:after, 
q:before, q:after 							{ content: ''; content: none; }
table 										{ border-collapse: collapse; border-spacing: 0; }
b, strong { font-weight: bold; }
/* Show/Hide for Devices */

.show-phone									{ display:none !important; }
.show-tablet								{ display:none !important; }
.show-screen								{ display:inherit !important; }	
.hide-phone									{ display:inherit !important; }
.hide-tablet								{ display:inherit !important; }
.hide-screen								{ display:none !important; }

/* Global Classes */
.fl 											{ float: left; }
.fr 											{ float: right; }
.al 											{ text-align: left; }
.ar 											{ text-align: right; }
.ac 											{ text-align: center; }
.aj 											{ text-align: justify; }
.vm 											{ vertical-align: middle; }
.vt 											{ vertical-align: text-top; }
.vb											{ vertical-align: bottom !important; }
.b5 											{ border-radius: 5px; overflow: hidden; }
.dNone										{ display: none; }
.block										{ display: block; }
.inline										{ display: inline; }
.iblock										{ display: inline-block; }
.norm										{ font-weight: normal; }
.bold										{ font-weight: bold; }
.ital										{ font-style: italic; }
.nobull										{ list-style: none; }
.bgimg										{ background-position: center center; background-repeat: no-repeat; background-size: contain; display: block; width: 100%; }
.border 										{ border: 1px solid #ccc; }
.radius 										{ border-radius: 5px; overflow: hidden; }
.padding									{ padding: 10px; }
.nobo										{ border: 0 !important; }
.nobobo { border-bottom: 0 !important; }
.table	                                    { width: 100%; }

/* Buttons, Forms */
.btn { display: inline-block; text-decoration: none; margin: 0; }
input[type=submit],input[type=text],input[type=search],textarea, input[type=tel], input[type=password], textarea, select { -webkit-appearance: none; -webkit-border-radius: 0; }
input[type=submit] {  }


/***** TheEnd *****/