/***** Basic Grid Layout *****/
/* The Structure */
#head, #main, #foot, 
#mainnav, #wrap									{ width: 100%; float: left; margin: 0 auto; }
/* 12 Column Layout */
.row, .row .row 									{ margin: 0 auto; width: 100%; overflow: hidden; }
.row.nav 										{ position: relative; z-index: 500; }
.row.fixed 										{ width: auto; }
.col1, .col2, .col3, .col4, .col5, .col5a, .col6,
.col7, .col8, .col9, .col10, .col11, 
.col12, .col13, .col14, .col15, .col16 								{ float: left; display: inline; position: relative; min-height: 1px; z-index: 1; }
.col1 											{ width: 6.25%; }
.col2 											{ width: 12.5%; }
.col3											{ width: 18.75%; }
.col4 											{ width: 25%; }
.col5 											{ width: 31.25%; }
.col5a											{ width: 33%; }	
.col6 											{ width: 37.5%; }
.col7 											{ width: 43.75%; }
.col8 											{ width: 50%; }
.col9 											{ width: 56.25%; }
.col10 											{ width: 62.5%; }
.col11 											{ width: 68.75%; }
.col12											{ width: 75%; }
.col13 											{ width: 81.25%; }
.col14 											{ width: 87.5%; }
.col15 											{ width: 93.75%; }
.col16 											{ width: 100%; }



/***** Clearfix *****/

.container:after								{ content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; } 
.clearfix:before, .clearfix:after, 
.row:before, .row:after							{ content:'\0020'; display:block; overflow:hidden; visibility:hidden; width:0; height:0; }
.row:after,	.clearfix:after						{ clear:both; }
.row, .clearfix									{ zoom:1; }
.clear 											{ clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;	}