/* Standard styles for NORRIQ Demo Shop, Arild Garde, Heine Kristensen @ NORRIQ 2013 */
@import url(html5reset.css);

$screen: 960px;
$columns: 12;
$pm5: (5px/$screen)*100%;
$pm10: (10px/$screen)*100%; 
$pm15: (15px/$screen)*100%;
$pm20: (20px/$screen)*100%;
$pm25: (25px/$screen)*100%;
$pm30: (30px/$screen)*100%;

$fl: left;
$fr: right;

/* colors */
$gt1: #eee;
$gt2: #ccc;
$gt3: #999;
$gt4: #666;
$gt5: #333;
$wht: #fff;
$blk: #000;
$blu: #397ee5;
$ora: #cc4e2d;

/* Fonts */
$normal: 12px;


/*** Lets clear it ***/
.clearfix { *zoom: 1; }
.clearfix:before,
.clearfix:after { display: table; line-height: 0; content: ""; }
.clearfix:after { clear: both; }
.ie7 .clearfix { clear: both; }
/***************/
/*** Rows ***/
.row { *zoom: 1; }
.row:before,
.row:after { display: table; line-height: 0; content: ""; }
.row:after { clear: both; } 
/***************/
/*** Grid ***/
[class*="span"] { float: $fl;  min-height: 1px; position: relative; }
.span-12 { width: 12/$columns*100%; }
.span-11 { width: 11/$columns*100%; }
.span-10 { width: 10/$columns*100%; }
.span-9 { width: 9/$columns*100%; }
.span-8 { width: 8/$columns*100%; }
.span-7 { width: 7/$columns*100%; }
.span-6 { width: 6/$columns*100%; }
.span-5 { width: 5/$columns*100%; }
.span-4 { width: 4/$columns*100%; }
.span-3 { width: 3/$columns*100%; }
.span-2 { width: 2/$columns*100%; }
.span-1 { width: 1/$columns*100%; }
/***************/
/*** Universals ***/
body { font: normal 100% helvetica, arial, sans-serif; background: $gt1; color: $blk; margin-left: 0 !important; }
#main { padding-top: $pm20; float: left; width: 100%; background: $wht; }
a { color: $ora; text-decoration: none; }
a:hover { text-decoration: underline; }
.nobull { list-style: none; }
.container { margin: 0 auto; width: $screen; }
[class*="bl"] { display: block; }
[class*="box"] { float: left; }
.show-phone { display:none !important; }
.show-tablet { display:none !important; }
.show-screen { display:inherit !important; }	
.hide-phone	{ display:inherit !important; }
.hide-tablet { display:inherit !important; }
.hide-screen { display:none !important; }
.ar { text-align: right; }
.al { text-align: left; }
.ac { text-align: center; }
.fl { float: left; }
.fr { float: right; }
input { -webkit-appearance: none; }
/***************/
/*** Header ***/
#header {
	float: left; width: 100%; height: auto; background: $wht;
	ul, li { list-style: none; }
	[class*="row"] { width: 100%; float: $fl; }
	[class*="pos"] { width: 50%; float: $fl; }
	.header {
		.toppen { 
			height: 34px; background: $gt1; float: left; width: 100%; margin-bottom: 10px;
			.headnav {
				height: 34px; float: $fl; width: 100%;
				ul { 
					float: $fl; width: 100%;
					li { 
						display: inline-block; margin-right: 10px; float: left;
						a { color: $gt4; text-decoration: none; display: block; font-size: $normal; height: 34px; line-height: 34px; } 
					} 
				}
			}
			.shopping {
				float: $fr;
				li { float: $fl; }
				.mini-cart {
					font-size: 13px; line-height: 34px; height: 34px; padding: 0 10px 0 0;
					.mo { display: block; font-weight: bold; color: $gt5; background: url(minicart.png) 0 0 no-repeat; padding-left: 38px; }
					.mo:hover { color: $ora; text-decoration: none; background-position: 0 -34px; }
				}
				.gocart { 
					.btn { color: $wht; height: 34px; line-height: 34px; font-size: 13px; background: $ora; display: block; padding: 0 10px; }
					.btn:hover { text-decoration: none; background: $gt4; }
				}
			}
		}
		.search {
			border: 1px solid $gt2; float: $fr; padding: 0; margin-top: 13px;
			input { margin: 0; border: 0; float: $fl; height: 40px; width: 40px;  } 
			label {
				float: $fl; width: 10px; height: 40px; background: $wht; display: block;
				span { display: none; }
			}
			.ipSea { width: 200px; }
			.ipSea:focus { outline: none; }
			.buSea { background: $gt4 url(buSea.png) center center no-repeat; cursor: pointer; }
			::-webkit-input-placeholder { color: $gt3; }
			:-ms-input-placeholder { color: $gt3; }
			:-moz-placeholder {  color: $gt3; }
			::-moz-placeholder {  color: $gt3; }
		}
	}
	.navigation { 
		height: 40px; width: 100%; position: relative; top: 0; left: 0; z-index: 10000; background: $gt5;
		ul { 
			float: $fl; width: 75%;
			li { 
				float: $fl; width: auto; height: 40px; position: relative; z-index: 100; left: 0; top: 0; border-bottom: 5px solid $wht; margin-right: 20px;
				a { color: $wht; text-decoration: none; padding: 10px 0; display: block; font-size: 18px; text-transform: uppercase; line-height: 20px; letter-spacing: 1px; }
				ul { 
					min-width: 180px; width: 100%; display: none; position: absolute; top: 45px; left: 0; background: $gt5;
					li { 
						float: none; min-width: 180px; width: 100%; margin: 0; border: 0; min-height: 30px; height: auto;
						a { font-size: 14px; color: $wht; padding: 10px; height: auto; line-height: 100%; text-transform: none; font-weight: normal; letter-spacing: 0; }
						a:hover { background: $gt4; }
					} 
				}
			}
			li.last { margin-right: 0; }
			li:hover {
				a { color: $wht; background: $gt5; }
				ul { display: block; }
			}
		}
		
	}
}
/***************/
/*** Forside ***/
.forside {
	#slide { 
		width: 100%; height: 100%;
	}
	.boxes, .banner {
		float: left; width: 100% + $pm20; margin-left: -$pm20;
		[class*="box"] { 
			margin-left: $pm20; margin-bottom: $pm20; min-height: 1px; float: $fl; background-position: center center; background-repeat: no-repeat; background-size: cover; position: relative; min-height: 80px;
			h1, h2 { font-size: 18px; }
			.info { background: $gt5; padding: 10px; color: $wht; height: 200px; }
			.brand { 
				height: 200px; 
				h1, h2 { padding: 10px; background: $gt1; background: rgba(238,238,238,.6); }
				a { color: $gt5; }
			}
			.usp { height: 60px; padding: 10px; background: yellow; text-align: center; }
		}
		.box25 { width: 22.91667%; }
		.box33 { width: 31.25000333333333%; }
		.box50 { width: 47.91667%; }
		.box67 { width: 64.58333666666667%; }
		.box75 { width: 72.91667%; }
		.box100 { width: 97.9167%; }
	}
}
.ie7 {
	.forside {
		.boxes { width: 980px; margin-left: -20px; }
		.banner { width: 960px; }
	}
}
/***************/
/*** Inhold ***/
.ph {
	p { font-size: $normal; }
}
/***************/
/*** ProductList ***/
#list {
	float: left; width: 100% + $pm5; margin-left: -$pm5;
	.product, .group {
		width: 24.47916666666667%; float: left; margin-left: $pm5; margin-bottom: $pm5;
		a {
			display: block; font-size: 12px; padding: 0 0 $pm20 0; overflow: hidden; text-decoration: none; color: $gt5; background: $wht; width: 100%;
			.image { text-align: center; background: $wht; height: 155px; }
			.type, .name, .pricing { height: 12px; line-height: 12px; padding: 4px $pm20 0 $pm20; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
			.name { font-weight: bold; }
			.sale { color: red; }
			.new { color: green; }
			.pricing {
				.curr { font-size: 10px; }
			}
		}
		a:hover { background: $gt1 !important; }
	}
	.group {
		text-align: center;
	}
}
/***************/
/*** Footer ***/
#footer {
	background: $gt1; border-top: 1px solid $gt2; width: 100%; float: left; padding: $pm10 0;
	ul { width: 100%; float: left; }
	#foot-navigation {
		li { 
			float: left; width: 25% - $pm10; margin-right: $pm10; font-size: 14px; font-weight: bold;
			li { font-weight: normal; float: none; width: 100%; }
		}
		a { padding-bottom: 5px; display: inline-block; }
	}
	address { font-style: normal; color: $gt4; font-size: 12px; padding-top: $pm10; margin-top: $pm10; border-top: 1px dotted $gt2; }
}
/***************/
/*** PageSlide Start ***/
#pageslide {
	/* These styles MUST be included. Do not change. */
	display: none;
	position: absolute;
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 999999;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	/* Specify the width of your pageslide here */
	width: 272px;
    
	/* These styles are optional, and describe how the pageslide will look */
	background: $gt5;
	color: $wht;
}
#nav {
	a { color: $gt1; text-decoration: none; }
}
/***************/
/*** BxSlider ***/
.bx-wrapper {
	position: relative; margin: 0 auto $pm20; padding: 0; *zoom: 1;
	img { max-width: 100%; display: block; }
	.bx-pager, .bx-controls-auto { position: absolute; bottom: -30px; width: 100%; }
	.bx-loading { min-height: 50px; background: url(bx_loader.gif) center center no-repeat #fff; height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index: 2000; }
	.bx-pager {
		text-align: center; font-size: .85em; font-family: Arial; font-weight: bold; color: #666; padding-top: 10px; float: left; position: absolute; bottom: $pm10; left: 0; z-index: 9999;
		.bx-pager-item { display: inline-block; *zoom: 1; *display: inline; }
	}
	.bx-pager.bx-default-pager {
		a { background: $gt1; background: rgba(102,102,102,.8); text-indent: -9999px; display: block; width: 10px; height: 10px; margin: 0 5px; outline: 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
		a:hover, a.active { background: $blk; background: rgba(51,51,51,.8); }
	}
	.bx-controls-auto {
		text-align: center;
		.bx-controls-auto-item { display: inline-block; *zoom: 1; *display: inline; }
		.bx-start { display: block; text-indent: -9999px; width: 10px; height: 11px; outline: 0; background: url(controls.png) -86px -11px no-repeat; margin: 0 3px; }
		.bx-start:hover, .bx-start.active { background-position: -86px 0; }
		.bx-stop { display: block; text-indent: -9999px; width: 9px; height: 11px; outline: 0; background: url(controls.png) -86px -44px no-repeat; margin: 0 3px; }
		.bx-stop:hover, .bx-stop.active { background-position: -86px -33px; }
	}
	.bx-prev { left: 10px; background: url(controls.png) no-repeat 0 -32px; }
	.bx-prev:hover { background-position: 0 0; }
	.bx-next { right: 10px; background: url(controls.png) no-repeat -43px -32px; }
	.bx-next:hover { background-position: -43px 0; }
	.bx-controls-direction {
		a { position: absolute; top: 50%; margin-top: -16px; outline: 0; width: 32px; height: 32px; text-indent: -9999px; z-index: 9999; }
		 a.disabled { display: none; }
	}
	.bx-controls.bx-has-controls-auto.bx-has-pager {
		.bx-pager { text-align: left; width: 80%; }
		.bx-controls-auto { right: 0; width: 35px; }
	}
	.bx-controls { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
}

/***************/
@media (max-width: 479px) {
	$screen: 320px;
	$pm5: (5px/$screen)*100%;
	$pm10: (10px/$screen)*100%; 
	$pm15: (15px/$screen)*100%;
	$pm20: (20px/$screen)*100%;
	$pm25: (25px/$screen)*100%;
	$pm30: (30px/$screen)*100%;
	.show-phone { display: block !important; }
	.hide-phone { display: none !important; }
	[class*="span"], .container { width: 100%; }
	[class*="offset"] { margin: 0; }
	#wrap { position: relative; left: 0; top: 0; width: 100%; z-index: 1; }
	/*** Header ***/
	#header { 
		height: auto; background: $wht;
		[class*="span"] { min-width: 44px; }
		.header {
			height: 44px; z-index: 1;
			.toppen { 
				height: 44px; position: absolute; z-index: 1; top: 0; left: 0; 
				.headnav { 
					width: 44px; height: 44px; overflow: hidden; text-align: center; position: absolute; left: 0; top: 0; z-index: 3;
					.icon { width: 44px; height: 44px; display: inline-block;text-decoration: none; background: url(mobilnav.png) center center no-repeat; background-size: 24px; } 
				}
				.cart {
					position: absolute; top: -1px; right: 0; width: 44px; z-index: 3; height: 44px; color: $wht; background: url(cart.png) center center no-repeat; background-size: 36px; 
					.badge { min-width: 10px; height: 18px; line-height: 18px; padding: 0 4px; font-size: 10px; font-weight: bold; display: block; position: absolute; top: 4px; right: 4px; background: $gt5; border-radius: 9px; text-align: center; }
				}
			}
			
			.logo { 
				width: 72.5%; height: 44px; position: relative; float: left; left: 44px; top: 0; z-index: 2;
				a { width: 100%; height: 32px; margin: 6px 0; background: url(/Files/Billeder/img/logo-bbq.gif) 10px center no-repeat; background-size: contain; display: block; }
				img { display: none; }
			}
			
			.search { display: none; }
			
		}
		.navigation { display: none; }
	}
	/***************/
	/*** Forside ***/
	.forside {
		.boxes { 
			margin-left: 0; width: 100%; 
			[class*="box"] { margin-left: $pm5; margin-bottom: $pm5; float: left; width: 100% - 2*$pm5; }
			.box25 { width: 47.65625%; }
		}
	}
	/***************/
	/*** Footer ***/
	#footer {
		padding-top: 0;
		#foot-navigation {
			li { 
				width: 100%; margin: 0;
				ul { border-top: 1px solid $gt2; }
				li { border-bottom: 1px solid $gt2; } 
			}
			a { padding: $pm10; display: block; }
		}
	}
	/***************/
	/*** Ecom ***/
	.ecom { 
		width: 100%; float: left;
		.box { padding: 0 $pm5; }
	}
	/* ProductList */
	#list {
		float: left; width: 100%; margin-left: 0;
		.product, .group {
			width: 47.65625%; float: left; margin-left: $pm5; margin-bottom: $pm5;
			a {
				display: block; font-size: 12px; padding: 0 0 $pm10 0;overflow: hidden; text-decoration: none; color: $gt5; background: $wht;
				.image { text-align: center; }
				.type, .name, .pricing { height: 12px; line-height: 12px; padding: 4px $pm10 0 $pm10; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100% - 2*$pm10; }
				
				.sale { color: red; }
			}
		}
		.group {
			a { 
			.name { padding-top: $pm10; }
			}
		}
	}
	/***************/
}

@media (min-width: 480px) and (max-width: 639px) {
	$screen: 480px;
	$pm5: (5px/$screen)*100%;
	$pm10: (10px/$screen)*100%; 
	$pm15: (15px/$screen)*100%;
	$pm20: (20px/$screen)*100%;
	$pm25: (25px/$screen)*100%;
	$pm30: (30px/$screen)*100%;
	.show-phone { display: block !important; }
	.hide-phone { display: none !important; }
	[class*="span"], .container { width: 100%; }
	[class*="offset"] { margin: 0; }
	#wrap { position: relative; left: 0; top: 0; width: 100%; z-index: 1; }
	/*** Header ***/
	#header { 
		height: auto; background: $wht;
		[class*="span"] { min-width: 44px; }
		.header {
			height: 44px; z-index: 1;
			.toppen { 
				height: 44px; position: absolute; z-index: 1; top: 0; left: 0; 
				.headnav { 
					width: 44px; height: 44px; overflow: hidden; text-align: center; position: absolute; left: 0; top: 0; z-index: 3;
					.icon { width: 44px; height: 44px; display: inline-block; text-decoration: none; background: url(mobilnav.png) center center no-repeat; background-size: 24px; } 
				}
				.cart {
					position: absolute; top: -1px; right: 0; width: 44px; z-index: 3; height: 44px; color: $wht; background: url(cart.png) center center no-repeat; background-size: 36px; 
					.badge { min-width: 10px; height: 18px; line-height: 18px; padding: 0 4px; font-size: 10px; font-weight: bold; display: block; position: absolute; top: 4px; right: 4px; background: $gt5; border-radius: 9px; text-align: center; }
				}
			}
			
			.logo { 
				width: 72.5%; height: 44px; position: relative; float: left; left: 44px; top: 0; z-index: 2;
				a { width: 100%; height: 32px; margin: 6px 0; background: url(/Files/Billeder/img/logo-bbq.gif) 10px center no-repeat; background-size: contain; display: block; }
				img { display: none; }
			}
			
			.search { display: none; }
			
		}
		.navigation { display: none; }
	}
	/***************/
	/*** Forside ***/
	.forside {
		.boxes { 
			margin-left: 0; width: 100%; 
			[class*="box"] { margin-left: $pm5; margin-bottom: $pm5; float: left; width: 100% - 2*$pm5; }
			.box25 { width: 48.4375%; }
		}
	}
	/***************/
	/*** Footer ***/
	#footer {
		#foot-navigation {
			li { 
				width: 50% - $pm10; height: 200px; 
				li { height: auto; }
			}
			a { display: inline-block; padding: $pm10; }
		}
	}
	/***************/
	/*** Ecom ***/
	.ecom { 
		width: 100%; float: left;
		.box { padding: 0 $pm5; }
	}
	/* ProductList */
	#list {
		float: left; width: 100%; margin-left: 0;
		.product, .group {
			width: 31.94444444444444%; float: left; margin-left: $pm5; margin-bottom: $pm5;
			a {
				display: block; font-size: 12px; padding: 0 0 $pm10 0; overflow: hidden; text-decoration: none; color: $gt5; background: $wht;
				.image { text-align: center; }
				.type, .name, .pricing { height: 12px; line-height: 12px; padding: 4px $pm10 0 $pm10; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100% - 2*$pm10; }
				
			}
		}
	}
	/***************/
}

@media (min-width: 640px) and (max-width: 959px) {
	$screen: 640px;
	$pm5: (5px/$screen)*100%;
	$pm10: (10px/$screen)*100%; 
	$pm15: (15px/$screen)*100%;
	$pm20: (20px/$screen)*100%;
	$pm25: (25px/$screen)*100%;
	$pm30: (30px/$screen)*100%;
	.show-tablet { display: block !important; }
	.hide-tablet { display: none !important; }
	.container { width: 100% - 2*$pm10; }


	/*** Header ***/
#header {
	.header {
		.search {
			.ipSea { width: 154px; }
		}
	}
}
/***************/

	#footer {
		#foot-navigation > li { width: 50% - $pm10; height: 120px; }
	}
	.ecom { 
		.box { padding: 0 $pm25; } 
	}
	/* ProductList Start */
	#list {
		float: left;
		.product, .group {
			width: 32.63888888888889%; float: left;
			a {
				display: block; font-size: 12px; padding: 0 0 $pm15 0; overflow: hidden; text-decoration: none; color: $gt5; background: $wht;
				.image { text-align: center; }
				.type, .name, .pricing { height: 12px; line-height: 12px; padding: 4px $pm15 0 $pm15; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
				
			}
		}
	}
	/* ProductList End */
}


@media (min-width: 960px) and (max-width: 1279px) {
	$screen: 960px;
	$pm5: (5px/$screen)*100%;
	$pm10: (10px/$screen)*100%; 
	$pm15: (15px/$screen)*100%;
	$pm20: (20px/$screen)*100%;
	$pm25: (25px/$screen)*100%;
	$pm30: (30px/$screen)*100%;
	.container { width: 100 - 2*$pm20; }
	.ecom { 
		margin-left: $pm20; float: left; width: 100% - $pm20;
		.box { padding: 0 $pm25; }
	}
	
}

/* Large desktop */
@media (min-width: 1280px) {
	$screen: 1280px;
	$pm5: (5px/$screen)*100%;
	$pm10: (10px/$screen)*100%; 
	$pm15: (15px/$screen)*100%;
	$pm20: (20px/$screen)*100%;
	$pm25: (25px/$screen)*100%;
	$pm30: (30px/$screen)*100%;
	.container { width: 100 - 2*$pm30; }
	.ecom { 
		margin-left: $pm20; float: left; width: 100% - $pm20;
		.box { padding: 0 $pm25; }
	}
	/* ProductList Start */
	#list {
		width: 100% + $pm5; margin-left: -$pm5;
		.product, .group {
			width: 16.23263888888889%; float: left; margin-left: $pm5; margin-bottom: $pm5;
			a {
				display: block; font-size: 12px; padding: 0 0 $pm30 0; overflow: hidden; text-decoration: none; color: $gt5; background: $wht;
				.image { text-align: center; background: $wht; }
				.type, .name, .pricing { height: 12px; line-height: 12px; padding: 4px $pm30 0 $pm30; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
				
			}
			a:hover { background: $gt2; }
		}
	}
	/* ProductList End */
	
}
