﻿/* ================================================ */
/* Design styles for TunstallNordic 				*/
/* Heine Virenfeldt Kristensen, Created: June 2013  */
/* ================================================ */



/***** Variables *****/
$wht:	#fff;
$blk:	#000;
$red:	#ee3124;
$ora:	#f47f30;
$blue:	#005186;
$btn:	#98a2a9;
$box:   #e8e9eb;
$dot:	#b5bdc1;
$gtE:	#e5e5e5;
$gtD:	#ddd;
$gtC:	#ccc;
$gtB:	#bbb;
$gt3:	#333;
$gt4:	#444;
$gt5:	#555;
$gt6:	#636363;
$gt9:	#999;


$bc1: #ee3124;
$bc2: #939598;
$bc3: #00bbe4;
$bc4: #732b90;
$bc5: #ec008c;
$bc6: #bc2074;
$bc7: #f47d30;
$bc8: #ffd457;
$bc9: #bd2831;


$pmS:	10px;
$pmM:	15px;
$pmL:	20px;
$pmXL:	25px;
$pmXXL:	30px;

$fsXS: 12px;
$fsS: 13px;
$fsM: 15px;
$fsL: 18px;
$fsXL: 26px;
$fsXXL: 32px;

@mixin input {
	border: 1px solid $gtC; padding: 2px 4px; height: 20px; line-height: 22px;
}


/***** The base styling *****/

body { font: normal 100% 'Lato', helvetica, arial, sans-serif; color: $gt6; background: $wht; }
a { color: $red; text-decoration: none; outline: none; }
a.glink { color: $gt6; }
a:hover { color: $blk; }
a.nohand { cursor: default; }
.row.fixed { width: 960px; }

.btn, a.btn { border: 0; background: $bc6; color: $wht; font-family: 'Lato', Arial, sans-serif; font-weight: 700; padding: 0 $pmS; height: 30px; line-height: 30px; cursor: pointer; }
.btn.addtocart { background: $bc4; }
.btn:hover { background-color: $gt6; color: $wht; }
label { font-weight: bold; color: $gt3; }
#main { margin-top: $pmL; }
#topbar { height: 30px; background: $box; background: rgba(232,233,234,.7); }
#head { height: 155px; background: $box url(header_bg.png) top center no-repeat; }

#head .row 										{ width: 960px; float: none; }
.headmenu 										{ float: right; }
.headmenu li 									{ float: left; }
#mainnav 										{ background: $wht; border-top: 1px solid $dot; border-bottom: 1px solid $dot; position: relative; z-index: 499; }
#mainnav .row.fixed								{ overflow: visible; }

h1, h2, h3 { color: $gt3; font-weight: 700; line-height: 100%; padding-bottom: $pmS/2; }
h1 { font-size: $fsXXL; font-weight: 400; Xmargin-left: -2px; }
h2 { font-size: $fsL; }
h3 { font-size: $fsS; }
p, li { 
	font-size: $fsS; margin-top: $pmS; line-height: $fsL; 
}
.headlike { margin: 0; font-size: $fsL; font-weight: 700; line-height: 100%; display: inline-block; }
.ph { 
	float: left; width: 100%; 
	ul { margin-left: $pmL; }
	b,strong { color: $gt4; }
	h2 { margin-top: $pmL; }
	h3 { margin-top: $pmM; }
	p { margin-top: 0; margin-bottom: $pmS; }
	.media { margin-top: $pmL; }
}
.martop { margin-top: $pmL; }
.video { margin-top: $pmM; }
.icons {
	clear: both; padding-left: 60px; position: relative; xwidth: 100%; margin-top: 0;
	img { position: absolute; left: 0; top: 0; }
	.headlike { padding-top: $pmS; color: $gt3; }
	a { display: inline-block; cursor: pointer; }
	a:hover, a:hover .headlike { color: $gt6; }
}

/* -- DropDown -- */
.dropmenu {
	float: left; position: relative;
	a { color: $gt6; }
	li { 
		float: left; position: relative; z-index: 500; display: block; margin-top: 0; padding: $pmS 0;
		li { 
			float: none; margin-top: 0; min-width: 170px; width: auto; max-width: 200px; text-transform: none; font-weight: normal; height: auto; line-height: 100%; border: none; padding: 0 $pmM;
			a { font-size: $fsS; height: auto; line-height: 100%; display: block; padding: $pmS 0; border-bottom: 1px dotted $dot; border-right: 0; }
			a.sel, a.opn { background: $wht; color: $red; }
		}
		li.last {
			a { border-bottom: 0; }
		}
		li.firstitem { border: 0; }
		a { display: block; padding: 0 $pmM; text-decoration: none; height: auto; line-height: auto; border-right: 1px solid $dot; }
		
		a.sel, a.opn { color: $red; }
		ul { position: absolute; left: -1px; top: 38px; display: none;  z-index: 501; background: $wht; border: 1px solid $dot; border-top: 0;  }
		
	}
	.count { padding-right: $pmM; background: url(arrow3.png) right $pmS*.7 no-repeat; }
	li:hover {
		a.level1 { color: $red; }
			ul { display: block; }
		}
	a:hover { color: $red !important; }
}


/* -- Header -- */
.helpmenu {
	float: left; height: 30px;
	li { float: left; line-height: 30px; height: 30px; padding: 0; margin-top: 0; }
	.flag { width: 18px; margin-right: 10px; }
	.help { 
		a { border-left: 1px solid $gtC; padding: 0 $pmS; color: $gt6; font-size: $fsXS; }
		a:hover { color: $gt3; }
	}
}
.cartmenu {
	float: right; 
	li { float: left; line-height: 30px; height: 30px; padding: 0 0 0 $pmS; margin-top: 0; font-size: $fsXS; }
	.userlogout { 
		padding-right: 0; 
		a.user { color: $gt6; font-weight: 700; }
		.user:hover { color: $gt3; }
	}
	.amount { 
		padding-left: 0; margin-left: $pmL; background: url(cartico.png) 0 0 no-repeat; 
		span { display: inline-block; padding-left: $pmXXL; } 
	}
	.btn { background: $bc4; color: $wht; font-weight: 700; padding: 0 $pmS; font-size: $fsS; }
	.btn:hover { background: $btn; }
}

.logo { 
	display: block; width: 190px; height: 53px; overflow: hidden; background: url(logo.png) center center no-repeat; margin-top: 36px;
	span { display: none; } 
}

.simpelsearch { 
	height: 33px; width: 190px; padding: 0; overflow: hidden; float: right; margin-top: 46px;
	input { float: left; margin: 0; border: 0; }
	label { display: none; }
	.ipSea { height: 33px; line-height: 33px; width: 164px; padding: 0; text-indent: 5px; }
	.ipbSea { background: #fff url(lup.png) 0 0 no-repeat; padding: 0; height: 33px; width: 26px; text-indent: 10000em; cursor: pointer; }
	.ipbSea:hover { background-position: -26px 0; }
}

/* -- Banner -- */
.banner  {
	 width: 630px; height: 350px; overflow: hidden; margin-bottom: 30px;
	 .slide {
		height: 350px; width: 630px;
		.info { position: absolute; bottom: 40px; padding: $pmM; color: $wht; background: $bc3; text-transform: uppercase; font-size: $fsL; width: 350px; }
		a { display: block; width: 100%; height: 100%; cursor: pointer; }
	 } 
}

/* -- Forside -- */

.colorbox { 
	margin-top: 20px; float: left;  height: 75px; width: 100%;
	a { 
		display: block; float: left; width: 191px; margin-left: 1px; text-align: center; background: $box; height: 75px; font-size: $fsM; position: relative; color: $wht;
		b { display: block; font-size: 23px; line-height: 23px; font-weight: 400; padding: 0; }
		.tag { display: inline-block; padding-top: 2px; }
		.vam { display: block; width: 100%; left: 0; text-align: center; }
	}
	.first { margin-left: 0; width: 192px; }
	.bc1 { background: $bc1; }
	.bc2 { background: $bc2; }
	.bc3 { background: $bc3; }
	.bc4 { background: $bc4; }
	.bc5 { background: $bc5; }
	.bc6 { background: $bc6; }
	.bc7 { background: $bc7; }
	.bc8 { background: $bc8; }
	.bc9 { background: $bc9; }
	a:hover { background: $gt6; }
}
.fp { height: 200px; }
.light { 
	height: 30px; line-height: 30px; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; background: #eee; 
	span, h2 { border-top: 1px solid #fff; color: $gt3; font-size: 14px; display: inline-block; } 
}
[class*="pad"] { padding: $pmM; }

/*
.halfs {
	.padL { padding: $pmXXL $pmM 0 0; }
	.padR { padding: $pmXXL 0 0 $pmM; }
}
*/
/* -- Sidebar -- */
.box { 
	background: $box; float: left; margin-bottom: 20px; width: 100%; 
	.headlike { color: $gt3; margin-top: $pmM; }
	ul { margin-left: $pmXXL; }
	ul.sidemenu, ul.newslist, ul.formular, ul.related, ul.docs { margin-left: 0; list-style: none; }
}
.box.red { 
	background: $red; color: $wht;
	/* 
	background: -moz-linear-gradient(top,  #e2051a 0%, #bf0c13 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2051a), color-stop(100%,#bf0c13));
	background: -webkit-linear-gradient(top,  #e2051a 0%,#bf0c13 100%);
	background: -o-linear-gradient(top,  #e2051a 0%,#bf0c13 100%);
	background: -ms-linear-gradient(top,  #e2051a 0%,#bf0c13 100%);
	background: linear-gradient(to bottom,  #e2051a 0%,#bf0c13 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2051a', endColorstr='#bf0c13',GradientType=0 );
	*/
	.highlight { font-size: $fsL; line-height: $fsXL; margin-top: 0; }
}
.box.clean { background: $wht; overflow: hidden; }
.padTB { padding-left: 0; padding-right: 0; }

/* -- BreadCrumb -- */
.bc { 
	font-size: $fsXS; background: url(icon-home.png) left center no-repeat; padding-left: $pmXXL; margin: $pmS 0;
	.arrow { display: inline-block; width: 6px; height: 15px; margin: 0 $pmS/2; background: url(arrow.png) center center no-repeat; } 
	a { text-decoration: none; color: $red; display: inline-block; height: 15px; line-height: 15px; }
	a:hover { color: $gt3; }
	a.activeitem, a.nohand { cursor: default; color: $gt6 !important; }
}

/* -- Sidebar -- */
.sidemenu {
	ul, li { list-style: none; margin: 0; padding: 0; line-height: 100%; }
	ul { border-bottom: 1px dotted $dot; }
	ul ul { border-bottom: none; padding-bottom: 10px; }
	a { text-decoration: none; color: $gt3; display: block; }
	a.level1 { font-size: $fsL; padding-bottom: $pmM; font-weight: 700; }
	a.level2 { border-top: 1px dotted $dot; padding: $pmS; background: url(arrow4.png) left center no-repeat; font-weight: normal; color: $red; font-size: $fsS; }
	a.level3 { 
		padding: 4px 10px 4px 20px; display: inline-block; font-size: $fsS; font-weight: normal; Xfont-family: helvetica, arial, sans-serif; color: $gt6;
		.sublink { display: inline-block; padding-left: 5px; } 
	}
	#sel.level2, #opn.level2 { font-weight: bold; }
	a:hover { color: $gt3; }
	b { font-weight: normal; }
}
.newslist {
	li { padding: $pmS 0; border-bottom: 1px dotted $dot; margin: 0; line-height: 100%; clear: both; width: 100%; }
	.image { float: left; margin: 3px $pmS $pmS/2 0; width: 70px; height: 70px; padding: 3px; border: 1px solid darken($gt9,5%); }
	.date, .category { display: block; font-size: $fsXS; } 
	.date { color: $gt9; }
	.category { font-style: italic; color: $gt3; }
	.category:hover { color: $red; }
	.headline, .teaser { display: block; margin-top: $pmS/2; line-height: 125%;  }
	.headline { font-size: $fsL; }
	.teaser { line-height: 140%; } 
} 

/* -- Footer -- */
#foot { 
	padding: $pmL 0; border-top: 1px solid $dot; border-bottom: 1px solid $dot; margin-top: 2*$pmL; background: $box; 
	p, li { font-size: $fsS; }
} 

/* -- Tables -- */
.table {
	font-size: $fsS; border-collapse: collapse;
	td, th { vertical-align: middle; border-bottom: 1px solid $dot; padding: $pmS/2; }
	th { background: $box; border-top: 1px solid $dot; font-weight: bold; }
	.basketheader th { background: transparent; border-top: 0; padding-top: 0; border-bottom-width: 3px; }
	.totales td { border-bottom-width: 3px; font-weight: bold; }
	.divider td { border-top: 2px solid $gtC; }
	.grouphead th { background: #f6f6f6; font-weight: bold; color: $gt4; border-top: 1px solid $wht;; }
	.thumb { width: 80px; padding-bottom: 3px; }
	.name { 
		width: auto;
		h2 { font-size: 14px; }
		h4 { font-weight: bold; font-size: 13px; }
	}
	.prodline { 
		width: 350px;
		h3 { font-size: 14px; }
	}
	.delivery { font-size: $fsXS; }
	.price { width: 60px; }
	.favl { width: 40px; }
	.buy { 
		width: 100px; padding-left: 20px;
		label { display: none; }
		.orderLineAmount { width: 30px; height: 20px; padding: 0 4px; text-align: center; margin: 0 5px 0 0; float: left; border: 1px solid $gtC; }
		.btn { height: 22px; line-height: 22px; float: right; padding: 0 7px; }
		.btn:hover {  }
		}
	.amountline { 
		width: 140px;
		.amounter { width: 48px; border: 1px solid $gtC; height: 24px; line-height: 24px; background: #f3f3f3; xdisplay: block; font-size: 16px; }
		a { display: block; width: 25px; height: 25px; float: left; text-align: center; text-indent: -10000em; background-position: center top; background-repeat: no-repeat; }
		a.basketInc { background-image: url(ico-inc.png); }
		a.basketDec { background-image: url(ico-dec.png); }
		a:hover { background-position: center bottom; }
		}
		.priceline { width: 100px; }
	.buy.narrow { width: 30px; }
	.topline td { border-bottom: 0; }
	.topline .thumb { border-bottom: 1px solid $dot; }
	.basketDel { display: inline-block; color: $blue; padding-top: 5px; border-bottom: 1px dotted $blue; clear: both; font-size: $fsXS; }
	.product { color: $gt4; font-weight: 700; }
	.art { color: $gt6; font-size: 12px; }
	.orderline {
		.art { padding-right: 10px; }
	}
}

/* -- Product list -- */
.products { margin-top: $pmL; }
.groups {
	float: left; width: 100%;
	li { 
		width: (100%/3); float: left; display: inline;
		.pad { padding: $pmL $pmXL $pmL 0; display: table; height: 55px; }
		a { display: table-row; }
		span { display: table-cell; height: 55px; vertical-align: middle; }
		.image { width: 55px; height: 55px; background-position: center center; background-repeat: no-repeat; }
		.name { padding-left: $pmM; }
		a:hover { color: $gt3; }
	}
}
.prodlist {
	list-style: none; float: left; width: 100%;
	li { 
		float: left; width: (100%/3); text-align: center;
		
		[class*="pad"] { 
			padding-top: $pmS; padding-bottom: 0; 
			a { display: block;  cursor: pointer; height: 120px; }
		}
		.pad1 { padding-right: $pmL; padding-left: 0; }
		.pad2 { padding-left: $pmS; padding-right: $pmS; }
		.pad0 { padding-left: $pmL; padding-right: 0; }
		span { display: block; }
		.image { height: 86px; background-position: center center; background-repeat: no-repeat; }
		.name {}
	}
}
.pager {
	margin-top: $pmM; float: left; text-align: center; width: 100%;
	a { text-decoration: none; font-weight: bold; font-size: $fsXL; position: relative; top: 3px; }
	a.nogo { color: $wht; cursor: default; }
	a:hover { color: $gt3; }
	.pages { display: inline-block; padding: 0 5px; font-size: $fsXS; color: $gt6; }
}
.newspager {
	margin-top: $pmM; float: left; text-align: center; width: 100%;
	a { color: $gt6; font-size: $fsXS; }
	span { font-size: $fsXL; position: relative; top: 2px; color: $red; }
	b { color: $red; font-size: $fsS; }
	:hover { color: $gt3; }
}

/* -- Product -- */
.productdata {
	.art { font-size: $fsS; font-weight: 700; }
	.currency { font-size: 12px; }
	.price { font-weight: bold; font-size: $fsXL; color: $gt4; line-height: 100%; }
	.type { font-size: $fsXS; font-style: italic; } 
	.favliste { background: $gtE url(isfav.png) 8px center no-repeat; height: 28px; line-height: 28px; float: right; padding: 0 8px 0 36px; border-radius: 2px; border: 1px solid $gtC; color: $gt3; }
	.favliste:hover { color: #008458; }
	.productlines {
		width: 100%; float: left; border-top: 1px solid $gtC; margin: $pmS 0 $pmL;
		dt, dd { float: left; width: 50%; }
		dd { text-align: right; }
		.ipS, label { float: left; }
		label { height: 22px; line-height: 24px; }
		.ipS { border: 1px solid $gtC; width: 30px; height: 22px; padding: 0; text-align: center; margin-left: 5px; }
		a[class*="fav"] { font-size: $fsS; display: inline-block; }
		.btn { font-size: 16px; height: 28px; line-height: 28px; padding: 0 10px; }
		.btn:hover {  }
	}
	.prodimage { width: 100%; height: 300px; margin: $pmS 0 0; }
	.thumb {
		a { background-position: center center; background-repeat: no-repeat; display: inline-block; width: 100px; height: 46px; margin: 0 $pmS/2; }
	}
	.related {
		list-style: none;
		li { display: table; border-bottom: 1px dotted $dot; width: 100%; margin-top: 0; line-height: 100%; }
		a { display: table-row; }
		span { display: table-cell; padding-top: $pmS/2; padding-bottom: $pmS/2; vertical-align: middle; }
		.image { width: 100px; height: 46px; background-position: center center; background-repeat: no-repeat; }
		.name { padding-left: $pmS; vertical-align: middle; }
		img { visibility: hidden; }
	}
}

.ie7 { 
	.productlines { 
		xwidth: 393px; clear: both;
		dt { width: 193px; }
		dd { width: 200px; }
		.ipS { height: 20px; padding-top: 2px; }
	}
	.related img { width: 100px; height: 46px; }
}


.userinfo {
	display: table; margin-top: $pmM;
	li { display: table-row;
		span { display: table-cell;padding: $pmS/2 0; }
		.label { min-width: 120px; }
	}
}

/* -- Download -- */
.dnl {
	padding: $pmS 0; float: left; width: 100%;
	.size, .info { font-size: $fsXS; }
	.info { margin-top: $pmS; line-height: 100%; }
	a { font-size: $fsM; font-weight: 700; padding-left: 24px; background: url(ico-file.png) 2px center no-repeat; display: inline-block; margin-right: 10px; }
	.pdf { background-image: url(ico-pdf.png); }
	.doc { background-image: url(ico-doc.png); }
}
/* -- Cart -- */
.errorvalid {
	background: lighten($bc8, 10%);
	li { margin: 0; }
}
.choosedelivery { 
	border-top: 1px solid $gtC; padding: 10px 0; 
	label { width: 120px; margin: 0; }
	select { width: 308px; }
}
.carthead { margin-bottom: 2*$pmXXL;  }
.cartnav { margin-top: $pmL; clear: both; }
.cartinfo {
	h2 { border-bottom: 1px solid $dot; }
	.table { margin-top: $pmL; }
	.marbo { margin-bottom: $pmL; }
}
.box .table { font-size: $fsXS; }
.steps { 
	float: right; padding-top: 2px; font-size: $fsS;
	.step { height: 30px; background: $box; float: left; padding: 0 $pmS; margin-left: 2px; }
	.number { float: left; padding-right: $pmS; font-size: $fsL; height: 30px; line-height: 30px; }
	.steptxt { height: 30px; line-height: 30px; float: left; }
	.step.active { color: $wht; background: $gt6; }
}

a.empty { background: $btn url(empty.png) 7px center no-repeat; padding-left: 24px; }
.updater { background: $box url(updater.png) 10px center no-repeat; padding-left: 30px; color: $gt6; }
.updater:hover { background-color: $wht; color: $gt6; }
.next { height: 40px; line-height: 40px; font-size: $fsL; background-color: $bc4; }
.prev { background-color: $btn; }
a.print { background: $bc4 url(print.png) 7px center no-repeat; padding-left: 30px; }

/* -- Forms -- */
.ip { 
	@include input;
}
textarea.ip { height: 80px; line-height: 100%; }
label { font-size: 12px; display: inline-block; margin: 0 0 0 2px; }
.login {
	.ip { width: 154px; margin-bottom: 5px; }
	.btn { float: right; height: 24px; border: 1px solid $gtC; margin: 5px 0 0 0; border-radius: 2px; overflow: hidden; }
	.btn:hover {  }
	.link { font-size: 11px; }
	.link:hover { text-decoration: none; }
	.lost { display: none; }
	.boxHead { background: $gtE url(lock.png) 160px center no-repeat; }
}
.express {
	.left, .right { float: left; width: 77px; }
	.left { margin-right: 10px; }
	.ip { width: 67px; }
	.btn { height: 24px; background: $btn; color: $wht; text-transform: uppercase; margin: 10px 0 0 22px; font-size: 13px; font-weight: bold; overflow: hidden; width: 120px; border: 0; }
	.btn:hover {  }
	input[disabled=disabled], input[disabled=disabled]:hover { background: $gtE; color: $gtB; }
	.boxHead { 
		background: $gtE url(express.png) 160px center no-repeat; 
		span { font-size: 14px; font-weight: bold; }
	}
	span { font-size: 11px; }
}

.formular {
	p { line-height: 100%; width: 100%; clear: both; }
	p.newsletter { margin-top: 20px; }
	.ip { float: left; margin-bottom: $pmS; }
	.ip:focus {  }
	.large { width: 300px; }
	.medium { width: 230px; }
	.small { width: 55px; margin-right: 5px; }
	.fl { width: 120px; padding-top: 10px; }
	div.fl { margin-left: 2px; }
	.btn { height: 30px; font-size: $fsS; width: 60px; }
	.btn.serv { margin-left: 250px; }
	label { font-size: $fsS; line-height: $fsL; }
	.req { color: $red; font-weight: bold; font-size: $fsL; line-height: $fsS; }
}
.formitem {
	input[type=text] { @include input; width: 400px; }
}
.formbtn {
	width: 412px; position: relative; height: 50px;
	input, button { @extend .btn; position: absolute; bottom: 0; }
	input[type=submit] { width: auto; padding: 0 20px;  right: 0; }
	input[type=reset] { width: auto; padding: 0 20px; background: $gtE; color: $gt6; left: 0; }
	input[type=reset]:hover { color: $red; background: $gtE; }
}

/* -- Users -- */
div.user, .adr {
	width: 100%; margin-left: 0; float: left; font-size: $fsS; height: 100px;
	.info, .image { float: left; width: 100px; }
	.info { width: auto; }
	.image { margin-right: $pmS; height: 100px; }
	.name { display: inline-block; padding-top: $pmS/2; }
	.department { font-size: $fsM; color: $gt3;font-weight: 700; }
}
.adr {
	height: 160px; margin-top: $pmL;
	.extra { display: block; padding-top: $pmS/2; }
}




/* Offsets */
[class*="offset"] { Xfloat: left; }
.offset { text-indent: -10000em; height: 0px; }
.offsetL { margin-left: $pmXXL; }
.offsetR { margin-right: $pmXXL; }
.offsetB { margin-bottom: $pmXXL; }
.offsetLR { margin-left: $pmXXL; margin-right: $pmXXL; }
.offsetL2 { margin-left: $pmM; }
.offsetR2 { margin-right: $pmM; }

/* Modal style */
#modal-overlay { position:fixed;  top:0; left:0; width:100%; height:100%; background:#000; opacity:0.5; filter:alpha(opacity=50); z-index: 16000; }
#modal-box { position:absolute; /*background:url(modal/tint20.png) 0 0 repeat; background:rgba(0,0,0,0.2); border-radius:14px; padding:8px;*/ z-index: 170000; }
#modal-content { border-radius:8px; background:#fff; padding:20px; }
#modal-close { position:absolute; background:url(modal/close.png) 0 0 no-repeat; width:24px; height:27px; display:block; text-indent:-9999px; top:-7px; right:-7px; }
#modal-loading { background: url(modal/ajax-loading-bar.gif) top center no-repeat; width: 230px; text-align: center; padding-top: 25px; font-weight: bold; }

[class*="ie"] {
	.red {
		.hihglight { font-size: 17px; font-weight: 400; }
	}
} 

hr { border-top: 1px solid $gtB; }
.small { font-size: $fsXS; }

@media print { 
	#head, #foot, #mainnav, .btn, .steps, #bc { display: none; }
}