/* ================================================ */
/* Design styles for TunstallNordic 				*/
/* Heine Virenfeldt Kristensen, Created: June 2013  */
/* ================================================ */
/***** Variables *****/
/***** The base styling *****/
body {
  font: normal 100% 'Lato', helvetica, arial, sans-serif;
  color: #636363;
  background: white; }

a {
  color: #ee3124;
  text-decoration: none;
  outline: none; }

a.glink {
  color: #636363; }

a:hover {
  color: black; }

a.nohand {
  cursor: default; }

.row.fixed {
  width: 960px; }

.btn, .formbtn input, .formbtn button, a.btn {
  border: 0;
  background: #bc2074;
  color: white;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 700;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  cursor: pointer; }

.btn.addtocart, .formbtn input.addtocart, .formbtn button.addtocart {
  background: #732b90; }

.btn:hover, .formbtn input:hover, .formbtn button:hover {
  background-color: #636363;
  color: white; }

label {
  font-weight: bold;
  color: #333333; }

#main {
  margin-top: 20px; }

#topbar {
  height: 30px;
  background: #e8e9eb;
  background: rgba(232, 233, 234, 0.7); }

#head {
  height: 155px;
  background-color: #e8e9eb;
}

#head .row {
  width: 960px;
  float: none; }

.headmenu {
  float: right; }

.headmenu li {
  float: left; }

#mainnav {
  background: white;
  border-top: 1px solid #b5bdc1;
  border-bottom: 1px solid #b5bdc1;
  position: relative;
  z-index: 499; }

#mainnav .row.fixed {
  overflow: visible; }

h1, h2, h3 {
  color: #333333;
  font-weight: 700;
  line-height: 100%;
  padding-bottom: 5px; }

h1 {
  font-size: 32px;
  font-weight: 400;
  Xmargin-left: -2px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 13px; }

p, li {
  font-size: 13px;
  margin-top: 10px;
  line-height: 18px; }

.headlike {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  display: inline-block; }

.ph {
  float: left;
  width: 100%; }
  .ph ul {
    margin-left: 20px; }
  .ph b, .ph strong {
    color: #444444; }
  .ph h2 {
    margin-top: 20px; }
  .ph h3 {
    margin-top: 15px; }
  .ph p {
    margin-top: 0;
    margin-bottom: 10px; }
  .ph .media {
    margin-top: 20px; }

.martop {
  margin-top: 20px; }

.video {
  margin-top: 15px; }

.icons {
  clear: both;
  padding-left: 60px;
  position: relative;
  xwidth: 100%;
  margin-top: 0; }
  .icons img {
    position: absolute;
    left: 0;
    top: 0; }
  .icons .headlike {
    padding-top: 10px;
    color: #333333; }
  .icons a {
    display: inline-block;
    cursor: pointer; }
  .icons a:hover, .icons a:hover .headlike {
    color: #636363; }

/* -- DropDown -- */
.dropmenu {
  float: left;
  position: relative; }
  .dropmenu a {
    color: #636363; }
  .dropmenu li {
    float: left;
    position: relative;
    z-index: 500;
    display: block;
    margin-top: 0;
    padding: 10px 0; }
    .dropmenu li li {
      float: none;
      margin-top: 0;
      min-width: 170px;
      width: auto;
      max-width: 200px;
      text-transform: none;
      font-weight: normal;
      height: auto;
      line-height: 100%;
      border: none;
      padding: 0 15px; }
      .dropmenu li li a {
        font-size: 13px;
        height: auto;
        line-height: 100%;
        display: block;
        padding: 10px 0;
        border-bottom: 1px dotted #b5bdc1;
        border-right: 0; }
      .dropmenu li li a.sel, .dropmenu li li a.opn {
        background: white;
        color: #ee3124; }
    .dropmenu li li.last a {
      border-bottom: 0; }
    .dropmenu li li.firstitem {
      border: 0; }
    .dropmenu li a {
      display: block;
      padding: 0 15px;
      text-decoration: none;
      height: auto;
      line-height: auto;
      border-right: 1px solid #b5bdc1; }
    .dropmenu li a.sel, .dropmenu li a.opn {
      color: #ee3124; }
    .dropmenu li ul {
      position: absolute;
      left: -1px;
      top: 38px;
      display: none;
      z-index: 501;
      background: white;
      border: 1px solid #b5bdc1;
      border-top: 0; }
  .dropmenu .count {
    padding-right: 15px;
    background: url(arrow3.png) right 7px no-repeat; }
  .dropmenu li:hover a.level1 {
    color: #ee3124; }
  .dropmenu li:hover ul {
    display: block; }
  .dropmenu a:hover {
    color: #ee3124 !important; }

/* -- Header -- */
.helpmenu {
  float: left;
  height: 30px; }
  .helpmenu li {
    float: left;
    line-height: 30px;
    height: 30px;
    padding: 0;
    margin-top: 0; }
  .helpmenu .flag {
    width: 18px;
    margin-right: 10px; }
  .helpmenu .help a {
    border-left: 1px solid #cccccc;
    padding: 0 10px;
    color: #636363;
    font-size: 12px; }
  .helpmenu .help a:hover {
    color: #333333; }

.cartmenu {
  float: right; }
  .cartmenu li {
    float: left;
    line-height: 30px;
    height: 30px;
    padding: 0 0 0 10px;
    margin-top: 0;
    font-size: 12px; }
  .cartmenu .userlogout {
    padding-right: 0; }
    .cartmenu .userlogout a.user {
      color: #636363;
      font-weight: 700; }
    .cartmenu .userlogout .user:hover {
      color: #333333; }
  .cartmenu .amount {
    padding-left: 0;
    margin-left: 20px;
    background: url(cartico.png) 0 0 no-repeat; }
    .cartmenu .amount span {
      display: inline-block;
      padding-left: 30px; }
  .cartmenu .btn, .cartmenu .formbtn input, .formbtn .cartmenu input, .cartmenu .formbtn button, .formbtn .cartmenu button {
    background: #732b90;
    color: white;
    font-weight: 700;
    padding: 0 10px;
    font-size: 13px; }
  .cartmenu .btn:hover, .cartmenu .formbtn input:hover, .formbtn .cartmenu input:hover, .cartmenu .formbtn button:hover, .formbtn .cartmenu button:hover {
    background: #98a2a9; }

.logo {
  display: block;
  width: 190px;
  height: 53px;
  overflow: hidden;
  margin-top: 36px; }

.simpelsearch {
  height: 33px;
  width: 190px;
  padding: 0;
  overflow: hidden;
  float: right;
  margin-top: 46px; }
  .simpelsearch input {
    float: left;
    margin: 0;
    border: 0; }
  .simpelsearch label {
    display: none; }
  .simpelsearch .ipSea {
    height: 33px;
    line-height: 33px;
    width: 164px;
    padding: 0;
    text-indent: 5px; }
  .simpelsearch .ipbSea {
    background: white url(lup.png) 0 0 no-repeat;
    padding: 0;
    height: 33px;
    width: 26px;
    text-indent: 10000em;
    cursor: pointer; }
  .simpelsearch .ipbSea:hover {
    background-position: -26px 0; }

/* -- Banner -- */
.banner {
  width: 630px;
  height: 350px;
  overflow: hidden;
  margin-bottom: 30px; }
  .banner .slide {
    height: 350px;
    width: 630px; }
    .banner .slide .info {
      position: absolute;
      bottom: 40px;
      padding: 15px;
      color: white;
      background: #00bbe4;
      text-transform: uppercase;
      font-size: 18px;
      width: 350px; }
    .banner .slide a {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer; }

/* -- Forside -- */
.colorbox {
  margin-top: 20px;
  float: left;
  height: 75px;
  width: 100%; }
  .colorbox a {
    display: block;
    float: left;
    width: 191px;
    margin-left: 1px;
    text-align: center;
    background: #e8e9eb;
    height: 75px;
    font-size: 15px;
    position: relative;
    color: white; }
    .colorbox a b {
      display: block;
      font-size: 23px;
      line-height: 23px;
      font-weight: 400;
      padding: 0; }
    .colorbox a .tag {
      display: inline-block;
      padding-top: 2px; }
    .colorbox a .vam {
      display: block;
      width: 100%;
      left: 0;
      text-align: center; }
  .colorbox .first {
    margin-left: 0;
    width: 192px; }
  .colorbox .bc1 {
    background: #ee3124; }
  .colorbox .bc2 {
    background: #939598; }
  .colorbox .bc3 {
    background: #00bbe4; }
  .colorbox .bc4 {
    background: #732b90; }
  .colorbox .bc5 {
    background: #ec008c; }
  .colorbox .bc6 {
    background: #bc2074; }
  .colorbox .bc7 {
    background: #f47d30; }
  .colorbox .bc8 {
    background: #ffd457; }
  .colorbox .bc9 {
    background: #bd2831; }
  .colorbox a:hover {
    background: #636363; }

.fp {
  height: 200px; }

.light {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background: #eee; }
  .light span, .light h2 {
    border-top: 1px solid #fff;
    color: #333333;
    font-size: 14px;
    display: inline-block; }

[class*="pad"] {
  padding: 15px; }

/*
.halfs {
	.padL { padding: $pmXXL $pmM 0 0; }
	.padR { padding: $pmXXL 0 0 $pmM; }
}
*/
/* -- Sidebar -- */
.box {
  background: #e8e9eb;
  float: left;
  margin-bottom: 20px;
  width: 100%; }
  .box .headlike {
    color: #333333;
    margin-top: 15px; }
  .box ul {
    margin-left: 30px; }
  .box ul.sidemenu, .box ul.newslist, .box ul.formular, .box ul.related, .box ul.docs {
    margin-left: 0;
    list-style: none; }

.box.red {
  background: #ee3124;
  color: white;
  /* 
  background: -moz-linear-gradient(top,  #e2051a 0%, #bf0c13 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2051a), color-stop(100%,#bf0c13));
  background: -webkit-linear-gradient(top,  #e2051a 0%,#bf0c13 100%);
  background: -o-linear-gradient(top,  #e2051a 0%,#bf0c13 100%);
  background: -ms-linear-gradient(top,  #e2051a 0%,#bf0c13 100%);
  background: linear-gradient(to bottom,  #e2051a 0%,#bf0c13 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2051a', endColorstr='#bf0c13',GradientType=0 );
  */ }
  .box.red .highlight {
    font-size: 18px;
    line-height: 26px;
    margin-top: 0; }

.box.clean {
  background: white;
  overflow: hidden; }

.padTB {
  padding-left: 0;
  padding-right: 0; }

/* -- BreadCrumb -- */
.bc {
  font-size: 12px;
  background: url(icon-home.png) left center no-repeat;
  padding-left: 30px;
  margin: 10px 0; }
  .bc .arrow {
    display: inline-block;
    width: 6px;
    height: 15px;
    margin: 0 5px;
    background: url(arrow.png) center center no-repeat; }
  .bc a {
    text-decoration: none;
    color: #ee3124;
    display: inline-block;
    height: 15px;
    line-height: 15px; }
  .bc a:hover {
    color: #333333; }
  .bc a.activeitem, .bc a.nohand {
    cursor: default;
    color: #636363 !important; }

/* -- Sidebar -- */
.sidemenu ul, .sidemenu li {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 100%; }
.sidemenu ul {
  border-bottom: 1px dotted #b5bdc1; }
.sidemenu ul ul {
  border-bottom: none;
  padding-bottom: 10px; }
.sidemenu a {
  text-decoration: none;
  color: #333333;
  display: block; }
.sidemenu a.level1 {
  font-size: 18px;
  padding-bottom: 15px;
  font-weight: 700; }
.sidemenu a.level2 {
  border-top: 1px dotted #b5bdc1;
  padding: 10px;
  background: url(arrow4.png) left center no-repeat;
  font-weight: normal;
  color: #ee3124;
  font-size: 13px; }
.sidemenu a.level3 {
  padding: 4px 10px 4px 20px;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  Xfont-family: helvetica, arial, sans-serif;
  color: #636363; }
  .sidemenu a.level3 .sublink {
    display: inline-block;
    padding-left: 5px; }
.sidemenu #sel.level2, .sidemenu #opn.level2 {
  font-weight: bold; }
.sidemenu a:hover {
  color: #333333; }
.sidemenu b {
  font-weight: normal; }

.newslist li {
  padding: 10px 0;
  border-bottom: 1px dotted #b5bdc1;
  margin: 0;
  line-height: 100%;
  clear: both;
  width: 100%; }
.newslist .image {
  float: left;
  margin: 3px 10px 5px 0;
  width: 70px;
  height: 70px;
  padding: 3px;
  border: 1px solid #8c8c8c; }
.newslist .date, .newslist .category {
  display: block;
  font-size: 12px; }
.newslist .date {
  color: #999999; }
.newslist .category {
  font-style: italic;
  color: #333333; }
.newslist .category:hover {
  color: #ee3124; }
.newslist .headline, .newslist .teaser {
  display: block;
  margin-top: 5px;
  line-height: 125%; }
.newslist .headline {
  font-size: 18px; }
.newslist .teaser {
  line-height: 140%; }

/* -- Footer -- */
#foot {
  padding: 20px 0;
  border-top: 1px solid #b5bdc1;
  border-bottom: 1px solid #b5bdc1;
  margin-top: 40px;
  background: #e8e9eb; }
  #foot p, #foot li {
    font-size: 13px; }

/* -- Tables -- */
.table {
  font-size: 13px;
  border-collapse: collapse; }
  .table td, .table th {
    vertical-align: middle;
    border-bottom: 1px solid #b5bdc1;
    padding: 5px; }
  .table th {
    background: #e8e9eb;
    border-top: 1px solid #b5bdc1;
    font-weight: bold; }
  .table .basketheader th {
    background: transparent;
    border-top: 0;
    padding-top: 0;
    border-bottom-width: 3px; }
  .table .totales td {
    border-bottom-width: 3px;
    font-weight: bold; }
  .table .divider td {
    border-top: 2px solid #cccccc; }
  .table .grouphead th {
    background: #f6f6f6;
    font-weight: bold;
    color: #444444;
    border-top: 1px solid white; }
  .table .thumb {
    width: 80px;
    padding-bottom: 3px; }
  .table .name {
    width: auto; }
    .table .name h2 {
      font-size: 14px; }
    .table .name h4 {
      font-weight: bold;
      font-size: 13px; }
  .table .prodline {
    width: 350px; }
    .table .prodline h3 {
      font-size: 14px; }
  .table .delivery {
    font-size: 12px; }
  .table .price {
    width: 60px; }
  .table .favl {
    width: 40px; }
  .table .buy {
    width: 100px;
    padding-left: 20px; }
    .table .buy label {
      display: none; }
    .table .buy .orderLineAmount {
      width: 30px;
      height: 20px;
      padding: 0 4px;
      text-align: center;
      margin: 0 5px 0 0;
      float: left;
      border: 1px solid #cccccc; }
    .table .buy .btn, .table .buy .formbtn input, .formbtn .table .buy input, .table .buy .formbtn button, .formbtn .table .buy button {
      height: 22px;
      line-height: 22px;
      float: right;
      padding: 0 7px; }
  .table .amountline {
    width: 140px; }
    .table .amountline .amounter {
      width: 48px;
      border: 1px solid #cccccc;
      height: 24px;
      line-height: 24px;
      background: #f3f3f3;
      xdisplay: block;
      font-size: 16px; }
    .table .amountline a {
      display: block;
      width: 25px;
      height: 25px;
      float: left;
      text-align: center;
      text-indent: -10000em;
      background-position: center top;
      background-repeat: no-repeat; }
    .table .amountline a.basketInc {
      background-image: url(ico-inc.png); }
    .table .amountline a.basketDec {
      background-image: url(ico-dec.png); }
    .table .amountline a:hover {
      background-position: center bottom; }
  .table .priceline {
    width: 100px; }
  .table .buy.narrow {
    width: 30px; }
  .table .topline td {
    border-bottom: 0; }
  .table .topline .thumb {
    border-bottom: 1px solid #b5bdc1; }
  .table .basketDel {
    display: inline-block;
    color: #005186;
    padding-top: 5px;
    border-bottom: 1px dotted #005186;
    clear: both;
    font-size: 12px; }
  .table .product {
    color: #444444;
    font-weight: 700; }
  .table .art {
    color: #636363;
    font-size: 12px; }
  .table .orderline .art {
    padding-right: 10px; }

/* -- Product list -- */
.products {
  margin-top: 20px; }

.groups {
  float: left;
  width: 100%; }
  .groups li {
    width: 33.33333%;
    float: left;
    display: inline; }
    .groups li .pad {
      padding: 20px 25px 20px 0;
      display: table;
      height: 55px; }
    .groups li a {
      display: table-row; }
    .groups li span {
      display: table-cell;
      height: 55px;
      vertical-align: middle; }
    .groups li .image {
      width: 55px;
      height: 55px;
      background-position: center center;
      background-repeat: no-repeat; }
    .groups li .name {
      padding-left: 15px; }
    .groups li a:hover {
      color: #333333; }

.prodlist {
  list-style: none;
  float: left;
  width: 100%; }
  .prodlist li {
    float: left;
    width: 33.33333%;
    text-align: center; }
    .prodlist li [class*="pad"] {
      padding-top: 10px;
      padding-bottom: 0; }
      .prodlist li [class*="pad"] a {
        display: block;
        cursor: pointer;
        height: 120px; }
    .prodlist li .pad1 {
      padding-right: 20px;
      padding-left: 0; }
    .prodlist li .pad2 {
      padding-left: 10px;
      padding-right: 10px; }
    .prodlist li .pad0 {
      padding-left: 20px;
      padding-right: 0; }
    .prodlist li span {
      display: block; }
    .prodlist li .image {
      height: 86px;
      background-position: center center;
      background-repeat: no-repeat; }

.pager {
  margin-top: 15px;
  float: left;
  text-align: center;
  width: 100%; }
  .pager a {
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    position: relative;
    top: 3px; }
  .pager a.nogo {
    color: white;
    cursor: default; }
  .pager a:hover {
    color: #333333; }
  .pager .pages {
    display: inline-block;
    padding: 0 5px;
    font-size: 12px;
    color: #636363; }

.newspager {
  margin-top: 15px;
  float: left;
  text-align: center;
  width: 100%; }
  .newspager a {
    color: #636363;
    font-size: 12px; }
  .newspager span {
    font-size: 26px;
    position: relative;
    top: 2px;
    color: #ee3124; }
  .newspager b {
    color: #ee3124;
    font-size: 13px; }
  .newspager :hover {
    color: #333333; }

/* -- Product -- */
.productdata .art {
  font-size: 13px;
  font-weight: 700; }
.productdata .currency {
  font-size: 12px; }
.productdata .price {
  font-weight: bold;
  font-size: 26px;
  color: #444444;
  line-height: 100%; }
.productdata .type {
  font-size: 12px;
  font-style: italic; }
.productdata .favliste {
  background: #e5e5e5 url(isfav.png) 8px center no-repeat;
  height: 28px;
  line-height: 28px;
  float: right;
  padding: 0 8px 0 36px;
  border-radius: 2px;
  border: 1px solid #cccccc;
  color: #333333; }
.productdata .favliste:hover {
  color: #008458; }
.productdata .productlines {
  width: 100%;
  float: left;
  border-top: 1px solid #cccccc;
  margin: 10px 0 20px; }
  .productdata .productlines dt, .productdata .productlines dd {
    float: left;
    width: 50%; }
  .productdata .productlines dd {
    text-align: right; }
  .productdata .productlines .ipS, .productdata .productlines label {
    float: left; }
  .productdata .productlines label {
    height: 22px;
    line-height: 24px; }
  .productdata .productlines .ipS {
    border: 1px solid #cccccc;
    width: 30px;
    height: 22px;
    padding: 0;
    text-align: center;
    margin-left: 5px; }
  .productdata .productlines a[class*="fav"] {
    font-size: 13px;
    display: inline-block; }
  .productdata .productlines .btn, .productdata .productlines .formbtn input, .formbtn .productdata .productlines input, .productdata .productlines .formbtn button, .formbtn .productdata .productlines button {
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    padding: 0 10px; }
.productdata .prodimage {
  width: 100%;
  height: 300px;
  margin: 10px 0 0; }
.productdata .thumb a {
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 46px;
  margin: 0 5px; }
.productdata .related {
  list-style: none; }
  .productdata .related li {
    display: table;
    border-bottom: 1px dotted #b5bdc1;
    width: 100%;
    margin-top: 0;
    line-height: 100%; }
  .productdata .related a {
    display: table-row; }
  .productdata .related span {
    display: table-cell;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle; }
  .productdata .related .image {
    width: 100px;
    height: 46px;
    background-position: center center;
    background-repeat: no-repeat; }
  .productdata .related .name {
    padding-left: 10px;
    vertical-align: middle; }
  .productdata .related img {
    visibility: hidden; }

.ie7 .productlines {
  xwidth: 393px;
  clear: both; }
  .ie7 .productlines dt {
    width: 193px; }
  .ie7 .productlines dd {
    width: 200px; }
  .ie7 .productlines .ipS {
    height: 20px;
    padding-top: 2px; }
.ie7 .related img {
  width: 100px;
  height: 46px; }

.userinfo {
  display: table;
  margin-top: 15px; }
  .userinfo li {
    display: table-row; }
    .userinfo li span {
      display: table-cell;
      padding: 5px 0; }
    .userinfo li .label {
      min-width: 120px; }

/* -- Download -- */
.dnl {
  padding: 10px 0;
  float: left;
  width: 100%; }
  .dnl .size, .dnl .info {
    font-size: 12px; }
  .dnl .info {
    margin-top: 10px;
    line-height: 100%; }
  .dnl a {
    font-size: 15px;
    font-weight: 700;
    padding-left: 24px;
    background: url(ico-file.png) 2px center no-repeat;
    display: inline-block;
    margin-right: 10px; }
  .dnl .pdf {
    background-image: url(ico-pdf.png); }
  .dnl .doc {
    background-image: url(ico-doc.png); }

/* -- Cart -- */
.errorvalid {
  background: #ffe18a; }
  .errorvalid li {
    margin: 0; }

.choosedelivery {
  border-top: 1px solid #cccccc;
  padding: 10px 0; }
  .choosedelivery label {
    width: 120px;
    margin: 0; }
  .choosedelivery select {
    width: 308px; }

.carthead {
  margin-bottom: 60px; }

.cartnav {
  margin-top: 20px;
  clear: both; }

.cartinfo h2 {
  border-bottom: 1px solid #b5bdc1; }
.cartinfo .table {
  margin-top: 20px; }
.cartinfo .marbo {
  margin-bottom: 20px; }

.box .table {
  font-size: 12px; }

.steps {
  float: right;
  padding-top: 2px;
  font-size: 13px; }
  .steps .step {
    height: 30px;
    background: #e8e9eb;
    float: left;
    padding: 0 10px;
    margin-left: 2px; }
  .steps .number {
    float: left;
    padding-right: 10px;
    font-size: 18px;
    height: 30px;
    line-height: 30px; }
  .steps .steptxt {
    height: 30px;
    line-height: 30px;
    float: left; }
  .steps .step.active {
    color: white;
    background: #636363; }

a.empty {
  background: #98a2a9 url(empty.png) 7px center no-repeat;
  padding-left: 24px; }

.updater {
  background: #e8e9eb url(updater.png) 10px center no-repeat;
  padding-left: 30px;
  color: #636363; }

.updater:hover {
  background-color: white;
  color: #636363; }

.next {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  background-color: #732b90; }

.prev {
  background-color: #98a2a9; }

a.print {
  background: #732b90 url(print.png) 7px center no-repeat;
  padding-left: 30px; }

/* -- Forms -- */
.ip {
  border: 1px solid #cccccc;
  padding: 2px 4px;
  height: 20px;
  line-height: 22px; }

textarea.ip {
  height: 80px;
  line-height: 100%; }

label {
  font-size: 12px;
  display: inline-block;
  margin: 0 0 0 2px; }

.login .ip {
  width: 154px;
  margin-bottom: 5px; }
.login .btn, .login .formbtn input, .formbtn .login input, .login .formbtn button, .formbtn .login button {
  float: right;
  height: 24px;
  border: 1px solid #cccccc;
  margin: 5px 0 0 0;
  border-radius: 2px;
  overflow: hidden; }
.login .link {
  font-size: 11px; }
.login .link:hover {
  text-decoration: none; }
.login .lost {
  display: none; }
.login .boxHead {
  background: #e5e5e5 url(lock.png) 160px center no-repeat; }

.express .left, .express .right {
  float: left;
  width: 77px; }
.express .left {
  margin-right: 10px; }
.express .ip {
  width: 67px; }
.express .btn, .express .formbtn input, .formbtn .express input, .express .formbtn button, .formbtn .express button {
  height: 24px;
  background: #98a2a9;
  color: white;
  text-transform: uppercase;
  margin: 10px 0 0 22px;
  font-size: 13px;
  font-weight: bold;
  overflow: hidden;
  width: 120px;
  border: 0; }
.express input[disabled=disabled], .express input[disabled=disabled]:hover {
  background: #e5e5e5;
  color: #bbbbbb; }
.express .boxHead {
  background: #e5e5e5 url(express.png) 160px center no-repeat; }
  .express .boxHead span {
    font-size: 14px;
    font-weight: bold; }
.express span {
  font-size: 11px; }

.formular p {
  line-height: 100%;
  width: 100%;
  clear: both; }
.formular p.newsletter {
  margin-top: 20px; }
.formular .ip {
  float: left;
  margin-bottom: 10px; }
.formular .large {
  width: 300px; }
.formular .medium {
  width: 230px; }
.formular .small {
  width: 55px;
  margin-right: 5px; }
.formular .fl {
  width: 120px;
  padding-top: 10px; }
.formular div.fl {
  margin-left: 2px; }
.formular .btn, .formular .formbtn input, .formbtn .formular input, .formular .formbtn button, .formbtn .formular button {
  height: 30px;
  font-size: 13px;
  width: 60px; }
.formular .btn.serv, .formular .formbtn input.serv, .formbtn .formular input.serv, .formular .formbtn button.serv, .formbtn .formular button.serv {
  margin-left: 250px; }
.formular label {
  font-size: 13px;
  line-height: 18px; }
.formular .req {
  color: #ee3124;
  font-weight: bold;
  font-size: 18px;
  line-height: 13px; }

.formitem input[type=text] {
  border: 1px solid #cccccc;
  padding: 2px 4px;
  height: 20px;
  line-height: 22px;
  width: 400px; }

.formbtn {
  width: 412px;
  position: relative;
  height: 50px; }
  .formbtn input, .formbtn button {
    position: absolute;
    bottom: 0; }
  .formbtn input[type=submit] {
    width: auto;
    padding: 0 20px;
    right: 0; }
  .formbtn input[type=reset] {
    width: auto;
    padding: 0 20px;
    background: #e5e5e5;
    color: #636363;
    left: 0; }
  .formbtn input[type=reset]:hover {
    color: #ee3124;
    background: #e5e5e5; }

/* -- Users -- */
div.user, .adr {
  width: 100%;
  margin-left: 0;
  float: left;
  font-size: 13px;
  height: 100px; }
  div.user .info, div.user .image, .adr .info, .adr .image {
    float: left;
    width: 100px; }
  div.user .info, .adr .info {
    width: auto; }
  div.user .image, .adr .image {
    margin-right: 10px;
    height: 100px; }
  div.user .name, .adr .name {
    display: inline-block;
    padding-top: 5px; }
  div.user .department, .adr .department {
    font-size: 15px;
    color: #333333;
    font-weight: 700; }

.adr {
  height: 160px;
  margin-top: 20px; }
  .adr .extra {
    display: block;
    padding-top: 5px; }

/* Offsets */
[class*="offset"] {
  Xfloat: left; }

.offset {
  text-indent: -10000em;
  height: 0px; }

.offsetL {
  margin-left: 30px; }

.offsetR {
  margin-right: 30px; }

.offsetB {
  margin-bottom: 30px; }

.offsetLR {
  margin-left: 30px;
  margin-right: 30px; }

.offsetL2 {
  margin-left: 15px; }

.offsetR2 {
  margin-right: 15px; }

/* Modal style */
#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 16000; }

#modal-box {
  position: absolute;
  /*background:url(modal/tint20.png) 0 0 repeat; background:rgba(0,0,0,0.2); border-radius:14px; padding:8px;*/
  z-index: 170000; }

#modal-content {
  border-radius: 8px;
  background: #fff;
  padding: 20px; }

#modal-close {
  position: absolute;
  background: url(modal/close.png) 0 0 no-repeat;
  width: 24px;
  height: 27px;
  display: block;
  text-indent: -9999px;
  top: -7px;
  right: -7px; }

#modal-loading {
  background: url(modal/ajax-loading-bar.gif) top center no-repeat;
  width: 230px;
  text-align: center;
  padding-top: 25px;
  font-weight: bold; }

[class*="ie"] .red .hihglight {
  font-size: 17px;
  font-weight: 400; }

hr {
  border-top: 1px solid #bbbbbb; }

.small {
  font-size: 12px; }

@media print {
  #head, #foot, #mainnav, .btn, .formbtn input, .formbtn button, .steps, #bc {
    display: none; } }

