/* ================================================ */
/* Design styles for RV Unique ecom				*/
/* Heine Virenfeldt Kristensen, Created: 08.01.13   */
/* ================================================ */
/***** Variables *****/
/***** Mixin *****/
/***** The base styling *****/
body {
  font: normal 100% "Century Gothic", helvetica, arial, sans-serif;
  color: black;
  background: white; }

a {
  color: #005186;
  text-decoration: none; }

a:hover {
  color: #98130f; }

.row.fixed {
  width: 992px; }

b, strong {
  font-weight: bold; }

.dropmenu, .sidemenu, h1, h2, h3, .btn, a.next, input.next {
  font-family: "Century Gothic", sans-serif;
  font-weight: bold; }

.btn, a.next, input.next {
  border: 0;
  background: #eeeeee; }

#main {
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  background: url(/Files/Images/Baggrund.jpg) center top no-repeat fixed; }
  #main .row {
    background: white; }

#head {
  border-bottom: 1px solid #cccccc;
  background: #fafafa; }

#foot {
  background: #eee; }

#foot {
  border-top: 1px solid white;
  border-bottom: 1px solid #cccccc; }

#head .row {
  width: 992px;
  float: none; }

.headmenu {
  float: right; }

.headmenu li {
  float: left; }

#mainnav {
  background: #dddddd;
  overflow: hidden;
  border-top: 1px solid white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }

#mainnav .row.fixed {
  border-radius: 10px 10px 0 0; }

h1 {
  font-size: 22px;
  color: #e92924; }

h2 {
  font-size: 16px;
  font-weight: bold; }

h3 {
  font-size: 13px;
  font-weight: bold; }

p, li {
  font-size: 12px;
  line-height: 130%; }

.offset {
  float: left;
  text-indent: -10000em;
  height: 0px; }

.userlogout {
  font-size: 12px; }
  .userlogout a {
    text-decoration: none; }

a.cookies {
  display: inline-block;
  padding-top: 2px;
  padding-right: 20px;
  background: url(iconsmall.png) right center no-repeat;
  font-size: 12px; }

.ph p {
  padding-top: 10px; }

.dropmenu {
  float: left; }
  .dropmenu li {
    float: left;
    position: relative;
    z-index: 500;
    display: block;
    font-weight: bold; }
    .dropmenu li li {
      float: none;
      margin-top: 0;
      width: 200px;
      border: 0;
      text-transform: none;
      font-weight: normal; }
      .dropmenu li li a {
        font-size: 15px;
        height: 30px;
        line-height: 30px;
        display: block; }
    .dropmenu li li.firstitem {
      border: 0; }
    .dropmenu li a {
      display: block;
      height: 50px;
      line-height: 50px;
      padding: 0 15px;
      color: #4d4d4d;
      text-decoration: none;
      font-size: 15px; }
    .dropmenu li ul {
      position: absolute;
      left: -1px;
      top: 50px;
      display: none;
      padding: 10px 0;
      z-index: 501;
      border-top: 0; }
  .dropmenu a.sel {
    color: #e92924; }
  .dropmenu a.opn {
    color: #c61814; }
  .dropmenu a:hover {
    color: #98130f; }

/* -- Header -- */
.logo {
  display: block;
  width: 166px;
  height: 75px;
  overflow: hidden;
  background: url(logo.png) center center no-repeat; }
  .logo span {
    display: none; }

.minicart {
  height: 39px;
  border: 3px solid black;
  border-top: 0;
  border-radius: 0 0 6px 6px;
  background: white url(minicart.png) left center no-repeat;
  padding: 14px 10px 10px 66px;
  text-align: center;
  font-size: 14px; }
  .minicart a {
    text-decoration: none;
    color: #666666;
    font-weight: bold;
    text-align: center; }
  .minicart a.empty {
    cursor: default; }
  .minicart a:hover {
    color: #e92924; }

.simpelsearch {
  height: 20px;
  width: 186px;
  padding: 10px 0;
  overflow: hidden; }
  .simpelsearch input {
    float: left;
    margin: 0;
    border: 0; }
  .simpelsearch label {
    display: none; }
  .simpelsearch .ipSea {
    height: 30px;
    width: 160px;
    padding: 0;
    text-indent: 5px; }
  .simpelsearch .ipbSea {
    background: white url(ipbSea.png) 0 2px no-repeat;
    padding: 0;
    height: 30px;
    width: 26px;
    text-indent: 10000em;
    cursor: pointer; }
  .simpelsearch .ipbSea:hover {
    background-position: 0 -24px; }

.loginhead {
  padding: 8px 0 0;
  font-size: 11px;
  text-align: right; }
  .loginhead .ip {
    height: 16px;
    margin-bottom: 4px;
    width: 93px;
    font: normal 12px/100% tahoma; }
  .loginhead p {
    text-align: left; }
  .loginhead a.link {
    margin-top: 0;
    float: left;
    padding-top: 4px;
    text-align: left;
    display: inline-block;
    color: #98130f; }
  .loginhead a.new {
    margin-top: 0;
    float: right;
    padding-top: 4px;
    text-align: right; }
  .loginhead a:hover {
    text-decoration: underline; }
  .loginhead .btn, .loginhead a.next, .loginhead input.next {
    font-size: 11px;
    border: 0;
    height: 22px;
    background: #666666;
    color: white;
    cursor: pointer;
    margin-top: 5px; }
  .loginhead .btn:hover, .loginhead a.next:hover, .loginhead input.next:hover {
    background: #444444; }
  .loginhead label {
    font-size: 11px;
    width: 83px;
    margin-left: 0;
    float: left;
    padding-top: 4px;
    text-align: left; }
  .loginhead input[type=checkbox] {
    float: left;
    margin-top: 5px; }

a.next, input.next {
  border: 0;
  background: #008458;
  color: white;
  width: auto;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  font-size: 16px;
  cursor: pointer; }

a.edit, a.empty, a.print {
  font-size: 14px;
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  color: #333333;
  border: 0; }

a.empty {
  color: white;
  background: #666666;
  border: 0; }

a.next:hover, input.next:hover, a.edit:hover, a.empty:hover {
  border: 0;
  background: #444444;
  color: #eeeeee; }

/* -- Banner -- */
.fpBanner, .banner {
  width: 580px;
  height: 300px;
  overflow: hidden; }

/* -- Forside -- */
.fp {
  height: 200px; }

.light, .boxHead {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background: #eee; }
  .light span, .light h2, .boxHead span, .boxHead h2 {
    border-top: 1px solid #fff;
    color: #333333;
    font-size: 14px;
    display: inline-block; }
  .light .seall, .boxHead .seall {
    float: right;
    display: inline-block;
    padding-right: 5px;
    font-size: 12px;
    padding-top: 2px; }

.boxHead {
  border-top: 0; }

.slides {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px; }
  .slides .slide {
    width: 100%;
    height: 100px;
    overflow: hidden; }
    .slides .slide a {
      display: block;
      width: 100%;
      height: 90px;
      cursor: pointer; }
      .slides .slide a .imgcontainer {
        width: 90px;
        height: 90px;
        float: left;
        margin-left: 10px; }
      .slides .slide a .pinfo {
        float: left;
        width: 160px;
        height: 90px;
        position: relative; }
        .slides .slide a .pinfo h3 {
          font-size: 16px;
          color: #e92924;
          line-height: 110%; }
        .slides .slide a .pinfo .art {
          color: #444444;
          font-weight: bold;
          font-size: 11px;
          padding-top: 3px;
          display: block; }
        .slides .slide a .pinfo .priceline, .slides .slide a .pinfo .callus {
          display: block;
          position: absolute;
          right: 10px;
          bottom: 0;
          text-align: right;
          font-size: 14px;
          font-weight: bold;
          color: #333333; }
          .slides .slide a .pinfo .priceline .cur, .slides .slide a .pinfo .callus .cur {
            font-size: 11px;
            display: inline-block;
            margin-right: 5px;
            font-weight: normal; }
        .slides .slide a .pinfo .callus {
          font-size: 12px; }
    .slides .slide a:hover h3 {
      color: #98130f; }

/* -- Sidebar -- */
/* -- BreadCrumb -- */
.bc {
  height: 20px;
  line-height: 30px;
  font-size: 10px;
  color: #666; }
  .bc .arrow {
    display: inline-block;
    padding: 0 3px;
    font-size: 11px; }
  .bc a {
    text-decoration: none;
    color: #666; }
  .bc a:hover {
    color: #444;
    text-decoration: underline; }

/* -- Sidebar -- */
.sidemenu ul, .sidemenu li {
  list-style: none; }
.sidemenu ul {
  border-top: 1px solid #ccc; }
.sidemenu li {
  border-bottom: 1px solid #ccc; }
.sidemenu .M1 li.last, .sidemenu .M2 li.last {
  border-bottom: 0; }
.sidemenu a {
  text-decoration: none;
  color: #333333;
  font-size: 14px;
  font-weight: bold; }
.sidemenu a.level1 {
  height: 30px;
  line-height: 30px;
  border-top: 1px solid white;
  background: #eeeeee;
  display: block;
  padding: 0 10px; }
.sidemenu a.level2 {
  padding: 6px 10px;
  display: inline-block;
  font-size: 13px;
  color: #4d4d4d; }
.sidemenu a.level3 {
  padding: 4px 10px 4px 20px;
  display: inline-block;
  font-size: 12px; }
  .sidemenu a.level3 .sublink {
    display: inline-block;
    padding-left: 5px; }
.sidemenu a#sel.level2, .sidemenu a#sel.level3 {
  color: #e92924; }
.sidemenu a#opn.level2 {
  color: #c61814; }
.sidemenu a:hover {
  color: #98130f; }
.sidemenu .light {
  border-bottom: 0; }

/* -- Footer -- */
#foot {
  font-size: 12px;
  color: #3f3f3f; }
  #foot p, #foot address, #foot li {
    margin-top: 5px;
    font-size: 12px;
    font-style: normal; }
  #foot h3 {
    font-size: 13px; }
  #foot .signup p {
    float: left;
    width: 100%; }
  #foot .signup label {
    float: left;
    width: 70px;
    padding-top: 4px; }
  #foot .signup .btn, #foot .signup a.next, #foot .signup input.next {
    width: 60px;
    margin-right: 30px;
    float: right;
    background: #666666;
    color: white;
    margin-top: 5px;
    height: 24px;
    line-height: 22px; }
  #foot .signup .btn:hover, #foot .signup a.next:hover, #foot .signup input.next:hover {
    cursor: pointer;
    background: #444444; }
  #foot .signup .ip {
    height: 18px;
    line-height: 18px;
    width: 160px; }
  #foot .signup a {
    font-size: 11px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    padding-top: 4px; }

/* -- Tables -- */
.table {
  font-size: 12px;
  border-collapse: collapse; }
  .table td, .table th {
    vertical-align: middle;
    padding: 5px;
    border-bottom: 1px solid #cccccc; }
  .table th {
    background: #eeeeee;
    border-top: 1px solid white;
    font-weight: bold; }
  .table .basketheader th {
    background: transparent;
    border-top: 0;
    padding-top: 0;
    border-bottom-width: 3px; }
  .table .totales td {
    border-bottom-width: 3px;
    font-weight: bold; }
  .table .divider td {
    border-top: 2px solid #cccccc; }
  .table .grouphead th {
    background: #fafafa;
    font-weight: bold;
    color: #444444;
    border-top: 1px solid white; }
  .table .thumb {
    width: 80px;
    height: 40px;
    padding-bottom: 3px; }
  .table .thumbL {
    width: 60px;
    height: auto; }
  .table .name {
    width: auto; }
    .table .name h2 {
      font-size: 14px; }
    .table .name h4 {
      font-weight: bold;
      font-size: 13px; }
  .table .replace {
    /*.name { background: url(replace.png) right center no-repeat; }*/ }
    .table .replace td {
      background: #ebd9c6; }
  .table .nopurchase td {
    background: #cdf0c7; }
  .table .prodline {
    width: 320px; }
    .table .prodline h3 {
      font-size: 14px; }
  .table .price {
    width: 60px; }
  .table .favl {
    width: 40px; }
  .table .buy {
    width: 86px;
    padding-left: 20px; }
    .table .buy label {
      display: none; }
    .table .buy .orderLineAmount {
      width: 30px;
      height: 20px;
      padding: 0 4px;
      text-align: center;
      margin: 0 5px 0 0;
      float: left;
      border: 1px solid #cccccc; }
    .table .buy .btn, .table .buy a.next, .table .buy input.next {
      background: #008458;
      color: white;
      cursor: pointer;
      border: 0;
      text-decoration: none;
      font-weight: bold;
      height: 22px;
      line-height: 22px;
      float: right;
      padding: 0;
      width: 40px;
      text-align: center; }
    .table .buy .btn:hover, .table .buy a.next:hover, .table .buy input.next:hover {
      background: #444444;
      color: #eeeeee;
      cursor: pointer;
      border: 0; }
  .table .amountline {
    width: 50px; }
    .table .amountline .amounter {
      width: 48px;
      border: 1px solid #cccccc;
      height: 24px;
      line-height: 24px;
      background: white;
      display: block;
      font-size: 14px;
      text-align: center; }
    .table .amountline a {
      display: block;
      line-height: 25px;
      height: 25px;
      float: left;
      text-align: center; }
    .table .amountline label {
      display: none; }
  .table .symbols {
    width: 60px;
    padding: 5px 20px 5px 5px; }
  .table .buy.narrow {
    width: 30px; }
  .table a {
    text-decoration: none;
    color: #c61814; }
  .table a.basketDel {
    display: inline-block;
    color: #ee5652;
    padding-top: 5px;
    border-bottom: 1px dotted #ee5652;
    clear: both; }
  .table a:hover {
    color: #98130f;
    border-color: #98130f; }
  .table .art {
    color: #444444;
    font-weight: bold;
    font-size: 12px; }

/* -- Product list -- */
.ghead {
  margin-bottom: 20px; }

.ghead.nopro {
  height: 100px;
  margin-bottom: 10px;
  position: relative; }
  .ghead.nopro h1 {
    left: 110px !important; }

.products {
  border-top: 1px solid #cccccc; }

.groups {
  float: left;
  width: 600px;
  margin-left: -20px;
  margin-top: 10px; }
  .groups li {
    dispaly: block;
    height: 100px;
    width: 280px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px; }
    .groups li a {
      display: block;
      color: #e92924;
      width: 280px;
      height: 100px;
      position: relative;
      cursor: pointer; }
      .groups li a .imgcontainer {
        float: left;
        clear: both;
        width: 100px;
        height: 100px;
        display: inline-block;
        background-position: center center;
        background-repeat: no-repeat; }
      .groups li a .name {
        width: 125px;
        left: 100px !important;
        padding-left: 5px;
        display: block;
        font-size: 14px;
        font-weight: bold; }
    .groups li a:hover {
      color: #98130f; }

.groups.nopro {
  display: block; }
  .groups.nopro li {
    width: 100px; }

.pager a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px; }
.pager a.nogo {
  color: white;
  cursor: default; }
.pager a:hover {
  color: #333333; }
.pager .pages {
  display: inline-block;
  padding: 0 5px;
  font-size: 12px;
  color: #333333; }

/* -- Product -- */
.productdata {
  font-size: 13px; }
  .productdata h1 {
    font-size: 22px;
    color: #e92924;
    padding: 0 0 20px 0; }
  .productdata .priceline {
    display: block;
    text-align: right; }
    .productdata .priceline .cur {
      font-size: 14px;
      color: #444444; }
    .productdata .priceline .price {
      font-weight: bold;
      font-size: 18px;
      padding-left: 5px; }
    .productdata .priceline .pricetype {
      font-size: 12px;
      color: #444444; }
  .productdata .favadd {
    background: #666666;
    height: 28px;
    line-height: 28px;
    color: white;
    float: right;
    margin-right: 5px;
    padding: 0 10px; }
  .productdata .favadd:hover {
    background: #444444; }
  .productdata .favliste {
    background: white url(isfav.png) left center no-repeat;
    float: right;
    padding: 0 0 0 20px;
    color: #008458;
    margin-right: 5px;
    font-weight: normal;
    height: 16px;
    line-height: 18px;
    font-size: 12px; }
  .productdata .favliste:hover {
    color: #444444; }
  .productdata .productlines {
    width: 100%;
    float: left;
    border-top: 1px solid #cccccc;
    margin: 10px 0; }
    .productdata .productlines dt, .productdata .productlines dd {
      float: left;
      width: 50%; }
    .productdata .productlines dd {
      text-align: right; }
    .productdata .productlines .ipS, .productdata .productlines label {
      float: left; }
    .productdata .productlines label {
      height: 22px;
      line-height: 24px; }
    .productdata .productlines .ipS {
      border: 1px solid #cccccc;
      width: 30px;
      height: 22px;
      padding: 0;
      text-align: center;
      margin-left: 5px; }
    .productdata .productlines .btn, .productdata .productlines a.next, .productdata .productlines input.next {
      background: #008458;
      color: white;
      cursor: pointer;
      border: 0;
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
      height: 28px;
      line-height: 28px;
      padding: 0 10px; }
    .productdata .productlines .btn:hover, .productdata .productlines a.next:hover, .productdata .productlines input.next:hover {
      background: #444444;
      color: #eeeeee;
      cursor: pointer;
      border: 0; }
    .productdata .productlines .art {
      color: #444444;
      font-weight: bold; }
  .productdata h2, .productdata h3 {
    margin-top: 10px; }
  .productdata .prodimage {
    width: 344px;
    height: 249px;
    clear: both;
    position: relative;
    margin-bottom: 20px;
    display: table; }
    .productdata .prodimage .showimage {
      width: 344px;
      height: 249px;
      text-align: center;
      display: table-cell;
      vertical-align: middle; }
  .productdata .productfacts {
    margin-bottom: 20px; }
  .productdata .prodthumb a {
    height: 62px;
    display: inline-block;
    width: 62px;
    border: 1px solid #cccccc;
    background-position: center center;
    background-repeat: no-repeat; }
  .productdata p, .productdata ul, .productdata li {
    font-size: 12px;
    line-height: 150%;
    padding-bottom: 10px; }
  .productdata .description {
    float: left;
    width: 100%;
    margin-top: 20px; }
    .productdata .description li {
      padding-bottom: 0;
      margin-left: 25px; }
  .productdata .specs {
    margin: 20px 0; }
    .productdata .specs dt {
      font-size: 13px;
      font-weight: bold;
      margin-top: 10px; }
    .productdata .specs dd {
      line-height: 150%;
      font-size: 12px; }

.ie7 .productlines {
  clear: both; }
  .ie7 .productlines dt {
    width: 193px; }
  .ie7 .productlines dd {
    width: 200px; }
  .ie7 .productlines .ipS {
    height: 20px;
    padding-top: 2px; }

.related {
  width: 806px;
  /*height: 100px; overflow: hidden;*/
  margin-top: 10px;
  margin-left: -20px;
  float: left; }
  .related .product {
    width: 248px;
    height: 90px;
    overflow: hidden;
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
    position: relative; }
    .related .product a {
      display: block;
      cursor: pointer;
      position: relative;
      height: 90px;
      border-top: 1px solid #cccccc; }
      .related .product a .imgcontainer {
        float: left;
        height: 90px;
        width: 90px; }
      .related .product a .pinfo {
        float: left;
        width: 138px;
        position: relative;
        left: 90px !Important;
        /*.priceline { 
        	display: none; position: absolute; right: 0; bottom: 0; text-align: right;  font-weight: bold; color: $gt3; 
        	.cur { font-size: 11px; display: inline-block; margin-right: 5px; font-weight: normal; }
        	.price { font-size: 18px !important; }
        }*/ }
        .related .product a .pinfo h3 {
          font-size: 13px;
          color: #e92924;
          margin-top: 2px;
          line-height: 110%; }
        .related .product a .pinfo .art {
          color: #444444;
          font-weight: bold;
          font-size: 11px;
          padding-top: 3px;
          display: block; }
    .related .product a:hover h3 {
      color: #98130f; }
  .related .product.pos2 {
    margin-left: 21px;
    margin-right: 1px; }

/* -- Right Side -- */
.docs {
  list-style: none;
  font-size: 12px;
  float: right;
  clear: both;
  width: 280px; }
  .docs li {
    padding: 2px 0; }
  .docs a {
    text-decoration: none;
    font-size: 12px; }
  .docs h3 {
    font-size: 13px;
    padding-bottom: 8px; }
  .docs ul.pdf {
    width: 324px; }
    .docs ul.pdf li {
      height: 24px;
      line-height: 24px;
      padding: 0 0 0 24px;
      background: url(pdf.png) 1px center no-repeat; }
    .docs ul.pdf a {
      display: inline-block;
      width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 12px; }

/* -- Cart -- */
.errorvalid {
  background: #ff9;
  border-bottom: 1px solid #cccccc; }

.choosedelivery {
  border-top: 1px solid #cccccc;
  padding: 10px 0; }
  .choosedelivery label {
    width: 120px;
    margin: 0; }
  .choosedelivery select {
    width: 308px; }

/* -- Kundecenter -- */
.orders {
  border-top: 1px solid #cccccc;
  float: left;
  width: 100%;
  margin-top: 10px; }
  .orders p.replace {
    margin-top: 10px;
    font-style: italic;
    color: #444444;
    display: block;
    width: 100%; }
    .orders p.replace .mark {
      background: #ebd9c6;
      display: inline-block;
      width: 30px;
      margin-right: 5px; }
  .orders p.nopurchase {
    margin-top: 10px;
    font-style: italic;
    color: #444444; }
    .orders p.nopurchase .mark {
      background: #cdf0c7;
      display: inline-block;
      width: 30px;
      margin-right: 5px; }

.youraccount {
  float: left;
  width: 600px;
  margin-left: -20px; }
  .youraccount dl {
    width: 280px;
    float: left;
    margin-left: 20px;
    font-size: 13px; }
    .youraccount dl dt {
      font-weight: bold;
      font-size: 16px;
      border-bottom: 1px solid #cccccc; }
    .youraccount dl dd {
      padding: 5px 0 20px; }
    .youraccount dl .sales span {
      display: block; }
    .youraccount dl .sales .name {
      font-weight: bold; }
    .youraccount dl .sales .title {
      font-style: italic;
      padding-bottom: 5px; }

.newpass form, .ph form {
  margin-top: 10px; }
.newpass p, .ph p {
  font-size: 12px;
  padding-top: 10px; }
.newpass input[type=text], .ph input[type=text] {
  border: 1px solid #cccccc;
  height: 18px;
  line-height: 18px;
  width: 160px;
  padding: 2px 4px; }
.newpass .btn, .newpass a.next, .newpass input.next, .ph .btn, .ph a.next, .ph input.next {
  width: 60px;
  background: #666666;
  color: white;
  height: 24px;
  line-height: 22px;
  margin-left: 5px; }
.newpass .error, .ph .error {
  font-size: 12px;
  color: #98130f; }

/* -- Forms -- */
.ip {
  border: 1px solid #cccccc;
  padding: 2px 4px;
  height: 20px;
  line-height: 22px; }

textarea.ip {
  height: 80px;
  line-height: 100%; }

label {
  font-size: 12px;
  display: inline-block;
  margin: 0; }

.login .ip {
  width: 154px;
  margin-bottom: 5px; }
.login .btn, .login a.next, .login input.next {
  float: right;
  height: 24px;
  border: 1px solid #cccccc;
  margin: 5px 0 0 0;
  border-radius: 2px;
  overflow: hidden; }
.login .btn:hover, .login a.next:hover, .login input.next:hover {
  background: #444444;
  color: #eeeeee;
  cursor: pointer;
  border: 0; }
.login .link {
  font-size: 11px; }
.login .link:hover {
  text-decoration: none; }
.login .lost {
  display: none; }
.login .boxHead {
  background: #eeeeee url(lock.png) 160px center no-repeat; }

.express .left, .express .right {
  float: left;
  width: 77px; }
.express .left {
  margin-right: 10px; }
.express .ip {
  width: 67px; }
.express .btn, .express a.next, .express input.next {
  height: 24px;
  background: #008458;
  color: white;
  text-transform: uppercase;
  margin: 10px 0 0 22px;
  font-size: 13px;
  font-weight: bold;
  overflow: hidden;
  width: 120px;
  border: 0; }
.express .btn:hover, .express a.next:hover, .express input.next:hover {
  background: #444444;
  color: #eeeeee;
  cursor: pointer;
  border: 0; }
.express input[disabled=disabled], .express input[disabled=disabled]:hover {
  display: none;
  background: #eeeeee;
  color: #bbbbbb; }
.express .boxHead {
  background: #eeeeee url(express.png) 160px center no-repeat; }
  .express .boxHead span {
    font-size: 14px;
    font-weight: bold; }
.express span {
  font-size: 11px; }

.formular p {
  line-height: 100%;
  width: 100%;
  clear: both;
  float: left; }
.formular h2 {
  padding-bottom: 10px; }
.formular .req {
  background: url(req.png) 108px center no-repeat; }
.formular p.newsletter {
  margin-top: 20px; }
.formular .ip {
  float: left;
  margin-top: 5px; }
.formular .large {
  width: 300px; }
.formular .medium {
  width: 230px; }
.formular .small {
  width: 55px;
  margin-right: 5px; }
.formular .fl {
  width: 120px;
  padding-top: 10px; }
.formular div.fl {
  margin-left: 2px; }

.seaForm {
  float: left;
  width: 100%; }
  .seaForm .seaLine {
    float: left;
    width: 100%; }
    .seaForm .seaLine p {
      float: left;
      width: 50%;
      font-size: 11px;
      margin: 10px 0 5px; }
      .seaForm .seaLine p label {
        margin-left: 0; }
      .seaForm .seaLine p input[type=tel], .seaForm .seaLine p input[type=text] {
        width: 230px;
        border: 1px solid #cccccc;
        margin-top: 2px;
        height: 20px;
        text-indent: 5px; }
  .seaForm .btn, .seaForm a.next, .seaForm input.next {
    height: 24px;
    line-height: 24px;
    float: right;
    padding: 0 10px;
    margin: 0;
    background: #008458;
    color: white;
    margin-right: 58px;
    margin-top: 10px;
    cursor: pointer; }
  .seaForm .btn:hover, .seaForm a.next:hover, .seaForm input.next:hover {
    background: #444444; }

.ui-datepicker {
  width: 226px;
  font-size: 13px; }

.martop {
  margin-top: 25px; }

hr {
  border: 0;
  width: 100%;
  height: 1px;
  background: #ccc; }

/* Modal style
#modal-overlay { position:fixed;  top:0; left:0; width:100%; height:100%; background:#000; opacity:0.5; filter:alpha(opacity=50); z-index: 16000; }
#modal-box { position:absolute;  z-index: 170000; }
#modal-content { border-radius:8px; background:#fff; padding:20px; }
#modal-close { position:absolute; background:url(modal/close.png) 0 0 no-repeat; width:24px; height:27px; display:block; text-indent:-9999px; top:-7px; right:-7px; }
#modal-loading { background: url(modal/ajax-loading-bar.gif) top center no-repeat; width: 230px; text-align: center; padding-top: 25px; font-weight: bold; }*/
@media print {
  #head, #mainnav, #foot, .bc, #sidebarL, #sidebarR {
    display: none; }

  .ph p, .ph li {
    font-size: 14px; }
  .ph h1, .ph h2, .ph h3 {
    color: #000; }
  .ph h1 {
    font-size: 20px; }
  .ph h2 {
    font-size: 18px; }
  .ph h3 {
    font-size: 16px; }

  .col10 {
    width: 100%; } }

