﻿<link rel="stylesheet" href="/Files/Templates/ItemPublisher/ItemPublisher.css" />

<div class="items">
 <h3>Galleri</h3>
    <div class="item-details"> 
        <div class="item-details-fields-outer">
 <div class="item-image">       
      <!--@If(ItemPublisher:Item.Name)-->
<img src="<!--@ItemPublisher:Item.Image-->"/>
<!--@Else-->
<img src="<!--@ItemPublisher:Item.Image-->"/>
<!--@EndIf-->

</div>
     
      <!--@If(ItemPublisher:Item.Name)-->

<div class="item-detail-download"><h2><!--@ItemPublisher:Item.Imagetitle--></h2><p>Klik på nedenstående link for at downloade billede i høj opløsning<br /><br /><a target="_blank" href="<!--@ItemPublisher:Item.Zipfile-->"><!--@ItemPublisher:Item.Imagetitle--></a></p></div>
       
       
        </div>
        
<!--@EndIf-->
        <div class="item-details-controls">
            <input type="button" value='<!--@Translate(ItemPublisher:Details.GoBack, "Tilbage")-->' onclick="javascript:window.history.go(-1);" />
        </div>

        <div class="items-clear"></div>
    </div>
</div>