﻿<header class="carthead">
    <div class="steps">
        <span class="step">
            <span class="number">1</span>
            <span class="steptxt"><!--@Translate(headline_step1, "Vareoversigt", global)--></span>
        </span>
        <span class="step active">
            <span class="number">2</span>
            <span class="steptxt"><!--@Translate(headline_step2, "Kundeinformation", global)--></span>
        </span>
        <span class="step">
            <span class="number">3</span>
            <span class="steptxt"><!--@Translate(headline_step3, "Kvittering", global)--></span>
        </span>
    </div>
    <h1><!--@Translate(headline_step2, "Kundeinformation", global)--></h1>
</header><!--DwTemplateTags-->
<form name="ordersubmit" id="ordersubmit" method="post">
    <div class="col11 cartinfo">
        <div class="offsetR">
        <!--@LoopStart(ValidationErrors)--><!--@HeaderStart--><div class="errorvalid pad marbo clearfix"><ul class="nobull"><!--@HeaderEnd-->
            <li><!--@Translate(label_Error, "Feltet ikke udfyldt korret", global)-->: <a href="javascript:document.getElementById('<!--@Ecom:Cart.ValidationError.FieldSystemName-->').focus();"><!--@Ecom:Cart.ValidationError.ErrorMessage--></a><!--DwTemplateTags--></li>
        <!--@FooterStart--></ul></div><!--@FooterEnd--><!--@LoopEnd(ValidationErrors)-->  
        <h2><!--@Translate(headline_OrderAdr, "Fakturerringsadresse", global)--></h2> 
        <p class="marbo">				
            <!--@If Defined(Ecom:Order.Customer.Company)--><!--@Ecom:Order.Customer.Company--><br /><!--@EndIf(Ecom:Order.Customer.Company)-->
            <!--@If Defined(Ecom:Order.Customer.Name)--><!--@Ecom:Order.Customer.Name--><br /><!--@EndIf(Ecom:Order.Customer.Name)-->
            <!--@If Defined(Ecom:Order.Customer.Address)--><!--@Ecom:Order.Customer.Address--><br /><!--@EndIf(Ecom:Order.Customer.Address)-->
            <!--@If Defined(Ecom:Order.Customer.Address2)--><!--@Ecom:Order.Customer.Address2--><br /><!--@EndIf(Ecom:Order.Customer.Address2)-->
            <!--@If Defined(Ecom:Order.Customer.Zip)--><!--@Ecom:Order.Customer.Zip--> <!--@Ecom:Order.Customer.City--><br /><!--@EndIf(Ecom:Order.Customer.Zip)-->
            <!--@If Defined(Ecom:Order.Customer.Email)--><!--@Ecom:Order.Customer.Email--><br /><!--@EndIf(Ecom:Order.Customer.Email)-->
            <!--@If Defined(Ecom:Order.Customer.Phone)--><!--@Ecom:Order.Customer.Phone--><!--@EndIf(Ecom:Order.Customer.Phone)-->
        </p>
        <input type="text" name="EcomOrderCustomerCompany" id="EcomOrderCustomerCompany" value="<!--@Ecom:Order.Customer.Company-->" class="dNone" />
        <input type="text" name="EcomOrderCustomerName" id="EcomOrderCustomerName" value="<!--@Ecom:Order.Customer.Name-->" class="dNone" />
        <input type="text" name="EcomOrderCustomerAddress" id="EcomOrderCustomerAddress" value="<!--@Ecom:Order.Customer.Address-->" class="dNone" />
        <input type="text" name="EcomOrderCustomerAddress2" id="EcomOrderCustomerAddress2" value="<!--@Ecom:Order.Customer.Address2-->" class="dNone" />
        <input type="text" name="EcomOrderCustomerZip" id="EcomOrderCustomerZip" value="<!--@Ecom:Order.Customer.Zip-->" class="dNone" />
        <input type="text" name="EcomOrderCustomerCity" id="EcomOrderCustomerCity" value="<!--@Ecom:Order.Customer.City-->" class="dNone" />
        <input type="text" name="EcomOrderCustomerEmail" id="EcomOrderCustomerEmail" value="<!--@Ecom:Order.Customer.Email-->" class="dNone" />
        <input type="text" name="EcomOrderCustomerPhone" id="EcomOrderCustomerPhone" value="<!--@Ecom:Order.Customer.Phone-->" class="dNone" /> 
          NIQSalescode: <input type="text" name="NIQSalescode" id="NIQSalescode" value="" /><br />
          NIQOrefTag:   <input type="text" name="NIQOrefTag" id="NIQOrefTag" value="" /><br /><br />
          
        <h2><!--@Translate(headline_ShippingAdr, "Leveringsadresse", global)--></h2>    
        <ul class="toggler marbo nobull">
            <li><input type="radio" name="EcomCartShippingmethodID" value="SHIP1" id="<!--@toggleDelivery.Name-->_1" onclick="checkoutDeliveryDetailsHide('#delivery-content')" checked="checked" /><label for="<!--@toggleDelivery.Name-->_1"><!--@Translate(yes, "Leveres til faktureringsadressen", global)--></label></li>
            <li><input type="radio" name="EcomCartShippingmethodID" value="SHIP1" id="<!--@toggleDelivery.Name-->_2" onclick="checkoutDeliveryDetailsShow('#delivery-content')" /><label for="<!--@toggleDelivery.Name-->_2"><!--@Translate(no, "Leveres til anden adresse", global)--></label></li>
        </ul>    
        <div id="delivery-content"<!--@If Not Defined(Ecom:Order.Delivery.Address)--> style="display: none;"<!--@EndIf(Ecom:Order.Delivery.Address)--> class="formular choose marbo">		    
            <p>			
                <label for="EcomOrderDeliveryCompany" class="fl"><!--@Translate(label_Company, "Firma", global)--></label>
                <input type="text" name="EcomOrderDeliveryCompany" id="EcomOrderDeliveryCompany" value="<!--@Ecom:Order.Delivery.Company-->" class="ip large" />
            </p>		
            <p class="req">
                <label for="EcomOrderDeliveryName" class="fl"><!--@Translate(label_Name, "Navn", global)--></label>
                <input type="text" name="EcomOrderDeliveryName" id="EcomOrderDeliveryName" value="<!--@Ecom:Order.Delivery.Name-->" class="ip large" />
            </p>			
            <p class="req">
                <label for="EcomOrderDeliveryAddress" class="fl"><!--@Translate(label_Adresse, "Adresse", global)--></label>
                <input type="text" name="EcomOrderDeliveryAddress" id="EcomOrderDeliveryAddress" value="<!--@Ecom:Order.Delivery.Address-->" class="ip large" />
            </p>				
            <p>
                <label for="EcomOrderDeliveryAddress2" class="fl"><!--@Translate(label_Adresse2, "Adresse 2", global)--></label>
                <input type="text" name="EcomOrderDeliveryAddress2" id="EcomOrderDeliveryAddress2" value="<!--@Ecom:Order.Delivery.Address2-->" class="ip large" />
            </p>
            <p class="req">
                <label for="EcomOrderDeliveryZip" class="fl"><!--@Translate(labe_PostnrBy, "Postnr./By", global)--></label>
                <input type="text" name="EcomOrderDeliveryZip" id="EcomOrderDeliveryZip" value="<!--@Ecom:Order.Delivery.Zip-->" class="ip small" /><input type="text" name="EcomOrderDeliveryCity" id="EcomOrderDeliveryCity" value="<!--@Ecom:Order.Delivery.City-->" class="ip medium" />
            </p>				
            <p>
                <label for="EcomOrderDeliveryEmail" class="fl"><!--@Translate(label_Email, "E-mail", global)--></label>
                <input type="text" name="EcomOrderDeliveryEmail" id="EcomOrderDeliveryEmail" value="<!--@Ecom:Order.Delivery.Email-->" class="ip large" />
            </p>
            <p>
                <label for="EcomOrderDeliveryPhone" class="fl"><!--@Translate(label_Telefon, "Telefon", global)--></label>
                <input type="text" name="EcomOrderDeliveryPhone" id="EcomOrderDeliveryPhone" value="<!--@Ecom:Order.Delivery.Phone-->" class="ip large" />
            </p>
            <div class="clearfix"></div>
        </div>
         <!--@If(UserManagement:User.AccessUser_canuseinvoicecustomer=='yes')-->
            <div class="formular choose marbo">
                <h2><!--@Translate(headline_InvoiceCustomer, "Faktureringsdebitor", global)--></h2>
		         <p>
				    <input name="InvoiceCustomer" id="InvoiceCustomer" type="checkbox" value="<!--@UserManagement:User.AccessUser_invoicecustomer-->" /> <label for="InvoiceCustomer"><!--@UserManagement:User.AccessUser_invoicecustomername--></label>
		         </p>
            </div>
		<!--@EndIf-->		
        <h2><!--@Translate(headline_ExtraInfo, "Yderlig information", global)--></h2>
        <div class="formular">
            <p>
            <label for="EcomOrderCustomerComment"><!--@Translate(cart_Comment, "Kommentar", global)--></label><br />
            <textarea rows="6" name="EcomOrderCustomerComment" id="EcomOrderCustomerComment" class="ip large" style="overflow:auto;"><!--@Ecom:Order.Customer.Comment--></textarea>		        
            </p>		
        </div>
        </div>
    </div>
    <div class="col5">
        <div class="box"><div class="pad">
            <h2><!--@Translate(headline_ItemsInBasket, "Vareoversigt", global)--></h2>
            <table id="jsCartTable" class="table">
                <thead>
				    <tr class="basketheader">
					    <th class="al"><!--@Translate(th_Product, "Product", global)--></th>
					    <th><!--@Translate(th_Amount, "Amount", global)--></th>
                        <th class="ar"><!--@Translate(th_Price, "Price", global)--></th>
					    <th class="ar"><!--@Translate(th_Total, "Total", global)--></th>
				    </tr>
				</thead>
                <tbody>
				<!--@LoopStart(OrderLines)-->
					<tr class="orderline<!--@Ecom:Order:OrderLine.Type--> orderline topline">
						<td>
							<span class="product"><!--@Ecom:Order:OrderLine.ProductName.Short--></span><br />
                            <span class="art"><!--@Translate(label_productnumber,"Varenr.", global)-->: &nbsp;<!--@Ecom:Product.Number--></span><br />
						</td>
						<td class="ac"><!--@Ecom:Order:OrderLine.Quantity--></td>
                        <td class="ar"><!--@Ecom:Product.Price.PriceWithoutVAT--></td>
						<td class="ar"><b><!--@Ecom:Order:OrderLine.Price.PriceWithoutVAT--></b><!--@If Defined(NIQ:EnvFeeQty)--><br /><!--@Translate(herafafgift, "Heraf afgift", global)-->: <!--@NIQ:EnvFeeQty--><!--@EndIf(NIQ:EnvFeeQty)--></td>
					</tr>
                    <tr>
                        <td colspan="4">
                            <span class="delivery">
                                <!--@Translate(label_deliverytime, "Leveringstid", global)-->:&nbsp;
                                <!--@If(Ecom:Product:Field.tobeconfigured.Value=yes)-->
                                    <!--@If(Ecom:Product:Field.instock.Value=yes)--><!--@Translate(ConfigInStock, "Max 5", global)--><!--@EndIf-->
                                    <!--@If(Ecom:Product:Field.instock.Value=no)--><!--@Translate(NotInStick, "Not in stock", global)--><!--@EndIf-->
                                <!--@EndIf-->
                                <!--@If(Ecom:Product:Field.tobeconfigured.Value=no)-->
                                    <!--@If(Ecom:Product:Field.instock.Value=yes)--><!--@Translate(NoConfigInStock, "Max 2", global)--><!--@EndIf-->
                                    <!--@If(Ecom:Product:Field.instock.Value=no)--><!--@Translate(NotInStick, "Not in stock", global)--><!--@EndIf-->
                                <!--@EndIf-->
                            </span>
                        </td>
                    </tr>
				<!--@LoopEnd(OrderLines)-->
				    <tr class="total divider">
					    <td colspan="2"><!--@Translate(items_PriceExVat, "Varer ekskl. moms", global)--></td>
                        <td class="ar"><!--@Ecom:Order.Currency.Code--></td>
					    <td class="ar" title="Ecom:Order.PaymentFee.PriceFormatted"><!--@Ecom:Order.PriceWithoutFees.PriceWithoutVAT--></td>
				    </tr>
				    <tr class="total">
                        <td colspan="2"><!--@Translate(items_ShipCost, "Fragt", global)--></td>
                        <td class="ar"><!--@Ecom:Order.Currency.Code--></td>
					    <td class="ar" title="Ecom:Order.ShippingFee.PriceFormatted"><!--@DW:eCommerce.NAV.Freight--></td>
				    </tr>
				    <tr class="totales">
                        <td colspan="2"><!--@Translate(items_CartTotalExVat, "Total ekskl. moms", global)--></td>
                        <td class="ar"><!--@Ecom:Order.Currency.Code--></td>
					    <td class="ar"><!--@DW:eCommerce.NAV.NetAmount--></td>
				    </tr>
                </tbody>
			</table>
    </div></div>
        </div>
		
    <div class="clear"></div>
    <footer class="cartnav clearfix">
        <input type="submit" name="<!--@CartV2.PreviousStepButtonName-->" id="<!--@CartV2.PreviousStepButtonName-->" value="Tilbage" class="btn prev" />
        <input type="submit" onclick="copy_address();" name="<!--@CartV2.NextStepButtonName-->" id="<!--@CartV2.NextStepButtonName-->" value="<!--@Translate(button_FinishOrder, 'Afgiv order', global)-->" class="btn next fr" />
    </footer>
</form>
<script type="text/javascript">
    $(document).ready(function() {
        var errorFields = new Array;
        errorFields[0] = "Dummy";
        <!--@LoopStart(ValidationErrors)-->
            errorFields[<!--@ValidationErrors.LoopCounter-->] = "<!--@Ecom:Cart.ValidationError.FieldSystemName-->";
        <!--@LoopEnd(ValidationErrors)-->

        if (errorFields.length > 0) {
            for (i = 1; i < errorFields.length; i++) {
                $("#" + errorFields[i]).addClass("error");
            }
        }

        if ($('#delivery-content input.error').length > 0) {
            checkoutDeliveryDetailsShow('#delivery-content');
            $('#<!--@toggleDelivery.Name-->_2').attr('checked', 'checked');
        }

    });

    function checkoutDeliveryDetailsShow (sId) {
        var container = $(sId);
        container.find("input").removeAttr("disabled");
        container.find("input").val('');
        container.show();
    }

    function checkoutDeliveryDetailsHide (sId) {
        var container = $(sId);
        //container.find("input").attr("disabled", "disabled");
        container.hide();
    }

    // Custom copy main address to shipping address if needed
    function copy_address(){
        // need copy all fields
        if($('#<!--@toggleDelivery.Name-->_1').is(":checked")){
            $('#EcomOrderDeliveryCompany').val($('#EcomOrderCustomerCompany').val());
            $('#EcomOrderDeliveryName').val($('#EcomOrderCustomerName').val());
            $('#EcomOrderDeliveryAddress').val($('#EcomOrderCustomerAddress').val());
            $('#EcomOrderDeliveryZip').val($('#EcomOrderCustomerZip').val());
            $('#EcomOrderDeliveryCity').val($('#EcomOrderCustomerCity').val());
        }
        if($('#<!--@toggleDelivery.Name-->_3').is(":checked")){
            $('#EcomOrderDeliveryCompany').val($('#EcomOrderCustomerCompany').val());
            $('#EcomOrderDeliveryName').val($('#EcomOrderCustomerName').val());
            $('#EcomOrderDeliveryAddress').val($('#EcomOrderCustomerAddress').val());
            $('#EcomOrderDeliveryZip').val($('#EcomOrderCustomerZip').val());
            $('#EcomOrderDeliveryCity').val($('#EcomOrderCustomerCity').val());
        }
    }
</script>