<header class="carthead">
    <div class="steps">
            <span class="step">
                <span class="number">1</span>
                <span class="steptxt"><!--@Translate(headline_step1, "Vareoversigt", global)--></span>
            </span>
            <span class="step">
                <span class="number">2</span>
                <span class="steptxt"><!--@Translate(headline_step2, "Kundeinformation", global)--></span>
            </span>
            <span class="step active">
                <span class="number">3</span>
                <span class="steptxt"><!--@Translate(headline_step3, "Kvittering", global)--></span>
            </span>
        </div>
        <h1><!--@Translate(headline_step3, "Kvittering", global)--></h1>
</header>
    
<div class="clear"></div>
<div class="col11 cartinfo">
	<div class="offsetR">
        <h2 class="nobo"><!--@Translate(headline_ItemsInBasket, "Vareoversigt", global)--></h2>
	        <table class="table">
                <thead>
				    <tr class="basketheader">
					    <th class="al"><!--@Translate(productname, "Varenavn", global)--></th>
                        <th><!--@Translate(product_Qty, "Antal", global)--></th>
					    <th class="ar"><!--@Translate(product_Price, "Enhedspris", global)--></th>
					    <th class="ar"><!--@Translate(product_PriceTotal, "I alt", global)--></th>
				    </tr>
				</thead>
				<!--@LoopStart(OrderLines)-->
					<tr class="orderline<!--@Ecom:Order:OrderLine.Type--> orderline topline">
						<td>
							<h3><!--@Ecom:Order:OrderLine.ProductName.Short--></h3>
						</td>
						<td class="ac"><!--@Ecom:Order:OrderLine.Quantity--></td>
                        <td class="ar"><!--@Ecom:Product.Price.PriceWithoutVAT--></td>
						<td class="ar"><b><!--@Ecom:Order:OrderLine.Price.PriceWithoutVAT--></b></td>
					</tr>
                    <tr>
                        <td>
                            <span class="art"><!--@Translate(label_productnumber,"Varenr.", global)-->: &nbsp;<!--@Ecom:Product.Number--></span>
                        </td>
                        <td colspan="3">
                             </td>
                    </tr>
				<!--@LoopEnd(OrderLines)-->
				<tr class="total divider">
                    <td class="nobobo">&nbsp;</td>
					<td><!--@Translate(items_PriceExVat, "Varekøb ekskl. moms", global)--></td>
                    <td class="ar"><!--@Ecom:Order.Currency.Code--></td>
					<td class="ar" title="Ecom:Order.PaymentFee.PriceFormatted"><!--@Ecom:Order.PriceWithoutFees.PriceWithoutVAT--></td>
				</tr>
                <tr class="total divider">
                    <td class="nobobo">&nbsp;</td>
					<td><!--@Translate(items_PriceExVat, "Moms", global)--></td>
                    <td class="ar"><!--@Ecom:Order.Currency.Code--></td>
					<td class="ar" title="Ecom:Order.Price.VAT"><!--@Ecom:Order.Price.VAT--></td>
				</tr>
				<tr class="total">
					<td class="nobo">&nbsp;</td>
                    <td><!--@Translate(items_ShipCost, "Fragt", global)--></td>
                    <td class="ar"><!--@Ecom:Order.Currency.Code--></td>
					<td class="ar" title="Ecom:Order.ShippingFee.PriceFormatted"><!--@DW:eCommerce.NAV.Freight--></td>
				</tr>
				<tr class="totales">
					<td class="nobo">&nbsp;</td>
                    <td><!--@Translate(items_CartTotalExVat, "Total inkl. moms", global)--></td>
                    <td class="ar"><!--@Ecom:Order.Currency.Code--></td>
					<td class="ar"><!--@Ecom:Order.Price.PriceWithVATFormatted--></td>
				</tr>
			</table>
    </div>
</div>
<div class="col5">
    <div class="box">
        <div class="pad">
            <h2><!--@Translate(headline_OrdeeInfo, "Ordreinformation", global)--></h2>
	            <p><!--@Translate(cart_Ordernumber, "Ordernummer", global)-->: <!--@If Defined(Ecom:Order.IntegrationID)--><!--@Ecom:Order.IntegrationID--><!--@EndIf(Ecom:Order.IntegrationID)--> <!--@If Not Defined(Ecom:Order.IntegrationID)--><!--@Ecom:Order.ID--><!--@EndIf(Ecom:Order.IntegrationID)--></p>
	            <p><!--@Translate(cart_Orderdate, "Dato", global)-->: <!--@Ecom:Order.Date--></p>
                <!--@If Defined(Ecom:Order.Customer.Comment)--><p><!--@Translate(cart_Comment, "Kommentar", global)-->:<br /><!--@Ecom:Order.Customer.Comment--></p><!--@EndIf(Ecom:Order.Customer.Comment)-->
            <h3 class="martop"><!--@Translate(headline_OrderAdr, "Faktureringsadresse", global)--></h3>
            <p>				
                <!--@If Defined(Ecom:Order.Customer.Company)--><!--@Ecom:Order.Customer.Company--><br /><!--@EndIf(Ecom:Order.Customer.Company)-->
                <!--@If Defined(Ecom:Order.Customer.Name)--><!--@Ecom:Order.Customer.Name--><br /><!--@EndIf(Ecom:Order.Customer.Name)-->
                <!--@If Defined(Ecom:Order.Customer.Address)--><!--@Ecom:Order.Customer.Address--><br /><!--@EndIf(Ecom:Order.Customer.Address)-->
                <!--@If Defined(Ecom:Order.Customer.Address2)--><!--@Ecom:Order.Customer.Address2--><br /><!--@EndIf(Ecom:Order.Customer.Address2)-->
                <!--@If Defined(Ecom:Order.Customer.Zip)--><!--@Ecom:Order.Customer.Zip--> <!--@Ecom:Order.Customer.City--><br /><!--@EndIf(Ecom:Order.Customer.Zip)-->
                <!--@If Defined(Ecom:Order.Customer.Email)--><!--@Ecom:Order.Customer.Email--><br /><!--@EndIf(Ecom:Order.Customer.Email)-->
                <!--@If Defined(Ecom:Order.Customer.Phone)--><!--@Ecom:Order.Customer.Phone--><!--@EndIf(Ecom:Order.Customer.Phone)-->
            </p>
            <h3 class="martop"><!--@Translate(headline_ShippingAdr, "Leveringsadresse", global)--></h3>
            <p>
                <!--@If Defined(Ecom:Order.Delivery.Address)-->
                <!--@If Defined(Ecom:Order.Delivery.Company)--><!--@Ecom:Order.Delivery.Company--><br /><!--@EndIf(Ecom:Order.Delivery.Company)-->
                <!--@If Defined(Ecom:Order.Delivery.Name)--><!--@Ecom:Order.Delivery.Name--><br /><!--@EndIf(Ecom:Order.Delivery.Name)-->
                <!--@If Defined(Ecom:Order.Delivery.Address)--><!--@Ecom:Order.Delivery.Address--><br /><!--@EndIf(Ecom:Order.Delivery.Address)-->
                <!--@If Defined(Ecom:Order.Delivery.Address2)--><!--@Ecom:Order.Delivery.Address2--><br /><!--@EndIf(Ecom:Order.Delivery.Address2)-->
                <!--@If Defined(Ecom:Order.Delivery.Zip)--><!--@Ecom:Order.Delivery.Zip--> <!--@Ecom:Order.Delivery.City--><br /><!--@EndIf(Ecom:Order.Delivery.Zip)-->
                <!--@If Defined(Ecom:Order.Delivery.Email)--><!--@Ecom:Order.Delivery.Email--><br /><!--@EndIf(Ecom:Order.Delivery.Email)-->
                <!--@If Defined(Ecom:Order.Delivery.Phone)--><!--@Ecom:Order.Delivery.Phone--><!--@EndIf(Ecom:Order.Delivery.Phone)-->
                <!--@EndIf(Ecom:Order.Delivery.Address)-->
                <!--@If Not Defined(Ecom:Order.Delivery.Address)-->
                <!--@If Defined(Ecom:Order.Customer.Company)--><!--@Ecom:Order.Customer.Company--><br /><!--@EndIf(Ecom:Order.Customer.Company)-->
                <!--@If Defined(Ecom:Order.Customer.Name)--><!--@Ecom:Order.Customer.Name--><br /><!--@EndIf(Ecom:Order.Customer.Name)-->
                <!--@If Defined(Ecom:Order.Customer.Address)--><!--@Ecom:Order.Customer.Address--><br /><!--@EndIf(Ecom:Order.Customer.Address)-->
                <!--@If Defined(Ecom:Order.Customer.Address2)--><!--@Ecom:Order.Customer.Address2--><br /><!--@EndIf(Ecom:Order.Customer.Address2)-->
                <!--@If Defined(Ecom:Order.Customer.Zip)--><!--@Ecom:Order.Customer.Zip--> <!--@Ecom:Order.Customer.City--><br /><!--@EndIf(Ecom:Order.Customer.Zip)-->
                <!--@If Defined(Ecom:Order.Customer.Email)--><!--@Ecom:Order.Customer.Email--><br /><!--@EndIf(Ecom:Order.Customer.Email)-->
                <!--@If Defined(Ecom:Order.Customer.Phone)--><!--@Ecom:Order.Customer.Phone--><!--@EndIf(Ecom:Order.Customer.Phone)-->
                <!--@EndIf(Ecom:Order.Delivery.Address)-->
            </p>
            <!--@If(UserManagement:User.AccessUser_canuseinvoicecustomer=='yes')-->
            <h3 class="martop"><!--@Translate(headline_InvoiceCustomer, "Faktureringsdebitor", global)--></h3>
            <p>
                <!--@UserManagement:User.AccessUser_invoicecustomername-->
            </p>
            <!--@EndIf-->
        </div>
    </div>
</div>
<div class="clear"></div>
<footer class="cartnav clearfix">
       <!--<a href="/" class="btn home"><!--@Translate(goHome, "Til forside", global)--></a>-->
        <a href="javascript:window.print();" class="btn fr print"><!--@Translate(printIt, "Udskriv kvittering", global)--></a>
</footer>