﻿<!--@DwTemplateTags-->
<!--@If Not Defined(Ecom:Order.IsEmpty)-->
<header class="carthead">
        <h1><!--@Translate(headline_ItemsInBasket, "Vareoversigt", global)--></h1>
</header>
<form name="ordersubmit" id="ordersubmit" method="post">
    <table class="table">
        <thead>
            <tr class="basketheader">
                <th class="al" colspan="3">
                    <!--@Translate(th_Product, "Product", global)-->
                </th>
                <th>
                    <!--@Translate(th_Amount, "Amount", global)-->
                </th>
                <th class="ar">
                    <!--@Translate(th_Price, "Price", global)-->
                </th>
                <th>&nbsp;</th>
                <th class="ar">
                    <!--@Translate(th_Total, "Total", global)-->
                </th>
            </tr>
        </thead>
        <tbody>
    <!--@LoopStart(OrderLines)-->
            <!--@If(Ecom:Order:OrderLine.Type='0')-->
            <tr class="orderline<!--@Ecom:Order:OrderLine.Type--> orderline topline">
                <td class="thumb" rowspan="2">
                    <a href="<!--@Ecom:Order:OrderLine.ProductLink-->" title="<!--@Ecom:Order:OrderLine.ProductName-->"><img src="/Admin/Public/GetImage.ashx?Image=<!--@NIQ:ProductImage.RelativeUrl-->&amp;Width=80&amp;Crop=5" alt="<!--@Ecom:Product.Name-->" width="80" /></a>
                </td>
                <td class="prodline" colspan="2">
                    <span class="product"><!--@Ecom:Order:OrderLine.ProductName--></span>
                </td>      
                <td class="ac amountline">
                    <label for="<!--@Ecom:Order:OrderLine.Quantity.Input.Name-->" class="dNone"><!--@Translate(product_Qty, "Antal", global)--></label>
                    <input name="<!--@Ecom:Order:OrderLine.Quantity.Input.Name-->" class="amounter orderLineAmount ac" type="tel" size="4" value="<!--@Ecom:Order:OrderLine.Quantity-->" id="<!--@Ecom:Order:OrderLine.Quantity.Input.Name-->" autocomplete="off" />
                </td>
                <td class="ar">
                    <!--@Ecom:Product.Price.PriceWithoutVAT-->
                </td>
                <td class="ar priceline">
                    <!--@Ecom:Order.Currency.Code-->
                </td>
                <td class="ar priceline">
                    <b><!--@Ecom:Order:OrderLine.Price.PriceWithoutVAT--></b>
                </td>
            </tr>
            <tr class="orderline">
                <td class="al">
                    <span class="art"><!--@Translate(label_productnumber,"Varenr.", global)-->: &nbsp;<!--@Ecom:Product.Number--></span>
                </td>
                <td class="al">
                    <span class="delivery">
                        <!--@Translate(label_deliverytime, "Leveringstid", global)-->:&nbsp;
                        <!--@If(Ecom:Product:Field.tobeconfigured.Value=yes)-->
                            <!--@If(Ecom:Product:Field.instock.Value=yes)--><!--@Translate(ConfigInStock, "Max 5", global)--><!--@EndIf-->
                            <!--@If(Ecom:Product:Field.instock.Value=no)--><!--@Translate(NotInStick, "Not in stock", global)--><!--@EndIf-->
                        <!--@EndIf-->
                        <!--@If(Ecom:Product:Field.tobeconfigured.Value=no)-->
                            <!--@If(Ecom:Product:Field.instock.Value=yes)--><!--@Translate(NoConfigInStock, "Max 2", global)--><!--@EndIf-->
                            <!--@If(Ecom:Product:Field.instock.Value=no)--><!--@Translate(NotInStick, "Not in stock", global)--><!--@EndIf-->
                        <!--@EndIf-->
                    </span>
                </td>
                <td class="ar" colspan="4">
                    <!--@If Defined(Ecom:Order:OrderLine.IsProduct)--><a href="<!--@Ecom:Order:OrderLine.DeleteLink-->" title="Slet denne vare"><!--@Translate(remove_product, "Remove", global)--></a><!--@EndIf(Ecom:Order:OrderLine.IsProduct)-->
                </td>
            </tr>
            <!--@EndIf-->
            <!--@LoopStart(BOMItems)-->
            <tr class="orderline">
                <td>
                    <!--@Ecom:Order:OrderLine.ProductName.Short-->
                </td>
                <td>
                    <!--@Ecom:Order:OrderLine.Quantity-->
                </td>
                <td></td>
                <td>
                    <!--@Ecom:Order:OrderLine.TotalPrice-->
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <!--@LoopEnd(BOMItems)-->
            <!--@LoopEnd(OrderLines)-->             
            <tr class="total divider">
                <td colspan="3" class="nobobo">
                    <a href="<!--@Ecom:Cart.EmptyCartLink-->" class="btn empty"><!--@Translate(button_Emptycart, "T&oslash;m kurv", global)--></a>
                </td>
                <td class="ac nobobo">
                    <input type="submit" name="UpdateCart" id="Submit1" value="<!--@Translate(updatecart, 'Update cart', global)-->" class="btn updater" />
                </td>
                <td>
                    <!--@Translate(items_PriceExVat, "Varer ekskl. moms", global)-->
                </td>
                <td class="ar">
                    <!--@Ecom:Order.Currency.Code-->
                </td>
                <td class="ar">
                    <!--@Ecom:Order.PriceWithoutFees.PriceWithoutVAT-->
                </td>
            </tr>
            <tr class="total">
                <td colspan="4" class="nobo">
                    &nbsp;
                </td>
                <td>
                    <!--@Translate(items_ShipCost, "Fragt", global)-->
                </td>
                <td class="ar">
                    <!--@Ecom:Order.Currency.Code-->
                </td>
                <td class="ar">
                    <!--@DW:eCommerce.NAV.Freight-->
                </td>
            </tr>
            <tr class="totales">
                <td colspan="4" class="nobo">
                    &nbsp;
                </td>
                <td>
                    <!--@Translate(items_CartTotalExVat, "Total ekskl. moms", global)-->
                </td>
                <td class="ar">
                    <!--@Ecom:Order.Currency.Code-->
                </td>
                <td class="ar">
                    <!--@DW:eCommerce.NAV.NetAmount-->
                </td>
            </tr>
        </tbody>
    </table>
    <footer class="cartnav">
        <input type="submit" name="<!--@CartV2.NextStepButtonName-->" id="<!--@CartV2.NextStepButtonName-->" value="<!--@Translate(button_CheckOut, 'Checkud!', global)-->" class="btn next fr" />
    </footer>
</form>
<!--@EndIf(Ecom:Order.IsEmpty)-->