<!--@SnippetStart(script)-->
<script type="text/javascript" src="files/Templates/Designs/2014/js/jquery.cookie.js"></script>
<script type="text/javascript">
$(document).ready(function($) {
     $("#MainMenuHolder ul").html("<li><a href='/'>Tilbage til shoppen</a></li>")
     $("#delivadd").click( function(){
    $(this).is(':checked') ? $("#delivform").show() : $("#delivform").hide();
});
 });
    function doCopy() {

        $("#CreateUsername").val($("#EcomOrderCustomerPhone").val());

    }


// bonusfunctions
function enableSelect(){
        $('#refs option').removeAttr("disabled");
    }
function addbonus(){
        var percentage = 5;
        var bonus = 0;
        var prodnumber ="";
        <!--@LoopStart(OrderLines)-->
        prodnumber = "<!--@Ecom:Order:OrderLine.ProductNumber-->";
        if(prodnumber.length > 4){
        bonus += Math.ceil((<!--@Ecom:Order:OrderLine.UnitPrice.PricePIP-->*<!--@Ecom:Order:OrderLine.Quantity-->)/(percentage*100));
}
        <!--@LoopEnd(OrderLines)-->

        // Loop through all orderlines, take 10% of linevalue and sum all up
        return bonus;

    }


$(document).ready(function () {

    $('#reftag').change(function () {
    	$("#NIQOrefTag").val($(this).val());

    });
    $("#bonus-points-checkbox").change(function(){
    		if(!$(this).attr("checked")){
    			$("#NIQOrefTag").val(0);
    			$('#reftag option:eq(0)').attr('selected', true);
    		}

    });
    <!--Snippet(userreftag)-->
});

  $(function() {
  	var bonus = addbonus();
  	if(bonus == 0){$(".mitdermalogica").remove()}
  		else{
  			$(".points span").text(addbonus());

  		}

  });





</script>
<!--@SnippetEnd(script)-->

<!-- SHOPPING CART -->

<form name="ordersubmit" id="ordersubmit" method="post" class="">
	<div id="shoppingcart">

		<h3>Udfyld Bestillingsinfo</h3>
		<p>Udfyld dine bestillingsdata herunder. Har du sp&oslash;rgsm&aring;l kan du altid kontakte os	p&aring;<br>
		<a href="mailto:<!--@Item.Area.Mailaddress-->"><!--@Item.Area.Mailaddress--></a>, eller p&aring; telefon (+45) 86 72 58 00 (alle hverdage 9-15).</p>

		<div class="row">

			<!-- ADRESSE -->
			<div class="large-4 columns">
				<div class="large-12 columns margin brown-border">
					<h3>01. Adresse</h3>
					<hr class="dotted-ruler" />

					<div class="row">
						<div class="small-12">
							<div class="small-3 columns">
								<label for="EcomOrderCustomerName" class="left inline">Navn</label>
							</div>
							<div class="small-9 columns">
								<input type="text" name="EcomOrderCustomerName" id="EcomOrderCustomerName" value="<!--@Ecom:Order.Customer.Name-->" id="EcomOrderCustomerName" required oninvalid="setCustomValidity('Venligst udfyld navn')"/>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="small-12">
							<div class="small-3 columns">
								<label for="EcomOrderCustomerCompany" class="left inline">Firma</label>
							</div>
							<div class="small-9 columns">
								<input type="text" name="EcomOrderCustomerCompany" id="EcomOrderCustomerCompany" value="<!--@Ecom:Order.Customer.Company-->" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="small-12">
							<div class="small-3 columns">
								<label for="EcomOrderCustomerEmail" class="left inline">E-mail</label>
							</div>
							<div class="small-9 columns">
								<input type="text" name="EcomOrderCustomerEmail" id="EcomOrderCustomerEmail" value="<!--@Ecom:Order.Customer.Email-->" required oninvalid="setCustomValidity('Venligst udfyld korrekt email ')"/>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="small-12">
							<div class="small-3 columns">
								<label for="EcomOrderCustomerPhone" class="left inline">Telefon</label>
							</div>
							<div class="small-9 columns">
								<input type="text" name="EcomOrderCustomerPhone" id="EcomOrderCustomerPhone" value="<!--@Ecom:Order.Customer.Phone-->" required oninvalid="setCustomValidity('Venligst udfyld telefonnummer ')" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="small-12">
							<div class="small-3 columns">
								<label for="EcomOrderCustomerAddress" class="left inline">Adresse</label>
							</div>
							<div class="small-9 columns">
								<input type="text" name="EcomOrderCustomerAddress" id="EcomOrderCustomerAddress" value="<!--@Ecom:Order.Customer.Address-->" required oninvalid="setCustomValidity('Venligst udfyld adresse ')"/>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="small-12">
							<div class="small-3 columns">
							</div>
							<div class="small-9 columns">
								<input type="text" name="EcomOrderCustomerAddress2" id="EcomOrderCustomerAddress2" value="<!--@Ecom:Order.Customer.Address2-->" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="small-12">
							<div class="small-3 columns">
								<label for="EcomOrderCustomerZip" class="left inline">Postnr.</label>
							</div>
							<div class="small-9 columns">
								<input type="text" name="EcomOrderCustomerZip" id="EcomOrderCustomerZip" value="<!--@Ecom:Order.Customer.Zip-->" required oninvalid="setCustomValidity('Venligst udfyld postnummer ')"/>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="small-12">
							<div class="small-3 columns">
								<label for="EcomOrderCustomerCity" class="left inline">By</label>
							</div>
							<div class="small-9 columns">
								<input type="text" name="EcomOrderCustomerCity" id="EcomOrderCustomerCity" value="<!--@Ecom:Order.Customer.City-->" required oninvalid="setCustomValidity('Venligst udfyld by ')"/>
							</div>
						</div>
					</div>

					<input id="new-adress-checkbox" class="left" type="checkbox">
					<label class="checkbox-label" for="new-adress-checkbox">
						Jeg &oslash;nsker mine varer leveret p&aring; en anden adresse<br><br>
					</label>
					<div id="altaddress" class="opened-onclick">
						<div class="row">
							<div class="small-12">
								<div class="small-3 columns">
									<label for="EcomOrderDeliveryCompany" class="left inline">Firma</label>
								</div>
								<div class="small-9 columns">
									<input type="text" name="EcomOrderDeliveryCompany" id="EcomOrderDeliveryCompany" value="<!--@Ecom:Order.Delivery.Company-->" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="small-12">
								<div class="small-3 columns">
									<label for="EcomOrderDeliveryEmail" class="left inline">E-mail</label>
								</div>
								<div class="small-9 columns">
									<input type="text" name="EcomOrderDeliveryEmail" id="EcomOrderDeliveryEmail" value="<!--@Ecom:Order.Delivery.Email-->" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="small-12">
								<div class="small-3 columns">
									<label for="EcomOrderDeliveryPhone" class="left inline">Telefon</label>
								</div>
								<div class="small-9 columns">
									<input type="text" name="EcomOrderDeliveryPhone" id="EcomOrderDeliveryPhone" value="<!--@Ecom:Order.Delivery.Phone-->" >
								</div>
							</div>
						</div>

						<div class="row">
							<div class="small-12">
								<div class="small-3 columns">
									<label for="EcomOrderDeliveryAddress" class="left inline">Adresse</label>
								</div>
								<div class="small-9 columns">
									<input type="text" name="EcomOrderDeliveryAddress" id="EcomOrderDeliveryAddress" value="<!--@Ecom:Order.Delivery.Address-->">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="small-12">
								<div class="small-3 columns">
								</div>
								<div class="small-9 columns">
									<input type="text" name="EcomOrderDeliveryAddress2" id="EcomOrderDeliveryAddress2" value="<!--@Ecom:Order.Delivery.Address2-->" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="small-12">
								<div class="small-3 columns">
									<label for="EcomOrderDeliveryZip" class="left inline">Postnr.</label>
								</div>
								<div class="small-9 columns">
									<input type="text" name="EcomOrderDeliveryZip" id="EcomOrderDeliveryZip" value="<!--@Ecom:Order.Delivery.Zip-->" >
								</div>
							</div>
						</div>

						<div class="row">
							<div class="small-12">
								<div class="small-3 columns">
									<label for="EcomOrderCustomerCity" class="left inline">By</label>
								</div>
								<div class="small-9 columns">
									<input type="text" name="EcomOrderCustomerCity" id="EcomOrderCustomerCity" value="<!--@Ecom:Order.Customer.City-->" />
								</div>
							</div>
						</div>
					</div>

				</div>
			</div> <!-- /adresse -->


			<!-- LEVERING, BETALING & BONUSPOINTS -->
			<div class="large-4 columns">

				<!-- LEVERING -->
				<div class="large-12 columns margin brown-border">
					<h3>02. Levering</h3>
					<hr class="dotted-ruler" />

					<p>Hvordan skal det forsendes?</p>
					<!--@LoopStart(Shippingmethods)-->
					<label for="EcomCartShippingmethodID_<!--@Ecom:Cart.Shippingmethod.ID-->">
						<!--@If Defined(Ecom:Cart.Shippingmethod.IsSelected)-->
							<input onclick="updateCart();" type="radio" name="EcomCartShippingmethodID"
							id="EcomCartShippingmethodID_<!--@Ecom:Cart.Shippingmethod.ID-->" value="<!--@Ecom:Cart.Shippingmethod.ID-->" checked="checked" required/>
		            	<!--@EndIf(Ecom:Cart.Shippingmethod.IsSelected)-->
		            	<!--@If Not Defined(Ecom:Cart.Shippingmethod.IsSelected)-->
							<input onclick="updateCart();" type="radio" name="EcomCartShippingmethodID"
							id="EcomCartShippingmethodID_<!--@Ecom:Cart.Shippingmethod.ID-->" value="<!--@Ecom:Cart.Shippingmethod.ID-->" required/>
		            	<!--@EndIf(Ecom:Cart.Shippingmethod.IsSelected)-->
							&nbsp;<!--@Ecom:Cart.Shippingmethod.Name-->
						<!--@If Not Defined(Ecom:Cart.ShippingMethod.Price.IsZero)-->
							&nbsp;(<!--@Ecom:Cart.ShippingMethod.Price-->)
						<!--@EndIf(Ecom:Cart.ShippingMethod.Price.IsZero)-->
					</label>
	                <!--@If Defined(Ecom:Cart.Shippingmethod.Error)-->
	                	<div class="error">Error: <!--@Ecom:Cart.Shippingmethod.Error--></div>
	                <!--@EndIf(Ecom:Cart.Shippingmethod.Error)-->
					<!--@LoopEnd(Shippingmethods)-->
				</div> <!-- /levering -->


				<!-- BETALING -->
				<div class="large-12 columns margin brown-border" style="display:none">
					<h3>03. Betaling</h3>
					<hr class="dotted-ruler" />

					<p>Hvordan vil du gerne betale?</p>
					<!--@LoopStart(Paymethods)-->
					<label for="EcomCartPaymethodID_<!--@Ecom:Cart.Paymethod.ID-->">
						<!--@If Defined(Ecom:Cart.Paymethod.IsSelected)-->
		            		<input onclick="updateCart();" type="radio" name="EcomCartPaymethodID"
		            		id="EcomCartPaymethodID_<!--@Ecom:Cart.Paymethod.ID-->" value="<!--@Ecom:Cart.Paymethod.ID-->" checked="checked" required />&nbsp;
		            	<!--@EndIf(Ecom:Cart.Paymethod.IsSelected)-->
		            	<!--@If Not Defined(Ecom:Cart.Paymethod.IsSelected)-->
		            		<input onclick="updateCart();" type="radio" name="EcomCartPaymethodID"
		            		id="EcomCartPaymethodID_<!--@Ecom:Cart.Paymethod.ID-->" value="<!--@Ecom:Cart.Paymethod.ID-->" required/>&nbsp;
		            	<!--@EndIf(Ecom:Cart.Paymethod.IsSelected)-->
						<!--@Ecom:Cart.Paymethod.Name-->
						<!--@If Not Defined(Ecom:Cart.Paymethod.Price.IsZero)-->
							&nbsp;(<!--@Ecom:Cart.Paymethod.Price-->)
						<!--@EndIf(Ecom:Cart.Paymethod.Price.IsZero)-->
					</label>
					<!--@LoopEnd(Paymethods)-->
				</div> <!-- /betaling -->
<!--@If(Item.Area.PointKlubAktiv<>"False")-->
				<!-- BONUSPOINTS -->
				<div class="large-12 columns margin purple-border mitdermalogica">
					<h3 class="points"><strong><span></span> Bonuspoint</strong></h3>
					<hr class="dotted-ruler" />
					<p>Vil du tjene bonuspoint?</p>

<!--@If(NIQ:refTag=="")-->
<input id="bonus-points-checkbox" class="left" type="checkbox">
<!--@Else-->
<input id="bonus-points-checkbox" class="left" type="checkbox" checked="checked">

<!--@EndIf-->

<label class="checkbox-label" for="bonus-points-checkbox">
					<strong>Ja tak</strong>, jeg vil optjene bonuspoint<br><br></label>

					<div id="bonus" class="opened-onclick">
							<div class="large-12 columns">
								<p class="points"><!--@Ecom:Order.Customer.Name--> med denne bestilling optjener du<br><strong><span></span></strong> bonuspoint.</p>

			                    <p>Dine bonuspoint kan ombyttes til produkter i en af vores klinikker. V&aelig;lg den klinik, hvor dine bonuspoint skal kunne indl&oslash;ses til produkter:</p>
			                    <p>Det er muligt at skifte til en anden klinik. Du skal blot v&aelig;re opm&aelig;rksom p&aring; at du ikke kan flytte dine opsparede bonuspoint til en ny klinik.
			                    </p>
			                    <!--@Include(/Files/Filer/AJAX_userlist.html)-->
			                    <div id="refclinic"></div>
			                     <div id="clinicsubscribe" class="data"></div>
			                    <div id="refs">

			                    </div>

		                    	<p>En af betingelserne for at kunne f&aring; dine bonuspoint ombyttet til produkter er, at du er tilknyttet en af vores klinikker
		                    	og samtidig er tilmeldt klinikkens nyhedsbrev.
		                    	</p>

						        <input type="checkbox" class="left" name="NIQSubscribeClinikNewsletter2" id="NIQSubscribeClinikNewsletter2">
								<label class="checkbox-label" for="klinik-newsletter-checkbox">Tilmeld klinikkens nyhedsbrev<br><br></label>
							</div>
					</div>
				</div> <!-- /bonuspoints -->

			</div> <!-- /levering, betaling & bonuspoints -->
<!--@EndIf-->

			<!-- DIN BESTILLING -->
			<div class="large-4 columns">
				<div class="large-12 columns margin blue-border">
					<h3>03. Din bestilling</h3>
					<hr class="dotted-ruler" />

					<!-- SHOPPING TABLE -->
					<table id="shopping-table" class="bruger-info-table">
						<thead> <!-- Table Header -->
							<tr>
								<th class="text-left"><b>Produkter</b></th>
								<th><b>Antal</b></th>
								<th class="text-right"><b>Subtotal</b></th>
							</tr>
						</thead>

						<tbody> <!-- Table Body -->
							<!--@LoopStart(OrderLines)-->
							<!--@If(Ecom:Order:OrderLine.Type='0')-->
							<tr>
								<td class="text-left"><a href="#"><!--@Ecom:Order:OrderLine.ProductName--></a></td>
								<td><input name="<!--@Ecom:Order:OrderLine.Quantity.Input.Name-->" class="amount" value="<!--@Ecom:Order:OrderLine.Quantity-->"
								id="<!--@Ecom:Order:OrderLine.Quantity.Input.Name-->" readonly/></td>
								<td class="text-right"><!--@Ecom:Order:OrderLine.TotalPriceWithoutSymbol--> DKK</td>
							</tr>
							<!--@EndIf-->
							<!--@LoopEnd(OrderLines)-->
						</tbody>
					</table> <!-- /shopping-table -->


					<!-- CHECKOUT TOTAL -->
					<table id="checkout-total" class="bruger-info-table" cellspacing="0">
						<tbody class="no-border"> <!-- Table Body -->
							<tr>
								<td>Subtotal</td>
								<td class="text-right"><!--@Ecom:Order.PriceWithoutFees.Price--> DDK</td>
							</tr>
							<tr>
								<td>Kortgebyr</td>
								<td class="text-right"><!--@Ecom:Order.PaymentFee.Price--> DDK</td>
							</tr>
							<tr class="checkout-padding-bottom">
								<td>Fragt</td>
								<td class="text-right"><!--@Ecom:Order.ShippingFee.Price--> DDK</td>
								<!--DW:eCommerce.NAV.Freight-->
							</tr>
							<tr class="checkout-padding-bottom">
								<td>Heraf moms</td>
								<td class="text-right"><!--@Ecom:Order.PriceWithoutTaxes.VAT--> DDK</td>
							</tr>
						</tbody>

						<tfoot class="table-border-bottom"> <!-- Table Footer -->
							<tr class="checkout-padding-bottom">
								<td class="no-uppercase">Total</td>
								<td class="text-right big-font-size"><!--@Ecom:Order.Price.Price--> DDK</td>
							</tr>
						</tfoot>
					</table>


					<!-- ORDER COMMENTS -->
					<textarea name="EcomOrderCustomerComment" id="EcomOrderCustomerComment" placeholder="Evt. kommentar til din ordre"><!--@Ecom:Order.Customer.Comment--></textarea>


					<!-- ORDER CHECKFIELDS -->
					<!--@If Defined(Ecom:Cart.UseNewsletterSubscription)-->
					<input type="hidden" name="EcomOrderSubscribeToNewsletter" />
					<label class="checkbox-label" for="EcomOrderSubscribeToNewsletter">
						<input type="checkbox" name="EcomOrderSubscribeToNewsletter" id="EcomOrderSubscribeToNewsletter"
							<!--@If Defined(Ecom:Order.Customer.NewsletterSubscribe)-->
								checked="checked"
							<!--@EndIf(Ecom:Order.Customer.NewsletterSubscribe)-->
						 />
						<b>Ja tak</b>, til makeup-tips og gode tilbud fra Jane Iredale p&aring; mail ca. hver 3. uge<br>
						<br>
					</label>
					<!--@EndIf(Ecom:Cart.UseNewsletterSubscription)-->

					<label class="checkbox-label" for="forretningsbetingelser-check">
						<input id="forretningsbetingelser-check" name="EcomOrderCustomerAccepted" type="checkbox">
						Jeg accepterer <a href="Default.aspx?ID=375" target="_blank">forretningsbetingelserne</a><br>
						<br>
					</label>
<!--@UserManagement:User.EmailAllowed.Input-->
					<input type="submit" name="<!--@CartV2.NextStepButtonName-->" id="<!--@CartV2.NextStepButtonName-->" value="Til betaling" class="button shopping-button button-center margin submitter" />
				</div>
			</div> <!-- /din bestilling -->


			<div class="large-12 columns margin">
				    <!--@If(Item.Area.Site=="der")-->
				    <input type="hidden" name="NIQSalescode" id="NIQSalescode" value="B2C" />
				    <!--@Else-->
				    <input type="hidden" name="NIQSalescode" id="NIQSalescode" value="B2C" />
				    <!--@EndIf-->
				<br>
				<input type="hidden" name="NIQOrefTag" id="NIQOrefTag" value="<!--@NIQ:refTag-->" />

			</div>

		</div> <!-- /row -->


	</div> <!-- /shoppingcart -->
</form>
