<!--@SnippetStart(script)-->
<script type="text/javascript" src="files/Templates/Designs/2014/js/jquery.cookie.js"></script>
<script type="text/javascript">
$(document).ready(function($) {
     $("#MainMenuHolder ul").html("<li><a href='/'>Tilbage til shoppen</a></li>")
     $("#delivadd").click( function(){
    $(this).is(':checked') ? $("#delivform").show() : $("#delivform").hide();
});
 });
    function doCopy() {

        $("#CreateUsername").val($("#EcomOrderCustomerPhone").val());

    }
function CalculateFreightOffer()
		{
		var freightlimit = 499;
		var priceWithVAT = document.getElementById("FSPriceWithVAT").firstChild.data ;
		var priceWithVAT = priceWithVAT.replace(",", ".");
		var result = 0;
		var output;
		if(freightlimit > priceWithVAT)
		{
		result = freightlimit - priceWithVAT;
		output = 'Du mangler nu at købe for <b>kr. ' + result + ' </b>for at opnå GRATIS fragt</b>';
		}
		else
		{
		output = 'Dine produkter leveres <b>fragtfrit!</b>';
		}

		return output;
		}
        function CalculateGiftOffer(){
            var freightlimit = 120000;//beløbet som kunden skal købe mere end. OBS øre er uden komma, altså er beløbet 1200,00
            var priceWithVAT = document.getElementById("FSPriceWithVAT").firstChild.data; // henter og konverter beløb til string
             var test= priceWithVAT.replace(".","").replace(",",""); // fjerner "." og "," fra beløbet som er formateret 1.200,00
               if (freightlimit > test) { // Tester om købsbeløb er mindre eller større end "freightlimit"
                                 result = freightlimit - test; // sesultal gemmes i variabel
                                 result2 = result /100;
                                 //beløb div med 100
                output = 'Du mangler at købe for <b style="color:#FFF !important">kr. ' + result2 + ' </b>for at få din gave fra Dermalogica';
            }
            else {
                output = 'Glæd dig - du modtager en <b style="color:#FFF !important">gave</b> fra Dermalogica med din ordre. <br><b>Bemærk:</b> Gaven fremgår ikke af din ordrebekræftelse.';
            }

            return output;
        }



// bonusfunctions
function enableSelect(){
        $('#refs option').removeAttr("disabled");
    }
function addbonus(){
        var percentage = 5;
        var bonus = 0;
        var prodnumber ="";
        <!--@LoopStart(OrderLines)-->
        prodnumber = "<!--@Ecom:Order:OrderLine.ProductNumber-->";
        if(prodnumber.length > 5){
        bonus += Math.ceil((<!--@Ecom:Order:OrderLine.UnitPrice.PricePIP-->*<!--@Ecom:Order:OrderLine.Quantity-->)/(percentage*100));
}
        <!--@LoopEnd(OrderLines)-->

        // Loop through all orderlines, take 10% of linevalue and sum all up
        return bonus;

    }


 var changeClinicText = "";
 var reqText = "";
 var noThanksText = "<b>Nej tak,</b></br>jeg ønsker ikke at være medlem af mitDermalogica<br> og optjene bonuspoint. &nbsp;";
 var noThanksDisclaimerText ="<span style='font-size:9px;'>(Det er muligt at fortryde og tilmelde dig, næste gang du handler i shoppen)</p>";


/*INIT REFKLINIK DELEN*/
  $(function() {
    $(".points span").text(addbonus());
    getuserClinic(); //Hent brugerens tilknyttede klinik
    getClinics();
    $("#nothanks").prepend(noThanksText).append(noThanksDisclaimerText);
    if($.cookie("noBonus") == "true"){
        $("#NIQNoBonusPoints2").attr("checked", "checked");
         $("#refclinic, .hidethis").hide();
            appendreftagtoaction("10");
    }
    else{$("#NIQNoBonusPoints2").removeAttr("checked");
}

    $("#NIQNoBonusPoints2").click(function(){
        $.cookie("noBonus",$(this).attr("checked"));
        if($(this).attr("checked")){
            $("#refclinic, .hidethis").hide();
            appendreftagtoaction(10);
        }
            else{$("#refclinic, .hidethis").show();}
    });



  });

$(document).ready(function() {
 $("#NIQOreftag").live("change", function(event) {

         appendreftagtoaction($("#NIQOreftag option:selected").attr("value"));
         //return false;
     });
});
   function getuserClinic(){
       $("#userclinic").load('Default.aspx?ID=396 #userinfoclinicid', function() {
            //getClinics();

});
        // change so it uses get instead, and create a simple template for that.


    }

    function appendreftagtoaction(clinicid){
            var actionattr = "<!--@Ecom:Order.NextStep-->"; //$("#submitUserData").attr("action");
            $("#submitUserData").attr("action", actionattr+"&oreftag="+clinicid);

    }

function getClinics(){

        $('#refclinic').load('http://dermalogica2013.net.dynamicweb-cms.com/files/Filer/AJAX_userlist.html #refs', function(){
        //$('#refclinic').load('http://www.dermalogica.dk/Default.aspx?ID=4283 #refs', function(){

        $("#clinicsubscribe").prepend(reqText);

            //$('#refs select').attr("disabled","disabled");
             <!--@If(NIQreftag=="10")-->   //If session does not has oreftag set do this
                var userclinicid = $("#userinfoclinicid").text().trim(); //hent evt. tidligere valgt klinik
                if(userclinicid.length < 2){
                    userclinicid = 10;
                }

            <!--@EndIf-->
            <!--@If(NIQreftag<>"10")--> //If session has oreftag set do this
                var userclinicid = "<!--@NIQreftag-->";

            <!--@EndIf-->
                if(userclinicid.length > 2){
                $("#refclinic").append(changeClinicText);
                $('#refs option#c'+userclinicid).attr("selected","selected");
                $("#refs option").not(":selected").attr("disabled", "disabled");
};

         });

        //$('#refclinic').load('Default.aspx?ID=4283&SearchWord='+clinicid+' #ref #'+clinicid);
    }
</script>
<!--@SnippetEnd(script)-->

<!-- SHOPPING CART -->
<form name="ordersubmit" id="ordersubmit" method="post" class="custom">
	<div id="shoppingcart">

		<h3>Udfyld Bestillingsinfo</h3>
		<p>Udfyld dine bestillingsdata herunder. Har du sp&oslash;rgsm&aring;l kan du altid kontakte os	p&aring;<br>
		<a href="mailto;info@janeiredale.dk">info@janeiredale.dk</a>, eller p&aring; telefon (+45) 86 72 58 00 (alle hverdage 9-15).</p>

		<div class="row">

			<!-- ADRESSE -->
			<div class="large-4 columns">
				<div class="large-12 columns margin brown-border">
					<h3>01. Adresse</h3>
					<hr class="dotted-ruler" />
					<p>Hent oplysninger fra dit sidste k&oslash;b</p>

					<div class="row collapse">
						<label>Telefon</label>
						<div class="small-9 columns">
							<input type="text" />
						</div>
						<div class="small-3 columns">
							<span class="postfix">S&oslash;g</span>
						</div>
					</div>

					<div class="row">
						<div class="small-12">
							<div class="small-3 columns">
								<label for="EcomOrderCustomerName" class="left inline">Navn</label>
							</div>
							<div class="small-9 columns">
								<input type="text" name="EcomOrderCustomerName" id="EcomOrderCustomerName" value="<!--@Ecom:Order.Customer.Name-->" id="EcomOrderCustomerName" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="small-12">
							<div class="small-3 columns">
								<label for="EcomOrderCustomerCompany" class="left inline">Firma</label>
							</div>
							<div class="small-9 columns">
								<input type="text" name="EcomOrderCustomerCompany" id="EcomOrderCustomerCompany" value="<!--@Ecom:Order.Customer.Company-->" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="small-12">
							<div class="small-3 columns">
								<label for="EcomOrderCustomerEmail" class="left inline">E-mail</label>
							</div>
							<div class="small-9 columns">
								<input type="text" name="EcomOrderCustomerEmail" id="EcomOrderCustomerEmail" value="<!--@Ecom:Order.Customer.Email-->" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="small-12">
							<div class="small-5 columns">
								<label for="email-repeat" class="left inline">Gentag E-mail</label>
							</div>
							<div class="small-7 columns">
								<input type="text" id="email-repeat">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="small-12">
							<div class="small-3 columns">
								<label for="EcomOrderCustomerPhone" class="left inline">Telefon</label>
							</div>
							<div class="small-9 columns">
								<input type="text" name="EcomOrderCustomerPhone" id="EcomOrderCustomerPhone" value="<!--@Ecom:Order.Customer.Phone-->" >
							</div>
						</div>
					</div>

					<div class="row">
						<div class="small-12">
							<div class="small-3 columns">
								<label for="EcomOrderCustomerAddress" class="left inline">Adresse</label>
							</div>
							<div class="small-9 columns">
								<input type="text" name="EcomOrderCustomerAddress" id="EcomOrderCustomerAddress" value="<!--@Ecom:Order.Customer.Address-->">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="small-12">
							<div class="small-3 columns">
							</div>
							<div class="small-9 columns">
								<input type="text" name="EcomOrderCustomerAddress2" id="EcomOrderCustomerAddress2" value="<!--@Ecom:Order.Customer.Address2-->" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="small-12">
							<div class="small-3 columns">
								<label for="EcomOrderCustomerZip" class="left inline">Postnr.</label>
							</div>
							<div class="small-9 columns">
								<input type="text" name="EcomOrderCustomerZip" id="EcomOrderCustomerZip" value="<!--@Ecom:Order.Customer.Zip-->" >
							</div>
						</div>
					</div>

					<div class="row">
						<div class="small-12">
							<div class="small-3 columns">
								<label for="EcomOrderCustomerCity" class="left inline">By</label>
							</div>
							<div class="small-9 columns">
								<input type="text" name="EcomOrderCustomerCity" id="EcomOrderCustomerCity" value="<!--@Ecom:Order.Customer.City-->" />
							</div>
						</div>
					</div>

					<label class="checkbox-label" for="new-adress-checkbox">
					<input id="new-adress-checkbox" class="onclick-open" type="checkbox">
					Jeg &oslash;nsker mine varer leveret p&aring; en anden adresse<br><br></label>

					<div id="altaddress" class="opened-onclick">
						<div class="row">
							<div class="small-12">
								<div class="small-3 columns">
									<label for="EcomOrderDeliveryCompany" class="left inline">Firma</label>
								</div>
								<div class="small-9 columns">
									<input type="text" name="EcomOrderDeliveryCompany" id="EcomOrderDeliveryCompany" value="<!--@Ecom:Order.Delivery.Company-->" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="small-12">
								<div class="small-3 columns">
									<label for="EcomOrderDeliveryEmail" class="left inline">E-mail</label>
								</div>
								<div class="small-9 columns">
									<input type="text" name="EcomOrderDeliveryEmail" id="EcomOrderDeliveryEmail" value="<!--@Ecom:Order.Delivery.Email-->" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="small-12">
								<div class="small-3 columns">
									<label for="EcomOrderDeliveryPhone" class="left inline">Telefon</label>
								</div>
								<div class="small-9 columns">
									<input type="text" name="EcomOrderDeliveryPhone" id="EcomOrderDeliveryPhone" value="<!--@Ecom:Order.Delivery.Phone-->" >
								</div>
							</div>
						</div>

						<div class="row">
							<div class="small-12">
								<div class="small-3 columns">
									<label for="EcomOrderDeliveryAddress" class="left inline">Adresse</label>
								</div>
								<div class="small-9 columns">
									<input type="text" name="EcomOrderDeliveryAddress" id="EcomOrderDeliveryAddress" value="<!--@Ecom:Order.Delivery.Address-->">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="small-12">
								<div class="small-3 columns">
								</div>
								<div class="small-9 columns">
									<input type="text" name="EcomOrderDeliveryAddress2" id="EcomOrderDeliveryAddress2" value="<!--@Ecom:Order.Delivery.Address2-->" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="small-12">
								<div class="small-3 columns">
									<label for="EcomOrderDeliveryZip" class="left inline">Postnr.</label>
								</div>
								<div class="small-9 columns">
									<input type="text" name="EcomOrderDeliveryZip" id="EcomOrderDeliveryZip" value="<!--@Ecom:Order.Delivery.Zip-->" >
								</div>
							</div>
						</div>

						<div class="row">
							<div class="small-12">
								<div class="small-3 columns">
									<label for="EcomOrderCustomerCity" class="left inline">By</label>
								</div>
								<div class="small-9 columns">
									<input type="text" name="EcomOrderCustomerCity" id="EcomOrderCustomerCity" value="<!--@Ecom:Order.Customer.City-->" />
								</div>
							</div>
						</div>
					</div>

				</div>
			</div> <!-- /adresse -->


			<!-- LEVERING, BETALING & BONUSPOINTS -->
			<div class="large-4 columns">

				<!-- LEVERING -->
				<div class="large-12 columns margin brown-border">
					<h3>02. Levering</h3>
					<hr class="dotted-ruler" />

					<p>Hvordan skal det forsendes?</p>
					<!--@LoopStart(Shippingmethods)-->
					<label for="EcomCartShippingmethodID_<!--@Ecom:Cart.Shippingmethod.ID-->">
						<!--@If Defined(Ecom:Cart.Shippingmethod.IsSelected)-->
							<input onclick="updateCart();" type="radio" name="EcomCartShippingmethodID"
							id="EcomCartShippingmethodID_<!--@Ecom:Cart.Shippingmethod.ID-->" value="<!--@Ecom:Cart.Shippingmethod.ID-->" checked="checked" />
		            	<!--@EndIf(Ecom:Cart.Shippingmethod.IsSelected)-->
		            	<!--@If Not Defined(Ecom:Cart.Shippingmethod.IsSelected)-->
							<input onclick="updateCart();" type="radio" name="EcomCartShippingmethodID"
							id="EcomCartShippingmethodID_<!--@Ecom:Cart.Shippingmethod.ID-->" value="<!--@Ecom:Cart.Shippingmethod.ID-->" />
		            	<!--@EndIf(Ecom:Cart.Shippingmethod.IsSelected)-->
							&nbsp;<!--@Ecom:Cart.Shippingmethod.Name-->
						<!--@If Not Defined(Ecom:Cart.ShippingMethod.Price.IsZero)-->
							&nbsp;(<!--@Ecom:Cart.ShippingMethod.Price-->)
						<!--@EndIf(Ecom:Cart.ShippingMethod.Price.IsZero)-->
					</label>
	                <!--@If Defined(Ecom:Cart.Shippingmethod.Error)-->
	                	<div class="error">Error: <!--@Ecom:Cart.Shippingmethod.Error--></div>
	                <!--@EndIf(Ecom:Cart.Shippingmethod.Error)-->
					<!--@LoopEnd(Shippingmethods)-->
				</div> <!-- /levering -->


				<!-- BETALING -->
				<div class="large-12 columns margin brown-border">
					<h3>03. Betaling</h3>
					<hr class="dotted-ruler" />

					<p>Hvordan vil du gerne betale?</p>
					<!--@LoopStart(Paymethods)-->
					<label for="EcomCartPaymethodID_<!--@Ecom:Cart.Paymethod.ID-->">
						<!--@If Defined(Ecom:Cart.Paymethod.IsSelected)-->
		            		<input onclick="updateCart();" type="radio" name="EcomCartPaymethodID"
		            		id="EcomCartPaymethodID_<!--@Ecom:Cart.Paymethod.ID-->" value="<!--@Ecom:Cart.Paymethod.ID-->" checked="checked" />&nbsp;
		            	<!--@EndIf(Ecom:Cart.Paymethod.IsSelected)-->
		            	<!--@If Not Defined(Ecom:Cart.Paymethod.IsSelected)-->
		            		<input onclick="updateCart();" type="radio" name="EcomCartPaymethodID"
		            		id="EcomCartPaymethodID_<!--@Ecom:Cart.Paymethod.ID-->" value="<!--@Ecom:Cart.Paymethod.ID-->" />&nbsp;
		            	<!--@EndIf(Ecom:Cart.Paymethod.IsSelected)-->
						<!--@Ecom:Cart.Paymethod.Name-->
						<!--@If Not Defined(Ecom:Cart.Paymethod.Price.IsZero)-->
							&nbsp;(<!--@Ecom:Cart.Paymethod.Price-->)
						<!--@EndIf(Ecom:Cart.Paymethod.Price.IsZero)-->
					</label>
					<!--@LoopEnd(Paymethods)-->
				</div> <!-- /betaling -->


				<!-- BONUSPOINTS -->
				<div class="large-12 columns margin purple-border mitdermalogica">
					<h3 class="points"><strong><span></span> Bonuspoint</strong></h3>
					<hr class="dotted-ruler" />
					<p>Vil du tjene bonuspoint?</p>
					<label class="checkbox-label" for="bonus-points-checkbox">
					<input id="bonus-points-checkbox" class="onclick-open" type="checkbox">
					<strong>Ja tak</strong>, jeg vil optjene bonuspoint<br><br></label>

					<div id="altaddress" class="opened-onclick">
							<div class="large-12">
								<h5 class="points"><!--@Ecom:Order.Customer.Name--> med denne bestilling optjener du<br><strong ><span></span></strong> bonuspoint.</h5>

			                    <p>Dine bonuspoint kan ombyttes til produkter i en af vores klinikker. V&aelig;lg den klinik, hvor dine bonuspoint skal kunne indl&oslash;ses til produkter:</p>
			                    <p>Det er muligt at skifte til en anden klinik. Du skal blot v&aelig;re opm&aelig;rksom p&aring; at du ikke kan flytte dine opsparede bonuspoint til en ny klinik.<br>
			                    <br>
			                    &Oslash;nsker du at v&aelig;re tilknyttet en ny klinik? S&aring; v&aelig;lg her:
			                    </p>
			                    <div id="refclinic"></div>
			                     <div id="clinicsubscribe" class="data"></div>
			                    <div id="refs">

			                    </div>

		                    	<p>En af betingelserne for at kunne f&aring; dine bonuspoint ombyttet til produkter er, at du er tilknyttet en af vores klinikker
		                    	og samtidig er tilmeldt klinikkens nyhedsbrev.
		                    	</p>


						        <input id="klinik-newsletter-checkbox" class="onclick-open" type="checkbox">
								<label class="checkbox-label" for="klinik-newsletter-checkbox">Tilmeld klinikkens nyhedsbrev<br><br></label>
							</div>
					</div>
				</div> <!-- /bonuspoints -->

			</div> <!-- /levering, betaling & bonuspoints -->


			<!-- DIN BESTILLING -->
			<div class="large-4 columns">
				<div class="large-12 columns margin blue-border">
					<h3>04. Din bestilling</h3>
					<hr class="dotted-ruler" />

					<!-- SHOPPING TABLE -->
					<table id="shopping-table" class="bruger-info-table">
						<thead> <!-- Table Header -->
							<tr>
								<th class="text-left"><b>Produkter</b></th>
								<th><b>Antal</b></th>
								<th class="text-right"><b>Subtotal</b></th>
							</tr>
						</thead>

						<tbody> <!-- Table Body -->
							<!--@LoopStart(OrderLines)-->
							<!--@If(Ecom:Order:OrderLine.Type='0')-->
							<tr>
								<td class="text-left"><a href="#"><!--@Ecom:Order:OrderLine.ProductName--></a></td>
								<td><input name="<!--@Ecom:Order:OrderLine.Quantity.Input.Name-->" class="amount" value="<!--@Ecom:Order:OrderLine.Quantity-->"
								id="<!--@Ecom:Order:OrderLine.Quantity.Input.Name-->" readonly/></td>
								<td class="text-right"><!--@Ecom:Order:OrderLine.TotalPriceWithoutSymbol--> DKK</td>
							</tr>
							<!--@EndIf-->
							<!--@LoopEnd(OrderLines)-->
						</tbody>
					</table> <!-- /shopping-table -->


					<!-- CHECKOUT TOTAL -->
					<table id="checkout-total" class="bruger-info-table" cellspacing="0">
						<tbody class="no-border"> <!-- Table Body -->
							<tr>
								<td>Subtotal</td>
								<td class="text-right"><!--@Ecom:Order.PriceWithoutFees.Price--> DDK</td>
							</tr>
							<tr>
								<td>Kortgebyr</td>
								<td class="text-right"><!--@Ecom:Order.PaymentFee.Price--> DDK</td>
							</tr>
							<tr class="checkout-padding-bottom">
								<td>Fragt</td>
								<td class="text-right"><!--@Ecom:Order.ShippingFee.Price--> DDK</td>
								<!--DW:eCommerce.NAV.Freight-->
							</tr>
							<tr class="checkout-padding-bottom">
								<td>Heraf moms</td>
								<td class="text-right"><!--@Ecom:Order.PriceWithoutTaxes.VAT--> DDK</td>
							</tr>
						</tbody>

						<tfoot class="table-border-bottom"> <!-- Table Footer -->
							<tr class="checkout-padding-bottom">
								<td class="no-uppercase">Total</td>
								<td class="text-right big-font-size"><!--@Ecom:Order.Price.Price--> DDK</td>
							</tr>
						</tfoot>
					</table>


					<!-- ORDER COMMENTS -->
					<textarea name="EcomOrderCustomerComment" id="EcomOrderCustomerComment" placeholder="Evt. kommentar til din ordre"><!--@Ecom:Order.Customer.Comment--></textarea>


					<!-- ORDER CHECKFIELDS -->
					<!--@If Defined(Ecom:Cart.UseNewsletterSubscription)-->
					<input type="hidden" name="EcomOrderSubscribeToNewsletter" />
					<label class="checkbox-label" for="EcomOrderSubscribeToNewsletter">
						<input type="checkbox" name="EcomOrderSubscribeToNewsletter" id="EcomOrderSubscribeToNewsletter"
							<!--@If Defined(Ecom:Order.Customer.NewsletterSubscribe)-->
								checked="checked"
							<!--@EndIf(Ecom:Order.Customer.NewsletterSubscribe)-->
						 />
						<b>Ja tak</b>, til makeup-tips og gode tilbud fra Jane Iredale p&aring; mail ca. hver 3. uge<br>
						<br>
					</label>
					<!--@EndIf(Ecom:Cart.UseNewsletterSubscription)-->

					<label class="checkbox-label" for="forretningsbetingelser-check">
						<input id="forretningsbetingelser-check" type="checkbox">
						Jeg accepterer forretningsbetingelserne<br>
						<br>
					</label>

					<input type="submit" name="<!--@CartV2.NextStepButtonName-->" id="<!--@CartV2.NextStepButtonName-->" value="Til betaling" class="button shopping-button button-center margin" />
				</div>
			</div> <!-- /din bestilling -->


			<div class="large-12 columns margin">
				<input type="text" name="NIQSalescode" id="NIQSalescode" value="NIQSalescode" /><br>
				<input type="text" name="NIQOrefTag" id="NIQOrefTag" value="NIQOrefTag" />
			</div>

		</div> <!-- /row -->


	</div> <!-- /shoppingcart -->
</form>
