<!--@DwTemplateTags-->
	<div class="large-12">
        <h3><!--@Translate(headline_ItemsInBasket, "Vareoversigt", global)--></h2>
	        <table style="width:100%" >
                <thead>
				    <tr class="basketheader">
					    <th class="al"><!--@Translate(productname, "Produkt", global)--></th>
                        <th><!--@Translate(product_Qty, "Antal", global)--></th>
					    <th class="ar"><!--@Translate(product_Price, "Pris", global)--></th>
					    <th class="ar"><!--@Translate(product_PriceTotal, "Pris i alt", global)--></th>
				    </tr>
				</thead>
				<!--@LoopStart(OrderLines)-->
					<tr class="orderline<!--@Ecom:Order:OrderLine.Type--> orderline topline">
						<td>
							<!--@Ecom:Order:OrderLine.ProductName.Short-->
						</td>
						<td class="ac"><!--@Ecom:Order:OrderLine.Quantity--></td>
                        <td class="ar"><!--@Ecom:Product.Price.PriceWithoutVAT--></td>
						<td class="ar"><b><!--@Ecom:Order:OrderLine.Price.PriceWithoutVAT--></b></td>
					</tr>
                    <tr>
                        <td>
                            <span class="art"><!--@Translate(label_productnumber,"Varenr.", global)-->: &nbsp;<!--@Ecom:Order:OrderLine.ProductVariantID--></span>
                        </td>
                        <td colspan="3">
                            <span class="delivery">
                                <!--@Translate(label_deliverytime, "Leveringstid", global)-->:&nbsp;
                                <!--@If(Ecom:Product:Field.tobeconfigured.Value=yes)-->
                                    <!--@If(Ecom:Product:Field.instock.Value=yes)--><!--@Translate(ConfigInStock, "Max 5", global)--><!--@EndIf-->
                                    <!--@If(Ecom:Product:Field.instock.Value=no)--><!--@Translate(NotInStick, "Not in stock", global)--><!--@EndIf-->
                                <!--@EndIf-->
                                <!--@If(Ecom:Product:Field.tobeconfigured.Value=no)-->
                                    <!--@If(Ecom:Product:Field.instock.Value=yes)--><!--@Translate(NoConfigInStock, "Max 2", global)--><!--@EndIf-->
                                    <!--@If(Ecom:Product:Field.instock.Value=no)--><!--@Translate(NotInStick, "Not in stock", global)--><!--@EndIf-->
                                <!--@EndIf-->
                            </span>
                        </td>
                    </tr>
				<!--@LoopEnd(OrderLines)-->
				<tr class="total divider">
                    <td class="nobobo">&nbsp;</td>
					<td><!--@Translate(items_PriceExVat, "Varer ekskl. moms", global)--></td>
                    <td class="ar"><!--@Ecom:Order.Currency.Code--></td>
					<td class="ar" title="Ecom:Order.PaymentFee.PriceFormatted"><!--@Ecom:Order.PriceWithoutFees.PriceWithoutVAT--></td>
				</tr>
				<tr class="total">
					<td class="nobo">&nbsp;</td>
                    <td><!--@Translate(items_ShipCost, "Fragt", global)--></td>
                    <td class="ar"><!--@Ecom:Order.Currency.Code--></td>
					<td class="ar" title="Ecom:Order.ShippingFee.PriceFormatted"><!--@DW:eCommerce.NAV.Freight--></td>
				</tr>
				<tr class="totales">
					<td class="nobo">&nbsp;</td>
                    <td><!--@Translate(items_CartTotalExVat, "Total ekskl. moms", global)--></td>
                    <td class="ar"><!--@Ecom:Order.Currency.Code--></td>
					<td class="ar"><!--@DW:eCommerce.NAV.NetAmount--></td>
				</tr>
			</table>
    </div>

<div class="row">
    <div class="large-12 columns">

            <h2><!--@Translate(headline_OrdeeInfo, "Orderinformation", global)--></h2>
	            <p><!--@Translate(cart_Ordernumber, "Ordernummer", global)-->: <!--@If Defined(Ecom:Order.IntegrationID)--><!--@Ecom:Order.IntegrationID--><!--@EndIf(Ecom:Order.IntegrationID)--> <!--@If Not Defined(Ecom:Order.IntegrationID)--><!--@Ecom:Order.ID--><!--@EndIf(Ecom:Order.IntegrationID)--></p>
	            <p><!--@Translate(cart_Orderdate, "Dato", global)-->: <!--@Ecom:Order.Date--></p>
                <!--@If Defined(Ecom:Order.Customer.Comment)--><p><!--@Translate(cart_Comment, "Kommentar", global)-->:<br /><!--@Ecom:Order.Customer.Comment--></p><!--@EndIf(Ecom:Order.Customer.Comment)-->

            <h3 class="martop"><!--@Translate(headline_OrderAdr, "Fakturerringsadresse", global)--></h3>
            <p>
                <!--@If Defined(Ecom:Order.Customer.Company)--><!--@Ecom:Order.Customer.Company--><br /><!--@EndIf(Ecom:Order.Customer.Company)-->
                <!--@If Defined(Ecom:Order.Customer.Name)--><!--@Ecom:Order.Customer.Name--><br /><!--@EndIf(Ecom:Order.Customer.Name)-->
                <!--@If Defined(Ecom:Order.Customer.Address)--><!--@Ecom:Order.Customer.Address--><br /><!--@EndIf(Ecom:Order.Customer.Address)-->
                <!--@If Defined(Ecom:Order.Customer.Address2)--><!--@Ecom:Order.Customer.Address2--><br /><!--@EndIf(Ecom:Order.Customer.Address2)-->
                <!--@If Defined(Ecom:Order.Customer.Zip)--><!--@Ecom:Order.Customer.Zip--> <!--@Ecom:Order.Customer.City--><br /><!--@EndIf(Ecom:Order.Customer.Zip)-->
                <!--@If Defined(Ecom:Order.Customer.Email)--><!--@Ecom:Order.Customer.Email--><br /><!--@EndIf(Ecom:Order.Customer.Email)-->
                <!--@If Defined(Ecom:Order.Customer.Phone)--><!--@Ecom:Order.Customer.Phone--><!--@EndIf(Ecom:Order.Customer.Phone)-->
            </p><!--@If Defined(Ecom:Order.Delivery.Address)-->
            <h3 class="martop"><!--@Translate(headline_ShippingAdr, "Leveringsadresse", global)--></h3>
            <p>

                <!--@If Defined(Ecom:Order.Delivery.Company)--><!--@Ecom:Order.Delivery.Company--><br /><!--@EndIf(Ecom:Order.Delivery.Company)-->
                <!--@If Defined(Ecom:Order.Delivery.Name)--><!--@Ecom:Order.Delivery.Name--><br /><!--@EndIf(Ecom:Order.Delivery.Name)-->
                <!--@If Defined(Ecom:Order.Delivery.Address)--><!--@Ecom:Order.Delivery.Address--><br /><!--@EndIf(Ecom:Order.Delivery.Address)-->
                <!--@If Defined(Ecom:Order.Delivery.Address2)--><!--@Ecom:Order.Delivery.Address2--><br /><!--@EndIf(Ecom:Order.Delivery.Address2)-->
                <!--@If Defined(Ecom:Order.Delivery.Zip)--><!--@Ecom:Order.Delivery.Zip--> <!--@Ecom:Order.Delivery.City--><br /><!--@EndIf(Ecom:Order.Delivery.Zip)-->
                <!--@If Defined(Ecom:Order.Delivery.Email)--><!--@Ecom:Order.Delivery.Email--><br /><!--@EndIf(Ecom:Order.Delivery.Email)-->
                <!--@If Defined(Ecom:Order.Delivery.Phone)--><!--@Ecom:Order.Delivery.Phone--><!--@EndIf(Ecom:Order.Delivery.Phone)-->
                <!--@EndIf(Ecom:Order.Delivery.Address)-->
                <!--@If Not Defined(Ecom:Order.Delivery.Address)-->
                <!--@If Defined(Ecom:Order.Customer.Company)--><!--@Ecom:Order.Customer.Company--><br /><!--@EndIf(Ecom:Order.Customer.Company)-->
                <!--@If Defined(Ecom:Order.Customer.Name)--><!--@Ecom:Order.Customer.Name--><br /><!--@EndIf(Ecom:Order.Customer.Name)-->
                <!--@If Defined(Ecom:Order.Customer.Address)--><!--@Ecom:Order.Customer.Address--><br /><!--@EndIf(Ecom:Order.Customer.Address)-->
                <!--@If Defined(Ecom:Order.Customer.Address2)--><!--@Ecom:Order.Customer.Address2--><br /><!--@EndIf(Ecom:Order.Customer.Address2)-->
                <!--@If Defined(Ecom:Order.Customer.Zip)--><!--@Ecom:Order.Customer.Zip--> <!--@Ecom:Order.Customer.City--><br /><!--@EndIf(Ecom:Order.Customer.Zip)-->
                <!--@If Defined(Ecom:Order.Customer.Email)--><!--@Ecom:Order.Customer.Email--><br /><!--@EndIf(Ecom:Order.Customer.Email)-->
                <!--@If Defined(Ecom:Order.Customer.Phone)--><!--@Ecom:Order.Customer.Phone--><!--@EndIf(Ecom:Order.Customer.Phone)-->

            </p>
            <!--@EndIf(Ecom:Order.Delivery.Address)-->
            <!--@If(UserManagement:User.AccessUser_canuseinvoicecustomer=='yes')-->
            <h3 class="martop"><!--@Translate(headline_InvoiceCustomer, "Faktureringsdebitor", global)--></h3>
            <p>
                <!--@UserManagement:User.AccessUser_invoicecustomername-->
            </p>
            <!--@EndIf-->
        </div>

</div>
<div class="clear"></div>
<footer class="cartnav clearfix">
       <!--<a href="/" class="btn home"><!--@Translate(goHome, "Til forside", global)--></a>-->
        <a href="javascript:window.print();" class="button"><!--@Translate(printIt, "Udskriv kvittering", global)--></a>
</footer>