<div id="shoppingcart" class="row margin">
            <div class="large-12 columns">
<form name="ordersubmit" id="ordersubmit" method="post">
					<!-- CART TABS -->
					<dl class="tabs tabs-top" data-tab>
					  <dd class="active"><button type="submit" name="<!--@CartV2.NextStepButtonName-->" id="<!--@CartV2.NextStepButtonName-->" class="button shopping-button radius" />BESTIL NU</button></dd>
					  <dd><a href="#" class="button shopping-button2 ">Shop videre</a></dd>
					  <h3>Indk&oslash;bskurv</h3>
					</dl> <!-- /tabs -->

					<div class="tabs-content">
					  <div class="content active" id="panel2-2">

					    <div class="row">

					    	<div class="large-9 columns no-padding-right">

						    	<!-- SHOPPING TABLE -->
					    		<table id="shopping-table">

					    			<thead> <!-- Table Header -->
										<tr>
											<th class="text-left" width="115">Produkter</th>
											<th width="255"></th>
											<th width="100">Enhedspris</th>
											<th width="55">Antal</th>
											<th width="155">Din pris</th>
										</tr>
					    			</thead>

					    			<tbody> <!-- Table Body -->
					    				<!--@LoopStart(OrderLines)-->
					    				<!--@If(Ecom:Order:OrderLine.Type='0')-->
									    <tr>
									      	<td><a href="<!--@Ecom:Order:OrderLine.ProductLink-->" title="<!--@Ecom:Order:OrderLine.ProductName-->"><img src="/Admin/Public/GetImage.ashx?Image=Images/Produktbilleder/<!--@Ecom:Product.Number-->.jpg&amp;height=87&amp;Width=87&amp;crop=5&amp;altFmImage_path=Images/Produktbilleder/noimg.png" alt="" height="87px" width="87px" title="<!--@Ecom:Product.Name-->"></a></td>
									      	<td class="text-left"><h4><a href="#"><!--@Ecom:Order:OrderLine.ProductName--></a></h4></td>
										  	<td><!--@Ecom:Product.Price.Price--> DKK</td>
										  	<td> <input name="<!--@Ecom:Order:OrderLine.Quantity.Input.Name-->" class="amount" size="4" value="<!--@Ecom:Order:OrderLine.Quantity-->" id="<!--@Ecom:Order:OrderLine.Quantity.Input.Name-->" autocomplete="off" /></td>
										  	<td><span class="your-price"><!--@Ecom:Order:OrderLine.TotalPriceWithoutSymbol--> DKK</span> |  <!--@If Defined(Ecom:Order:OrderLine.IsProduct)--><a href="<!--@Ecom:Order:OrderLine.DeleteLink-->" title="Slet denne vare">&nbsp;X </a><!--@EndIf(Ecom:Order:OrderLine.IsProduct)--></td>
									    </tr>
									    <!--@EndIf-->

									     <!--@LoopEnd(OrderLines)-->
									</tbody>

							<tfoot> <!-- Table Footer -->
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td class="text-right"><input type="submit" name="UpdateCart" id="Submit1" value="Opdater Indk&oslash;bskurv" class="updater" /></td>
										</tr>
									</tfoot>

								</table> <!-- /shopping-table -->

								<!-- ALERT BOXES -->
                                <!-- GRATIS FRAGT -->
		<div class="large-7 columns no-padding-left">
		<!--@If(Ecom:Order.PriceWithoutFees.PricePIP > Item.Area.Frightlimit)-->
      	<div data-alert class="alert-box info">
			  Dine produkter leveres <b>fragtfrit!</b>
		  	</div>
      <!--@Else-->
        <div data-alert class="alert-box warning">
  	      Du mangler at k&oslash;be for <u>kr. <span class="freight-missing"></span></u><br> for at opn&aring; <b>GRATIS fragt</b>
								  <!--<a href="#" class="close">&times;</a>-->
			</div>

   <!--@EndIf-->

		<!--@SnippetStart(scriptready)-->
var freightmissing = (<!--@Item.Area.Frightlimit--> - <!--@Ecom:Order.PriceWithoutFees.PricePIP-->)/100;
$(".freight-missing").html(freightmissing)
<!--@SnippetEnd(scriptready)-->

                                    <!-- GAVE 1200 KR -->
   <!--@If(Ecom:Order.PriceWithoutFees.PricePIP < Item.Area.Giftlimit)-->

      <!--@If(Item.Area.Site=="der")-->
         <div data-alert class="alert-box warning">
         	Du mangler at k&oslash;be for <u>kr. <span class="gift-missing"></span></u><br> for at f&aring; din <b>gave fra Dermalogica</b>
         </div>

         <!--@Else-->

         <div data-alert class="alert-box warning">
				Du mangler at k&oslash;be for <u>kr. <span class="gift-missing"></span></u><br> for at f&aring; din <b>gave fra Jane Iredale</b>
			</div>

      <!--@EndIf-->

		<!--@SnippetStart(scriptready)-->
var giftmissing = (<!--@Item.Area.Giftlimit--> -<!--@Ecom:Order.PriceWithoutFees.PricePIP-->)/100;
$(".gift-missing").html(giftmissing)
<!--@SnippetEnd(scriptready)-->




<!--@EndIf-->

</div>

								 <!-- /alert-boxes -->


								<!-- CHECKOUT TABLE -->
								<div class="large-5 columns no-padding-right">
									<table id="checkout-total" cellspacing="0">

										<tbody> <!-- Table Body -->
											<tr class="top-border">
												<td>Subtotal</td>
												<td class="text-right"><!--@Ecom:Order.PriceWithoutFees.Price--> DDK</td>
											</tr>
											<tr>
												<td>Kortgebyr</td>
												<td class="text-right"><!--@Ecom:Order.PaymentFee.Price--> DDK</td>
											</tr>
											<tr class="checkout-padding-bottom">
												<td>Fragt</td>
												<td class="text-right"><!--@Ecom:Order.ShippingFee.Price--> DDK</td>
												<!--DW:eCommerce.NAV.Freight-->
											</tr>
										</tbody>

										<tfoot> <!-- Table Footer -->
											<tr class="top-border">
												<td>total</td>
												<td class="text-right"><!--@Ecom:Order.Price.Price--> DDK</td>
											</tr>
										</tfoot>

									</table>
								</div> <!-- /checkout-total -->

					    	</div>


					    	<!-- SHOPPING SIDEBAR -->
                            <!--@If(Item.Area.Site=="der")-->
					    	<div class="large-3 columns shopping-sidebar">
					    		<ul class="checklist">
					    			<li><img src="/Files/Templates/Designs/2014/img/shopping-sidebar-circles-checkmarks.png" />Hurtig levering<br />- dag til dag</li>
					    			<li><img src="/Files/Templates/Designs/2014/img/shopping-sidebar-circles-checkmarks.png" />Autoriseret<br />forhandler</li>
					    			<li><img src="/Files/Templates/Designs/2014/img/shopping-sidebar-circles-checkmarks.png" />14 dages<br />bytteservice</li>
					    			<li><img src="/Files/Templates/Designs/2014/img/shopping-sidebar-circles-checkmarks.png" class="single-line" />E-m&aelig;rke<br />godkendt</li>
					    		</ul>

					    		<ul class="checklist2">
						    			<li><a href="Default.aspx?ID=351" target="_blank">Betaling ></a></li>
						    			<li><a href="Default.aspx?ID=353" target="_blank">Leveringbetingelser ></a></li>
						    			<li><a href="Default.aspx?ID=352" target="_blank">Din sikkerhed ></a></li>
						    			<li><a href="Default.aspx?ID=354" target="_blank">F&oslash;lg din pakke ></a></li>
						    			<li><a href="Default.aspx?ID=403" target="_blank">Garanti og kvalitet ></a></li>
						    			<li><a href="Default.aspx?ID=359" target="_blank">Kontakt kundeservice ></a></li>
								</ul>

					    	</div>
                            <!--@Else-->
                            <div class="large-3 columns shopping-sidebar">
					    		<ul class="checklist">
					    			<li><img src="/Files/Templates/Designs/2014/img/shopping-sidebar-circles-checkmarks.png" />Hurtig levering<br />- dag til dag</li>
					    			<li><img src="/Files/Templates/Designs/2014/img/shopping-sidebar-circles-checkmarks.png" />Autoriseret<br />forhandler</li>
					    			<li><img src="/Files/Templates/Designs/2014/img/shopping-sidebar-circles-checkmarks.png" />14 dages<br />bytteservice</li>
					    			<li><img src="/Files/Templates/Designs/2014/img/shopping-sidebar-circles-checkmarks.png" class="single-line" />E-m&aelig;rke<br />godkendt</li>
					    		</ul>

					    		<ul class="checklist2">
						    			<li><a href="Default.aspx?ID=378" target="_blank">Betaling ></a></li>
						    			<li><a href="Default.aspx?ID=375" target="_blank">Leveringbetingelser ></a></li>
						    			<li><a href="Default.aspx?ID=374" target="_blank">Din sikkerhed ></a></li>
						    			<li><a href="Default.aspx?ID=376" target="_blank">F&oslash;lg din pakke ></a></li>
						    			<li><a href="Default.aspx?ID=286" target="_blank">Kontakt kundeservice ></a></li>
								</ul>

					    	</div>
                            <!--@EndIf-->

                             <!-- /shopping-sidebar -->

					    </div> <!-- /row -->

					  </div>
					</div> <!-- /tabs-content -->

					<div class="row">
						<div class="large-6 columns">
&nbsp;
						</div>

						<div class="large-6 columns">
							<dl class="tabs tabs-bottom" data-tab>
					  <dd class="active"><button type="submit" name="<!--@CartV2.NextStepButtonName-->" id="<!--@CartV2.NextStepButtonName-->" class="button shopping-button radius" />BESTIL NU</button></dd>
					  <dd><a href="#" class="button shopping-button2 ">Shop videre</a></dd>
					</dl>



						</div>

						<div class="clearbreak"></div>
					</div> <!-- /row -->
</form>
				</div> <!-- /shoppingcart -->
</div>


