﻿<script type="text/javascript">
  $(document).ready(function(){
    $("#variants").change(function() {
      if($("#variants").val() === undefined)
          return;

      document.location.href = '/Default.aspx?ID=<!--@Global:Page.ID-->&ProductID=<!--@Ecom:Product.ID-->&VariantID=' + encodeURIComponent($("#variants").val());
    });
  });
</script>

<div class="row margin">
    <div class="large-12 columns" id="productitem" >
      <div class="panel">

      <div class="row">
        <div class="large-5 columns image center">
          <a href="Files/Images/Products/<!--@Ecom:Product.Number-->.jpg" class="popup">
          <img src="/Admin/Public/GetImage.ashx?Image=Images/Produktbilleder/<!--@Ecom:Product.Number-->.jpg&amp;Width=350&amp;crop=5&amp;altFmImage_path=Images/Produktbilleder/noimg.png" alt="" class="bottom" title="<!--@Ecom:Product.Name-->">
          </a>
        </div>
        <div class="large-7 columns">
          <h1><!--@Ecom:Product.Name--></h1>
          <!--@If Not Defined(NIQ:IsInFavorite)--><a href="javascript: void(0);" onclick="FavoriteList.addSingle('<!--@Ecom:Product.ID-->|<!--@Ecom:Product.VariantID.Extented-->|<!--@Ecom:Product.LanguageID-->');" class="favadd"><!--@Translate(product_AddToFavorite, "F&oslash;j til favoritliste", global)--></a><!--@EndIf(NIQ:IsInFavorite)-->
  <!--@If Defined(NIQ:IsInFavorite)--><a href="/default.aspx?ID=6" class="favliste" title="Vis favoritliste"><!--@Translate(btn_IsFav, "Varen er p&aring; favoritliste", global)--></a><!--@EndIf(NIQ:IsInFavorite)-->
          <div class="row margin">
            <div class="large-4 columns">
              <span class="price">kr. <!--@Ecom:Product.Price.Price--></span>
              <span class="freighttext"><!--@If(Ecom:Product.Price.PricePIP > Item.Area.Frightlimit)-->
      Fragtfrit
      <!--@Else-->
        inkl. moms ekskl. fragt
      <!--@EndIf--></span>
              <span class="stock">
<!--@If(Ecom:Product:Field.lowstockindicator==0)-->
        Ikke på lager <img src="http://www.dermalogica.dk/Files/System/images/dermalogica2010/ikoner_gennemgaande/lagerstatus_pos.png" title="Ikke på lager"/>
        <!--@Else-->
        På lager <img src="http://www.dermalogica.dk/Files/System/images/dermalogica2010/ikoner_gennemgaande/lagerstatus_pos.png" title="Er på lager"/>
        <!--@EndIf-->
      </span>
            </div>
            <form name="prodForm" id="Form1" class="custom" method="post">
            <div class="large-8 columns">


                    <div class="row">
                      <div class="small-3 columns">
                        <label for="right-label" class="right inline">Antal</label>
                      </div>
                      <div class="small-4 columns">
                        <input class="TextBox" style="float: left" name="quantity" type="text" size="4" value="1" />
                      </div>
                      <div class="small-5 columns">
                        <input class="button secondary small" type="submit" value="Tilføj til kurv" s>
                      </div>
                    </div>




                <!--@Ecom:Product.Form.Clean-->

<!--@LoopStart(VariantGroups)-->

  <div>
  <select id="variants">


    <option value="">Vælg variant</option>
  <!--@LoopStart(VariantOptions)-->

<!--@If(Ecom:VariantOption.ID == Server:Request.variantid)-->
<!--@DwTemplateTags-->
<option value="<!--@Ecom:VariantOption.ID-->" selected disabled><!--@Ecom:VariantOption.Name--></option>
<!--@Else-->
    <option value="<!--@Ecom:VariantOption.ID-->"><!--@Ecom:VariantOption.Name--></option>

<!--@EndIf-->
  <!--@LoopEnd(VariantOptions)-->
  </select>
  </div>
<!--@LoopEnd(VariantGroups)-->
</form>


            </div>
          </div>

                  NIQSymbols: <!--@LoopStart(NIQSymbols)-->
  <!--@If Defined(NIQ:symbolImage.Img)-->
  <div id="skintypesimage"><img src="http://www.dermalogica.dk/files/grafik/dermalogica2010/symboler/<!--@NIQ:symbolImage.Img-->" alt="<!--@NIQ:symbolImage.Name-->" title="<!--@NIQ:symbolImage.Name-->" /></div>
  <!--@EndIf(NIQ:symbolImage.Img)-->
  <!--@If Defined(NIQ:symbolImage.Name)-->
  <div id="skintypestxt"><!--@NIQ:symbolImage.Name--></div>
  <!--@EndIf(NIQ:symbolImage.Name)-->
  <!--DwTemplateTags-->
  <!--@LoopEnd(NIQSymbols)-->
                <!--@Ecom:Product:Field.B2CText.Value-->

        </div>
      </div>
    </div>
   </div>
   </div>
<div class="row">
  <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style large-12 columns">
<a class="addthis_button_facebook"></a>
<a class="addthis_button_twitter"></a>
<a class="addthis_button_pinterest_share"></a>
<a class="addthis_button_google_plusone_share"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-52d6899609c0657f"></script>
<!-- AddThis Button END -->

</div>
   <div class="row sections margin">
<!--@If(Item.Area.Site=="der")-->
  <div class="section-container auto" data-section>
  <section class="active">
    <p class="title" data-section-title><a href="#panel1" class="">Et eller andet</a></p>
    <div class="content" data-section-content>
       <!--@LoopStart(NIQ:NAVSpecs)-->
    <ul>
    <!--@LoopStart(NIQ:NAVSpecItems)-->
      <li><!--@NIQ:NAVSpecItem.Code--></li>
    <!--@LoopEnd(NIQ:NAVSpecItems)-->
  </ul>
  <!--@LoopEnd(NIQ:NAVSpecs)-->
    </div>
  </section>
  <!--@EndIf-->
  <section>
    <p class="title" data-section-title><a href="#panel2">Lang beskrivelse</a></p>
    <div class="content" data-section-content>
      <!--@Ecom:Product:Field.B2CText.Value-->
<!--@Ecom:Product:Field.B2C2Text.Value-->
<!--@Ecom:Product:Field.B2C3Text.Value-->
    </div>
  </section>
</div>

</div>

