﻿@{
  var prodimg = "";
if(@Pageview.Area.Item["Site"].ToString() == "der"){
  prodimg = GetString("Ecom:Product.ID")+".jpg";

}
else{
  prodimg = GetString("Ecom:Product.Name").Replace(" - ", "-").Replace(" & ", "-").Replace("&", "-").Replace(" ", "-").Replace("/", "-").Replace("\\", "-")+".jpg";
  }
  /* if((int) GetValue("Ecom:Product.VariantCount")>0 && GetString("Ecom:Product.VariantID")!= ""){
      prodimg = GetString("Ecom:Product.VariantID")+".jpg";
   }*/


  int points = Convert.ToInt32(@GetValue("Ecom:Product.Price.PricePIP"));
   points = points/10000*5;

}

<script type="text/javascript">
  $(document).ready(function(){
    $("#variants").change(function() {
      if($("#variants").val() === undefined)
          return;

      document.location.href = '/Default.aspx?ID=@GetValue("Ecom:Product:Page.ID")&ProductID=@GetValue("Ecom:Product.ID")&VariantID=' + encodeURIComponent($("#variants").val());
    });
  });
</script>

<div class="row margin">
    <div class="large-12 columns" id="productitem" >
      <div class="panel">

      <div class="row">
        <div class="large-5 columns image center">

          <a href='Files/Images/ProduktBilleder/@prodimg' class="popup" title="@GetValue("Ecom:Product.Name")">
          <img src="/Admin/Public/GetImage.ashx?Image=Images/Produktbilleder/@prodimg&amp;Width=350&amp;crop=5&amp;altFmImage_path=Images/Produktbilleder/noimg.png" alt="" class="bottom" title="@GetValue("Ecom:Product.Name")">
          </a>
        </div>
        <div class="large-7 columns">
          <h1>@GetValue("Ecom:Product.Name")</h1>

          <div class="row margin">
            <div class="large-4 columns">
              <span class="price">kr. @GetValue("Ecom:Product.Price.Price")</span>
              <span class="freighttext">

      @if(Convert.ToInt32(@GetValue("Ecom:Product.Price.PricePIP")) > Convert.ToInt32(@Pageview.Area.Item["Frightlimit"])){
      <text><img src="files/templates/designs/2014/img/fragtbil.jpg" title="fragtfrit"/> Fragtfrit </text>
}else{<text>inkl. moms ekskl. fragt</text>
      }        </span>
              <span class="stock">
<!--@If(Ecom:Product:Field.lowstockindicator==0)-->
        Ikke på lager <img src="http://www.dermalogica.dk/Files/System/images/dermalogica2010/ikoner_gennemgaande/lagerstatus_pos.png" title="Ikke på lager"/>
        @GetValue("Else")
        På lager <img src="http://www.dermalogica.dk/Files/System/images/dermalogica2010/ikoner_gennemgaande/lagerstatus_pos.png" title="Er på lager"/>
        <!--@EndIf-->
      </span>
            </div>
            <form name="prodForm" id="Form1" class="custom" method="post">
            <div class="large-8 columns">

@if(((int)@GetValue("Ecom:Product.VariantCount") > 0 && @GetString("Ecom:Product.VariantID")!= "") || (int)@GetValue("Ecom:Product.VariantCount") == 0){

                    <div class="row">
                      <div class="small-3 columns">
                        <label for="right-label" class="right inline">Antal</label>
                      </div>
                      <div class="small-4 columns">
                        <input class="TextBox" style="float: left" name="quantity" type="text" size="4" value="1" />
                      </div>
                      <div class="small-5 columns">
                        <input class="button secondary small" type="submit" value="Tilføj til kurv" s>
                      </div>
                    </div>

}else{
                      <div class="row">
                      <div class="small-3 columns">
                        <label for="right-label" class="right inline">Antal</label>
                      </div>
                      <div class="small-4 columns">
                        <input class="TextBox" style="float: left" name="quantity" type="text" size="4" value="1" disabled/>
                      </div>
                      <div class="small-5 columns">
                        <input class="button secondary small" type="submit" value="Vælg variant" disabled readonly/>
                      </div>
                    </div>
}



                @GetValue("Ecom:Product.Form")

                @if((bool)@Pageview.Area.Item["PointKlubAktiv"]){
<div class="large-12 columns margin purple-border mitdermalogica">
          <h3 class="points">Få<strong> @points </strong>bonuspoint</h3></div>
}
@if((int)@GetValue("Ecom:Product.VariantCount")>0){
  <div>

  <select id="variants">


    <option value="">Vælg variant</option>

  @foreach (LoopItem i2 in GetLoop("VariantCombinations")){
    string prodname = i2.GetString("Ecom:Product.Name");
    int substr = prodname.IndexOf("-");
    int length = prodname.Length;
    var prodcolor = "";
    prodcolor = prodname.Substring(substr+2, length-substr-2);
    if ( prodcolor.IndexOf("-")!=0 )
    {
      substr = prodcolor.IndexOf("-");
      length = prodcolor.Length;
      prodcolor = prodcolor.Substring(0, substr);
    }
 <option value="@i2.GetValue("Ecom:Product.VariantID")">@prodcolor</option>



  }
  </select>
  </div>
}
</form>

            </div>
          </div>
<div class="symbolswrapper">
          @foreach(LoopItem spec in GetLoop("NIQSymbols")){

          <div class="symbols">
          @if(@spec.GetValue("NIQ:symbolImage.Img") != ""){

          var img = "http://www.dermalogica.dk/files/grafik/dermalogica2010/symboler/"+@spec.GetValue("NIQ:symbolImage.Img");
            <img src="@img" alt="@spec.GetValue("NIQ:symbolImage.Name")" title="@spec.GetValue("NIQ:symbolImage.Name")" />
          }
          @if(@spec.GetValue("NIQ:symbolImage.Name") != ""){
            @spec.GetValue("NIQ:symbolImage.Name")

          }
          </div>
          }
          </div>




                @GetValue("Ecom:Product:Field.B2CText.Value")

        </div>
      </div>
    </div>
   </div>
   </div>
<div class="row">
  <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style large-12 columns">
<a class="addthis_button_facebook"></a>
<a class="addthis_button_twitter"></a>
<a class="addthis_button_pinterest_share"></a>
<a class="addthis_button_google_plusone_share"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-52d6899609c0657f"></script>
<!-- AddThis Button END -->

</div>
   <div class="row sections margin">
<!--@If(Item.Area.Site=="der")-->
  <div class="section-container auto" data-section>
  <section class="active">
    <p class="title" data-section-title><a href="#panel1" class="">Specifikation</a></p>
    <div class="content" data-section-content>
       @foreach (LoopItem i in GetLoop("NIQ:NAVSpecs")){
    <ul>
    @foreach (LoopItem i2 in GetLoop("NIQ:NAVSpecItems")){
      <li>@i2.GetValue("NIQ:NAVSpecItem.Code")</li>
    }
  </ul>
  }
    </div>
  </section>
  <!--@EndIf-->
  <section>
  <!--@If(Item.Area.Site=="der")-->
    <p class="title" data-section-title><a href="#panel2">Lang beskrivelse</a></p>
    <!--@EndIf-->
    <div class="content" data-section-content>

@GetValue("Ecom:Product:Field.B2C2Text.Value")
@GetValue("Ecom:Product:Field.B2C3Text.Value")
    </div>
  </section>
</div>

</div>


@{
        foreach (LoopItem i in GetLoop("ProductRelatedGroups")){
        <text>loop1</text>
            foreach (LoopItem i2 in i.GetLoop("Products")){
                <text>test</text>
            }
        }
    }
@if((int)GetValue("eCom:Related.WhatAboutTheseProducts.Count")>0){
 <div id="productlist" class="row margin">

            <div class="large-12 columns">

                 <ul class="large-block-grid-3 small-block-grid-2">
  @foreach (LoopItem prod in GetLoop("eCom:Related.WhatAboutTheseProducts")){
  var thisprodimg = "Images/Produktbilleder/"+@prod.GetValue("Ecom:Product.Number")+".jpg&height=100&Width=250&crop=5&altFmImage_path=Images/Produktbilleder/noimg.png";

    <li>
    <div class="panel">
     <a href="@prod.GetValue("Ecom:Product.LinkGroup.Clean")" class="imglink"><img src="/Admin/Public/GetImage.ashx?Image=@thisprodimg" alt="" title="@prod.GetValue("Ecom:Product.Name")"></a>
     <a href="@prod.GetValue("Ecom:Product.LinkGroup.Clean")" title="@prod.GetValue("Ecom:Product.Name")">@prod.GetValue("Ecom:Product.Name")</a>
     <div class="prodtext">@prod.GetValue("Ecom:Product:Field.B2CText")</div>
<div class="row">
  <div class="small-12 columns">
     <span class="price">kr. @prod.GetValue("Ecom:Product.Price.Price")</span>
     <span class="freighttext">
        @if(Convert.ToInt32(@prod.GetValue("Ecom:Product.Price.PricePIP")) > Convert.ToInt32(@Pageview.Area.Item["Frightlimit"])){
      <text>Fragtfrit</text>
}else{<text>inkl. moms ekskl. fragt</text>
      }
      @if(@Pageview.Area.Item["Site"].ToString() == "der"){
      <a href="@prod.GetValue("Ecom:Product.Link.Clean")&cartcmd=add" class="button secondary small  small-12 columns">Læg I kurv</a>
      }else{

      <a href="@prod.GetValue("Ecom:Product.LinkGroup.Clean")" class="button secondary small  small-12 columns">Vis produkt</a>
      }
    </div>

   </div>
 </div>
   </li>

}
</ul>
  </div>
</div>
}

