﻿<link rel="stylesheet" href="/Files/Designs/2014/ItemPublisher/ItemPublisher.css" />

<div class="items">
<h3><!--@ItemPublisher:ItemType.Description--></h3>
    <!--@If(ItemPublisher:Items.Any=True)-->
    <ul class="items-list row">


        <!--@LoopStart(ItemPublisher:Items.List)-->
        <li class="small-6 columns large-4 ">

            <!--@If Not Defined(ItemPublisher:Item.CanEdit)-->
            <!--@LoopStart(ItemPublisher:Item.Name)-->
            <div class="panel">


        <a class="item-edit-link" href="<!--@ItemPublisher:Item.Url-->"><img width="20px" style="padding-top:10px" src="	<!--@ItemPublisher:Item.SOSImage-->" /></a>

               <h5><a href="<!--@ItemPublisher:Item.Url-->"><!--@ItemPublisher:Item.SOSTitel--><!--@ItemPublisher:Item.SOSTeaser--></a></h5>
 <p>
<!--@ItemPublisher:Item.SOSTeaser--></p>


            </div>
            <!--@LoopEnd(ItemPublisher:Item.Name)-->

            <!--@EndIf(ItemPublisher:Item.CanEdit)-->


        </li>

        <!--@LoopEnd(ItemPublisher:Items.List)-->

    </ul>

    <!--@If(ItemPublisher:Items.Paging.TotalPages>1)-->
    <ul style="display:none;" class="items-list-paging items-clear">
        <!--@If(ItemPublisher:Items.Paging.CurrentPage>1)-->
			<li class="items-list-page">
			    <a href="<!--@ItemPublisher:Items.Paging.PrevPage-->"><!--@Translate(PreviousPage, "Previous page")--></a>
			</li>
		<!--@EndIf-->

        <!--@LoopStart(ItemPublisher:Items.Paging.Pages5)-->
            <li class="items-list-page">
                <!--@If(ItemPublisher:Items.Paging.Pages5.Page.IsCurrent=True)-->
                <strong><!--@ItemPublisher:Items.Paging.Pages5.Page.Number--></strong>
                <!--@EndIf-->
                <!--@If(ItemPublisher:Items.Paging.Pages5.Page.IsCurrent<>True)-->
                <a href="<!--@ItemPublisher:Items.Paging.Pages5.Page.UrlHtmlEncoded-->"><!--@ItemPublisher:Items.Paging.Pages5.Page.Number--></a>
                <!--@EndIf-->
            </li>
        <!--@LoopEnd(ItemPublisher:Items.Paging.Pages5)-->

        <!--@If(ItemPublisher:Items.Paging.TotalPages>ItemPublisher:Items.Paging.CurrentPage)-->
            <li class="items-list-page">
                <a href="<!--@ItemPublisher:Items.Paging.NextPage-->"><!--@Translate(NextPage, "Next page")--></a>
            </li>
        <!--@EndIf-->
    </ul>
    <!--@EndIf-->
    <!--@EndIf-->
</div>