
<ul class="large-block-grid-4">
<!--@LoopStart(ItemPublisher:Items.List)-->

        	<!--@If(ItemPublisher:Item.PresseImage<>"")-->
        <li>
<!--@DwTemplateTags-->


        	<a class="popup" href="#presse-<!--@ItemPublisher:Item.Field.Id-->">
        		<img src='/admin/public/getimage.aspx?Image=<!--@ItemPublisher:Item.PresseImage-->&Format=jpg&Width=228&Height=237&Crop=0&compress=99' alt='<!--@ItemPublisher:Item.PresseTitle-->' />
        	</a>

			<div style="display:none">
				<div id="presse-<!--@ItemPublisher:Item.Field.Id-->">
					<div class="row">
						<div class="large-6 columns">
						<img src='<!--@ItemPublisher:Item.PresseImage-->' alt='<!--@ItemPublisher:Item.PresseTitle-->' />
					</div>
					<div class="large-6 columns"><strong><!--@ItemPublisher:Item.PresseTitle--></strong><br/>
						<!--@ItemPublisher:Item.PresseTekst--><br/>
						<strong>
						<a href="default.aspx?ID=410&ecomquery=<!--@ItemPublisher:Item.PresseVarenr-->">Se omtalte produkter</a></strong>
					</div>
					</div>
				</div>
			</div>


        </li>
         	<!--@EndIf()-->
        <!--@LoopEnd(ItemPublisher:Items.List)-->
  </ul>
