<a name="Comments"></a>
	<!--@If Defined(Ecom:Product.Rating)-->
	<h3>Reviews</h3>
	<!--@LoopStart(Comments)-->
	
	<!--@If Defined(Website)-->
	<a href="<!--@Website-->"><!--@Name--></a>
	<!--@EndIf(Website)-->
	<!--@If Not Defined(Website)-->
	<!--@Name-->
	<!--@EndIf(Website)-->

	<span style="color:#c5c5c5;"><!--@CreatedDate.LongDate--> <!--@EditedDate.ShortTime--></span><br />
	<!--@Stars--><br />
	<!--@Text-->
	<hr />
	<!--@LoopEnd(Comments)-->
	<!--@EndIf(Ecom:Product.Rating)-->
	<script type="text/javascript">
		function comment_validate() {

			if (document.getElementById("Comment.Rating").selectedIndex < 1) {
				alert("Please rate the product.");
				document.getElementById("Comment.Rating").focus();
				return false;
			}
			if (document.getElementById("Comment.Name").value.length < 1) {
				alert("Specify your name.");
				document.getElementById("Comment.Name").focus();
				return false;
			}
			if (document.getElementById("Comment.Text").value.length < 1) {
				alert("Please write a comment.");
				document.getElementById("Comment.Text").focus();
				return false;
			}
			document.getElementById("commentform").action = "/Default.aspx?ID=<!--@Global:Page.ID-->"
			document.getElementById("Comment.Command").value = "create";
			return true;
		}
	</script>
	<style type="text/css">
#commentform  {	margin: 15px 0 0 0;  }
#commentform label  { position:relative; vertical-align: top; display:inline; width: 130px; padding: 11px 10px 8px; display:inline-block; margin:0 30px 0 0; font-size: 18px; font-weight: bold; color: #fff; text-shadow: 2px 1px 0 rgba(0,0,0,0.4); background: rgb(72, 72, 72); }
#commentform label .bg  { position: absolute; top: 0; right: -15px; height: 38px; width: 15px; display: block; }
#commentform input[type=text], #commentform textarea { font:14px/14px Arial, Helvetica, sans-serif; background: #fff; border: none; border: 1px solid #d8d8d8;}
#commentform input[type=text], #commentform select, #commentform option  { color:#666; width: 300px; margin: 0 5px 20px 0; padding: 10px 7px; }
#commentform textarea  { color:#666; width: 300px !important; padding: 5px 7px; }
#commentform input[type=submit]  { margin: 15px 0 0 180px; cursor: pointer; }
	</style>
	<form method="post" action="/Admin/Public/404.aspx" id="commentform" onsubmit="return comment_validate()">
		<input type="hidden" name="Comment.Command" id="Comment.Command" value="" />
		<input type="hidden" name="Comment.ItemType" value="ecomProduct" />
		<input type="hidden" name="Comment.ItemID" value="<!--@Ecom:Product.ID-->" />
		<input type="hidden" name="Comment.LangID" value="<!--@Ecom:Product.LanguageID-->" />

		<label for="Comment.Rating">Your rating</label>
		<select name="Comment.Rating" id="Comment.Rating">
		<option value="">Rate product....</option>
		<option value="1">1 (Poor)</option>
		<option value="2">2 (Below average)</option>
		<option value="3">3 (Average)</option>
		<option value="4">4 (Good)</option>
		<option value="5">5 (Great)</option>
		</select><br />
		<label for="Comment.Name">Name</label>
		<input type="text" name="Comment.Name" id="Comment.Name" value="" /><br />
		<label for="Comment.Name">E-mail</label>
		<input type="text" name="Comment.Email" id="Comment.Email" value="" /><br />
		<label for="Comment.Name">Website</label>
		<input type="text" name="Comment.Website" id="Comment.Website" value="" /><br />
		<label for="Comment.Text">Comment</label>
		<textarea name="Comment.Text" id="Comment.Text" rows="10" cols="50"></textarea><br />
		
		<input type="submit" value="Send comment" />
	</form>