<form name="<!--@Ecom:Product.ID-->" id="PRODFORM_<!--@Ecom:Product.ID-->" method="get" Action="Default.aspx?ID=<!--@Ecom:Product:Page.ID-->">
<!--@Ecom:Product.Form.Clean-->
<div id="productdetails">
    <h2><!--@Ecom:Product.Name--></h2>
    <!--@If Defined(Ecom:Product.ImageLarge.Default.Clean)-->
        <a href="<!--@Ecom:Product.ImageLarge.Default.Clean-->" target="_blank">
            <!--@Ecom:Product.ImageMedium.Default-->
        </a>
    <!--@EndIf(Ecom:Product.ImageLarge.Default.Clean)-->
    <!--@If Not Defined(Ecom:Product.ImageLarge.Default.Clean)-->
            <!--@Ecom:Product.ImageMedium.Default-->
    <!--@EndIf(Ecom:Product.ImageLarge.Default.Clean)-->
    <span class="price">
        <!--@Ecom:Product.Price-->
    </span>
    <span class="shortdescription"><!--@Ecom:Product.ShortDescription--></span>
    <span class="longdescription"><!--@Ecom:Product.LongDescription--></span>
	
		
	<!--@LoopStart(Product.OrderLineFields)-->
		<!--@HeaderStart-->
		<br /><br />
		<h2 class="h2">Orderline fields</h2>
		<table cellpadding=2>
		<!--@HeaderEnd-->
		<tr>
			<td>
				<!--@Ecom:Product.OrderLineField.Name-->:
			</td>
			<td>
				<!--@Ecom:Product.OrderLineField.InputTextField--><br />
			</td>
		</tr>
		<!--@FooterStart-->
			 </table>
		<!--@FooterEnd-->
	<!--@LoopEnd(Product.OrderLineFields)--> 

    <span>
		<a href="javascript:document.getElementById('PRODFORM_<!--@Ecom:Product.ID-->').submit();">Add to basket</a>
    </span>
	
</div>

</form>


<!--@LoopStart(VariantCombinations)-->
    <!--@HeaderStart-->
        <div id="variantcombinations">
            <h2>Productvariants</h2>    	
            <ul>
    <!--@HeaderEnd-->
                <li class="listitem<!--@VariantCombinations.LoopMod2-->">
                    <h3><a href="Default.aspx?ID=<!--@Ecom:VariantCombination.Page.ID-->&amp;ProductID=<!--@Ecom:VariantCombination.Product.ID-->&amp;variantid=<!--@Ecom:VariantCombination.VariantID-->"><!--@Ecom:VariantCombination.Product.Name--> - <!--@Ecom:VariantCombination.VariantText--> - <!--@Ecom:VariantCombination.Product.Price--></a></h3>
                    <span class="price">
                        <!--@Ecom:Product.Price-->
                    </span>
                     <a href="Default.aspx?ID=<!--@Ecom:VariantCombination.Page.ID-->&amp;ProductID=<!--@Ecom:VariantCombination.Product.ID-->&amp;variantid=<!--@Ecom:VariantCombination.VariantID-->&amp;cartcmd=add">Add to basket</a>
                    <span class="shortdescription"><!--@Ecom:Product.ShortDescription--></span>
                </li>
    <!--@FooterStart-->
            </ul>
        </div>
    <!--@FooterEnd-->
<!--@LoopEnd(VariantCombinations)-->

<!--@LoopStart(ProductRelatedGroups)-->
    <!--@LoopStart(RelatedProducts)-->
        <!--@HeaderStart-->
            <div id="relatedproducts">
                <h2>Related products</h2>
                <ul id="relatedproductlist" class="horizontal">
        <!--@HeaderEnd-->
                    <li class="listitem<!--@RelatedProducts.LoopMod2-->">
                        <h3><a href="<!--@Ecom:Product.Link.Clean-->"><!--@Ecom:Product.Name--></a></h3>
                        <a href="<!--@Ecom:Product.Link.Clean-->"><!--@Ecom:Product.ImageSmall.Default--></a>
                        <span class="price">
                            <!--@Ecom:Product.Price-->
                        </span>
                         <a href="/default.aspx?id=<!--@Ecom:Product:Page.ID-->&amp;productid=<!--@Ecom:Product.ID-->&amp;cartcmd=add">Add to basket</a>
                        <span class="shortdescription"><!--@Ecom:Product.ShortDescription--></span>
                    </li>
        <!--@FooterStart-->
                </ul>
            </div>
        <!--@FooterEnd-->
    <!--@LoopEnd(RelatedProducts)-->
<!--@LoopEnd(ProductRelatedGroups)-->