﻿<div id="productdetails">
    <h3><!--@Ecom:Product.Name--></h3>
    <!--@If Defined(Ecom:Product.ImageLarge.Default.Clean)-->
        <a href="<!--@Ecom:Product.ImageLarge.Default.Clean-->" target="_blank">
            <!--@Ecom:Product.ImageMedium.Default-->
        </a>
    <!--@EndIf(Ecom:Product.ImageLarge.Default.Clean)-->
    <!--@If Not Defined(Ecom:Product.ImageLarge.Default.Clean)-->
            <!--@Ecom:Product.ImageMedium.Default-->
    <!--@EndIf(Ecom:Product.ImageLarge.Default.Clean)-->
    <span class="price">
        <!--@Ecom:Product.Price-->
    </span>
    <span>
        <a href="/default.aspx?id=<!--@Ecom:Product:Page.ID-->&amp;productid=<!--@Ecom:Product.ID-->&amp;cartcmd=add">Add to basket</a>
    </span>
    <span class="shortdescription"><!--@Ecom:Product.ShortDescription--></span>
    <span class="longdescription"><!--@Ecom:Product.LongDescription--></span>

   <!--@If Not Defined(NIQ:IsInFavorite)--><a href="javascript: void(0);" onclick="FavoriteList.addSingle('<!--@Ecom:Product.ID-->|<!--@Ecom:Product.VariantID.Extented-->|<!--@Ecom:Product.LanguageID-->');" class="favadd"><!--@Translate(product_AddToFavorite, "F&oslash;j til favoritliste", global)--></a><!--@EndIf(NIQ:IsInFavorite)-->
	<!--@If Defined(NIQ:IsInFavorite)--><a href="/default.aspx?ID=<!--@Translate(favlisteID, '5', global)-->" class="favliste" title="Vis favoritliste"><!--@Translate(btn_IsFav, "Varen er p&aring; favoritliste", global)--></a><!--@EndIf(NIQ:IsInFavorite)-->
  
  <!--@LoopStart(NIQ:NAVSpecs)-->
  	<ul>
  	<!--@LoopStart(NIQ:NAVSpecItems)-->
      <li><!--@NIQ:NAVSpecItem.Code--></li>
  	<!--@LoopEnd(NIQ:NAVSpecItems)-->
  </ul>
  <!--@LoopEnd(NIQ:NAVSpecs)-->
</div>

<div id="addToFavorites" class="dNone favoriteListModal">
    <p><!--@Translate(favlisteAddThese, "Tilf&oslash;j de", global)--> <span class="count">0</span> <!--@Translate(favlisteSelectedItems, "valgte produkter til f&oslash;lgende favoritlister:", global)--></p>
    <ul class="nobull">
        <li class="new">
            <input type="checkbox" autocomplete="false" value="" />
            <input type="text" disabled="disabled" autocomplete="false" title="<!--@Translate(favlisteGiveName, "Skriv navnet p&aring; den nye favoritliste", global)-->" placeholder="<!--@Translate(favlisteCreate, "Opret ny favoritliste", global)-->" />
            <span class="dNone error"><!--@Translate(isRequired, "* Skal udfyldes", global)--></span>
        </li>
    </ul>
    <p class="noneSelectedError dNone"><!--@Translate(favlisteChooseOne, "V&aelig;lg mindst en favoritliste du &oslash;nsker at tilf&oslash;je de valgte produkter til", global)--></p>
    <input type="button" value="Tilf&oslash;j" class="submit" /> 
    <a href="#" onclick="Popup.hide(); return false;"><!--@Translate(escape, "Annuller", global)--></a>
</div>
<!--@DwTemplateTags-->