﻿<div id="ProductHolder">
    <div id="top">
    </div>
    <div>
        <h1>
            <!--@Ecom:Product.Name-->
        </h1>
        <div class="info">
            <div class="img">
                <img width="200px" src="/admin/public/getimage.aspx?&Image=/files/Billeder/<!--@Ecom:Product.Number-->.jpg&Resolution=75&Compression=90&Width=200&Crop=1"/>
            </div>
            <div id="DescHolder">
                       <div id="Cart_Varenr"> <label>
                           <p> Varenummer:</label><!--@Ecom:Product.Number--><p></div>
                        <div id="Cart_Pris"><label>
                            <p>Engrospris ved 1 stk.:</label><!--@Ecom:Product.Price.PriceWithoutVAT-->&nbsp;<!--@Ecom:Product.Price.Currency.Code--></p></div>
                        <div id="Cart_Udsalg"><label>
                            <p>Vejledende udsalgspris:</label><!--@Ecom:Product:Field.vejlpris.Value.Clean--></p></div><br /><br />
       <div id="Cart_Txt"><p><!--@Ecom:Product:Field.B2BText.Value.Clean--></p><br />
          </div>
                
                  <div class="amount" style="float: left; clear: left; width:200px;">
                <form name="prodForm" id="Form1" method="post">
                <p>Antal:</p>
                <p>
                    <input class="TextBox" style="float: left" name="quantity" type="text" size="4" value="1" />
                    <input class="submit" type="submit" value="Tilføj til kurv" style="width:120px">
                </p>
                <!--@Ecom:Product.Form.Clean-->
                </form>
                <p><br /></p>
            </div>
            </div>
            
        </div>
    </div>

