<div id="productdetails">
    <h3><!--@Ecom:Product.Name--></h3>
    <!--@If Defined(Ecom:Product.ImageLarge.Default.Clean)-->
        <a href="<!--@Ecom:Product.ImageLarge.Default.Clean-->" target="_blank">
            <!--@Ecom:Product.ImageMedium.Default-->
        </a>
    <!--@EndIf(Ecom:Product.ImageLarge.Default.Clean)-->
    <!--@If Not Defined(Ecom:Product.ImageLarge.Default.Clean)-->
            <!--@Ecom:Product.ImageMedium.Default-->
    <!--@EndIf(Ecom:Product.ImageLarge.Default.Clean)-->
    <span class="price">
        <!--@Ecom:Product.Price-->
    </span>
    <span>
        <a href="/default.aspx?id=<!--@Ecom:Product:Page.ID-->&amp;productid=<!--@Ecom:Product.ID-->&amp;cartcmd=add">Add to basket</a>
    </span>
       <!--@If Defined(Ecom:CatalogPublishing.UseCatalogPublishing)-->
          <span>
                <a href="/default.aspx?id=<!--@Ecom:Product:Page.ID-->&amp;productid=<!--@Ecom:Product.ID-->&amp;CatalogPublishingcmd=addtocatalog" >Add to 

catalog</a>
            </span>
        <!--@EndIf(Ecom:CatalogPublishing.UseCatalogPublishing)-->
    <span class="shortdescription"><!--@Ecom:Product.ShortDescription--></span>
    <span class="longdescription"><!--@Ecom:Product.LongDescription--></span>
<h2>Related searches products<h2>
  <!--@LoopStart(eCom:Related.ProductSmartSearches)-->    <h3><!--@Ecom:Product.Name--></h3>
    <!--@If Defined(Ecom:Product.ImageLarge.Default.Clean)-->
        <a href="<!--@Ecom:Product.ImageLarge.Default.Clean-->" target="_blank">
            <!--@Ecom:Product.ImageMedium.Default-->
        </a>
    <!--@EndIf(Ecom:Product.ImageLarge.Default.Clean)-->
    <!--@If Not Defined(Ecom:Product.ImageLarge.Default.Clean)-->
            <!--@Ecom:Product.ImageMedium.Default-->
    <!--@EndIf(Ecom:Product.ImageLarge.Default.Clean)-->
    <span class="price">
        <!--@Ecom:Product.Price-->
    </span>
    <span>
        <a href="/default.aspx?id=<!--@Ecom:Product:Page.ID-->&amp;productid=<!--@Ecom:Product.ID-->&amp;cartcmd=add">Add to basket</a>
    </span>
       <!--@If Defined(Ecom:CatalogPublishing.UseCatalogPublishing)-->
          <span>
                <a href="/default.aspx?id=<!--@Ecom:Product:Page.ID-->&amp;productid=<!--@Ecom:Product.ID-->&amp;CatalogPublishingcmd=addtocatalog" >Add to 

catalog</a>
            </span>
        <!--@EndIf(Ecom:CatalogPublishing.UseCatalogPublishing)-->
    <span class="shortdescription"><!--@Ecom:Product.ShortDescription--></span>
    <span class="longdescription"><!--@Ecom:Product.LongDescription--></span>

    <!--@LoopEnd(eCom:Related.ProductSmartSearches)-->
</div>