﻿<form method="post" action="<!--@Ecom:Order.Gateway.bbsUrl-->" name="ServiRedPaymentForm">
	<!--@Ecom:Order.Gateway.bbsResponse-->
	<br />
	<input type="submit" name="Start payment" value="Start payment" /></td>
</form>
