<script language="JavaScript" type="text/javascript">
<!--
function StartPayment(){
  var form = document.getElementById("DIBSPaymentForm");
  setTimeout('form.submit()', 500);
}
//-->
</script> 

<form method="post" action="https://payment.architrade.com/paymentweb/start.action" id="DIBSPaymentForm">
	<INPUT type="hidden" name="merchant" value="<!--@Ecom:Order.Gateway.Merchant-->" />
	<INPUT type="hidden" name="lang" value="<!--@Ecom:Order.Gateway.LanguageCode.UpperCase-->" />
	<INPUT type="hidden" name="amount" value="<!--@Ecom:Order.Price.PricePIP-->" />
	<INPUT type="hidden" name="currency" value="<!--@Ecom:Order.Price.Currency.Code-->" />
	<INPUT type="hidden" name="orderid" value="<!--@Ecom:Order.ID-->" />
	<input type="hidden" name="ordertext" value="<!--@Ecom:Order.Gateway.OrderText-->" />

	<INPUT type="hidden" name="accepturl" value="<!--@Ecom:Order.Gateway.Page.OK-->">
	<INPUT type="hidden" name="cancelurl" value="<!--@Ecom:Order.Gateway.Page.Cancel-->" />
	<INPUT type="hidden" name="callbackurl" value="<!--@Ecom:Order.Gateway.Page.CallBack-->" />
	<input type="hidden" name="HTTP_COOKIE" value="<!--@Ecom:Order.Gateway.HTTP_COOKIE-->" />
    
    <!--@If Defined(Ecom:Order.Gateway.TestMode)-->
	    <input type="hidden" name="test" value="<!--@Ecom:Order.Gateway.TestMode-->" />
    <!--@EndIf(Ecom:Order.Gateway.TestMode)-->
	
	<input type="hidden" name="skiplastpage" value="yes" />
    <input type="submit" id="Submit1" name="Start betaling" value="Start betaling" />
</form>


<script language="JavaScript" type="text/javascript">
StartPayment();
</script>

