<form name='DocData' method='post' action='/Admin/Public/Gateways/DocData/DocDataPaymentPage.aspx'>
	<input type='hidden' name='client_language' value='EN'>
	<input type="hidden" name="return_url_success" value="<!--@Ecom:Order.Gateway.Page.OK-->">
	<input type="hidden" name="return_url_pending" value="<!--@Ecom:Order.Gateway.Page.OK-->">
	<input type="hidden" name="return_url_canceled" value="<!--@Ecom:Order.Gateway.Page.Cancel-->">
	<input type="hidden" name="return_url_error" value="<!--@Ecom:Order.Gateway.Page.Error-->">
	<input type="submit" name="Start Payment" value="Start Payment" id="Button1">
</form>