﻿<script type="text/javascript" src="http://www.epay.dk/js/standardwindow.js"></script> 

<form action="https://ssl.ditonlinebetalingssystem.dk/popup/default.asp" method="post" name="ePay" target="ePay_window" id="ePay">
<input type="hidden" name="merchantnumber" value="<!--@Ecom:Order.Gateway.Merchant-->">
<input type="hidden" name="currency" value="<!--@Ecom:Order.Price.Currency.PayGatewayCode-->">
<input type="hidden" name="amount" value="<!--@Ecom:Order.Price.PricePIP-->">
<input type="hidden" name="orderid" value="<!--@Ecom:Order.ID-->">
<input type="hidden" name="accepturl" value="<!--@Ecom:Order.Gateway.Page.OK-->">
<input type="hidden" name="declineurl" value="<!--@Ecom:Order.Gateway.Page.Cancel-->">


<input type="hidden" name="language" id="language" value="1">

<!-- EMPTY -->
<input type="hidden" name="group" id="group" value="">
<input type="hidden" name="ordretext" value="">
<input type="hidden" name="description" value="">

<!-- ???? -->
<input type="hidden" name="instantcapture" value="0" /> 
<input type="hidden" name="windowstate" value="1" />
<input type="hidden" name="authmail" value="" />
<input type="hidden" name="addfee" value="0" />

</form>


<script>
window.onload=open_ePay_window
</script>
