<FORM METHOD="get" name="PaymentForm" id="PaymentForm" ACTION="/Admin/Public/Gateways/Ogone/OgonePaymentPage.aspx" id=form1>
<INPUT type="hidden" NAME="language" VALUE="en_US">
<!-- lay out information -->
<INPUT type="hidden" NAME="TITLE" VALUE="Dynamicweb Payment System">
<INPUT type="hidden" NAME="BGCOLOR" VALUE="#123456"> 
<INPUT type="hidden" NAME="TXTCOLOR" VALUE="#FFFFFF"> 
<INPUT type="hidden" NAME="TBLBGCOLOR" VALUE=""> 
<INPUT type="hidden" NAME="TBLTXTCOLOR" VALUE=""> 
<INPUT type="hidden" NAME="BUTTONBGCOLOR" VALUE=""> 
<INPUT type="hidden" NAME="BUTTONTXTCOLOR" VALUE=""> 
<INPUT type="hidden" NAME="LOGO" VALUE=""> 
<INPUT type="hidden" NAME="FONTTYPE" VALUE=""> 
<INPUT type="hidden" NAME="TP" VALUE="">
<!-- or dynamic template page -->
<!-- post-payment redirection -->
<INPUT type="hidden" NAME="ACCEPTURL" VALUE="<!--@Ecom:Order.Gateway.Page.OK-->">
<INPUT type="hidden" NAME="declineurl" VALUE="<!--@Ecom:Order.Gateway.Page.Cancel-->">
<INPUT type="hidden" NAME="exceptionurl" VALUE="<!--@Ecom:Order.Gateway.Page.Cancel-->">
<INPUT type="hidden" NAME="cancelurl" VALUE="<!--@Ecom:Order.Gateway.Page.Cancel-->">
<!-- miscellanous -->
<INPUT type="hidden" NAME="PM" VALUE="CreditCard">
<INPUT type="hidden" NAME="COM" VALUE="">
<INPUT type="hidden" NAME="BRAND" VALUE="">
<INPUT type="hidden" NAME="ownerZIP" VALUE="">
<INPUT type="hidden" NAME="owneraddress" VALUE="">
<input type="submit" value="Send" id=submit2 name=submit2>
</form>
<script language="JavaScript" type="text/javascript">
function StartPayment(){
	setTimeout("document.getElementById('PaymentForm').submit()", 500);
}
StartPayment();
</script>
