﻿<form action="https://secure.quickpay.dk/quickpay.php" method="post" target="_blank">
    <input type="hidden" name="language" value="<!--@Ecom:Order.Gateway.LanguageCode.LowerCase-->" />
    <input type="hidden" name="autocapture" value="0" />
    <input type="hidden" name="ordernum" value="<!--@Ecom:Order.ID-->" />
    <input type="hidden" name="merchant" value="<!--@Ecom:Order.Gateway.Merchant-->" />
    <input type="hidden" name="amount" value="<!--@Ecom:Order.Price.PricePIP-->" />
    <input type="hidden" name="currency" value="<!--@Ecom:Order.Price.Currency.Code-->" />
    <input type="hidden" name="okpage" value="<!--@Ecom:Order.Gateway.Page.OK.Redir-->" />
    <input type="hidden" name="errorpage" value="<!--@Ecom:Order.Gateway.Page.Error.Redir-->" />
    <input type="hidden" name="resultpage" value="<!--@Ecom:Order.Gateway.Page.Result-->" />
    <input type="hidden" name="md5checkV2" value="<!--@Ecom:Order.Gateway.MD5Key.Redir-->" />
    <input type="submit" value="Openpage"/>
</form> 
