<form method="post" action="https://sis-t.sermepa.es:25443/sis/realizarPago" name="ServiRedPaymentForm">
	<INPUT type="hidden" name="Ds_Merchant_Amount" id="Ds_Merchant_Amount" value="<!--@Ecom:Order.Price.PricePIP-->">
	<INPUT type="hidden" name="Ds_Merchant_Currency" id="Ds_Merchant_Currency" value="<!--@Ecom:Order.Price.Currency.PayGatewayCode-->">
	<INPUT type="hidden" name="Ds_Merchant_Order" id="Ds_Merchant_Order" value="<!--@Ecom:Order.Gateway.OrderID-->">
	<INPUT type="hidden" name="Ds_Merchant_ProductDescription" id="Ds_Merchant_ProductDescription" value="<!--@Ecom:Order.Gateway.OrderDescription-->">
	<INPUT type="hidden" name="Ds_Merchant_MerchantCode" id="Ds_Merchant_MerchantCode" value="<!--@Ecom:Order.Gateway.MerchantCode-->">
	<INPUT type="hidden" name="Ds_Merchant_MerchantURL" id="Ds_Merchant_MerchantURL" value="<!--@Ecom:Order.Gateway.MerchantURL-->">
	<input type="hidden" name="Ds_Merchant_UrlOK" id="Ds_Merchant_UrlOK" value="<!--@Ecom:Order.Gateway.Page.OK-->">
	<input type="hidden" name="Ds_Merchant_UrlKO" id="Ds_Merchant_UrlKO" value="<!--@Ecom:Order.Gateway.Page.Cancel-->">
	<INPUT type="hidden" name="Ds_Merchant_MerchantName" id="Ds_Merchant_MerchantName" value="<!--@Ecom:Order.Gateway.MerchantName-->">
	<INPUT type="hidden" name="Ds_Merchant_ConsumerLanguage" id="Ds_Merchant_ConsumerLanguage" value="<!--@Ecom:Order.Gateway.ConsumerLanguage-->">
	<INPUT type="hidden" name="Ds_Merchant_MerchantSignature" id="Ds_Merchant_MerchantSignature" value="<!--@Ecom:Order.Gateway.MerchantSignature-->">
	<INPUT type="hidden" name="Ds_Merchant_Terminal" id="Ds_Merchant_Terminal" value="<!--@Ecom:Order.Gateway.Terminal-->">
	<INPUT type="hidden" name="Ds_Merchant_MerchantData" id="Ds_Merchant_MerchantData" value="<!--@Ecom:Order.Gateway.MerchantData-->">
	
	<table style="width:300px">
		<tr>	
			<td style="width:100px">Please, enter your name:</td>
			<td><input type="text" id="Ds_Merchant_Cardholder" name="Ds_Merchant_Cardholder" style="width:200px" /></td>
		</tr>
		<tr>
			<td colspan="2" align="right">
			<br />
			<input type="submit" name="Start payment" value="Start payment"></td>
		</tr>
	</table>
</form>
