﻿<link rel="stylesheet" href="/Files/Templates/ItemPublisher/ItemPublisher.css" />

<div class="items">
 <!--@DwTemplateTags-->
    <!--@If(ItemPublisher:Items.Any=True)-->
    	
       <ul class="items-list">
        <li class="items-list-header items-clear">
            <!--@If Not Defined(ItemPublisher:Items.CanEdit)-->
            <!--@LoopStart(ItemPublisher:ItemType.Fields)-->
            <span class="items-list-cell<!--@If(ItemPublisher:ItemType.Field.First=True)--> items-list-cell-first<!--@EndIf-->"><!--@ItemPublisher:ItemType.Field.Name--> <a href=""><img src="Files/Images/MediaDB/Thumbs/<!--@ItemPublisher:Item.Image-->"></a></span>
           
            <!--@LoopEnd(ItemPublisher:ItemType.Fields)-->
            <span class="items-list-cell items-list-cell-last"><!--@Translate(ItemPublisher:Item.DetailsUrl, "View")-->
            </span>
            <!--@EndIf(ItemPublisher:Items.CanEdit)-->

            <!--@If Defined(ItemPublisher:Items.CanEdit)-->
            <!--@LoopStart(ItemPublisher:ItemType.Fields)-->
            <span class="items-list-cell<!--@If(ItemPublisher:ItemType.Field.First=True)--> items-list-cell-first<!--@EndIf-->"><!--@ItemPublisher:ItemType.Field.Name-->
            </span>
          
       
            
            
            <!--@LoopEnd(ItemPublisher:ItemType.Fields)-->
            <span class="items-list-cell"><!--@Translate(ItemPublisher:Item.DetailsUrl, "View")--></span>
            <span class="items-list-cell items-list-cell-last"><!--@Translate(ItemPublisher:Item.Edit, "Edit")--></span>
            <!--@EndIf(ItemPublisher:Items.CanEdit)-->
            
        </li>

        <!--@LoopStart(ItemPublisher:Items.List)-->
        <li class="items-list-row items-clear" onclick="location.href = '<!--@ItemPublisher:Item.Url-->';">
            <!--@If Not Defined(ItemPublisher:Item.CanEdit)-->
            <!--@LoopStart(ItemPublisher:Item.Fields)-->
            
         
            
            <span class="items-list-cell<!--@If(ItemPublisher:Item.Field.First=True)--> items-list-cell-first<!--@EndIf-->"><!--@If Defined(ItemPublisher:Item.Field.Value)--><!--@ItemPublisher:Item.Field.Value--><!--@EndIf(ItemPublisher:Item.Field.Value)--><!--@If Not Defined(ItemPublisher:Item.Field.Value)-->&nbsp;<!--@EndIf(ItemPublisher:Item.Field.Value)--></span>
            <!--@LoopEnd(ItemPublisher:Item.Fields)-->
            <span class="items-list-cell items-list-cell-last"><a class="item-edit-link" href="<!--@ItemPublisher:Item.DetailsUrl-->"><!--@Translate(ItemPublisher:Item.DetailsUrl, "View")--></a></span>
            <!--@EndIf(ItemPublisher:Item.CanEdit)-->

            <!--@If Defined(ItemPublisher:Item.CanEdit)-->
            <!--@LoopStart(ItemPublisher:Item.Fields)-->
            <span class="items-list-cell<!--@If(ItemPublisher:Item.Field.First=True)--> items-list-cell-first<!--@EndIf-->"><!--@If Defined(ItemPublisher:Item.Field.Value)--><!--@ItemPublisher:Item.Field.Value--><!--@EndIf(ItemPublisher:Item.Field.Value)--><!--@If Not Defined(ItemPublisher:Item.Field.Value)-->&nbsp;<!--@EndIf(ItemPublisher:Item.Field.Value)--></span>
            <!--@LoopEnd(ItemPublisher:Item.Fields)-->
            <span class="items-list-cell"><a class="item-edit-link" href="<!--@ItemPublisher:Item.DetailsUrl-->"><!--@Translate(ItemPublisher:Item.DetailsUrl, "View")--></a></span>
            <span class="items-list-cell items-list-cell-last"><a class="item-edit-link" href="<!--@ItemPublisher:Item.EditUrl-->"><!--@Translate(ItemPublisher:Item.Edit, "Edit")--></a></span>
            <!--@EndIf(ItemPublisher:Item.CanEdit)-->
        </li>
        <!--@LoopEnd(ItemPublisher:Items.List)-->
    </ul>

    <!--@If(ItemPublisher:Items.Paging.TotalPages>1)-->
    <ul class="items-list-paging items-clear">
        <!--@If(ItemPublisher:Items.Paging.CurrentPage>1)-->
			<li class="items-list-page">
			    <a href="<!--@ItemPublisher:Items.Paging.PrevPage-->"><!--@Translate(PreviousPage, "Previous page")--></a>
			</li>
		<!--@EndIf-->

        <!--@LoopStart(ItemPublisher:Items.Paging.Pages5)-->
            <li class="items-list-page">
                <!--@If(ItemPublisher:Items.Paging.Pages5.Page.IsCurrent=True)-->
                <strong><!--@ItemPublisher:Items.Paging.Pages5.Page.Number--></strong>
                <!--@EndIf-->
                <!--@If(ItemPublisher:Items.Paging.Pages5.Page.IsCurrent<>True)-->
                <a href="<!--@ItemPublisher:Items.Paging.Pages5.Page.UrlHtmlEncoded-->"><!--@ItemPublisher:Items.Paging.Pages5.Page.Number--></a>
                <!--@EndIf-->
            </li>
        <!--@LoopEnd(ItemPublisher:Items.Paging.Pages5)-->
        
        <!--@If(ItemPublisher:Items.Paging.TotalPages>ItemPublisher:Items.Paging.CurrentPage)-->
            <li class="items-list-page">
                <a href="<!--@ItemPublisher:Items.Paging.NextPage-->"><!--@Translate(NextPage, "Next page")--></a>
            </li>
        <!--@EndIf-->
    </ul>
    <!--@EndIf-->
    <!--@EndIf-->
</div>