﻿<link rel="stylesheet" href="/Files/Templates/ItemPublisher/ItemPublisher.css" />

<div class="items"> 
    <!--@If(ItemPublisher:Items.Any=True)-->
    <table class="items-list" cellspacing="0" cellpadding="0" border="0">
        <tr class="items-list-header">
            <!--@If Not Defined(ItemPublisher:Items.CanEdit)-->
            <!--@LoopStart(ItemPublisher:ItemType.Fields)-->
            <th class="items-list-cell<!--@If(ItemPublisher:ItemType.Field.First=True)--> items-list-cell-first<!--@EndIf--><!--@If(ItemPublisher:ItemType.Field.Last=True)--> items-list-cell-last<!--@EndIf-->"><!--@ItemPublisher:ItemType.Field.Name--></th>
            <!--@LoopEnd(ItemPublisher:ItemType.Fields)-->
            <!--@EndIf(ItemPublisher:Items.CanEdit)-->

            <!--@If Defined(ItemPublisher:Items.CanEdit)-->
            <!--@LoopStart(ItemPublisher:ItemType.Fields)-->
            <th class="items-list-cell<!--@If(ItemPublisher:ItemType.Field.First=True)--> items-list-cell-first<!--@EndIf-->"><!--@ItemPublisher:ItemType.Field.Name--></th>
            <!--@LoopEnd(ItemPublisher:ItemType.Fields)-->
            <th class="items-list-cell items-list-cell-last"><!--@Translate(ItemPublisher:Item.Edit, "Edit")--></th>
            <!--@EndIf(ItemPublisher:Items.CanEdit)-->
        </tr>

        <!--@LoopStart(ItemPublisher:Items.List)-->
        <tr class="items-list-row<!--@If(ItemPublisher:Item.Last=True)--> items-list-row-last<!--@EndIf-->" onclick="location.href = '<!--@ItemPublisher:Item.DetailsUrl-->';">
            <!--@If Not Defined(ItemPublisher:Item.CanEdit)-->
            <!--@LoopStart(ItemPublisher:Item.Fields)-->
            <td class="items-list-cell<!--@If(ItemPublisher:Item.Field.First=True)--> items-list-cell-first<!--@EndIf--><!--@If(ItemPublisher:Item.Field.Last=True)--> items-list-cell-last<!--@EndIf-->"><!--@If Defined(ItemPublisher:Item.Field.Value)--><!--@ItemPublisher:Item.Field.Value--><!--@EndIf(ItemPublisher:Item.Field.Value)--><!--@If Not Defined(ItemPublisher:Item.Field.Value)-->&nbsp;<!--@EndIf(ItemPublisher:Item.Field.Value)--></td>
            <!--@LoopEnd(ItemPublisher:Item.Fields)-->
            <!--@EndIf(ItemPublisher:Item.CanEdit)-->

            <!--@If Defined(ItemPublisher:Item.CanEdit)-->
            <!--@LoopStart(ItemPublisher:Item.Fields)-->
            <td class="items-list-cell<!--@If(ItemPublisher:Item.Field.First=True)--> items-list-cell-first<!--@EndIf-->"><!--@If Defined(ItemPublisher:Item.Field.Value)--><!--@ItemPublisher:Item.Field.Value--><!--@EndIf(ItemPublisher:Item.Field.Value)--><!--@If Not Defined(ItemPublisher:Item.Field.Value)-->&nbsp;<!--@EndIf(ItemPublisher:Item.Field.Value)--></td>
            <!--@LoopEnd(ItemPublisher:Item.Fields)-->
            <td class="items-list-cell items-list-cell-last"><a class="item-edit-link" href="<!--@ItemPublisher:Item.EditUrl-->"><!--@Translate(ItemPublisher:Item.Edit, "Edit")--></a></td>
            <!--@EndIf(ItemPublisher:Item.CanEdit)-->
        </tr>
        <!--@LoopEnd(ItemPublisher:Items.List)-->
    </table>

    <!--@If(ItemPublisher:Items.Paging.TotalPages>1)-->
    <ul class="items-list-paging items-clear">
        
        <!--@If(ItemPublisher:Items.Paging.CurrentPage>1)-->
			<li class="items-list-page">
			    <a href="<!--@ItemPublisher:Items.Paging.PrevPage-->"><!--@Translate(PreviousPage, "Previous page")--></a>
			</li>
		<!--@EndIf-->

        <!--@LoopStart(ItemPublisher:Items.Paging.Pages5)-->
            <li class="items-list-page">
                <!--@If(ItemPublisher:Items.Paging.Pages5.Page.IsCurrent=True)-->
                <strong><!--@ItemPublisher:Items.Paging.Pages5.Page.Number--></strong>
                <!--@EndIf-->
                <!--@If(ItemPublisher:Items.Paging.Pages5.Page.IsCurrent<>True)-->
                <a href="<!--@ItemPublisher:Items.Paging.Pages5.Page.UrlHtmlEncoded-->"><!--@ItemPublisher:Items.Paging.Pages5.Page.Number--></a>
                <!--@EndIf-->
            </li>
        <!--@LoopEnd(ItemPublisher:Items.Paging.Pages5)-->
        
        <!--@If(ItemPublisher:Items.Paging.TotalPages>ItemPublisher:Items.Paging.CurrentPage)-->
            <li class="items-list-page">
                <a href="<!--@ItemPublisher:Items.Paging.NextPage-->"><!--@Translate(NextPage, "Next page")--></a>
            </li>
        <!--@EndIf-->
    </ul>
    <!--@EndIf-->
    <!--@EndIf-->
</div>