<table>
<tr><td>Følgende matchende produkter blev fundet</td></tr>
<tr><td>&nbsp;</td></tr>
<!--@LoopStart(Products)-->
<tr>
		<td><a href="<!--@Ecom:Product.Link.Clean-->"><!--@Ecom:Product.LoopCounter-->. <!--@Ecom:Product.Name--> (<!--@Ecom:Product.Number-->)</a> </td>
	</tr>
	<tr>
		<td><!--@Ecom:Product:Field.B2BLongText.Value--></td>
	</tr>
<tr><td>&nbsp;</td></tr>
<!--DwTemplateTags-->
            <!--@LoopEnd(Products)-->
</table>
