/* PRODUCT LIST */
img
{
	border: 0px;
}

#productlist ul
{
	padding: 0;
	margin: 0;
}
#productlist li
{
	float: left;
	width: 45%;
	margin-right: 10px;
	margin-bottom: 10px;
	list-style: none;
	border: 1px solid #c5c5c5;
	padding:5px;
}

#productlist .productName
{
	height:58px;
	display:block;
}

#productlist a:hover
{
	text-decoration: none;
}

#productlist img.productimage
{
	margin-top: -25%;
	width:100%;
}

#productlist .readmore
{
	float: right;
}

#productlist .GroupLink
{
	display: block;
	width: 100%;
	height: 150px;
	overflow: hidden;
}

.AR
{
	text-align:right;
}

.t1 td
{
	border-bottom:1px solid #c5c5c5;
	padding:2px;
	height:20px;
}

.t1 td.tota
{
	border-bottom:3px double #c5c5c5;
}

a.addtobasket
{
	height:31px;
	line-height:31px;
	text-align:center;
	margin:10px;
	white-space:nowrap;
	color:#ffffff;
	font-weight:bold;
	background: url(/Files/Templates/eCom/ProductList/cartbg.png) repeat-x center top;
	border:1px solid #7BA968;
	padding-right:10px;
	padding-left:10px;
	float:right;
	display:block;
	-moz-border-radius: 3px;
    border-radius: 3px;
}

a.addtobasket .plus
{
	vertical-align:text-top;
	font-size:20px;
	font-family:Arial;
}

.price
{
	height:31px;
	line-height:31px;
	font-size:20px;
	font-weight:bold;
	color:#FF8500;
	float:left;
	margin:10px;
	white-space:nowrap;
}

div.productlistnavigation
{
	clear: both;
	line-height: 30px;
	border-top: 1px solid #3E84A8;
	border-bottom: 1px solid #3E84A8;
}

.compare
{
	float: right;
	margin-right: 10px;
}

.rating
{
	margin-left: 10px;
}

.comments
{
	margin-left: 10px;
}

.padLeft
{
	padding-left: 3px;
}