<link rel="stylesheet" type="text/css" href="/Files/Templates/eCom/ProductList/ecom.css" />
<script type="text/javascript" src="/Files/Templates/eCom/ProductList/Compare.js"></script>
<script type="text/javascript">
    var pageID = <!--@Ecom:ProductList:Page.ID-->;
</script>

<div id="compare"></div>

<div id="productlist">
	<!--@If Defined(Server:Request.ecomquery)-->
		<h1><!--@Translate(productssearch, "Product search")--></h1>
	<!--@EndIf(Server:Request.ecomquery)-->
	
	<!--@If Not Defined(Server:Request.ecomquery)-->
		<h1><!--@Ecom:ProductList:Page.GroupName--></h1>
	<!--@EndIf(Server:Request.ecomquery)-->
	
	<div class="productlistnavigation">
		<!--@Ecom:ProductList.PageProdCnt--> products found. Showing page <!--@Ecom:ProductList.CurrentPage--> of <!--@Ecom:ProductList.TotalPages-->.
		<span style="float:right">
			<a id="A3" href="<!--@Ecom:ProductList.PrevPage.Clean-->" <!--@Ecom:ProductList.PrevPage-->>&laquo; Previous</a> 
			<a id="A4" href="<!--@Ecom:ProductList.NextPage.Clean-->" <!--@Ecom:ProductList.NextPage-->>Next &raquo;</a>
		</span>
	</div>
	<br />
	<!--@LoopStart(Products)-->
	     <!--@HeaderStart-->
	    <ul>
	    <!--@HeaderEnd-->
		    <li>
				<a href="<!--@Ecom:Product.LinkGroup.Clean-->" title="<!--@Ecom:Product.Name-->" class="productName"><h2><!--@Ecom:Product.Name--></h2></a>
		        <!--@If Defined(Ecom:Product.ImageSmall.Default.Clean)-->
		        <a href="<!--@Ecom:Product.LinkGroup.Clean-->" title="<!--@Ecom:Product.Name-->" class="GroupLink">
		            <img class="productimage" src="<!--@Ecom:Product.ImageSmall.Default.Clean-->" alt="<!--@Ecom:Product.Name-->" border="0" />    
		        </a>
		        <!--@EndIf(Ecom:Product.ImageSmall.Default.Clean)-->
				<br />
		        
				<div class="price">
		        	<!--@Ecom:Product.Price-->
	        	</div>

		        <a href="<!--@Ecom:Product.LinkGroup.Clean-->&cartcmd=add" class="addtobasket" title="Add to cart"><span class="plus">+ <span>Add to cart</span></span></a>
				<div style="clear:both;">
					<div class="rating comments" style="float: left;">
						<span title="<!--@Ecom:Product.Rating-->"><!--@Ecom:Product.RatingStars--></span><br />
						<img src="/Admin/Images/Rating/commentSmall.gif" alt="" />&nbsp;<span>(<!--@Ecom:Product.CommentCount-->)</span></a>
					</div>
					<a href="javascript:Compare.add('<!--@Ecom:Product.CompareID-->', '<!--@Ecom:Product.Name-->', '<!--@Ecom:Product.LinkGroup.Clean-->')" class="compare">Compare</a>
				</div>
		    </li>
	    <!--@FooterStart-->
	    </ul>
	    <!--@FooterEnd-->
	    <!--@LoopEnd(Products)-->

	<div class="productlistnavigation">
		<!--@Ecom:ProductList.PageProdCnt--> products found. Showing page <!--@Ecom:ProductList.CurrentPage--> of <!--@Ecom:ProductList.TotalPages-->.
		<span style="float:right">
			<a id="A1" href="<!--@Ecom:ProductList.PrevPage.Clean-->" <!--@Ecom:ProductList.PrevPage-->>&laquo; Previous</a> 
			<a id="A2" href="<!--@Ecom:ProductList.NextPage.Clean-->" <!--@Ecom:ProductList.NextPage-->>Next &raquo;</a>
		</span>
	</div>
</div>
<script type="text/javascript">Compare.writecompare();</script>