﻿<h2><!--@Ecom:Group.Name--></h2>
<ul id="productlist" class="horizontal">
    <!--@LoopStart(Products)-->
    <li class="listitem<!--@Products.LoopMod2-->">
        <h3><a href="<!--@Ecom:Product.Link.Clean-->">View</a> <!--@Ecom:Product.Name--></h3>
        <a href="<!--@Ecom:Product.Link.Clean-->"><!--@Ecom:Product.ImageSmall.Default--></a>
        <span class="price">
            <!--@Ecom:Product.Price-->
        </span>
        <a href="/default.aspx?id=<!--@Ecom:Product:Page.ID-->&amp;productid=<!--@Ecom:Product.ID-->&amp;cartcmd=add">Add to basket</a>
        <!--@If Defined(Ecom:Product.ShortDescription)-->
            <span class="shortdescription"><!--@Ecom:Product.ShortDescription--></span>
        <!--@EndIf(Ecom:Product.ShortDescription)-->
    </li>
    <!--@LoopEnd(Products)-->
</ul>
<div id="productlistnavigation">
    <span id="productcount">
        <!--@Ecom:ProductList.PageProdCnt--> products found
    </span>
    <span id="pagecount">
        Page <!--@Ecom:ProductList.CurrentPage--> of <!--@Ecom:ProductList.TotalPages-->
    </span>
    <span id="pagenavigation">
        <a id="prevpage" href="<!--@Ecom:ProductList.PrevPage.Clean-->" <!--@Ecom:ProductList.PrevPage-->>Previous</a> <a id="nextpage" href="<!--@Ecom:ProductList.NextPage.Clean-->" <!--@Ecom:ProductList.NextPage-->>Next</a><br />
    </span>
</div>