﻿<!--@SnippetStart(scripts)-->
        $j('.tester').each(
            function(intIndex) {
                //if ($j(this).children('a:first').attr('href') 0) {
                 //   $j(this).css('display', 'block');
                    $j(this).parent().parent().find('.price:eq(1)').html($j(this).children('div:first').html());
                //}
            });

<!--@SnippetEnd(scripts)-->

<div id="productlist">
    <div class="header">
        <h3>Shop - <!--@Ecom:Group.Name--></h3>
    </div>

<!--
             <div id="Pageing">
     <!--@If Defined(Ecom:ProductList.PrevPage.Clean)-->
            <a href="<!--@Ecom:ProductList.PrevPage.Clean-->"><- Tilbage</a>&nbsp;&nbsp;
        <!--@EndIf(Ecom:ProductList.PrevPage.Clean)-->

            Side (<!--@Ecom:ProductList.CurrentPage-->
            af
            <!--@Ecom:ProductList.TotalPages-->
            )&nbsp;&nbsp;
        <!--@If Defined(Ecom:ProductList.NextPage.Clean)-->
            <a href="<!--@Ecom:ProductList.NextPage.Clean-->">Næste -></a>

        <!--@EndIf(Ecom:ProductList.NextPage.Clean)-->
        </div> -->

    <div class="dataContainer productnav">
        <form name="TesterForm" id="TesterForm" class="multiForm" method="post">

        <input type="hidden" name="CartCmd" id="CartCmd" value="addMulti" />
        <table id="productTable" cellspacing="1" cellpadding="1">
            <tr>
                <th class="text_left">
                    Varenr.
                </th>
                <th class="text_center">
                	Info
                    </th>
                <th class="text_left">
                    Varenavn
                </th>
                <th class="text_right">&nbsp;</th>
                <th class="text_right">&nbsp;</th>

            <th class="text_right">
                Tester pris
            </th>
            <th class="text_right">
                Stk.
            </th>
            </tr>
            <!--@LoopStart(Products)-->
            <tr class="tr<!--@Products.LoopMod2-->">
                <td class="text_left1">
                    <!--@Ecom:Product.Form.Multi.HiddenFields-->
                    <a href="<!--@Ecom:Product.Link.Clean-->">
                        <!--@Ecom:Product.Number-->
                    </a>
                </td>
                <td class="text_center">
                 <a href="<!--@Ecom:Product.Link.Clean-->">
                        <img src="files/Templates/Designs/Kosmetolognet2011/images/info.png" alt="Læs mere om <!--@Ecom:Product.Name-->" title="Læs mere om <!--@Ecom:Product.Name-->" align="center" />
                    </a>
                    </td>
                <td class="text_left1">
                    <a href="<!--@Ecom:Product.Link.Clean-->">
                        <!--@Ecom:Product.Name-->
                    </a>
                </td>
                <td class="text_right price">

                </td>
                <td class="text_right amount">

                </td>


                <td class="text_right price">
<a href="<!--@Ecom:Product.Link.Clean-->">
                        <!--@Ecom:Product.Price.PriceWithoutVAT-->
                    </a>

                </td>
                <td class="text_right amount">


    <input class="quantityInput" type="text" name="Quantity<!--@Ecom:Product.LoopCounter-->"
                        value="" tabindex="<!--@Products.LoopCounter-->" />


                </td>
            </tr>
            <!--@LoopEnd(Products)-->
        </table>
           <!--DwTemplateTags-->

    </div>
    <div id="addToCartMulti">
        <input type="submit" value="Tilf&oslash;j til kurv" />
        <div style="display: none; padding-top: 5px; padding-bottom: 5px;" id="CartLoader">
            <img src="/Files/System/load.gif" alt="Tilføj til kurv" align="left" />Tilføjer
            til kurven
        </div>
    </div>
    </form>
</div>
<div class="header">
        <p>&nbsp;</p>
    </div>
