﻿.items-clear:after 
{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.items-clear 
{
	display: inline-block;
}
 
html[xmlns] .items-clear 
{
	display: block;
}
 
* html .items-clear
{
	height: 1%;
}

.items
{
    font-family: Aral, Verdana, sans-Serif;
    font-size: 13px;
}

/* List (UL/LI) */

.items ul.items-list,
.items ul.items-list li
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: none;
}



.items-list-row{
	width:105px;
	height:200px !important;
	clear:none;
	float:left;}
	
.items ul.items-list li
{
    display: block;
    height: 33px;
    line-height: 32px;
	
    
}

.items ul.items-list li span.items-list-cell
{
    float: left;
    width: 125px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
}

.items ul.items-list li.items-list-header
{
    padding-bottom: 1px;
}

.items ul.items-list li.items-list-header span.items-list-cell
{
    background-color: #5283be;
    
    border: 1px solid #366aab;
    border-left: none;
    border-right: 1px solid #366aab;
    
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #345c8a;
    
    background-image: linear-gradient(bottom, rgb(63,117,183) 38%, rgb(83,131,190) 69%);
    background-image: -o-linear-gradient(bottom, rgb(63,117,183) 38%, rgb(83,131,190) 69%);
    background-image: -moz-linear-gradient(bottom, rgb(63,117,183) 38%, rgb(83,131,190) 69%);
    background-image: -webkit-linear-gradient(bottom, rgb(63,117,183) 38%, rgb(83,131,190) 69%);
    background-image: -ms-linear-gradient(bottom, rgb(63,117,183) 38%, rgb(83,131,190) 69%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.38, rgb(63,117,183)), color-stop(0.69, rgb(83,131,190)));
}

.items ul.items-list li.items-list-header span.items-list-cell-first
{
    border-left: 1px solid #366aab;
    border-top-left-radius: 3px;
}

.items ul.items-list li.items-list-header span.items-list-cell-last
{
    border-right: 1px solid #366aab;
    border-top-right-radius: 3px;
}

.items ul.items-list li.items-list-row span.items-list-cell
{
    padding-right: 11px;
    border-bottom: 1px solid #c3c3c3;
    
    background-color: #fff;
    
    -webkit-transition: background-color 85ms ease-in;  
    -moz-transition: background-color 85ms ease-in;  
    -o-transition: background-color 85ms ease-in;  
    transition: background-color 85ms ease-in;  
}

.items ul.items-list li.items-list-row span.items-list-cell-first
{
    border-left: 1px solid #c3c3c3;
}

.items ul.items-list li.items-list-row span.items-list-cell-last
{
    border-right: 1px solid #c3c3c3;
    padding-right: 10px;
}

.items ul.items-list li.items-list-row:hover span.items-list-cell
{
    cursor: pointer;
    background-color: #fffee5;
}

.items ul.items-list li.items-list-row a.item-edit-link
{
    display: block;
}

/* End: List (UL/LI) */

/* List (TABLE) */

.items table.items-list
{
    table-layout: fixed;
}

.items table.items-list,
.items table.items-list tr,
.items table.items-list tr td
{
    border: none;
    padding: 0px;
    margin: 0px;
}

.items table.items-list tr td,
.items table.items-list tr th
{
    width: 150px;
    height: 32px;
    line-height: 32px;
}

.items table.items-list tr.items-list-header th
{
    background-color: #5283be;
    
    border-top: 1px solid #366aab;
    border-bottom: 1px solid #366aab;
    border-right: 1px solid #366aab;
    
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #345c8a;
    
    background-image: linear-gradient(bottom, rgb(63,117,183) 38%, rgb(83,131,190) 69%);
    background-image: -o-linear-gradient(bottom, rgb(63,117,183) 38%, rgb(83,131,190) 69%);
    background-image: -moz-linear-gradient(bottom, rgb(63,117,183) 38%, rgb(83,131,190) 69%);
    background-image: -webkit-linear-gradient(bottom, rgb(63,117,183) 38%, rgb(83,131,190) 69%);
    background-image: -ms-linear-gradient(bottom, rgb(63,117,183) 38%, rgb(83,131,190) 69%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.38, rgb(63,117,183)), color-stop(0.69, rgb(83,131,190)));
}

.items table.items-list tr.items-list-header th.items-list-cell-first
{
    border-left: 1px solid #366aab;
    border-top-left-radius: 3px;
}

.items table.items-list tr.items-list-header th.items-list-cell-last
{
    border-right: 1px solid #366aab;
    border-top-right-radius: 3px;
}

.items table.items-list tr.items-list-row td.items-list-cell
{
    background-color: #fff;
    text-align: center;
    
    -webkit-transition: background-color 85ms ease-in;  
    -moz-transition: background-color 85ms ease-in;  
    -o-transition: background-color 85ms ease-in;  
    transition: background-color 85ms ease-in;  
    
    border-bottom: 1px solid #c3c3c3;
}

.items table.items-list tr.items-list-row td.items-list-cell-first
{
    border-left: 1px solid #c3c3c3;
}

.items table.items-list tr.items-list-row td.items-list-cell-last
{
    border-right: 1px solid #c3c3c3;
}

.items table.items-list tr.items-list-row:hover td.items-list-cell
{
    cursor: pointer;
    background-color: #fffee5;
}

.items table.items-list li.items-list-row a.item-edit-link
{
    display: block;
}

/* End: List (TABLE) */

/* List paging */

.items ul.items-list-paging,
.items ul.items-list-paging li
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: none;
}

.items ul.items-list-paging li
{
    float: left;
    margin-right: 5px;
}

/* End: List paging */

/* Details */

.items .item-details
{
    margin: 10px;
    padding: 0px;
    border: none;
}

.items .item-details .item-details-fields-outer
{
    padding: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f9f9f9;
    border: 1px solid #efefef;
    border-radius: 3px;
	height: 550px;
}

.items .item-details .item-details-field
{
    display: block;
}

.items .item-details .item-details-field .item-details-field-name
{
    color: #a6a6a6;
    margin-top: 10px;
    margin-bottom: 5px;
    text-shadow: 1px 1px 1px #fff;
}

.items .item-details .item-details-field .item-details-field-value
{
    font-size: 17px;
    margin-bottom: 20px;

}

.items .item-details .item-details-field .item-details-field-value img
{
    font-size: 13px;
    margin-bottom: 20px;
	width:300px;
	height: 424px;
	border:#CCC solid 1px;
	display:block;

}
.item-image{
	clear:none;
	float: left;}

.item-detail-download {
	width: 200px;
	clear:none;
	float:left;
	margin-left:25px;
	}

.items .item-details .item-details-controls
{
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.items .item-details .item-details-controls input
{
    float: right;
    height: 32px;
    width: 110px;
}

/* End: Details */

/* Editing */

.items .item-edit-form .item-edit-fields
{
    margin: 10px;
    padding: 0px;
    border: none;
}

.items .item-edit-form .item-edit-fields .item-edit-field-group
{
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #efefef;
    border-radius: 3px;
}

a.item-edit-field-group-button-collapse
{
	display: inline-block;
	background-image: url(/Admin/Images/Ribbon/expand.png);
	background-repeat: no-repeat;
	background-position: center;
    border: 1px solid #f9f9f9;
	margin-left: 10px;
	width: 24px;
	height: 14px;
}

a.item-edit-field-group-button-collapse:hover
{
    border: 1px solid #efefef;
}

a.item-edit-field-group-button-collapse.collapsed
{
	background-image: url(/Admin/Images/Ribbon/collapse.png);
}

.items .item-edit-form .item-edit-fields .item-edit-field-group .item-edit-field-group-content.collapsed
{
	display: none;
}

.items .item-edit-form .item-edit-fields .item-edit-field-group .item-edit-field-group-name
{
    font-size: 17px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
}

.items .item-edit-form .item-edit-fields .item-edit-field-group .item-edit-field
{
    display: block;
}

.items .item-edit-form .item-edit-fields .item-edit-field-group .item-edit-field label.item-edit-field-label,
.items .item-edit-form .item-edit-fields .item-edit-field-group .item-edit-field div.item-edit-field-value
{
    display: block;
    white-space: nowrap;
}

.items .item-edit-form .item-edit-fields .item-edit-field-group .item-edit-field label.item-edit-field-label
{
    margin-top: 15px;
    margin-bottom: 5px;
    text-shadow: 1px 1px 1px #fff;
}

.items .item-edit-form .item-edit-fields .item-edit-field-group .item-edit-field label.item-edit-field-label .required
{
    color: red;
}

.items .item-edit-form .item-edit-fields .item-edit-field-group .item-edit-field div.item-edit-field-value .item-field-rich
{
	width: auto !important;
}

.items .item-edit-form .item-edit-submission
{
    float: right;
    margin-right: 8px;
    margin-bottom: 10px;
}

.items .item-edit-form .item-edit-submission input
{
    float: right;
    margin-left: 10px;
    height: 32px;
    width: 110px;
}

.validation-error
{
	color: #D63301;
	border: 1px solid;
	margin: 5px 0px;
	padding:10px 5px;
	background-color: #FFCCBA;
}

/* End: Editing */