#variants{float: right}
.colorbox{height:40px; width:40px; border:1px solid #b3b3b3; margin:3px; float:left; clear:none;}
.warmsilk{background-color:#123123;}
.warmsienna{background-color:#321321;}
.lightbeige{background-color: #ababab;}
.lightbeige{background-color: #ababab;}
.honeybronze{background-color: #f9f9f9;}
