/*** CUSTOM ADDED STYLES ***/

div#middle {
	background: #ffffff;
}

div.clearbreak {
	clear: both;
	height: 20px;
	margin-bottom: 30px;
}

div.no-padding-left {
	padding-left: 0 !important;
}

div.no-padding-right {
	padding-right: 0 !important;
}

div.no-margin-left {
	margin-left: 0 !important;
}

div.no-margin-right {
	margin-right: 0 !important;
}

.no-border {
	border: 0 !important;
}

.big-font-size {
	font-size: 1.3em !important;
}

.no-uppercase {
	text-transform: none !important;
}

.vmiddle {
	vertical-align: middle;
}

div#middle {
	max-width: 950px;
	width: auto !important;
}

table thead tr th,
    table thead tr td,
    table tfoot tr th,
    table tfoot tr td {
      padding: 0.5rem 0.0rem 0.625rem;
}

table tr th,
  table tr td {
    padding: 0.5625rem 0.0rem;
}

ul {
	list-style: none;
}



/* Alert Boxes */
.alert-box {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-weight: normal;
  margin-bottom: 1.25rem;
  position: relative;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  font-size: 0.8125rem;
  background-color: #008cba;
  border-color: #0078a0;
  color: white; }
  .alert-box .close {
    font-size: 1.375rem;
    padding: 9px 6px 4px;
    line-height: 0;
    position: absolute;
    top: 50%;
    margin-top: -0.6875rem;
    right: 0.25rem;
    color: #333333;
    opacity: 0.3; }
    .alert-box .close:hover, .alert-box .close:focus {
      opacity: 0.5; }
  .alert-box.radius {
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  .alert-box.round {
    -webkit-border-radius: 1000px;
    border-radius: 1000px; }
  .alert-box.success {
    background-color: #43ac6a;
    border-color: #3a945b;
    color: white; }
  .alert-box.alert {
    background-color: #f04124;
    border-color: #de2d0f;
    color: white; }
  .alert-box.secondary {
    background-color: #e7e7e7;
    border-color: #c7c7c7;
    color: #4f4f4f; }
  .alert-box.warning {
    background-color: #f08a24;
    border-color: #de770f;
    color: white; }
  .alert-box.info {
    background-color: #a0d3e8;
    border-color: #74bfdd;
    color: #4f4f4f; }



/* Tabs & Tabs Content */
.tabs {
  *zoom: 1;
  margin-bottom: 0 !important; }
  .tabs:before, .tabs:after {
    content: " ";
    display: table; }
  .tabs:after {
    clear: both; }
  .tabs dd {
    position: relative;
    margin-bottom: 0 !important;
    top: 1px;
    float: left; }
    .tabs dd > a {
      display: block;
      background: #efefef;
      color: #222222;
      padding-top: 1rem;
      padding-right: 2rem;
      padding-bottom: 1.0625rem;
      padding-left: 2rem;
      font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      font-size: 1rem; }
      .tabs dd > a:hover {
        background: #e1e1e1; }
    .tabs dd.active a {
      background: white; }
  .tabs.radius dd:first-child a {
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px; }
  .tabs.radius dd:last-child a {
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px; }
  .tabs.vertical dd {
    position: inherit;
    float: none;
    display: block;
    top: auto; }

.tabs-content {
  *zoom: 1;
  margin-bottom: 1.5rem;
  width: 100%; }
  .tabs-content:before, .tabs-content:after {
    content: " ";
    display: table; }
  .tabs-content:after {
    clear: both; }
  .tabs-content > .content {
    display: none;
    float: left;
    padding: 0.9375rem 0;
    width: 100%; }
    .tabs-content > .content.active {
      display: block; }
    .tabs-content > .content.contained {
      padding: 0.9375rem; }
  .tabs-content.vertical {
    display: block; }
    .tabs-content.vertical > .content {
      padding: 0 0.9375rem; }



/* Breadcrumb Navigation */
ul.breadcrumbs {
	display: block;
	padding: 0.5625em 0.875em 0.5625em;
	overflow: hidden;
	margin-left: 0;
	list-style: none;
	border: none;
	border-radius: 0;
	background-color: #fff0d7;
	color: #898989;
	border-top: 1px dotted;
	border-bottom: 1px dotted;
	border-color: #bfbbb3;
	margin-bottom: 15px;
}

ul.breadcrumbs > * a, ul.breadcrumbs > * span {
	text-transform: none;
	white-space: nowrap;
}

ul.breadcrumbs li a, ul.breadcrumbs li a:hover {
	color: #898989;
	text-decoration: none;

}



/* Shopping Cart */
div#shoppingcart {
	font-family: "Raleway", Verdana, Arial, Helvetica;
}

div#shoppingcart h3 {
	font-size: 1.5em;
	color: #695e4a;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0;
	padding-top: 30px;
}

.row div#shoppingcart.row {
	margin-left: 0.625em;
	margin-right: 0.625em;
	margin-top: none;
	margin-bottom: none;
}

textarea#order-comments {
	margin-top: 20px;
	height: 110px;
}



/* Shopping Cart / Tabs */
dl.tabs dd {
	float: right;
}

dl.tabs dd a {
	height: 40px;
	padding-top: 0.6rem;
	margin-left: 15px;
	background: #a2dad9;
	color: #ffffff;
	text-transform: uppercase;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

dl.tabs dd.active a, dl.tabs dd a:hover {
	background: #19bcb9;
	color: #ffffff;
	text-transform: uppercase;
	-webkit-transition: background-color 300ms linear;
	-moz-transition: background-color 300ms linear;
	transition: background-color 300ms linear;
	-webkit-appearance: none;
}

div.tabs-content {
	border: 6px #19bcb9 solid;
	padding: 0.9375rem 0.9375rem;
}



/* Shopping Cart / Table */
table#shopping-table {
	width: 100%;
	text-align: center;
}

table#shopping-table th {
	font-family: "Raleway", Verdana, Arial, Helvetica;
	color: #6b614c;
}

table#shopping-table tr {
	border-bottom: #bfbbb3 1px dotted;
}

table#shopping-table th, table#shopping-table td {
	vertical-align: middle;
	font-weight: bold;
}

table#shopping-table thead th, table#shopping-table tfoot tr a {
	font-weight: normal;
	text-align: center;
}

table#shopping-table tr, table#shopping-table thead, table#shopping-table thead tr th, table#shopping-table tfoot {
	background: none;
}

table#shopping-table tbody tr td, table#shopping-table tbody tr td a {
	color: #695e4a;
}

table#shopping-table tr td span.product-description {
	font-weight: normal;
}

table#shopping-table td.textleft, table#shopping-table th.text-left {
	text-align: left;
}

table#shopping-table tbody h4 {
	color: #695e4a;
	margin: 0 !important;
	background: none;
}

input.amount {
	width: 40px;
	height: 40px;
	margin-top: 13px;
	background: #ffffff;
	border: 1px solid #b4aea4;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-size: none;
	color: #695e4a;
	margin: 0 auto;
	display: inline-block;
}

input.amount-small {
	width: 30px;
	height: 30px;
	font-weight: normal;
}


table#shopping-table tbody tr td span.your-price {
	color: #19bcb9;
}

table#shopping-table tfoot a {
	color: #695e4a;
	font-size: 0.8em;
}

table#shopping-table tfoot tr {
	border-bottom: none;
}

/*
div#shoppingcart .columns, div#shoppingcart .column {
	margin-left: 0.625em;
	margin-right: 0.625em;
}
*/

.bruger-info-table th, .bruger-info-table tr, .bruger-info-table td {
	font-size: 0.95em;
	font-weight: normal !important;
}

.table-border-bottom {
	border-bottom: 1px dotted #bfbbb3;
}


/* Shopping Cart / Alerts */
div.alert-box.info {
	background: none;
	border: 1px solid #f68d29;
}



/* Shopping Cart / Checkout Total */
table#checkout-total {
	width: 100%;
}

table#checkout-total tr, table#checkout-total td, table#checkout-total tfoot {
	color: #695e4a;
	font-weight: bold;
	background: none;
	line-height: 0.25rem;
}

table#checkout-total tbody{
   border-top: 1px dotted #bfbbb3;
}

table#checkout-total tr.top-border > td {
	border-top: 1px dotted #bfbbb3;
	padding-top: 20px;
}

table#checkout-total tr.checkout-padding-bottom > td {
	padding-bottom: 20px;
}

table#checkout-total tfoot {
	text-transform: uppercase;
}

table#checkout-total tfoot td {
	color: #19bcb9;
}

div#altaddress{display:none;}
#new-adress-checkbox:checked ~ div#altaddress{display:block;}

/* Shopping Cart / Sidebar */
div.shopping-sidebar ul.checklist {
	border-top: #d0ecec 1px solid;
	border-left: #d0ecec 1px solid;
	border-right: #d0ecec 1px solid;
	background: #e7f5f5;
	padding-right: 15px;
	padding-top: 20px;
	list-style: inside;
	list-style-type: none;
}

div.shopping-sidebar ul.checklist li {
	min-height: 40px;
	margin: 10px 0 10px 15px;

	padding-bottom: 10px;
	border-bottom: #bfbbb3 1px dotted;
}

div.shopping-sidebar ul.checklist li img {
	float: left;
	margin-right: 10px;
	vertical-align: middle;
}

div.shopping-sidebar ul.checklist2 {
	border-bottom: #d0ecec 1px solid;
	border-left: #d0ecec 1px solid;
	border-right: #d0ecec 1px solid;
	background: #e7f5f5;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: -17px;
	list-style: inside;
	list-style-type: none;
}

div.shopping-sidebar ul.checklist2 li {
	min-height: 0 !important;
	margin: 5px 0 5px 15px !important;
	padding-bottom: 0 !important;
	border-bottom: 0 !important;
	font-weight: bold;
}

div.shopping-sidebar ul.checklist2 li a {
	color:#6b614c;
}

div.shopping-sidebar ul.checklist2 li a:hover {
	color: #887b5e;
}



/* Shopping Cart / Buttons */
a.shopping-button {
	background: #19bcb9 !important;
}

a.shopping-button, a.shopping-button2 {
	height: 45px !important;
	padding-left: 2rem !important;
	padding-right: 2rem !important;
	margin-left: 15px !important;
	text-transform: uppercase;
	border-radius: 5px;
	font-size: 1rem !important;
	border-width: 0;
}

a.shopping-button2 {
	background: #a2dad9 !important;
}

a.shopping-button2:hover {
	background: #19bcb9 !important;
}

button, .button {
    margin: 0 0 1.11111rem !important;
    padding: 0 !important;
    float: right !important;
    padding-top: 0.88889rem !important;
    padding-right: 1.77778rem !important;
    padding-bottom: 0.94444rem !important;
    padding-left: 1.77778rem !important;
    font-size: 0.88889rem !important;
    background: #19bcb9 !important;
    font-weight: normal !important;
    color: white;
    border: 0 !important;
}

.button-center {
	width: 100%;
}



/* Shopping Infos */
div.brown-border, div.blue-border, div.purple-border {
	margin-bottom: 1em;
}

div.purple-border {
	background: url(../img/mitdermalogica-logo-bonuspoints.jpg) no-repeat center top;
	background-size: 100% auto;
	/*height: 88px;*/
}

h3.points {
	color: #fff !important;
	padding-top:32px;
}

.mitdermalogica .dotted-ruler {
	border: 0;
}

@media screen and ( max-width: 760px ) and ( min-width: 440px )  { /* Tablets only */
	div.purple-border {
		background-size: 0 0 !important;
	}

	h3.points {
		color: #695e4a !important;
	}

	.mitdermalogica .dotted-ruler {
		border: 1px dotted #a4a4a4;
	}
}

@media screen and ( max-width: 440px )  { /* Smartphones only */
	h3.points {
		padding-top: 50px !important;
		padding-bottom: 1em;
	}
}

div.purple-border {
	border: 6px solid #802755;
}

div.brown-border {
	border: 6px solid #c8c4bc;
}

div.brown-border, div.blue-border{padding-bottom: 0.625em;¯}

div.blue-border {
	border: 6px solid #19bcb9;
}

div.brown-border label, div.brown-border p, div.brown-border span, div.blue-border label, div.blue-border p, div.blue-border span {
	color: #695e4a;
}

div.brown-border h3, div.blue-border h3 {
	text-transform: none !important;
	font-weight: normal;
	font-size: 16px !important;
	padding-top: 20px !important;
}

hr.dotted-ruler {
	width: 100%;
	border: 1px dotted #a4a4a4;
}


/* Footer Infos */
div#Footer {
	padding: 0;
}

div#footer-infos {
	height: 40px;
	border-top: #c8c4bc 1px solid;
	border-bottom: #c8c4bc 1px solid;
	margin: 5px 0 10px 0;
}



/* Footer Table */
table#footer-table td {
	height: 38px;
	font-family: "Raleway", Verdana, Arial, Helvetica;
	color: #6b614c;
	font-size: 12px;
	padding-left: 0.625rem;
	padding-right: 0.625rem;
}

td.vmiddle-first {
	vertical-align: middle;
}


/* Facebook Icon */
img.facebook-social-icon {
	float: right;
}



/* Footer Navigation */
ul.menutext_bottom li {
	font-size: 100%;
	color: #6b614c;
	line-height: 18px;
	text-decoration: none;
	padding-left: 10px;
	padding-top: 3px;
}

ul.menutext_bottom li a:hover, #footer-table td a:hover {
	color: #887b5e;
	text-decoration: none;
}

ul.menutext_bottom li a, #footer-table td a {
	color: #6b614c;
	text-decoration: none;
}

li.footer-heading, li.footer-heading-last {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 15px;
}

ul.menutext_bottom li.footer-heading-last {
	font-size: 100%;
	color: #6b614c;
	line-height: 18px;
	padding-left: 0;
}

ul.menutext_bottom li.footer-list {
	padding-left: 0;
	margin-bottom: -50px;
}

ul.menutext_bottom {
	margin-bottom: 60px;
}



/* Kreditkort Symboler */
div.kreditkort {
	clear: both;
}

img.kreditkort-symboler {
	padding-top: 2px;
}



/* Nyhedsbrev */
form#newsletterform {
	width: 290px;
	height: 34px;
	clear: both;
	margin-bottom: 6px;
}

input.newsletter-field {
	width: 121px;
	height: 32px;
	margin-right: 8px;
	font-family: "Raleway", Verdana, Arial, Helvetica;
	color: #a1a1a1;
	font-size: 12px;
	float: left;
}

input.newsletter-button {
	background: url(../img/newsletter-send-button.png) no-repeat left top !important;
	width: 32px !important;
	height: 32px !important;
	margin: 0 !important;
}



/* Trustpilot */
div.trustpilot-ranking {
	width: 290px;
	height: 45px;
	border: #c8c4bc 1px solid;
	text-align: center;
	margin-bottom: 8px;
}



/* Facebook Plugin */
div.fb-facepile {
	width: 290px;
	height: 247px;
	border: #c8c4bc 1px solid;
}
#banner .seo{
	font-size:11px;
	line-height:12px;
	}
.seo .seotekst1, .seotekst2{
	width:50%;

	}
.seo .seotekst1{
	float:left;
	clear:none;
	padding-right:15px;}

.seo .seotekst2{
	float:right;
	clear:none;
	padding-left:15px;}
