.bg-secondary-color{background-color: #5793D6 !important;}

.top-bar-section > ul > li.active,
.top-bar-section > ul > li a:hover:not(.button),
.indkob,
button, .button,
button.shopping-button{background-color: #f68d29 !important}

table#checkout-total tfoot td,
table#shopping-table tbody tr td span.your-price{color: #f68d29 !important;}

.indkob .amount,
a.shopping-button2{background-color: #F2AA66 !important}

div.tabs-content,
div.blue-border,
.indkob .dropdown{border-color: #f68d29 !important;}
