﻿<h3>Godkend ordre</h3>

<form name="submitform" action="<!--@Ecom:Order.NextStep-->" method="post">
<table cellspacing="0" cellpadding="0" class="OrderReview" width=95%>
            <tbody><tr>
                <td valign="top">
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                        
                        <tr>
                            <td colspan="3" class="TextCell" style="color:#ea0a91"><b>HUSK at godkende ordren nederst på denne side!</b></td>
                          </tr>
                        
                        <tr>
                          <td class="TextCell"></td>
                          <td class="Spacer">&nbsp;</td>
                          <td align="left" valign="top"></td>
                        </tr>
                        <tr>
                            <td width="12%" class="TextCell">
                               
                            </td>
                            <td width="2%" class="Spacer"> </td>
                            <td width="86%" align="left" valign="top">
                            	
                           </td>
                        </tr> 
                        <tr>
                            <td class="TextCell">
                               <b> Bemærkninger:</b>
                            </td>
                            <td class="Spacer"> </td>
                            <td valign="top" align="left">
                               <!--@Ecom:Order.Customer.Comment-->
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
            <tr>
                <td valign="top"> </td>
            </tr>            
            <tr>
                <td valign="top">
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                          <tr>
                            <td valign="top" class="TextCell">&nbsp;</td>
                            <td class="Spacer">&nbsp;</td>
                            <td valign="top" class="TextCell">&nbsp;</td>
                          </tr>
                          <tr>
                            <td width="50%" valign="top" class="TextCell">
                                <b>Faktureringsadresse:</b>
                                  <div> </div>
                            </td>
                            <td class="Spacer"> </td>
                            <td width="50%" valign="top" class="TextCell">
                               <b> Leveringsadresse:</b>
                                <div> </div>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <span id="ctl00_wpm_wp1062335880_ctl00_ctl00_BillingAddress">
        <table cellspacing="0" cellpadding="0" class="ShowOrderAddress">
    
        <tbody><tr>
	<td width="39%" valign="top">Navn</td>
	<td width="1%" valign="top">:</td>
	<td width="60%" valign="top">&nbsp; <!--@Ecom:Order.Customer.Name--></td>
	</tr>
	<tr>
	<td width="39%" valign="top">Adresse</td>
	<td width="1%" valign="top">:</td>
	<td width="60%" valign="top">&nbsp; <!--@Ecom:Order.Customer.Address--></td>
	</tr>

	<tr>
	<td width="39%" valign="top">Post nr. / By</td>
	<td width="1%" valign="top">:</td>
	<td width="60%" valign="top">&nbsp; <!--@Ecom:Order.Customer.Zip-->&nbsp;<!--@Ecom:Order.Customer.City--></td>
	</tr>
	

	<tr>
	<td width="39%" valign="top">Telefon</td>
	<td width="1%" valign="top">:</td>
	<td width="60%" valign="top">&nbsp; <!--@Ecom:Order.Customer.Phone--></td>
	</tr>

	<tr>
	<td width="39%" valign="top">Email</td>
	<td width="1%" valign="top">:</td>
	<td width="60%" valign="top">&nbsp; <!--@Ecom:Order.Customer.Email--></td>
	</tr>
    
        </tbody></table>
    </span>
                                <div> </div>
                            </td>
                            <td class="Spacer"> </td>
                            <td valign="top">
                               
        
    <!--@If Defined(Ecom:Order.Delivery.Address)-->
<table cellspacing="0" cellpadding="0" class="ShowOrderAddress">
        <tbody>
        <tr>
            <td width="39%" valign="top">Firma</td>
            	<td width="1%" valign="top">:</td>
            <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Company--></td>
        </tr>
        <tr>
            <td width="39%" valign="top">Navn</td>
            	<td width="1%" valign="top">:</td>
            <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Name--></td>
        </tr>
        <tr>
            <td width="39%" valign="top">Adresse</td>
            	<td width="1%" valign="top">:</td>
            <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Address--></td>
        </tr>
        
        <tr>
            <td width="39%" valign="top">Post&nbsp;nr./ By</td>
            	<td width="1%" valign="top">:</td>
            <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Zip-->&nbsp;<!--@Ecom:Order.Delivery.City--></td>
        </tr>
        
           </tbody></table>
    <!--@EndIf(Ecom:Order.Delivery.Address)-->
 
    


                                <div> </div>
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
            <tr>
                <td valign="top"> </td>
            </tr>
            <tr>
                <td valign="top">
                    <table width="100%" cellspacing="0" cellpadding="0" class="OrderLines">
                        <tbody><tr>
                            <th valign="top" class="TextCell">
                                Varenr.
                            </th>
                            <th valign="top" class="TextCell">
                                Varenavn
                            </th>
                            
                            <th valign="top" class="TextCell" style="text-align:right">
                               Enhedspris
                            </th>
                            <th valign="top" align="left" class="TextCell" style="text-align:right">
                                Antal
                            </th>
                            <th valign="top" align="right" class="TextCell" style="text-align:right">
                                Liniepris
                            </th>
                        </tr>
                        <tr>
                            <td valign="top" colspan="5"><hr class="HorizontalRuler"/></td>                        
                        </tr>
  
          <!--@LoopStart(OrderLines)-->
        <tr class="cart_orderline">
            <td class="cart_orderline ">
                	<!--@Ecom:Order:OrderLine.ProductNumber-->
                </td>
            <td class="cart_orderline" width="170px">
                  <!--@Ecom:Order:OrderLine.ProductName-->
            </td>
            
            <td class="cart_orderline cart_tags_value" style="text-align:right">
                <!--@Ecom:Order:OrderLine.UnitPrice.PriceWithoutVAT-->
                &nbsp;<!--@Ecom:Order:OrderLine.UnitPrice.CurrencyCode--></td>
            <td class="cart_orderline cart_qty" style="text-align:right">
                <!--@Ecom:Order:OrderLine.Quantity--></td>
            <td align="right" class="cart_orderline cart_tags_value" style="text-align:right">
                <!--@Ecom:Order:OrderLine.Price.PriceWithoutVAT-->
                &nbsp;<!--@Ecom:Order:OrderLine.UnitPrice.CurrencyCode--></td>
            
        </tr>

        <!--@LoopEnd(OrderLines)-->  
                        <tr>
                            <td valign="top" colspan="5"><hr class="HorizontalRuler"/></td>
                        </tr>
                    </tbody></table>                
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <table width="100%" cellspacing="0" cellpadding="0" class="Totals">
                        <tbody><tr>
                            <td width="26%" valign="top" class="HeaderCell">Ialt eksl. moms</td>
                            <td width="25%" valign="top" class="HeaderCell">Fragt- og eksp. gebyr</td>
                            <td width="18%" valign="top" class="HeaderCell">Moms ialt</td>
                            <td width="31%" align="right" valign="top" class="HeaderCell">Ialt inkl. moms</td>
                        </tr>
                        <tr>
                            <td valign="top" class="HeaderCell"><!--@Ecom:Order.PriceWithoutFees.PriceWithoutVAT-->
                &nbsp;<!--@Ecom:Order.Price.Currency.Code--></td>
                            <td valign="top" class="HeaderCell"><!--@Ecom:Order.ShippingFee.PriceWithoutVAT-->&nbsp;<!--@Ecom:Order.Price.Currency.Code--></td>
                            <td valign="top" class="HeaderCell"><!--@Ecom:Order.Price.VAT-->&nbsp;<!--@Ecom:Order.Price.Currency.Code-->
</td>

                            <td valign="top" align="right" class="HeaderCell"><!--@Ecom:Order.Price.PriceWithVAT-->&nbsp;<!--@Ecom:Order.Price.Currency.Code--></td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
           <tr>
            <td valign="top" align="right">
                <br/> <br/>
                
                <input value="Godkend" type="submit">
            </td>
           </tr>
        </tbody></table>
<br /><br />
</form>

<!--DwTemplateTags-->