<div id="pagecart">
    <div id="counter">
        <span id="cartcount">Items in basket: </span>
        <span id="cartcount_value"><!--@Ecom:Order.OrderLines.TotalQuantity--></span>
    </div>
    <div id="amount">
        <span id="cartamount">Total: </span>
        <span id="cartamount_value"><!--@Ecom:Order.PriceWithoutFees--></span>
    </div>
    <div id="functions">
        <span id="empty"><a href="<!--@Global:Pageview.Url-->&amp;cartcmd=emptycart"><b>Empty</b></a></span>
        <span id="show"><a href="/default.aspx?ID=9"><b>Show</b></a></span>
    </div>
</div>
