﻿
<script type="text/javascript" src="/files/System/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/files/Templates/ecom/functions_kosmetolognet.js" charset=UTF-8"></script>

<form method="post" id="submitUserData" action="<!--@Ecom:Order.NextStep-->&overridestep=true" name="submitUserData">       

<!--@If Defined(Server:Request.errorcode)--> 
<p class="error">Der opstod en fejl. Det kan skyldes du allerede er oprettet i vores system.</p>
<!--@EndIf(Server:Request.errorcode)-->        
        
		<input type="hidden" name="papercolor" id="papercolor" value="red" />
        <table width="100%" style="float:left" border="0" cellspacing="0" cellpadding="8">		            
            <tr><td colspan="2">&nbsp;</td></tr>
            
            <tr>
                <td valign="top" width="50%">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">			                       
                       <tr>
                <td valign="top"><strong>Faktureringsadresse</strong></td>
                
            </tr>
                        <tr>
                            <td>Navn</td>
                            <td><input type="text" name="EcomOrderCustomerName" id="EcomOrderCustomerName" value="<!--@Ecom:Order.Customer.Name-->" readonly/></td>
                        </tr>
                        <tr>
                            <td>Adresse</td>
                            <td><input type="text" name="EcomOrderCustomerAddress" id="EcomOrderCustomerAddress" value="<!--@Ecom:Order.Customer.Address-->" readonly/></td>
                        </tr>
                        <tr>
                            <td>Postnr</td>
                            <td><input type="text" name="EcomOrderCustomerZip" id="EcomOrderCustomerZip" value="<!--@Ecom:Order.Customer.Zip-->" readonly/></td>
                        </tr>
                        <tr>
                            <td>By</td>
                            <td><input type="text" name="EcomOrderCustomerCity" id="EcomOrderCustomerCity" value="<!--@Ecom:Order.Customer.City-->" readonly/></td>
                        </tr>
                        <tr>
                            <td>E-mail</td>
                            <td><input type="text" name="EcomOrderCustomerEmail" id="EcomOrderCustomerEmail" value="<!--@Ecom:Order.Customer.Email-->" readonly/></td>
                        </tr>
                        <tr>
                            <td>Notat</td>
                            <td><textarea rows="4" name="EcomOrderCustomerComment" id="EcomOrderCustomerComment" cols="18" style="overflow:auto"><!--@Ecom:Order.Customer.Comment--></textarea></td>
                        </tr>
                        <tr>
                       
                            <td colspan="2"> <div style="float:left;clear:left;width:100%"><input type="checkbox" id="delivadd" unchecked/> Brug alternativ leveringsadresse</a></div><br /><br /></div></td>
                        </tr>                                                        		    
                    </table>
                </td>
<!-- ALTERNATIV LEVERINGSADRESSE -->                
                <td valign="top">
                    <div id="delivform">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="Table1">
                        <tr>
                        <td colspan="2" valign="top"><strong>Leveringsadresse</strong><br /> (Kun hvis anderledes end faktureringsadresse)</td>
						</tr>
						<tr>
                            <td width="50%">Firma</td>
                            <td><input type="text" name="EcomOrderDeliveryCompany" id="EcomOrderDeliveryCompany" value="<!--@Ecom:Order.Delivery.Company-->" id="EcomOrderDeliveryCompany" /></td>
                        </tr>
                        <tr>
                            <td width="50%">Navn*</td>
                            <td><input type="text" name="EcomOrderDeliveryName" id="EcomOrderDeliveryName" value="<!--@Ecom:Order.Delivery.Name-->" id="EcomOrderDeliveryName" /></td>
                        </tr>
                        <tr>
                            <td width="50%">Adresse*</td>
                            <td><input type="text" name="EcomOrderDeliveryAddress" id="EcomOrderDeliveryAddress" value="<!--@Ecom:Order.Delivery.Address-->" id="EcomOrderDeliveryAddress" /></td>
                        </tr>
                        <tr>
                            <td width="50%">Postnr*</td>
                            <td><input type="text" name="EcomOrderDeliveryZip" id="EcomOrderDeliveryZip" value="<!--@Ecom:Order.Delivery.Zip-->" id="EcomOrderDeliveryZip" /></td>
                        </tr>
                        <tr>
                            <td width="50%">By*</td>
                            <td><input type="text" name="EcomOrderDeliveryCity" id="EcomOrderDeliveryCity" value="<!--@Ecom:Order.Delivery.City-->" id="EcomOrderDeliveryCity" /></td>
                        </tr>
                        <tr><td colspan="2"><br />*) Feltet skal udfyldes<br /><br /></td></tr>			                        
                        	
                    </table>
	   
                    </div>
                </td>
            </tr>
             <tr>
                <td colspan="2">
                 <input type="hidden" name="<!--@NIQOreftag.Name-->" id="<!--@NIQOreftag.Name-->" value="<!--@NIQreftag-->"/>
            <input type="hidden" name="NIQSalesCode" id="NIQSalesCode" value="SHOP" />            

                     <input type="button" value="Videre" class="submit" title="Videre" /><br /><br />
                </td>
            </tr>		  
            </table>
                  <!--DwTemplateTags-->  
    </form>   
    
