<script type="text/javascript" language="javascript" src="Files/Templates/Ecom/functions.js"></script>

<script type="text/javascript" language="javascript">
function SetSelectedLanguage() {
	var opt = document.getElementById('submitUserData').EcomOrderCustomerCountry.options;
	for (var i=1;i<opt.length;i++) {
		if (opt[i].text == "<!--@Ecom:Order.Customer.Country-->") {
			opt[i].selected = true;
		}
    	}
	opt = document.getElementById('submitUserData').EcomOrderDeliveryCountry.options;
	for (var i=1;i<opt.length;i++) {
		if (opt[i].text == "<!--@Ecom:Order.Delivery.Country-->") {
			opt[i].selected = true;
		}
    	}
}

</script>

<h2>Customer Information</h2>
<img src="Files/Templates/eCom/Images/step2.jpg" alt="Customer Information" border="0" /><br />

<!--@LoopStart(ValidationErrors)-->
	Error in the input field "<!--@Ecom:Cart.ValidationError.FieldName-->": <span style="color:red"><!--@Ecom:Cart.ValidationError.ErrorMessage--></span><br />
<!--@LoopEnd(ValidationErrors)-->

<form method="post" action="<!--@Ecom:Order.NextStep-->" name="submitUserData" id="submitUserData">
    <table width="100%" border="0" cellspacing="0" cellpadding="8">
        <tr>
		    <td width="50%" valign="top"><b>Billing address</b></td>
		    <td width="50%" valign="top"><b><a href="javascript:toggleVisibility('delivery');">Delivery address</a></b><br>(Only if different from billing address)</td>
	    </tr>
	    <tr>
		    <td width="50%" valign="top">
			    <table width="100%" border="0" cellspacing="0" cellpadding="0" id="billing">
			        <tr>
			            <td width="50%">Company</td>
			            <td><input type="text" name="EcomOrderCustomerCompany" id="EcomOrderCustomerCompany" value="<!--@Ecom:Order.Customer.Company-->"><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderCustomerCompany.ErrorMessage--></span></td>
			        </tr>
			        <tr>
			            <td width="50%">Name</td>
			            <td><input type="text" name="EcomOrderCustomerName" id="EcomOrderCustomerName" value="<!--@Ecom:Order.Customer.Name-->"><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderCustomerName.ErrorMessage--></span></td>
			        </tr>
			        <tr>
			            <td width="50%">Address</td>
			            <td><input type="text" name="EcomOrderCustomerAddress" id="EcomOrderCustomerAddress" value="<!--@Ecom:Order.Customer.Address-->"><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderCustomerAddress.ErrorMessage--></span></td>
			        </tr>
			        <tr>
			            <td width="50%">Address 2</td>
			            <td><input type="text" name="EcomOrderCustomerAddress2" id="EcomOrderCustomerAddress2" value="<!--@Ecom:Order.Customer.Address2-->"><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderCustomerAddress2.ErrorMessage--></span></td>
			        </tr>
			        <tr>
			            <td width="50%">Zipcode</td>
			            <td><input type="text" name="EcomOrderCustomerZip" id="EcomOrderCustomerZip" value="<!--@Ecom:Order.Customer.Zip-->"><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderCustomerZip.ErrorMessage--></span></td>
			        </tr>
			        <tr>
			            <td width="50%">City</td>
			            <td><input type="text" name="EcomOrderCustomerCity" id="EcomOrderCustomerCity" value="<!--@Ecom:Order.Customer.City-->"><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderCustomerCity.ErrorMessage--></span></td>
			        </tr>
			        <tr>
			            <td width="50%">Country</td>
			            <td>
				            <select name="EcomOrderCustomerCountry" id="EcomOrderCustomerCountry" style="width:99%">
				            <!--@LoopStart(Countries)-->
					            <!--@LoopStart(CountryTexts)-->
					            <OPTION VALUE="<!--@Ecom:CountryText.Code2-->"><!--@Ecom:CountryText.Name--></OPTION>
					            <!--@LoopEnd(CountryTexts)-->
				            <!--@LoopEnd(Countries)-->
				            </select>
							<br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderCustomerCountry.ErrorMessage--></span>
			            </td>
			        </tr>
			        <tr>
			            <td width="50%">E-mail</td>
			            <td><input type="text" name="EcomOrderCustomerEmail" id="EcomOrderCustomerEmail" value="<!--@Ecom:Order.Customer.Email-->"><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderCustomerEmail.ErrorMessage--></span></td>
			        </tr>
			        <tr>
			            <td width="50%">Phone</td>
			            <td><input type="text" name="EcomOrderCustomerPhone" id="EcomOrderCustomerPhone" value="<!--@Ecom:Order.Customer.Phone-->"><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderCustomerPhone.ErrorMessage--></span></td>
			        </tr>
			        <tr>
			            <td width="50%">Fax</td>
			            <td><input type="text" name="EcomOrderCustomerFax" id="EcomOrderCustomerFax" value="<!--@Ecom:Order.Customer.Fax-->"><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderCustomerFax.ErrorMessage--></span></td>
			        </tr>
			        <tr>
			            <td width="50%">Mobile</td>
			            <td><input type="text" name="EcomOrderCustomerCell" id="EcomOrderCustomerCell" value="<!--@Ecom:Order.Customer.Cell-->"><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderCustomerCell.ErrorMessage--></span></td>
			        </tr>
			        <tr>
	        		    <td width="50%">Rekvirerings nr.</td>
			            <td><input type="text" name="EcomOrderCustomerRefID" id="" value="<!--@Ecom:Order.Customer.RefID-->"><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderCustomerRefID.ErrorMessage--></span></td>
			        </tr>
			        <tr>
			            <td width="50%">VAT number</td>
			            <td><input type="text" name="EcomOrderCustomerVatRegNumber" id="EcomOrderCustomerVatRegNumber" value="<!--@Ecom:Order.Customer.VatRegNumber-->"><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderCustomerVatRegNumber.ErrorMessage--></span></td>
			        </tr>
			        <tr>
			            <td width="50%">EAN nr.</td>
			            <td><input type="text" name="EcomOrderCustomerEAN" id="EcomOrderCustomerEAN" value="<!--@Ecom:Order.Customer.EAN-->"><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderCustomerEAN.ErrorMessage--></span></td>
			        </tr>
			        <tr>
			            <td width="50%">Note</td>
			            <td><textarea rows="6" name="EcomOrderCustomerComment" id="EcomOrderCustomerComment" cols="19" style="overflow:auto"><!--@Ecom:Order.Customer.Comment--></textarea><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderCustomerComment.ErrorMessage--></span></td>
			        </tr>
			    </table>
		    </td>
		    <td width="50%" valign="top">
			    <table width="100%" border="0" cellspacing="0" cellpadding="0" id="delivery" class="visibilityHidden">
			        <tr>
			            <td width="50%">Company</td>
			            <td><input type="text" name="EcomOrderDeliveryCompany" id="EcomOrderDeliveryCompany" value="<!--@Ecom:Order.Delivery.Company-->"><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderDeliveryCompany.ErrorMessage--></span></td>
			        </tr>
			        <tr>
			            <td width="50%">Name</td>
			            <td><input type="text" name="EcomOrderDeliveryName" id="EcomOrderDeliveryName" value="<!--@Ecom:Order.Delivery.Name-->"><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderDeliveryName.ErrorMessage--></span></td>
			        </tr>
			        <tr>
			            <td width="50%">Adress</td>
			            <td><input type="text" name="EcomOrderDeliveryAddress" id="EcomOrderDeliveryAddress" value="<!--@Ecom:Order.Delivery.Address-->"><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderDeliveryAddress.ErrorMessage--></span></td>
			        </tr>
			        <tr>
			            <td width="50%">Adress 2</td>
			            <td><input type="text" name="EcomOrderDeliveryAddress2" id="EcomOrderDeliveryAddress2" value="<!--@Ecom:Order.Delivery.Address2-->"><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderDeliveryAddress2.ErrorMessage--></span></td>
			        </tr>
			        <tr>
			            <td width="50%">Zipcode</td>
			            <td><input type="text" name="EcomOrderDeliveryZip" id="EcomOrderDeliveryZip" value="<!--@Ecom:Order.Delivery.Zip-->"><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderDeliveryZip.ErrorMessage--></span></td>
			        </tr>
			        <tr>
			            <td width="50%">City</td>
			            <td><input type="text" name="EcomOrderDeliveryCity" id="EcomOrderDeliveryCity" value="<!--@Ecom:Order.Delivery.City-->"><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderDeliveryCity.ErrorMessage--></span></td>
			        </tr>
			        <tr>
			            <td width="50%">Country</td>
			            <td>
				            <select name="EcomOrderDeliveryCountry" id="EcomOrderDeliveryCountry" style="width:99%" ID="Select1">
				            <!--@LoopStart(Countries)-->
					            <!--@LoopStart(CountryTexts)-->
					            <OPTION VALUE="<!--@Ecom:CountryText.Code2-->"><!--@Ecom:CountryText.Name--></OPTION>
					            <!--@LoopEnd(CountryTexts)-->
				            <!--@LoopEnd(Countries)-->
				            </select>
							<br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderDeliveryCountry.ErrorMessage--></span>
			            </td>
			        </tr>
			        <tr>
			            <td width="50%">E-mail</td>
			            <td><input type="text" name="EcomOrderDeliveryEmail" id="EcomOrderDeliveryEmail" value="<!--@Ecom:Order.Delivery.Email-->"><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderDeliveryEmail.ErrorMessage--></span></td>
			        </tr>
			        <tr>
			            <td width="50%">Phone</td>
			            <td><input type="text" name="EcomOrderDeliveryPhone" id="EcomOrderDeliveryPhone" value="<!--@Ecom:Order.Delivery.Phone-->"><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderDeliveryPhone.ErrorMessage--></span></td>
			        </tr>
			        <tr>
			            <td width="50%">Fax</td>
			            <td><input type="text" name="EcomOrderDeliveryFax" id="EcomOrderDeliveryFax" value="<!--@Ecom:Order.Delivery.Fax-->"><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderDeliveryFax.ErrorMessage--></span></td>
			        </tr>
			        <tr>
			            <td width="50%">Mobile</td>
			            <td><input type="text" name="EcomOrderDeliveryCell" id="EcomOrderDeliveryCell" value="<!--@Ecom:Order.Delivery.Cell-->"><br /><span style="color:red"><!--@Ecom:Cart.ValidationError.EcomOrderDeliveryCell.ErrorMessage--></span></td>
			        </tr>
			    </table>
		    </td>
	    </tr>
	    <tr>
		    <td colspan="2" align="center">
	    	    <a href="<!--@Ecom:Order.PrevStep-->">Back</a> ## <a href="javascript:submitForm();">Next</a>
		    </td>
	    </tr>
    </table>
</form>

<script type="text/javascript">
    SetSelectedLanguage();
</script>

