﻿<script type="text/javascript" src="/files/System/js/jquery.cookie.js"></script>

<style>
#cartinfo{clear:both;width:100%;}
    .leftcol, .rightcol{float:left; width:360px;margin-top:15px; border-top:1px dotted #e3e3e3; padding-top:15px;}
    .leftcol{padding-left:10px !important; padding-right:14px;}
    .fragtudregning{font-size:12px; margin-top:20px; float:left; color:#046ab6;}
    #gaveudregning{width:350px;float:left; clear:none; margin-left: 10px;margin-top:13px;padding:8px;background: #046ab6; color:#FFF; font-size:12px;}

    #TopMenuHolder>ul,#topcart, #cartHolder, #searchHolder{visibility: hidden; height:0px;}

    .button.submit{font-size:16px; padding:5px 20px; height:20px; margin-right:20px;}
    .button.sec{background: #FE8304 none !important;}

#bonuswrapper{width:49%; float: right;}
#bonuswrapper input[type="checkbox"]{float:none; clear:none; display:inline;}
#bonuswrapper select{width:100%;}
.customerData{width:48%; float: left; overflow-x: hidden}
.customerData input,
.customerData textarea{width:180px;}
.blueborder th{background-color: #812755; background: url("/files/grafik/dermalogica2010/mitDermalogica/mitDermalogica_koebsflowTop.jpg") no-repeat; height: 100px; }
</style>

<script type="text/javascript" language="javascript" src="/Files/Templates/Ecom/functionsder.js" charset="iso-8859-1"></script>

<script type="text/javascript">
$j(document).ready(function($) {
     $j("#MainMenuHolder ul").html("<li><a href='/'>Tilbage til shoppen</a></li>")
     $j("#delivadd").click( function(){
    $(this).is(':checked') ? $("#delivform").show() : $("#delivform").hide();
});
 });
    function doCopy() {

        $j("#CreateUsername").val($j("#EcomOrderCustomerPhone").val());

    }
function CalculateFreightOffer()
		{
		var freightlimit = 499;
		var priceWithVAT = document.getElementById("FSPriceWithVAT").firstChild.data ;
		var priceWithVAT = priceWithVAT.replace(",", ".");
		var result = 0;
		var output;
		if(freightlimit > priceWithVAT)
		{
		result = freightlimit - priceWithVAT;
		output = 'Du mangler nu at købe for <b>kr. ' + result + ' </b>for at opnå GRATIS fragt</b>';
		}
		else
		{
		output = 'Dine produkter leveres <b>fragtfrit!</b>';
		}

		return output;
		}
        function CalculateGiftOffer(){
            var freightlimit = 120000;//beløbet som kunden skal købe mere end. OBS øre er uden komma, altså er beløbet 1200,00
            var priceWithVAT = document.getElementById("FSPriceWithVAT").firstChild.data; // henter og konverter beløb til string
             var test= priceWithVAT.replace(".","").replace(",",""); // fjerner "." og "," fra beløbet som er formateret 1.200,00
               if (freightlimit > test) { // Tester om købsbeløb er mindre eller større end "freightlimit"
                                 result = freightlimit - test; // sesultal gemmes i variabel
                                 result2 = result /100;
                                 //beløb div med 100
                output = 'Du mangler at købe for <b style="color:#FFF !important">kr. ' + result2 + ' </b>for at få din gave fra Dermalogica';
            }
            else {
                output = 'Glæd dig - du modtager en <b style="color:#FFF !important">gave</b> fra Dermalogica med din ordre. <br><b>Bemærk:</b> Gaven fremgår ikke af din ordrebekræftelse.';
            }

            return output;
        }



// bonusfunctions
function enableSelect(){
        $j('#refs option').removeAttr("disabled");
    }
function addbonus(){
        var percentage = 5;
        var bonus = 0;
        var prodnumber ="";
        <!--@LoopStart(OrderLines)-->
        prodnumber = "<!--@Ecom:Order:OrderLine.ProductNumber-->";
        if(prodnumber.length > 5){
        bonus += Math.ceil((<!--@Ecom:Order:OrderLine.UnitPrice.PricePIP-->*<!--@Ecom:Order:OrderLine.Quantity-->)/(percentage*100));
}
        <!--@LoopEnd(OrderLines)-->

        // Loop through all orderlines, take 10% of linevalue and sum all up
        return bonus;

    }


 var changeClinicText = "";
 var reqText = "";
 var noThanksText = "<b>Nej tak,</b></br>jeg ønsker ikke at være medlem af mitDermalogica<br> og optjene bonuspoint. &nbsp;";
 var noThanksDisclaimerText ="<span style='font-size:9px;'>(Det er muligt at fortryde og tilmelde dig, næste gang du handler i shoppen)</p>";

  $j(function() {
    $j(".blueborder th span").append(addbonus());
    getuserClinic();
    $j("#nothanks").prepend(noThanksText).append(noThanksDisclaimerText);
    if($j.cookie("noBonus") == "true"){
        $j("#NIQNoBonusPoints2").attr("checked", "checked");
         $j("#refclinic, .hidethis").hide();
            appendreftagtoaction("10");
    }
    else{$j("#NIQNoBonusPoints2").removeAttr("checked");
}

    $j("#NIQNoBonusPoints2").click(function(){
        $j.cookie("noBonus",$j(this).attr("checked"));
        if($j(this).attr("checked")){
            $j("#refclinic, .hidethis").hide();
            appendreftagtoaction(10);
        }
            else{$j("#refclinic, .hidethis").show();}
    });



  });

$j(document).ready(function() {
$j("#NIQOreftag").live("change", function(event) {

        appendreftagtoaction($j("#NIQOreftag option:selected").attr("value"));
        //return false;
    });
});
   function getuserClinic(){
       $j("#userclinic").load('Default.aspx?ID=4284 #userinfoclinicid', function() {

            getClinics();

});
        // change so it uses get instead, and create a simple template for that.


    }

    function appendreftagtoaction(clinicid){
            var actionattr = "<!--@Ecom:Order.NextStep-->"; //$j("#submitUserData").attr("action");
            $j("#submitUserData").attr("action", actionattr+"&oreftag="+clinicid);

    }

function getClinics(){
        $j('#refclinic').load('http://www.dermalogica.dk/files/Filer/AJAX_userlist.html #refs', function(){
        //$j('#refclinic').load('http://www.dermalogica.dk/Default.aspx?ID=4283 #refs', function(){

        $j("#clinicsubscribe").prepend(reqText);

            //$j('#refs select').attr("disabled","disabled");
             <!--@If(NIQreftag=="10")-->   //If session does not has oreftag set do this
                var userclinicid = $j("#userinfoclinicid").text().trim(); //hent evt. tidligere valgt klinik
                if(userclinicid.length < 2){
                    userclinicid = 10;
                }

            <!--@EndIf-->
            <!--@If(NIQreftag<>"10")--> //If session has oreftag set do this
                var userclinicid = "<!--@NIQreftag-->";

            <!--@EndIf-->
                if(userclinicid.length > 2){
                $j("#refclinic").append(changeClinicText);
                $j('#refs option#c'+userclinicid).attr("selected","selected");
                $j("#refs option").not(":selected").attr("disabled", "disabled");
};

         });

        //$j('#refclinic').load('Default.aspx?ID=4283&SearchWord='+clinicid+' #ref #'+clinicid);
    }
</script>


<div id="order" style="float:left;width:180px;clear:none;margin-left:5px">
<div class="orderstep step2">
<p id="step1">1 - kurv <a class="helptext" href="Default.aspx?ID=257&step=1">(ret)</a></p>
<p id="step2">2 - leveringsadresse</p>
<p id="step3">3 - betalingsmetode</p>
<p id="step4">4 - accept</p>
<p id="step5">5 - betaling</p>
<p id="step6">6 - ordrebekræftelse</p>
</div></div>

<div style="width:760px;clear:none;float:right">

<form method="post" id="submitUserData" action="<!--@Ecom:Order.NextStep-->" name="submitUserData">
<div class="dataContainer">
    <table width="48%" cellspacing="0" cellpadding="2" border="0" style="float:left">
    <tbody>
        <tr>
            <th />&nbsp;</th>
        </tr>
    </tbody>
</table>
<div id="ProductListNavigationTop"></div>
<!--@If Defined(Server:Request.error)-->
	<p class="error" style="padding:20px 10px; border:3px solid red">
	<script type="text/javascript">
	if("<!--@Server:Request.errorcode-->" == "110"){
	document.write("Du er allerede oprettet i vores system. Derfor skal du logge ind øverst til højre inden du kan fortsætte.")}
	</script>
</p>
<!--@EndIf(Server:Request.error)-->
            <div class="data naverror">
            </div>



 <div style="min-height:500px; width:100%;">
<!-- start bonuswrapper -->
<div id="bonuswrapper" style="margin-bottom:20px;">

    <table class="blueborder" style="border: 2px solid #812755;"><tr><th><br /><br />Hej <!--@Ecom:Order.Customer.Name--> <br />Med denne bestilling optjener du <span></span> bonuspoint.</th></tr>
            <tr>
                <td style="padding:10px;">
                    <p style="margin-top: -10px;" class="hidethis">Dine bonuspoint kan ombyttes til produkter i en af vores klinikker. Vælg den klinik, hvor dine bonuspoint skal kunne indløses til produkter:</p>
                    <div id="refclinic"></div>
                    <p class='hidethis' style="font-size:9px;">Det er muligt at skifte til en anden klinik. Du skal blot være opmærksom på at du ikke kan flytte dine opsparede bonuspoint til en ny klinik. Ønsker du at være tilknyttet en ny klinik?  - <a href='#none' id='changeclinic' onclick='enableSelect()'>Aktiver listen her og vælg ny klinik</a> i listen ovenfor.</p>
                     <div id="clinicsubscribe" class="data" ><span class='hidethis'>En af betingelserne for at kunne få dine bonuspoint ombyttet til produkter er, at du er tilknyttet en af vores klinikker og samtidig er tilmeldt klinikkens nyhedsbrev. </span><br/><b>Tilmeld</b> klinikkens nyhedsbrev &nbsp;<input type="checkbox" name="NIQSubscribeClinikNewsletter2" id="NIQSubscribeClinikNewsletter2" /><label class="error"></label></div>


    </td></tr></table>
    <table class="blueborder" style="border: 2px solid #812755;">
        <tr>
            <td id="nothanks" style="padding:10px;"><input type="checkbox" name="NIQNoBonusPoints2" id="NIQNoBonusPoints2" /><br /></td>
        </tr>
    </table>
    <div id="userclinic" style="display:none"></div>
    <div id="refs" style="display:none"><!--@NIQreftag--></div>


</div>
<!-- end bonuswrapper -->


    <div class="customerData" style="margin-bottom:35px;">
        <div class="custHeader">
            <h2>
                Fakturerings adresse</h2>
            <span>&nbsp;&nbsp;&nbsp;(felter med * skal udfyldes)</span>
        </div>
        <div class="custContent">
            <div class="data">
                <label>
                    Navn*</label>
                <input type="text" name="EcomOrderCustomerName" id="EcomOrderCustomerName" value="<!--@Ecom:Order.Customer.Name-->" /></div>
            <div class="data">
                <label>
                    Adresse*</label>
                <input type="text" name="EcomOrderCustomerAddress" id="EcomOrderCustomerAddress"
                    value="<!--@Ecom:Order.Customer.Address-->" /></div>
            <div class="data">
                <label>
                    Postnr*</label>
                <input type="text" name="EcomOrderCustomerZip" id="EcomOrderCustomerZip" value="<!--@Ecom:Order.Customer.Zip-->" /></div>
            <div class="data">
                <label>
                    By*</label>
                <input type="text" name="EcomOrderCustomerCity" id="EcomOrderCustomerCity" value="<!--@Ecom:Order.Customer.City-->" /></div>
           <div class="data">
                <label>
                    Tlf*</label>
                <input type="text" onblur="doCopy()" name="EcomOrderCustomerPhone" id="EcomOrderCustomerPhone" value="<!--@Ecom:Order.Customer.Phone-->"
                     /></div>
            <div class="data">
                <label>
                    Email*</label>
                <input type="text" name="EcomOrderCustomerEmail" id="EcomOrderCustomerEmail" value="<!--@Ecom:Order.Customer.Email-->" /></div>

<!--@If Not Defined(Global:Extranet.UserName)-->
            <div class="data">
                <label>
                    Password*</label>
                <input type="password" name="Password" id="Password" value="<!--@NAV:Password-->"></div>
            <div class="data">
                <label>
                    Gentag Password*</label>
                <input type="password" name="Password2" id="Password2" value=""></div>
                <input type="hidden" name="ShopID" id="shopid" value="SHOP2">


        <input type="hidden" name="Username" id="CreateUsername" value="<!--@NAV:Username-->" ></div>

        <!--@EndIf(Global:Extranet.UserName)-->

            <div class="data">
                <label>
                    Bemærkninger</label>
                <textarea rows="4" name="EcomOrderCustomerComment" id="EcomOrderCustomerComment"
                    cols="25" style="overflow: auto"><!--@Ecom:Order.Customer.Comment--></textarea>
            </div> </div>
            </div>




        </div>
        <div style="float: left; clear: left; width: 70%;margin-bottom:10px; margin-left:20px; margin-top:10px;">
       <input type="checkbox" name="NIQSubscribeNewsletter" id="NIQSubscribeNewsletter" unchecked/>
       <input type="hidden" name="NIQNewsletterCategory" id="NIQNewsletterCategory" value="17" />


       <b>Ja tak</b>, til hudpleje-tips og tricks samt gode tilbud fra Dermalogica på mail ca. hver tredje uge.</a></div>

    <div style="float: left; clear: left; width: 70%; margin:10px 0px 0px 20px">
        <input type="checkbox" id="delivadd" />
       Jeg ønsker mine varer leveret på en anden adresse</div>



    <div class="customerData" id="delivform" style="display:none">
        <h2>
            Leveringsadresse</h2>
        <div class="custContent">
            <div class="data">
                <label>
                    Navn</label>
                <input type="text" name="EcomOrderDeliveryName" id="EcomOrderDeliveryName" value="<!--@Ecom:Order.Delivery.Name-->"
                    disabled="disabled" /></div>
            <div class="data">
                <label>
                    Adresse</label>
                <input type="text" name="EcomOrderDeliveryAddress" id="EcomOrderDeliveryAddress"
                    value="<!--@Ecom:Order.Delivery.Address-->" disabled="disabled" /></div>
            <div class="data">
                <label>
                    Postnr</label>
                <input type="text" name="EcomOrderDeliveryZip" id="EcomOrderDeliveryZip" value="<!--@Ecom:Order.Delivery.Zip-->"
                    disabled="disabled" /></div>
            <div class="data">
                <label>
                    By</label>
                <input type="text" name="EcomOrderDeliveryCity" id="EcomOrderDeliveryCity" value="<!--@Ecom:Order.Delivery.City-->"
                    disabled="disabled" /></div>
            <input type="hidden" name="EcomOrderCustomerCountry" id="EcomOrderCustomerCountry"
                value="DK" />

        </div>
    </div>
    <div id="functions" style="float: right; clear: left; margin-top: 0px;">
 <a href="#none" class="submit button">
        fortsæt &raquo;</a>
</div>
<div style="width:100%; float:left; clear:none; height:100px;">
  <div style="float: right; margin: 20px;"
class="tp_-_box" data-tp-settings="domainId:32939,borderColor:D6D6D6,showReviews:False,showRatingText:False,showComplementaryText:False,usePopup:False,width:340,numOfReviews:1">
    <a href="http://www.trustpilot.dk/review/www.dermalogica.dk" rel="nofollow" hidden>Dermalogica Anmeldelser</a>
</div>
<script type="text/javascript">
  (function(){var a="https:"==document.location.protocol?"https://ssl.trustpilot.com":"http://s.trustpilot.com",b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=a+"/tpelements/tp_elements_all.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)})();
</script>

       <div class="fragtudregning" style="width:340px;">
        <span id="FSPriceWithVAT" style="display:none"><!--@Ecom:Order.PriceWithoutFees.PriceWithVAT--></span>
        <span id="FSFreightAmount" style="display:none"><!--@DW:eCommerce.NAV.Freight--></span>



    <script type="text/javascript">document.write(CalculateFreightOffer());</script>
        <!--     <br /><span style="font-size:12px; color:#333;">Når du køber produkter for minimum kr. 750,- får du en skin hydrating booster (7ml) til en værdi af kr. 145,00 med din ordre.<br /> Boosteren fremgår ikke af din ordrebekræftelse, men bliver medsendt din ordre.</span>-->

         <!--   <br /><span style="font-size:12px; color:#333;">Når du køber <b>solprodukter</b> for minimum kr. 795,- får du en lækker strandtaske (værdi kr. 98,-).<br /> Strandtasken fremgår ikke af din ordrebekræftelse, men bliver medsendt din ordre.</span>-->


      </div>
      <div id="gaveudregning">
                        <script type="text/javascript">
                            document.write(CalculateGiftOffer());
                        </script></div>

     </div>




    <input type="hidden" name="<!--NIQOreftag.Name-->" id="<!--NIQOreftag.Name-->" value="<!--NIQreftag-->" />
    <input type="hidden" name="NIQSalesCode" id="NIQSalesCode" value="B2C" />

</form>

     <div id="cartinfo">
            <div class="leftcol" ><!--@If Not Defined(Global:Extranet.UserName)-->


            <h2>
                Hvorfor skal jeg indtaste et password</h2>
            <p style="margin-left:10px">Er du allerede oprettet skal du logge ind for at bestille. (Du logger ind øverst på siden).<br/>
                Når du handler hos Dermalogica opretter vi dig som en kunde i vores system. Næste gang du handler kan du logge ind og så er dine kontaktoplysninger allerede indtastet.<br /><br />
            Du bedes oprette dig som bruger af dermalogica.dk. Indtast dit telefonnummer (brugernavn) og et ønsket password (min. 6 karakterer), som du skal bruge næste gang du handler i shoppen. <br /><br />
              (Dine personoplysninger anvendes kun af Færch A/S). Læs mere om <a href="Default.aspx?ID=214">din sikkerhed</a>.<br /><br />
            </p>

     <!--@EndIf(Global:Extranet.UserName)-->
     <!--@If Defined(Global:Extranet.UserName)-->
      <h2>
                Levering og betaling</h2>
            <p style="margin-left:10px">Alle ordrer på leveres med forsikret forsendelse via PostDanmark. Vi sender dig Track & Trace nummer, når din ordre er afsendt.  <br />
            <b>Forsendelsen koster kr. 49,00 ved ordrer under kr. 499,00.<br />
Ved ordrer over kr. 499,00 er forsendelsen fragtfri.</b><br /><br />
Dermalogica benytter DIBS betalingsløsning.<br /><img src="/files/grafik/dermalogica2010/diverse/betalingskort.png" />
            </p>
          <!--@EndIf(Global:Extranet.UserName)-->
     </div>
            <div class="rightcol"><a href="https://certifikat.emaerket.dk/eshop/dermalogica.dk" target="_blank"><img src="/files/grafik/dermalogica2010/diverse/sikker_ehandel.png" border="0" />
</a>






</div>
