<script type="text/javascript" language="JavaScript">
<!--
function submitForm() {
	document.getElementById('submitMethodData').submit();
}
// -->
</script>
<h2>Payment and delivery</h2>
<img src="Files/Templates/eCom/Images/step3.jpg" alt="Payment and delivery" border="0" />
<div align="center">
    <form method="post" action="<!--@Ecom:Order.NextStep-->" name="submitMethodData">
        <table width="100%" border="0" cellspacing="0" cellpadding="8" id="Table3">
            <tr>
                <td width="50%" valign="top"><b>Paymentmethods</b></td>
                <td width="50%" valign="top"><b>Deliverymethods</b></td>
            </tr>
	        <tr>
                <td width="50%" valign="top">
		            <!--@LoopStart(Paymethods)-->
		                <input type="radio" name="EcomCartPaymethodID" id="EcomCartPaymethodID_<!--@Ecom:Cart.Paymethod.ID-->" value="<!--@Ecom:Cart.Paymethod.ID-->">&nbsp;
						<label for="EcomCartPaymethodID_<!--@Ecom:Cart.Paymethod.ID-->"><!--@Ecom:Cart.Paymethod.Name--></label><br>
		            <!--@LoopEnd(Paymethods)-->
                </td>
		        <td width="50%" valign="top">
    		        <!--@LoopStart(Shippingmethods)-->
	        	        <input type="radio" name="EcomCartShippingmethodID" id="EcomCartShippingmethodID_<!--@Ecom:Cart.Shippingmethod.ID-->" value="<!--@Ecom:Cart.Shippingmethod.ID-->">&nbsp;
						<label for="EcomCartShippingmethodID_<!--@Ecom:Cart.Shippingmethod.ID-->"><!--@Ecom:Cart.Shippingmethod.Name--></label><br>
		            <!--@LoopEnd(Shippingmethods)-->
                </td>
            </tr>
	        <tr>
                <td align="center" colspan="2">
                    <a href="<!--@Ecom:Order.PrevStep-->">Back</a> ## <a href="javascript:submitForm();">Next</a>
                </td>
            </tr>
        </table>
    </form>
</div>

