<script type="text/javascript" language="JavaScript">
<!--
    function submitForm() {
        document.submitMethodData.submit();
    }


// -->
</script>

<div class="cartContainer" style="visibility:hidden">
    <form method="post" action="<!--@Ecom:Order.NextStep-->" name="submitMethodData">
    <div class="methodData">
            <h2>Betalingsmetode</h2>
            <input type="text" value="PAY5" name="EcomCartPaymethodID"/>
        </div>
        <div class="methodData">
            <h2>Leveringsmetode</h2>
		    <!--@LoopStart(Shippingmethods)-->
			    <div class="custPayMethod"><input type=radio name="EcomCartShippingmethodID" value="<!--@Ecom:Cart.Shippingmethod.ID-->" checked="checked">&nbsp;<!--@Ecom:Cart.Shippingmethod.Name--></div>
	        <!--@LoopEnd(Shippingmethods)-->
        </div>
    <div id="functions" style="float: left; clear: left; margin-top: 10px;">
        <a href="#" class="submit" style="margin-top: 0; padding-top: 0;
            border: 0" onClick="javascript:submitForm();">
            <img src="/files/System/images/continue.gif" /></a>
    </div>
    </form>
</div>
<script>
    submitForm();
    </script>
