<style>
th
{
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

td
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

h1
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#04C0EE;
}



</style>
<table cellspacing="0" cellpadding="2" border="0" style="width: 100%;">
    <tbody>
        <tr>
            <td>
                <div>
                    <h1>
                        Tak for din ordre</h1>
                                        Vi har modtaget din ordre og vil hurtigst muligt behandle den.<br /> Den komplette
                ordre kan ses nedenfor.<br />
                    <br />
                    <hr color="#04C0EE" />
                    <br />
                    <table width="100%" cellspacing="0" cellpadding="0" class="ShowOrder">
                        <tbody>
                            <tr>
                                <td>
                                    <table cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    Att:
                                                </th>
                                                <td>
                                                   	<!--@NIQAtt-->
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <th>
                                                    Ref./rekv.nr.:
                                                </th>
                                                <td>
                                                   <!--@NIQRekvno-->
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Bem&aelig;rkninger:</b>
                                                </th>
                                                <td>
                                                   
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <!--@Ecom:Order.Customer.Comment-->
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                    </div>
                                    <div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                <table><tr><td><b>Fakturaadresse:</b><br />
                                        <!--@Ecom:Order.Customer.Name-->
                                        <br />
                                        <!--@Ecom:Order.Customer.Address-->
                                        <br />
                                        <!--@Ecom:Order.Customer.Zip-->
                                        &nbsp;<!--@Ecom:Order.Customer.City--><br /></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br /></td>
                                        <td>
                                        <b>Leveringsadresse:</b><br />
                                        <!--@Ecom:Order.Delivery.Company-->
                                        <br />
                                        <!--@Ecom:Order.Delivery.Name-->
                                        <br />
                                        <!--@Ecom:Order.Delivery.Address-->
                                        <br />
                                        <!--@Ecom:Order.Delivery.Zip-->
                                        &nbsp;<!--@Ecom:Order.Delivery.City-->
                                        </td>
                                        </tr></table>
                                    
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                    </div>
                                    <div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td valign="bottom">
                                                    Betaling: Netto 30 dage
                                                </td>
                                                <td valign="bottom" align="right">
                                                    <table width="200" cellspacing="0" cellpadding="0" border="0" style="text-align: left;
                                                        margin-right: 50px;">
                                                        <tbody>
                                                            <tr>
                                                                <th align="left" colspan="3">
                                                                    Ordrebekr&aelig;ftelse
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Ordrenr.
                                                                </td>
                                                                <td>
                                                                </td>
                                                                <td>
                                                                    <!--@Ecom:Order.ID-->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Kundenr.
                                                                </td>
                                                                <td>
                                                                    
                                                                </td>
                                                                <td>
                                                                   <!--@Ecom:Order.Customer.AccessUserUserName-->  
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Dato
                                                                </td>
                                                                <td>
                                                                </td>
                                                                <td>
                                                                    <!--@Ecom:Order.Date-->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    SE/CVR-nr.
                                                                </td>
                                                                <td>
                                                                </td>
                                                                <td>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <div>&nbsp;
                                    </div>
                                    <div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <b>Nummer</b>
                                                </td>
                                                <td>
                                                    <b>Antal</b>
                                                </td>
                                                <td>
                                                    <b>Variant</b>
                                                </td>
                                                <td>
                                                    <b>Beskrivelse</b>
                                                </td>
                                                <td>
                                                    <b>Enhedspris</b>
                                                </td>
                                                <td align="right">
                                                    <b>Bel&oslash;b</b>
                                                </td>
                                            </tr>
                                            <!--@LoopStart(OrderLines)-->
                                            <tr>
                                                <td class="text_left">
                                                    <!--Ecom:Order:OrderLine.Type-->
                                                    <!--@Ecom:Order:OrderLine.ProductNumber-->
                                                </td>
                                                <td class="text_right">
                                                    <!--@Ecom:Order:OrderLine.Quantity-->
                                                </td>
                                                <td class="text_left">
                                                    	<!--@Ecom:Product:Field.NIQVariant.Value-->
                                                </td>
                                                <td class="text_left">
                                                    <!--@Ecom:Order:OrderLine.ProductName-->
                                                </td>
                                                <td class="text_right">
                                                    <!--@Ecom:Order:OrderLine.UnitPrice.PriceWithoutVAT-->
                                                    &nbsp;<!--@Ecom:Order:OrderLine.UnitPrice.CurrencyCode-->
                                                </td>
                                                <td class="text_right" align="right">
                                                    <!--@Ecom:Order:OrderLine.Price.PriceWithoutVAT-->
                                                    &nbsp;<!--@Ecom:Order:OrderLine.UnitPrice.CurrencyCode-->
                                                </td>
                                            </tr>
                                            <!--@LoopEnd(OrderLines)-->
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                    </div>
                                    <div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <table width="250" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td align="left">
                                                    Fragt- og ekspeditionsgebyr
                                                </td>
                                                <td align="right">
                                                    <!--@Ecom:Order.ShippingFee.PriceWithoutVAT-->
                                                    &nbsp;<!--@Ecom:Order.Price.Currency.Code-->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>I alt DKK eksl. moms</b>
                                                </td>
                                                <td align="right">
                                                    <!--@Ecom:Order.Price.PriceWithoutVAT-->
                                                    &nbsp;<!--@Ecom:Order.Price.Currency.Code-->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    25% moms
                                                </td>
                                                <td align="right">
                                                    <!--@Ecom:Order.Price.VAT-->
                                                    &nbsp;<!--@Ecom:Order.Price.Currency.Code-->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>I alt DKK inkl. moms</b>
                                                </td>
                                                <td align="right">
                                                    <!--@Ecom:Order.Price.PriceWithVAT-->
                                                    &nbsp;<!--@Ecom:Order.Price.Currency.Code-->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </span>
                   
                </div>
            </td>
        </tr>
        <tr>
          <td><hr color="#04C0EE" /></td>
        </tr>
        <tr>
          <td><span class="hide4Web"><b>FÆRCH A/S</b><br />
            Jens Juuls Vej 22<br />
            8260 Viby J.<br />
            <br />
            Tlf. 86 72 58 00<br />
          Fax 86 72 58 88</span></td>
        </tr>
    </tbody>
</table>
