<h2>Receipt</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0" ID="Table3">
    <tr>
        <td width="50%" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" ID="Table2">
	            <tr>
	                <td width="100%" valign="top" colspan="3"><b>Billing address</b></td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">Company</td>
	                <td width="1%" valign="top">:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Customer.Company--></td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">Name</td>
	                <td width="1%" valign="top">:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Customer.Name--></td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">Adress</td>
	                <td width="1%" valign="top">:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Customer.Address--></td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">Adress 2</td>
	                <td width="1%" valign="top">:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Customer.Address2--></td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">Zipcode / Town</td>
	                <td width="1%" valign="top">:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Customer.Zip-->&nbsp;<!--@Ecom:Order.Customer.City--></td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">Country</td>
	                <td width="1%" valign="top">:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Customer.Country--></td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">EAN</td>
	                <td width="1%" valign="top">:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Customer.EAN--></td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">Phone</td>
	                <td width="1%" valign="top">:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Customer.Phone--></td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">Fax</td>
	                <td width="1%" valign="top">:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Customer.Fax--></td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">Mobile</td>
	                <td width="1%" valign="top">:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Customer.Cell--></td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">E-mail</td>
	                <td width="1%" valign="top">:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Customer.Email--></td>
	            </tr>
            </table>
            <br><br>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" ID="Table5">
	            <tr>
	                <td width="100%" valign="top" colspan="3"><b>Orderinformations</b></td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">Ordernumber</td>
	                <td width="1%" valign="top">:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.ID--></td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">Orderdate</td>
	                <td width="1%" valign="top">:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.Date--></td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">Client IP</td>
	                <td width="1%" valign="top">:</td>
	                <td width="60%" valign="top"><!--@Ecom:Order.IP--></td>
	            </tr>
	        </table>
        </td>
        <td width="50%" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" ID="Table4">
                <tr>
                    <td width="100%" valign="top" colspan="3"><b>Delivery address</b></td>
                </tr>
                <tr>
                    <td width="39%" valign="top">Company</td>
                    <td width="1%" valign="top">:</td>
                    <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Company--></td>
                </tr>
                <tr>
                    <td width="39%" valign="top">Name</td>
                    <td width="1%" valign="top">:</td>
                    <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Name--></td>
                </tr>
                <tr>
                    <td width="39%" valign="top">Adress</td>
                    <td width="1%" valign="top">:</td>
                    <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Address--></td>
                </tr>
                <tr>
                    <td width="39%" valign="top">Adress 2</td>
                    <td width="1%" valign="top">:</td>
                    <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Address2--></td>
                </tr>
                <tr>
                    <td width="39%" valign="top">Zipcode / City</td>
                    <td width="1%" valign="top">:</td>
                    <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Zip-->&nbsp;<!--@Ecom:Order.Delivery.City--></td>
                </tr>
                <tr>
                    <td width="39%" valign="top">Country</td>
                    <td width="1%" valign="top">:</td>
                    <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Country--></td>
                </tr>
                <tr>
                    <td width="39%" valign="top">Phone</td>
                    <td width="1%" valign="top">:</td>
                    <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Phone--></td>
                </tr>
                <tr>
                    <td width="39%" valign="top">Fax</td>
                    <td width="1%" valign="top">:</td>
                    <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Fax--></td>
                </tr>
                <tr>
                    <td width="39%" valign="top">Mobile</td>
                    <td width="1%" valign="top">:</td>
                    <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Cell--></td>
                </tr>
                <tr>
                    <td width="39%" valign="top">E-mail</td>
                    <td width="1%" valign="top">:</td>
                    <td width="60%" valign="top"><!--@Ecom:Order.Delivery.Email--></td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<table cellspacing="0" cellpadding="0" border="0" width="100%" style="margin-top: 15px;">
<tr>
    <td colspan="5">
        <b>Orderspecification</b>
    </td>
</tr>
<tr class="basketheader">
	<td>Amount</td>
	<td>Name</td>
	<td>Weight</td>
	<td>Volume</td>
	<td>Price</td>
</tr>
<!--@LoopStart(OrderLines)-->
<tr class="orderline">
	<td><!--@Ecom:Order:OrderLine.Quantity--></td>
	<td nowrap><a href="<!--@Ecom:Order:OrderLine.ProductLink-->"><!--@Ecom:Order:OrderLine.ProductName.Short--></a></td>
	<td align="right"><!--@Ecom:Order:OrderLine.Weight--></td>
	<td align="right"><!--@Ecom:Order:OrderLine.Volume--></td>
	<td align="right"><!--@Ecom:Order:OrderLine.Price.PriceFormatted--></td>
</tr>
<!--@LoopEnd(OrderLines)-->
<tr class="separator">
	<td colspan="5"></td>
</tr>
<tr class="total">
	<td></td>
	<td>Total</td>
	<td></td>
	<td></td>
	<td align="right"><!--@Ecom:Order.PriceWithoutFees.PriceFormatted--></td>
</tr>
<tr class="fee">
	<td></td>
	<td>Paymentfee</td>
	<td></td>
	<td></td>
	<td align="right"><!--@Ecom:Order.PaymentFee.PriceFormatted--></td>
</tr>
<tr class="fee">
	<td></td>
	<td>Deliveryfee</td>
	<td align="right"><!--@Ecom:Order.Weight--></td>
	<td align="right"><!--@Ecom:Order.Volume--></td>
	<td align="right"><!--@Ecom:Order.ShippingFee.PriceFormatted--></td>
</tr>
<tr class="separator">
	<td colspan="5"></td>
</tr>
<tr class="total">
	<td align="right"></td>
	<td>Total with VAT</td>
	<td></td>
	<td colspan="2" align="right"><!--@Ecom:Order.Price.PriceWithVATFormatted--></td>
</tr>
<tr class="fee">
	<td></td>
	<td>VAT</td>
	<td></td>
	<td></td>
	<td align="right"><b><!--@Ecom:Order.Price.VATFormatted--></b></td>
</tr>
<tr class="fee">
	<td></td>
	<td>Total without VAT</td>
	<td></td>
	<td></td>
	<td align="right"><b><!--@Ecom:Order.Price.PriceWithoutVATFormatted--></b></td>
</tr>
<tr class="separator">
	<td colspan="5"></td>
</tr>
<tr>
    <td colspan="5">
        <b>Note</b> :<br>
        <!--@Ecom:Order.Customer.Comment-->
    </td>
</tr>
</table>

