﻿<table cellspacing="0" cellpadding="0" border="0" style="margin-bottom:20px;" width="100%">
    <tbody>
        <tr>
            <td>
                <div>
                    <h1>Tak for din ordre!</h1>
                    <br />
                    Vi har modtaget din ordre og vil hurtigst muligt behandle den. <br /><br />
					Den komplette ordre kan ses nedenfor.<br />
                    <br />
                    <hr />
                    <br />
                    <table width="100%" cellspacing="0" cellpadding="0" class="ShowOrder">
                        <tbody>
                            <tr>
                                <td>
                                    <table cellspacing="0" cellpadding="0">
                                        <tbody>
                                          <!--  <tr>
                                                <th style="text-align:left;color:#666; background-color:#FFF; padding:0px 0px 0px 0px;">
                                                    Att:
                                                </th>
                                                <td>
                                                </td>
                                                <td>
                                                   		<!--@NIQAtt.Clean-->
                                     <!--           </td>
                                            </tr>
                                           
                                            <tr>
                                                <th style="text-align:left;color:#666; background-color:#FFF;  padding:0px 0px 0px 0px;">
                                                    Ref./rekv.nr.:
                                                </th>
                                                <td>
                                                </td>
                                                <td>
                                                    <!--@NIQRekvno.Clean-->
                                           <!--     </td>
                                            </tr> -->
                                            <tr height="10px">
                                            &nbsp;
                                            </tr>
                                            <tr>
                                                <th  style="text-align:left;color:#666; background-color:#FFF;  padding:0px 0px 0px 0px;" colspan="3">
                                                    <b>Bemærkninger:</b>
                                                </th>
                                            </tr>
                                            <tr>
                                            &nbsp;
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <!--@Ecom:Order.Customer.Comment-->
                                </td>
                            </tr>
                             <tr>
                                <td height="20px">&nbsp;
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                    </div>
                                    <div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="float: left;"><b>Fakturaadresse:</b><br />
                                        <!--@Ecom:Order.Customer.Name-->
                                        <br />
                                        <!--@Ecom:Order.Customer.Address-->
                                        <br />
                                        <!--@Ecom:Order.Customer.Zip-->
                                        &nbsp;<!--@Ecom:Order.Customer.City-->
                                    </span><span style="float: right; width: 200px; margin-right: 50px;"><b>Leveringsadresse:</b><br />
                                        <!--@Ecom:Order.Delivery.Company-->
                                        <br />
                                        <!--@Ecom:Order.Delivery.Name-->
                                        <br />
                                        <!--@Ecom:Order.Delivery.Address-->
                                        <br />
                                        <!--@Ecom:Order.Delivery.Zip-->
                                        &nbsp;<!--@Ecom:Order.Delivery.City-->
                                    </span></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                    </div>
                                    <div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td valign="bottom">
                                                    <br /><br />
                                                    Betaling: Netto 30 dage
                                                    
                                                </td>
                                                <td valign="bottom" align="right">
                                                    <table width="200" cellspacing="0" cellpadding="0" border="0" style="text-align: left;
                                                        margin-right: 50px;">
                                                        <tbody>
                                                            <tr>
                                                                <th colspan="3">
                                                                    Ordrebekræftelse
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Ordrenr.
                                                                </td>
                                                                <td>
                                                                </td>
                                                                <td>
                                                                    <!--@Ecom:Order.ID-->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Kundenr.
                                                                </td>
                                                                <td>
                                                                   
                                                                </td>
                                                                <td>
                                                                     <!--@Ecom:Order.Customer.AccessUserUserName-->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Dato
                                                                </td>
                                                                <td>
                                                                </td>
                                                                <td>
                                                                    <!--@Ecom:Order.Date-->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                   
                                                                   
                                                                </td>
                                                                <td>
                                                                </td>
                                                                <td>
                                                                </td>
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                    </div>
                                    <div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>	<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
try {

  var pageTracker = _gat._getTracker("UA-5749935-2");


  pageTracker._trackPageview();
    	price = '<!--@Ecom:Order.Price.PriceWithVAT-->';
    	pricevat = '<!--@Ecom:Order.Price.VAT-->';
    		 
pageTracker._addTrans(
		"<!--@Ecom:Order.ID-->",
		"Kosmetolognet",
		price.replace(".",""),
		pricevat.replace(".",""),
		"<!--@Ecom:Order.ShippingFee.Price-->",
		"<!--@Ecom:Order.Delivery.City-->",
		"<!--@Ecom:Order.Delivery.Zip-->",
		"Danmark"
		);
	  <!--@LoopStart(OrderLines)-->
	  	itemprice = '<!--@Ecom:Order:OrderLine.UnitPrice.PriceWithVAT-->';
		pageTracker._addItem(
		"<!--@Ecom:Order:OrderLine.OrderID-->",
		"<!--@Ecom:Order:OrderLine.ProductID-->",
		"<!--@Ecom:Order:OrderLine.ProductName.Short-->",
		"<!--@LoopStart(AssociatedGroups)--><!--@Ecom:Group.Name-->,<!--@LoopEnd(AssociatedGroups)-->",
		itemprice.replace(".",""),
		"<!--@Ecom:Order:OrderLine.Quantity-->"
		);
		<!--@LoopEnd(OrderLines)-->
  pageTracker._trackTrans();

} catch(err) {}
	
</script>	
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr height="20px">
                                        &nbsp;
                                        </tr>
                                            <tr>
                                                <th>
                                                    Nummer
                                                </th>
                                                <th>
                                                    Antal
                                                </th>
                                                <th>
                                                    Variant
                                                </th>
                                                <th>
                                                    Beskrivelse
                                                </th>
                                                <th style="text-align:right">
                                                    Enhedspris
                                                </th>
                                                <th align="right" style="text-align:right">
                                                    Beløb
                                                </th>
                                            </tr>
                                            <!--@LoopStart(OrderLines)-->
                                            <tr>
                                                <td class="text_left">
                                                    <!--Ecom:Order:OrderLine.Type-->
                                                    <!--@Ecom:Order:OrderLine.ProductNumber-->
                                                </td>
                                                <td class="text_right">
                                                    <!--@Ecom:Order:OrderLine.Quantity-->
                                                </td>
                                                <td class="text_left">
                                                    	<!--@Ecom:Product:Field.NIQVariant.Value-->
                                                </td>
                                                <td class="text_left">
                                                    <!--@Ecom:Order:OrderLine.ProductName-->
                                                </td>
                                                <td class="text_right" style="text-align:right">
                                                    <!--@Ecom:Order:OrderLine.UnitPrice.PriceWithoutVAT-->
                                                    &nbsp;<!--@Ecom:Order:OrderLine.UnitPrice.CurrencyCode-->
                                                </td>
                                                <td class="text_right" align="right" style="text-align:right">
                                                    <!--@Ecom:Order:OrderLine.Price.PriceWithoutVAT-->
                                                    &nbsp;<!--@Ecom:Order:OrderLine.UnitPrice.CurrencyCode-->
                                                </td>
                                            </tr>

                                            <!--@LoopEnd(OrderLines)-->
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                    </div>
                                    <div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <table width="250" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                                <td align="left">
                                                    Fragt- og eksp. gebyr
                                                </td>
                                                <td align="right">
                                                    <!--@Ecom:Order.ShippingFee.PriceWithoutVAT-->
                                                    &nbsp;<!--@Ecom:Order.Price.Currency.Code-->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <b>I alt DKK ekskl. moms</b>
                                                </td>
                                                <td align="right">
                                                    <!--@Ecom:Order.Price.PriceWithoutVAT-->
                                                    &nbsp;<!--@Ecom:Order.Price.Currency.Code-->
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td align="left" align="left">
                                                    25% moms
                                                </td>
                                                <td align="right">
                                                    <!--@Ecom:Order.Price.VAT-->
                                                    &nbsp;<!--@Ecom:Order.Price.Currency.Code-->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <b>I alt DKK inkl. moms</b>
                                                </td>
                                                <td align="right">
                                                    <!--@Ecom:Order.Price.PriceWithVAT-->
                                                    &nbsp;<!--@Ecom:Order.Price.Currency.Code-->
                                                </td>
                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </span>
                </div>
                    </tr>
    </tbody>
</table>

<!--DwTemplateTags-->
