<h2>Basket</h2>
<img src="Files/Templates/eCom/Images/step1.jpg" alt="Basket" border="0" id="stepindicator" />
<table cellspacing="0" cellpadding="0" border="0" width="100%" id="orderdetails">
<tr class="basketheader">
	<td>Productname</td>
	<td>Amount</td>
	<td colspan="2" align="right">Price</td>
	<td></td>
</tr>

<!--@LoopStart(OrderLines)-->
<tr class="orderline<!--@Ecom:Order:OrderLine.Type-->">
	<td nowrap>
	    <a href="<!--@Ecom:Order:OrderLine.ProductLink-->">
	        <!--@Ecom:Order:OrderLine.ProductName.Short-->
	        <!--@If Defined(Ecom:Order:OrderLine.ProductVariantText)-->
	            (<!--@Ecom:Order:OrderLine.ProductVariantText-->)
	        <!--@EndIf(Ecom:Order:OrderLine.ProductVariantText)-->
	    </a>
	</td>
	<td><!--@Ecom:Order:OrderLine.Quantity--></td>
        <td></td>
	<td align="right" nowrap><!--@Ecom:Order:OrderLine.TotalPrice--></td>
	<td align="right" nowrap>
	    <a class="orderfunctions" href="<!--@Ecom:Order:OrderLine.IncrementLink-->"><img src="/Files/Images/Ecom/Grafik/basket-inc.gif" border="0"></a>
	    <a class="orderfunctions" href="<!--@Ecom:Order:OrderLine.DecrementLink-->"><img src="/Files/Images/Ecom/Grafik/basket-dec.gif" border="0"></a>
	    <a class="orderfunctions" href="<!--@Ecom:Order:OrderLine.DeleteLink-->"><img src="/Files/Images/Ecom/Grafik/basket-rem.gif" border="0"></a>
	</td>
</tr>
<tr class="separator">
	<td colspan="5"></td>
</tr>

<!--@LoopStart(BOMItems)-->
<tr class="orderline">
	<td nowrap><!--@Ecom:Order:OrderLine.ProductName.Short--></td>
	<td nowrap><!--@Ecom:Order:OrderLine.Quantity--></td>
        <td></td>
	<td nowrap><!--@Ecom:Order:OrderLine.TotalPrice--></td>
	<td></td>
</tr>
<!--@LoopEnd(BOMItems)-->
<tr class="separator">
	<td colspan="5"></td>
</tr>
<!--@LoopEnd(OrderLines)-->
<tr class="separator">
	<td colspan="5"></td>
</tr>
<tr class="total">
	<td><b>Total</b></td>
	<td></td>
	<td colspan="2" align="right"><b><!--@Ecom:Order.OrderLines.Total.PriceWithVAT--></b></td>
	<td></td>
</tr>
<tr class="footer">
	<td><a href="<!--@Global:Pageview.Url-->&amp;cartcmd=emptycart">Empty basket</a></td>
        <td colspan="3"></td>
	<td><a href="<!--@Ecom:Order.NextStep-->">Order</a></td>
</tr>
</table>

