<ul id="grouplist" class="horizontal">
    <!--@LoopStart(Groups)-->
    <li class="listitem<!--@Groups.LoopMod2-->">
        <h3><a href="<!--@Ecom:Group.Link.Clean-->"><!--@Ecom:Group.Name--></a></h3>
        <span class="shortdescription"><!--@Ecom:Group.Description--></span>
    </li>
    <!--@LoopEnd(Groups)-->
</ul>
