﻿#productTable{
	width:100%;
}

#productTable td{
	vertical-align:middle;
	border-bottom:1px solid white;
	border-right:1px solid white;
	padding:0px 3px;
	
}

.tr1 td
{
    background:#D7D7D7;
    
}

#productTable .productprice, #productTable .productquantity{
	text-align:right;
}

#productTable .productstock{
	text-align:center;
}

#productTable a
{
    text-decoration:none;
}
#productTable a:hover{
	text-decoration:underline;
}
#productTable input
{
    text-align:right;
}

#productTable .quantityInput{
	width:40px;
	text-align:right;
	float:right;
}

#addToCartMulti{
	float:left;
	width:100%;
	padding-top:10px;
}

#productTable .text_left{
	text-align:left;
}

#productTable .text_right{
text-align:right;	
}

#productTable .text_center{
	text-align:center;
}

#productTable .price>a
{
    color:#61B01F;
}

#productTable .stock{
	width:50px;
}

#productTable .amount{
	width:80px;
}


/*********************
ROTATOR
*********************/
#productlist.front
{
	padding-bottom:10px;
}
#productlist.front li
{
border:1px solid Gray;
width:170px;
float:left;
clear:none;
height:220px;
}
#productlist.front #mod0
{
	margin:0px 10px;
}

#productlist.front
{
clear:none;
float:left;
width:100% !important;
}
#productlist.front .desc h1
{
color:#61B01F !important;
font-size:12px !important;
font-weight:bold;
padding:0px 5px;
height:20px;
}
#productlist.front .readmore{
display:none;
}
#productlist.front .desc p
{
color:#9B1133;
font-size:12px;
font-weight:bold;
padding:0px 5px;
}
#productlist.front .price
{
color:#000000;
font-family:Arial,Verdana,Helvetica;
font-size:11px;
font-weight:bold;
width:155px;
text-align:left !important;
padding:0px 5px;
position:absolute;
bottom:0;
}
#productlist.front .price>div
{
position:absolute;
right:20px;
bottom:0px;
}
#productlist.front .img
{text-align:center;
border-bottom:1px solid gray;
}
#productlist.front .addtobasket
{
	float:right;
	padding-right:10px;
}
#productlist.front .productlistadd
{

background-repeat:no-repeat;
font-size:10px;
text-align:center;
text-decoration:none;
vertical-align:middle;
}
#productlist.front span.priceinklvat
{
	display:none;
}
#productlist.front span.priceexvat
{
	display:inline;
}