﻿#ProductHolder .info
{
    clear:left;
float:right;
}
#ProductHolder img
{
    clear:none;
float:left;
margin:15px;
}
#ProductHolder #DescHolder {clear:none;
float:left;
padding:15px 0;
width:300px;
}
#ProductHolder #DescHolder li
{
	width:100%;
	float:left;
}

#ProductHolder .info
{
    background:#D7D7D7;
border:1px solid #7F9DB9;
width:100%;
}

#ProductHolder label{
float:left;
clear:left;
width:130px;
}



#ProductHolder .submit{
background-color:#C4DEAA;
border:1px outset #61B01F;
width:30px;
font-size:11px;
margin-left:5px;
}

#ProductHolder .amount
{
    margin-top:30px;
}