<div class="ph clearfix">
    <h1><!--@ParagraphHeader--></h1>
    <!--@If(ParagraphImageClean!='')-->
    <div class="media">
        <img src="<!--@ParagraphImageClean-->" alt="<!--@ParagraphHeader-->" />
    </div>
    <!--@EndIf-->
    <!--@If(Item.Image!='')-->
    <div class="media">
        <img src="<!--@Item.Image-->" alt="<!--@ParagraphHeader-->" />
    </div>
    <!--@EndIf-->
    <!--@If(Item.Video!='')-->
    <div class="media">
        <!--@Item.Video-->
    </div>
    <!--@EndIf-->
    <!--@If(ParagraphText!='')-->
        <!--@ParagraphText-->
    <!--@EndIf-->
    <!--@If(Item.Text!='')-->
        <!--@Item.Text-->
    <!--@EndIf-->
    <!--@If(Item.Iframe!='')-->
        <!--@Item.Iframe-->
    <!--@EndIf-->
</div>
<!--@ParagraphModule-->