﻿<!--@If(Global:Extranet.UserName=='')-->
<div class="box">
    <div class="pad">
        <h2><!--@ParagraphHeader--></h2>
        <script language="JavaScript">
            function checkform() {
                if (document.ExtUserForm.Username.value.length <= 0) {
                    alert('<!--@Translate(validationUsername, "Specify username", global)-->');
                    document.ExtUserForm.Username.focus();
                    return false;
                }

                if (document.ExtUserForm.Password.value.length <= 0) {
                    alert('<!--@Translate(validationPassword, "Specify password", global)-->');
                    document.ExtUserForm.Password.focus();
                    return false;
                }
                return true;
            }
        </script>
        <form name="ExtUserForm" method="post" action="/default.aspx?id=1" onSubmit="return checkform();">
        <ul class="formular">
            <li>
                <label for="Username"><!--@Translate(labelUsername, "Username", global)--></label><br />
                <input type="text" tabindex="1" name="Username" id="Username" class="ip medium" autocapitalize="off" />
            </li>
            <li>
                <label for="Password"><!--@Translate(labelPassword, "Password", global)--></label><br />
                <input type="password" tabindex="2" name="Password" id="Password" class="ip medium" autocapitalize="off" />
            </li>
        </ul>
        <input type="submit" tabindex="3" class="btn" value="<!--@Translate(buttonLogin, 'Login', global)-->">
        </form>
        <p><a href="<!--@Navigation.GetUrlByNavigationTag(password)-->" class="glink"><!--@Translate(forgotton_password, "Forgotten password", global)--></a></p>
    </div>
</div>
<!--@EndIf-->