﻿<!--@If Defined(Server:Request.ecomquery)--><header class="ghead clr">
<h1><!--@Translate(productssearch, "Search results")--></h1>	
</header><!--@EndIf(Server:Request.ecomquery)-->
<!--@If Not Defined(Server:Request.ecomquery)--><header>
<h1><!--@If(Ecom:Group.Name!='')--><!--@Ecom:Group.Name--><!--@Else--><!--@Global:Page.Name--><!--@EndIf--><!--@If(NIQ:FavoriteListName!='')--><!--@NIQ:FavoriteListName--><!--@EndIf--></h1>
</header>
<!--@Ecom:Group.Description-->
<!--@EndIf(Server:Request.ecomquery)-->

<!--@LoopStart(Products)-->
    <!--@HeaderStart--><ul id="productlist" class="prodlist"><!--@HeaderEnd-->
        <li>
            <div class="pad<!--@Products.LoopMod3-->">
                <a href="<!--@Ecom:Product.LinkGroup.Clean-->" title="<!--@Ecom:Product.Name-->">
                    <span class="image" style="background-image:url(/Admin/Public/GetImage.ashx?Image=<!--@NIQ:ProductImage.RelativeUrl-->&amp;Width=190&amp;Height=86&amp;Crop=5);"></span>
                    <span class="name"><!--@Ecom:Product.ID--></span>
                </a>
            </div>
        </li>
    <!--@FooterStart--></ul><!--@FooterEnd-->
<!--@LoopEnd(Products)-->


<!--@If(Ecom:ProductList.PageProdCnt>Ecom:ProductList.PageSize)--><div class="pager ac pad6">
    <p>
    <!--@If(Ecom:ProductList.CurrentPage>1)-->
        <a class="prevp" href="<!--@Ecom:ProductList.PrevPage.Clean-->"><span>&laquo;</span></a>
    <!--@EndIf-->
    <!--@If(Ecom:ProductList.CurrentPage=1)-->
        <a class="prevp nogo" href="#"><span>&laquo;</span></a>
    <!--@EndIf-->
        <span class="pages"><!--@Translate(showsPages, "Viser side", global)--> <!--@Ecom:ProductList.CurrentPage--> <!--@Translate(showPagesOf, "af", global)--> <!--@Ecom:ProductList.TotalPages--></span>
    <!--@If(Ecom:ProductList.TotalPages>Ecom:ProductList.CurrentPage)-->
        <a class="nextp" href="<!--@Ecom:ProductList.NextPage.Clean-->"><span>&raquo;</span></a>
    <!--@EndIf-->
    <!--@If(Ecom:ProductList.TotalPages=Ecom:ProductList.CurrentPage)-->
        <a class="nextp nogo" href="#"><span>&raquo;</span></a>
    <!--@EndIf-->
    </p>
</div><!--@EndIf-->