﻿<div class="dynamicweb-map" id="<!--@ElementID-->" data-list-position="<!--@ListPosition-->">
	<form class="search">
		<div>
			<label for="dynamicweb-map-adr"><!--@Translate(Address, 'Address')--></label>
			<input type="text" size="70" id="dynamicweb-map-adr" name="adr" placeholder="Address …" value="<!--@If Defined(Server:Request.adr)--><!--@Server:Request.adr--><!--@EndIf(Server:Request.adr)-->"/>
			<label for="dynamicweb-map-dst"><!--@Translate(Distance, 'Distance')--></label>
			<select id="dynamicweb-map-dst" name="dst">
				<option value="1000">1 km</option>
				<option value="2000">2 km</option>
				<option value="4000">4 km</option>
				<option value="8000">8 km</option>
				<option value="16000">16 km</option>
				<option value="32000">32 km</option>
			</select>
			<button type="submit" data-search="distance"><!--@Translate(Search, 'Search')--></button>
			<button type="submit" data-search="content"><!--@Translate(Search_content, 'Search content')--></button>
			<button type="submit" data-search="nearest"><!--@Translate(Search_nearest, 'Search nearest')--></button>
			<button type="reset"><!--@Translate(Reset_search, 'Reset search')--></button>
			<button type="button" class="show-all-locations"><!--@Translate(Show_all_locations, 'Show all locations')--></button>
		</div>
	</form>

	<!--@LoopStart(GroupGroups)-->
	<!--@HeaderStart-->
	<div class="locations-filter">
	<!--@HeaderEnd-->
	<button data-filter-value="<!--@ID-->"><!--@Name--></button>
	<!--@FooterStart-->
	<button data-filter-value="*"><!--@Translate(Show_all_groups, "Show all groups")--></button>
	</div>
	<!--@FooterEnd-->
	<!--@LoopEnd(GroupGroups)-->

	<!--@LoopStart(UserGroups)-->
	<!--@HeaderStart-->
	<div class="locations-filter">
	<!--@HeaderEnd-->
	<button data-filter-value="<!--@ID-->">
		<!--@If Defined(Icon)--><img class="icon" src="<!--@Icon-->" /><!--@EndIf(Icon)-->
		<!--@Name--></button>
	<!--@FooterStart-->
	<button data-filter-value="*"><!--@Translate(Show_all, "Show all")--></button>
	</div>
	<!--@FooterEnd-->
	<!--@LoopEnd(UserGroups)-->

	<div class="map large-12 columns" style="width: <!--@MapWidth-->; height: <!--@MapHeight-->;">
		<div id="<!--@MapElementID-->"></div>
	</div>

	<div class="list">
		<div class="no-matches"><!--@Translate(No_matches, "No matches")--></div>
		<ol id="<!--@ListElementID-->" data-sort-order="desc">
		<!--@LoopStart(Locations)-->
			<li data-lat="<!--@Lat-->" data-lng="<!--@Lng-->" data-title="<!--@Name-->"
					data-filter-value="<!--@GroupID-->"
					<!--@If Defined(Icon)--> data-icon="<!--@Icon-->"<!--@EndIf(Icon)-->
					data-sort-value="<!--@Name-->">
				<div class="name"><!--@Name--></div>
				<!--@If Defined(GroupName)-->
				<div class="group">(<!--@GroupName-->)</div>
				<!--@EndIf(GroupName)-->
				<!--@If(0=1)-->@see http://microformats.org/wiki/adr<!--@EndIf-->
				<div class="adr">
					<div class="street-address"><!--@Address--></div>
					<div class="extended-address"><!--@Address2--></div>
					<span class="postal-code"><!--@Zip--></span>
					<span class="locality"><!--@City--></span>
					<div class="country-name"><!--@Country--></div>
				</div>
			</li>
			<!--@LoopEnd(Locations)-->
		</ol>
	</div>

	<!--@If(NumberOfLocations=0)-->
	<div class="info"><!--@Translate(No_locations_found, 'No locations found')--></div>
	<!--@EndIf--><!--@LoopStart(Locations)--><!--@DwTemplateTags--><!--@LoopEnd(Locations)-->
</div>
