﻿<link rel="stylesheet" href="/Files/Designs/2014/ItemPublisher/ItemPublisher.css" />

<div class="items">
 <h3>Makeupskolen</h3>
    <div class="item-details">

        <div class="item-details-fields-outer">
          @GetValue("DwTemplateTags")
<div class="item-detail-download"><h2>@GetValue("ItemPublisher:Item.HowToTitle")</h2><p>@GetValue("ItemPublisher:Item.HowTodesc")
<br /><br /><a target="_blank" href="@GetValue("ItemPublisher:Item.Zipfile")">@GetValue("ItemPublisher:Item.Imagetitle")</a></p></div>
 <div class="item-image"> <!--@If(ItemPublisher:Item.HowToName)-->


<img src="@GetValue("ItemPublisher:Item.HowToImage")"/>
@GetValue("Else")
<img src="@GetValue("ItemPublisher:Item.HowToImage")"/>
<!--@EndIf-->

</div>

      <!--@If(ItemPublisher:ItemHowTo.Name)-->

<div class="item-detail-HowToPhototext"><p>@GetValue("ItemPublisher:Item.HowToPhototext")</p></div>
<div class="item-detail-HowTo">

 <ul class="items-list">


        @foreach (LoopItem i in GetLoop("ItemPublisher:Items.List")){
        <li class="items-list-row">

            @if(!Dynamicweb.Input.FormatBoolean(i.GetValue("ItemPublisher:Item.CanEdit"))){<text>
            @foreach (LoopItem i2 in GetLoop("ItemPublisher:Item.HowToProduct")){

            @foreach (LoopItem i3 in GetLoop("Products")){
    @i3.GetValue("HeaderStart")

            <a href="Default.aspx?ID=10&ProductID=@i3.GetValue("ItemPublisher:Item.HowToProduct")-at-SHOP2" class="imglink"><img src="/Admin/Public/GetImage.ashx?Image=Images/Produktbilleder/@i3.GetValue("ItemPublisher:Item.HowToProduct").jpg&amp;height=100&amp;Width=250&amp;crop=5&amp;altFmImage_path=Images/Produktbilleder/noimg.png" alt="" title="Køb @i3.GetValue("ItemPublisher:Item.HowToProductName") her">Køb @i3.GetValue("ItemPublisher:Item.HowToProductName") her</a>





            @i3.GetValue("FooterEnd")
}
            }

            </text>}


        </li>


        }

    </ul>


</div>


        </div>

<!--@EndIf-->
@GetValue("DwTemplateTags")

        <div class="item-details-controls">
            <button onclick="javascript:window.history.go(-1);" ><!--@Translate(ItemPublisher:Details.GoBack, "Tilbage")--></button>
        </div>

        <div class="items-clear"></div>
    </div>
</div>