﻿<link rel="stylesheet" href="/Files/Designs/2014/ItemPublisher/ItemPublisher.css" />

<div class="items">
 <h3>Makeupskolen</h3>
    <div class="item-details">

        <div class="item-details-fields-outer">

<div class="item-detail-download"><h2><!--@ItemPublisher:Item.HowToTitle--></h2><p><!--@ItemPublisher:Item.HowTodesc-->
<br /><br /><a target="_blank" href="<!--@ItemPublisher:Item.Zipfile-->"><!--@ItemPublisher:Item.Imagetitle--></a></p></div>
 <div class="item-image"> <!--@If(ItemPublisher:Item.HowToName)-->


<img src="<!--@ItemPublisher:Item.HowToImage-->"/>
<!--@Else-->
<img src="<!--@ItemPublisher:Item.HowToImage-->"/>
<!--@EndIf-->

</div>

      <!--@If(ItemPublisher:ItemHowTo.Name)-->

<div class="item-detail-HowToPhototext"><p><!--@ItemPublisher:Item.HowToPhototext--></p></div>
<div class="item-detail-HowTo">

 <ul class="items-list">


        <!--@LoopStart(ItemPublisher:Items.List)-->
        <li class="items-list-row">

            <!--@If Not Defined(ItemPublisher:Item.CanEdit)-->
            <!--@LoopStart(ItemPublisher:Item.HowToProduct)-->

            <!--@LoopStart(Products)-->
    <!--@HeaderStart-->

            <a href="Default.aspx?ID=10&ProductID=<!--@ItemPublisher:Item.HowToProduct-->-at-SHOP2" class="imglink"><img src="/Admin/Public/GetImage.ashx?Image=Images/Produktbilleder/<!--@ItemPublisher:Item.HowToProduct-->.jpg&amp;height=100&amp;Width=250&amp;crop=5&amp;altFmImage_path=Images/Produktbilleder/noimg.png" alt="" title="Køb <!--@ItemPublisher:Item.HowToProductName--> her">Køb <!--@ItemPublisher:Item.HowToProductName--> her</a>





            <!--@FooterEnd-->
<!--@LoopEnd(Products)-->
            <!--@LoopEnd(ItemPublisher:Item.HowToProduct)-->

            <!--@EndIf(ItemPublisher:Item.CanEdit)-->


        </li>


        <!--@LoopEnd(ItemPublisher:Items.List)-->

    </ul>


</div>


        </div>

<!--@EndIf-->


        <div class="item-details-controls">
            <button onclick="javascript:window.history.go(-1);" ><!--@Translate(ItemPublisher:Details.GoBack, "Tilbage")--></button>
        </div>

        <div class="items-clear"></div>
    </div>
</div>