﻿<script type="text/javascript" language="javascript" >
    var isEmailOk = true;
    function emailValidation(adress) {
        var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
        if (reg.test(adress) == false) {
            alert('<!--@Translate(Ecom:CatalogPublishing.EmailValidationMessage, "Entered e-mail is not valid :")--> ' + adress);
            isEmailOk = false;
            return false;
        }
        else {
            isEmailOk = true;
        }
    }
    function submitForm() {
        if (isEmailOk && document.getElementById("txEmailTo").value && document.getElementById("txEmailFrom").value) {
            if (document.getElementById("TM_Name").value) {
                if (document.getElementById("TM_FromName").value) {
                    form = document.getElementById("frmSubscriptionSettings")
                    form.submit();
                }
                else
                    alert('<!--@Translate(Ecom:CatalogPublishing.FormValidationRecipientName, "Sender name is empty")--> ');
            }
            else
                alert('<!--@Translate(Ecom:CatalogPublishing.FormValidationRecipientName, "Recipient name is empty")--> ');
        }
        else
            alert('<!--@Translate(Ecom:CatalogPublishing.FormValidationMessage, "Entered e-mail for sender or recipient is not valid")--> ');
    }
</script>
   <form id="frmSubscriptionSettings" action="/Admin/Public/TemplateMailer.aspx" method="post">
              <input type="hidden" name="FM_Charset" value="iso-8859-1">
              <input type="hidden" name="FM_html" value="true">
              <input type="hidden" name="FM_Template" value="<!--@Ecom:CatalogPublishing.EmailTemplate-->">
              <input type="hidden" name="FM_Attachments" value="" id="FM_Attachments">
              <input type="hidden" name="FM_Redirect" value="/default.aspx?CatalogPublishingcmd=preview">

              <h4><!--@Translate(Ecom:CatalogPublishing.SendTo, "Send to:")--></h4>
              <table width="100%">
                <tr><td style="width:80px"><!--@Translate(Ecom:CatalogPublishing.MailToName, "Name:")--> </td><td ><input type="Text" name="TM_Name" id="TM_Name"  value=""  style="width: 230px"></td></tr>
                <tr><td style="width:80px"> <!--@Translate(Ecom:CatalogPublishing.MailToAdress, "E-mail:")--> </td><td ><input type="Text" onchange="emailValidation(this.value)" id="txEmailTo" name="FM_ToEmail" value="" style="width: 230px"></td></tr>
                <tr><td style="width:80px"> <!--@Translate(Ecom:CatalogPublishing.MailToCC, "CC:")--> </td><td ><input type="Text" onchange="emailValidation(this.value)"  id="Text2" name="FM_CcEmail" value="" style="width: 230px"></td></tr>
              </table>
              <h4><!--@Translate(Ecom:CatalogPublishing.SendFrom, "Send from:")--></h4>
              <table width="100%">
                <tr><td style="width:80px"> <!--@Translate(Ecom:CatalogPublishing.MailFromName, "Name:")--> </td><td ><input type="Text" name="TM_FromName" id="TM_FromName" value=""  style="width: 230px"></td></tr>
                <tr><td style="width:80px"><!--@Translate(Ecom:CatalogPublishing.MailFromAdress, "E-mail:")--> </td><td ><input type="Text" onchange="emailValidation(this.value)"  id="txEmailFrom" name="FM_FromEmail" value="" style="width: 230px"></td></tr>
                <tr><td style="width:80px"><!--@Translate(Ecom:CatalogPublishing.MailSubject, "Subject:")--> </td><td ><input type="Text" name="FM_Subject" value=""  style="width: 230px"></td></tr>
                <tr><td style="width:80px;vertical-align: top;" ><!--@Translate(Ecom:CatalogPublishing.MailContent, "Content:")--> </td><td  ><textarea rows="3"   id="Text1" name="TM_Content" style="width: 230px"></textarea></td></tr>
                <tr><td></td><td><input onclick="submitForm()" type="button" value="<!--@Translate(Ecom:CatalogPublishing.Submit, "Submit")-->"></td></tr>
              </table>
            </form>
